﻿@model Enpadi_WebUI.Models.moneda

@{
    ViewBag.Title = "Details";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Monedas</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Monedas
            </h2>
            <small>Monedas Configuradas para la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.codigo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.codigo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.activa)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.activa)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.monedaID }) |
                        @Html.ActionLink("Volver al Listado", "Index")
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
