﻿@model IEnumerable<Enpadi_WebUI.Models.origen>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Origen</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Origen
            </h2>
            <small>Fuente desde el cual puede ser afectada una o varias Cuentas</small>
        </div>
    </div>
</div>


<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Origen", "Create")
                </div>

                <div class="panel-body">

                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.origenID }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.origenID }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.origenID })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

