﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

<div class="content animated-panel">
    <div class="hpanel" style="height:100%">
        <div class="panel-body" style="height:100%; width:100%">
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Telcel" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/1telcel.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Movistar" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/2Movistar.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Unefon" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/3unefon.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Iusacell" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/4Usacell.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Mas" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/6Mas.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Tuenti" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/7Twenti.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Agua" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/8Agua.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "CFE" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/9CFE.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Gas" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/10Gas.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Transporte" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/11Transporte.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Productos" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/12Compra de productos.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Telefonia" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/13Telefonia.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Infonavit" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/14Infonavit.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Creditos" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/15Pago de Creditos.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Gobiernos" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/16Gobierno.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "TV" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/17Tvporcable.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="@Url.Action("Services", "ModCity", new { tipo = "Medios" })" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/18Medios de pago.png" />
                </a>
            </div>
            <div class="col-sm-12">
                <a href="http://www.enpadi.com/fuerzaregia/" target="_blank" class="btn btn-warning btn-outline btn-block">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/FR logo.png" />
                </a>
            </div>
        </div>
    </div>
</div>