﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Payment Services";
}


<div class="content animated-panel">
    <div class="hpanel" style="height:100%">
        <div class="panel-body" style="height:100%;">
            @using (Html.BeginForm())
            {
                <div class="form-horizontal">
                    <div class="col-lg-12">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el servicio que desea pagar y proporcione la información que se solicita</p>
                            </div>
                            <div class="text-center" style="padding-bottom:15px;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Servicio</label>
                                <div class="col-sm-8">
                                    <select id="sku" name="sku" class="form-control">
                                        @foreach (var item in Model)
                                        {
                                            <option value="@Html.DisplayFor(modelItem => item.SKU)">@Html.DisplayFor(modelItem => item.Nombre) (@Html.DisplayFor(modelItem => item.SKU))</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Referencia</label>
                                <div class="col-sm-8">
                                    <input type="text" id="referencia" name="referencia" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Monto</label>
                                <div class="col-sm-8">
                                    <input type="text" id="monto" name="monto" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <a href="@Url.Action("Payment", "ModCity")" class="btn btn-default">Cancelar</a>
                                <input type="submit" formmethod="post" id="btnSubmit" value="Pagar" class="btn btn-warning" />
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
</div>