﻿@model IEnumerable<Enpadi_WebUI.Models.recompensaListado>

@{
    ViewBag.Title = "Recompensas";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Operación</span></li>
                    <li class="active"><span>Recompensas</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Listado de Recompensas
            </h2>
            <small>Recompensas otorgadas bajo la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.socio)</th>
                                    <th>@Html.DisplayNameFor(model => model.concepto)</th>
                                    <th>@Html.DisplayNameFor(model => model.tcNum)</th>
                                    <th>@Html.DisplayNameFor(model => model.transaccion)</th>
                                    <th>@Html.DisplayNameFor(model => model.abono)</th>
                                    <th>@Html.DisplayNameFor(model => model.cargo)</th>
                                    <th>@Html.DisplayNameFor(model => model.fechaAlta)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.socio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tcNum)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.abono)</td>
                                        <td>@Html.DisplayFor(modelItem => item.cargo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.fechaAlta)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>