﻿@model Enpadi_WebUI.Models.ViewModelEstadoDeCuenta

@{
    ViewBag.Title = "Movimientos";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Operación</span></li>
                    <li class="active"><span>Movimientos</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Compra de Tiempo Aire
            </h2>
            <small>Analisis de Comisiones Cobradas por Recarga de Tiempo Aire</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6 m-b-xs">
                        </div>
                        <div class="col-sm-6 m-b-xs">
                            <div class="row">
                                <div class="col-xs-4 text-right"><strong>Cargos</strong></div>
                                <div class="col-xs-8 text-right"><strong>@string.Format("{0:C}", Model.saldoInicial)</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">% Enpadi</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:C}", Model.comision1)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">Iva</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:C}", Model.iva1)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">Comision</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:C}", Model.comision2)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right">Iva</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:C}", Model.iva2)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-right"><strong>Balance</strong></div>
                                <div class="col-xs-8 text-right"><strong>@string.Format("{0:C}", Model.saldoFinal)</strong></div>
                            </div>
                        </div>
                    </div>
                    <p>&nbsp;</p>
                    @{var headerData = Model.movimientos.FirstOrDefault();}
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => headerData.socio)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.concepto)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tarjeta)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.transaccion)</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => headerData.monto)</th>
                                    <th class="text-right">% Enpadi</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => headerData.iva3)</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => headerData.comision4)</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => headerData.iva4)</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => headerData.cargoTotal)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.estatus)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.aprobacion)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.fechaRegistro)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.movimientos)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.socio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tarjeta)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => item.monto)</td>
                                        @{if (item.comision2 > 0)
                                        {
                                            <td class="text-success text-right">@string.Format("{0:C}", Math.Abs(item.comision2))</td>
    <td class="text-success text-right">@Html.DisplayFor(modelItem => item.iva2)</td>
                                        }
                                          else
                                          {
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.comision2)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.iva2)</td>
                                          }
                                          if (item.comision5 > 0)
                                          {
                                            <td class="text-success text-right">@string.Format("{0:C}", Math.Abs(item.comision5))</td>
                                            <td class="text-success text-right">@Html.DisplayFor(modelItem => item.iva5)</td>
                                        }
                                        else
                                        {
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.comision5)</td>
                                            <td class="text-right">@Html.DisplayFor(modelItem => item.iva5)</td>
                                        }
                                        }
                                        <td class="text-right"><strong>@Html.DisplayFor(modelItem => item.cargoTotal)</strong></td>
                                        <td>@Html.DisplayFor(modelItem => item.estatus)</td>
                                        <td>@Html.DisplayFor(modelItem => item.aprobacion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.fechaRegistro)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>