﻿@model IEnumerable<Enpadi_WebUI.Models.openpayCard>
@using System.Configuration;

@{
    ViewBag.Title = "Recargar TC";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Visa-MasterCard</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tarjeta de Crédito o Débito
            </h2>
            <small>Recarga tu cuenta enpadi mediante Tarjeta de Crédito o Débito Visa y MasterCard</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">

                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Administrar mis Tarjetas", "AdminCard")
                </div>

                <div class="panel-body">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                            <div class="bkng-tb-cntnt">
                                <div class="pymnts">
                                    <form action="#" method="post" id="payment-form">
                                        <input type="hidden" name="token_id" id="token_id" />
                                        <div class="pymnt-itm card active">
                                            <div class="pymnt-cntnt">
                                                <div class="card-expl">
                                                    <div class="credit"><h5>Tarjetas de Crédito</h5></div>
                                                    <div class="debit"><h5>Tarjetas de Débito</h5></div>
                                                </div>
                                                <div class="sctn-row">
                                                    <div class="sctn-col">
                                                        <label>Seleccione la Tarjeta a utilizar</label>
                                                        <select id="source_id" name="source_id" class="form-control">
                                                            @foreach (var item in Model)
                                                            {
                                                                <option value="@item.CardID">@string.Format("{0} **** **** {1}", item.CardNumber.Substring(0, 4), item.CardNumber.Substring(item.CardNumber.Length - 4))</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="sctn-row">
                                                    <div class="sctn-col l">
                                                        <label>Seleccione el Monto de Recarga</label>
                                                        <select id="amount" name="amount" class="form-control">
                                                            <option value="100">$ 100.00 MN</option>
                                                            <option value="200">$ 200.00 MN</option>
                                                            <option value="300">$ 300.00 MN</option>
                                                            <option value="400">$ 400.00 MN</option>
                                                            <option value="500">$ 500.00 MN</option>
                                                            <option value="600">$ 600.00 MN</option>
                                                            <option value="700">$ 700.00 MN</option>
                                                            <option value="800">$ 800.00 MN</option>
                                                            <option value="900">$ 900.00 MN</option>
                                                            <option value="1000">$1,000.00 MN</option>
                                                            <option value="2000">$2,000.00 MN</option>
                                                            <option value="2500">$2,500.00 MN</option>
                                                        </select>
                                                    </div>

                                                    <div class="sctn-row">
                                                        <div class="sctn-col 1" style="padding-top:25px;">
                                                            <div class="openpay">
                                                                <div class="logo">Transacciones vía:</div>
                                                                <div class="shield">Tus pagos se realizan de forma segura con encriptación de 256 bits</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sctn-row col-lg-2" style="padding-top:25px;">
                                                <input type="submit" id="pay-button" class="btn btn-danger btn-block" value="Pagar" />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="card-points-dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pagar con Puntos</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea usar los puntos de su tarjeta para realizar este pago?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="points-no-button">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="points-yes-button">Si</button>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        strong {
            font-weight: 700;
        }

        a {
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

            a.button {
                border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                text-align: center;
                font-size: 21px;
                font-weight: 400;
                padding: 12px 0;
                width: 100%;
                display: table;
                background: #E51F04;
                background: -moz-linear-gradient(top, #E51F04 0%, #A60000 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
                background: -webkit-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: -o-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: -ms-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: linear-gradient(top, #E51F04 0%,#A60000 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
            }

                a.button i {
                    margin-right: 10px;
                }

                a.button.disabled {
                    background: none repeat scroll 0 0 #ccc;
                    cursor: default;
                }

        .bkng-tb-cntnt {
            float: left;
            width: 800px;
        }

            .bkng-tb-cntnt a.button {
                color: #fff;
                float: right;
                font-size: 18px;
                padding: 5px 20px;
                width: auto;
            }

                .bkng-tb-cntnt a.button.o {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                    color: #e51f04;
                    border: 1px solid #e51f04;
                }

                .bkng-tb-cntnt a.button i {
                    color: #fff;
                }

                .bkng-tb-cntnt a.button.o i {
                    color: #e51f04;
                }

                .bkng-tb-cntnt a.button.right i {
                    float: right;
                    margin: 2px 0 0 10px;
                }

                .bkng-tb-cntnt a.button.left {
                    float: left;
                }

                .bkng-tb-cntnt a.button.disabled.o {
                    border-color: #ccc;
                    color: #ccc;
                }

                    .bkng-tb-cntnt a.button.disabled.o i {
                        color: #ccc;
                    }

        .pymnts {
            float: left;
            width: 800px;
        }

            .pymnts * {
                float: left;
            }

        .sctn-row {
            margin-bottom: 35px;
            width: 800px;
        }

        .sctn-col {
            width: 375px;
        }

            .sctn-col.l {
                width: 425px;
            }

            .sctn-col input {
                border: 1px solid #ccc;
                font-size: 18px;
                line-height: 24px;
                padding: 10px 12px;
                width: 333px;
            }

            .sctn-col label {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
                width: 100%;
            }

            .sctn-col.x3 {
                width: 300px;
            }

                .sctn-col.x3.last {
                    width: 200px;
                }

                .sctn-col.x3 input {
                    width: 210px;
                }

                .sctn-col.x3 a {
                    float: right;
                }

        .pymnts-sctn {
            width: 800px;
        }

        .pymnt-itm {
            margin: 0 0 3px;
            width: 800px;
        }

            .pymnt-itm h2 {
                background-color: #e9e9e9;
                font-size: 24px;
                line-height: 24px;
                margin: 0;
                padding: 28px 0 28px 20px;
                width: 780px;
            }

            .pymnt-itm.active h2 {
                background-color: #e51f04;
                color: #fff;
                cursor: default;
            }

            .pymnt-itm div.pymnt-cntnt {
                display: none;
            }

            .pymnt-itm.active div.pymnt-cntnt {
                background-color: #f7f7f7;
                display: block;
                padding: 0 0 30px;
                width: 100%;
            }

        .pymnt-cntnt div.sctn-row {
            margin: 20px 30px 0;
            width: 740px;
        }

            .pymnt-cntnt div.sctn-row div.sctn-col {
                width: 345px;
            }

                .pymnt-cntnt div.sctn-row div.sctn-col.l {
                    width: 395px;
                }

                .pymnt-cntnt div.sctn-row div.sctn-col input {
                    width: 303px;
                }

                .pymnt-cntnt div.sctn-row div.sctn-col.half {
                    width: 155px;
                }

                    .pymnt-cntnt div.sctn-row div.sctn-col.half.l {
                        float: left;
                        width: 190px;
                    }

                    .pymnt-cntnt div.sctn-row div.sctn-col.half input {
                        width: 113px;
                    }

                .pymnt-cntnt div.sctn-row div.sctn-col.cvv {
                    background-image: url("../../Images/cvv.png");
                    background-position: 156px center;
                    background-repeat: no-repeat;
                    padding-bottom: 30px;
                }

                    .pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
                        width: 110px;
                    }

        .openpay {
            float: right;
            height: 60px;
            margin: 10px 0 0 0;
            width: 400px;
        }

            .openpay div.logo {
                background-image: url("../../Images/openpay.png");
                background-position: left bottom;
                background-repeat: no-repeat;
                border-right: 1px solid #ccc;
                font-size: 12px;
                font-weight: 400;
                height: 45px;
                padding: 0px 20px 0 0;
            }

            .openpay div.shield {
                background-image: url("../../Images/security.png");
                background-position: left bottom;
                background-repeat: no-repeat;
                font-size: 12px;
                font-weight: 400;
                margin-left: 20px;
                padding: 0px 0 0 40px;
                width: 240px;
            }

        .card-expl {
            float: left;
            height: 80px;
            margin: 20px 0;
            width: 800px;
        }

            .card-expl div {
                background-position: left 45px;
                background-repeat: no-repeat;
                height: 70px;
                padding-top: 10px;
            }

                .card-expl div.debit {
                    background-image: url("../../Images/cards2.png");
                    margin-left: 20px;
                    width: 540px;
                }

                .card-expl div.credit {
                    background-image: url("../../Images/cards1.png");
                    border-right: 1px solid #ccc;
                    margin-left: 30px;
                    width: 209px;
                }

            .card-expl h4 {
                font-weight: 400;
                margin: 0;
            }
    </style>
}

@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            
            var EnpadiProductionMode = @ConfigurationManager.AppSettings["ModoProduccion"].ToLower();
            
            var OpenPayId = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_Id"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_Id"]';
            var OpenPayPublic = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_PublicKey"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_PublicKey"]';

            OpenPay.setId(OpenPayId);
            OpenPay.setApiKey(OpenPayPublic);
            OpenPay.setSandboxMode(!EnpadiProductionMode);

            //Se genera el id de dispositivo
            var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceSessionId");
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}