﻿@using System.Configuration;

@{
    ViewBag.Title = "Create";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Visa-MasterCard</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tarjeta de Crédito o Débito
            </h2>
            <small>Administra tus Tarjetas de Crédito o Débito Visa y MasterCard para efectuar Recargas</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-horizontal">

                            <div class="text-center" style="padding-bottom:25px;">
                                Antes de realizar tu primer Recarga<br /> debes registrar una <strong>Tarjeta de Crédito/Débito</strong> para efectuar los cargos
                            </div>
                            <div class="text-center">
                                <img alt="logo" class="img-circle" src="~/Images/cards1.png" width="180" />
                            </div>
                            <div class="text-center">
                                <img alt="logo" class="img-circle" src="~/Images/cards2.png" width="450" />
                            </div>
                            <div class="text-center" style="padding-bottom:15px;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <form action="#" method="post" id="customer-form">
                                <input type="hidden" name="token_id" id="token_id" />
                                <input type="hidden" name="client_name" />
                                <input type="hidden" name="cliente_email" />
                                <fieldset>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Nombre</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" size="20" autocomplete="off" id="holder_name" name="holder_name" data-openpay-card="holder_name" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">N&uacute;mero</label>
                                        <div class="col-md-8">
                                            <input class="form-control" type="text" size="20" autocomplete="off" id="card_number" name="card_number" data-openpay-card="card_number" onkeypress="return isNumber(event)" maxlength="16" />
                                        </div>
                                    </div>
                                    <div class="form-group">

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Vencimiento (MM/YY)</label>
                                        <div class="col-md-2">
                                            <input class="form-control" type="text" size="2" id="expiration_month" name="expiration_month" data-openpay-card="expiration_month" onkeypress="return isNumber(event)" maxlength="2" />
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" type="text" size="2" id="expiration_year" name="expiration_year" data-openpay-card="expiration_year" onkeypress="return isNumber(event)" maxlength="2" />
                                        </div>
                                        <label class="control-label col-md-2">CVV2</label>
                                        <div class="col-md-2">
                                            <input class="form-control" type="text" size="4" autocomplete="off" id="cvv2" name="cvv2" data-openpay-card="cvv2" onkeypress="return isNumber(event)" maxlength="4" />
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-top:15px; margin-bottom:25px">
                                        <p class="text-danger">Tu tarjeta será validada efectuando un cargo por <strong>$10.00 MN</strong> los cuales son devueltos en el momento</p>
                                    </div>
                                </fieldset>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <a href="@Url.Action("Recargar", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                        <input type="submit" id="save-button" name="save-button" value="Registrar Tarjeta" class="btn btn-primary" />
                                    </div>
                                </div>
                            </form> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var EnpadiProductionMode = @ConfigurationManager.AppSettings["ModoProduccion"].ToLower();

            var OpenPayId = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_Id"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_Id"]';
            var OpenPayPublic = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_PublicKey"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_PublicKey"]';

            OpenPay.setId(OpenPayId);
            OpenPay.setApiKey(OpenPayPublic);
            OpenPay.setSandboxMode(!EnpadiProductionMode);

            //Se genera el id de dispositivo
            var deviceSessionId = OpenPay.deviceData.setup("customer-form", "deviceSessionId");

            $('#save-button').on('click', function (event) {
                event.preventDefault();
                $("#save-button").prop("disabled", true);
                OpenPay.token.extractFormAndCreate('customer-form', success_callbak, error_callbak);
            });

            var success_callbak = function (response) {
                var token_id = response.data.id;
                $('#token_id').val(token_id);
                $('#customer-form').submit();
            };

            var error_callbak = function (response) {
                var desc = response.data.description != undefined ? response.data.description : response.message;
                alert("ERROR [" + response.status + "] " + desc);
                $("#save-button").prop("disabled", false);
            };
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }

    </script>

}