﻿@model IEnumerable<Enpadi_WebUI.Models.openpayCard>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Visa-MasterCard</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tarjeta de Crédito o Débito
            </h2>
            <small>Recarga tu cuenta enpadi mediante Tarjeta de Crédito o Débito Visa y MasterCard</small>
        </div>
    </div>
</div>



<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Nueva Tarjeta", "AddCard")
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.HolderName)</th>
                            <th>@Html.DisplayNameFor(model => model.CardNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.ExpirationMonth)</th>
                            <th>@Html.DisplayNameFor(model => model.ExpirationYear)</th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.HolderName)</td>
                                @{string sTarjeta = Html.DisplayFor(modelItem => item.CardNumber).ToString();}
                                <td>@string.Format("{0} **** **** {1}", sTarjeta.Substring(0,4), sTarjeta.Substring(sTarjeta.Length - 4, 4))</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpirationMonth)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpirationYear)</td>
                                <td>@*@Html.ActionLink("Eliminar", "DeleteCard", new { id = item.id })*@</td>
                            </tr>
                        }
                    </table>
                    <div class="text-center text-danger" style="padding-bottom:25px;">
                        <strong>LIMITE DE REGISTRO</strong><br />El Maximo de Tarjetas que puedes tener Registradas son 3 (tres)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>