﻿@model Enpadi_WebUI.Models.ViewModelTiendaVirtual

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Comprar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda en Línea
            </h2>
            <small>Compra tus productos atraves de nuestras Tiendas en Línea</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <br />
                </div>

                <div class="panel-body">
                    @using(Html.BeginForm("ComprarRespuesta", "PanelUsuarios", FormMethod.Post))
                    {
                        <div class="form-horizontal col-sm-8 col-sm-offset-2 text-center">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <input type="hidden" id="productoID" name="productoID" value="@Model.producto.productoID" />
                                                        
                            <div class="text-center" style="margin-bottom:25px;">
                                <p class="text-primary">A continuación detallamos su compra, una vez confirmado presione el boton de PAGAR</p>
                            </div>
                            <div>
                                <img alt="logo" width="100" src="~/Images/@Model.producto.imagen" />
                            </div>
                            <div>
                                <h5>@Html.DisplayFor(model => model.producto.tienda)</h5>
                            </div>
                            <div>
                                <h5>@Html.DisplayFor(model => model.producto.categoria)</h5>
                            </div>
                            <div style="margin-top:25px;">
                                <h1>@Html.DisplayFor(model => model.producto.producto)</h1>
                            </div>
                            <div style="margin-bottom:25px;">
                                <p>@Html.DisplayFor(model => model.producto.descripcion)</p>
                            </div>
                            <div style="margin-top:25px;">
                                <h1>@Html.DisplayFor(model => model.producto.monto) <small>@Html.DisplayFor(model => model.producto.abreviacion)</small></h1>
                            </div>

                            @{
                            if (Model.saldoActual < Model.producto.monto)
                                {
                                <div class="text-center">
                                    <p style="line-height:30%; margin-top:25px;">
                                        <small>Su Saldo Disponible es de </small>
                                        <h5 class="text-danger" style="margin-bottom:0px;">@String.Format("{0:C} MXN", Model.saldoActual)</h5>
                                    </p>
                                </div>
                                <div style="margin-top:40px; margin-bottom:25px;">
                                    @Html.ActionLink("Recargar mi Cuenta", "Recargar", "PanelUsuarios", null, new {@class = "btn btn-primary"})
                                </div>
                                }
                            else
                            {
                                <div class="col-lg-12" style="padding-top:10px;">
                                    <label>Referencia</label>
                                </div>
                                <div class="col-lg-4 col-lg-offset-4">
                                    <input type="text" class="form-control text-center" id="referencia" name="referencia" placeholder="Capture su Referencia de Pago" />
                                </div>
                                <div class="col-lg-12" style="margin-top:40px; margin-bottom:25px;">
                                    <input type="submit" class="btn btn-success" value="PAGAR" />
                                </div>
                            }
                            }
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>