﻿@model IEnumerable<Enpadi_WebUI.Models.posProducto>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Comprar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda en Línea
            </h2>
            <small>Compra tus productos atraves de nuestras Tiendas en Línea</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        @foreach (var item in Model)
        {           
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body">
                        <div class="col-xs-4 text-center">
                            <img alt="logo" class="img-thumbnail" width="100" src="~/Images/@item.imagen" />
                            <a href="@Url.Action("ComprarPago", "PanelUsuarios", new { id = item.productoID })" class="btn btn-default btn-small btn-block" style="margin-top:15px;">Comprar</a>
                        </div>
                        <div class="col-xs-8" style="color:#fff;">
                            <small>@Html.DisplayFor(modelItem => item.categoria)</small>
                            <h4>@Html.DisplayFor(modelItem => item.producto)</h4>
                            <p>@Html.DisplayFor(modelItem => item.descripcion)</p>
                            <h3>@Html.DisplayFor(modelItem => item.monto) <small>MXN</small></h3>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>