﻿@model IEnumerable<Enpadi_WebUI.Models.posTienda>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Comprar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda en Línea
            </h2>
            <small>Compra tus productos atraves de nuestras Tiendas en Línea</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    @*<div class="row">*@
    @{ 
        //this is Used to create a row every 4 div
        int count = 3;
        Boolean firstRow = true;
    }

    @foreach (var item in Model)
    {
        //Open a row
        if (count == 3)
        {
            @:<div class="row">
        }  

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/@item.imagen" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>@Html.DisplayFor(modelItem => item.nombre)</strong>
                        <p class="small">@Html.DisplayFor(modelItem => item.descripcion)</p>
                        <a href="@Url.Action("ComprarCategoria", "PanelUsuarios", new { id = item.tiendaID })" class="btn btn-primary btn-xs btn-default">Más Detalles</a>
                    </div>
                </div>
            </div>
        </div>

        //close a row 
        if (count == 3 && firstRow == false)
        {
            @:</div>
            count = 0;
        }
        else {
            count ++;
            firstRow = false;
        }
    }
    @*</div>*@
</div>

