﻿@model IEnumerable<Enpadi_WebUI.Models.posCategoria>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Comprar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda en Línea
            </h2>
            <small>Compra tus productos atraves de nuestras Tiendas en Línea</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/@item.imagen" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>@Html.DisplayFor(modelItem => item.categoria)</strong>
                            <p class="small">@Html.DisplayFor(modelItem => item.descripcion)</p>
                            <a href="@Url.Action("ComprarProducto", "PanelUsuarios", new { id = item.categoriaID })" class="btn btn-primary btn-xs btn-default">Seleccionar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>