﻿@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Pagar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Productos y Servicios
            </h2>
            <small>Pago de Productos y/o Servicios los cuales aceptan enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/1telcel.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Telcel</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Telcel" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/2Movistar.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Movistar</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Movistar" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/3unefon.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Unefon</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Unefon" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/4Usacell.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Iusacell</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Iusacell" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/5nextel.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Nextel</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Nextel" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/VirginMobile.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Virgin Mobile</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Virgin" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/8Agua.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Agua</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Agua" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/9CFE.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>CFE</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "CFE" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/10Gas.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Gas</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Gas" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/11Transporte.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Transporte</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Transporte" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/12Compra de productos.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Compra de Productos</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Productos" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/13Telefonia.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Telefonia</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Telefonia" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/14Infonavit.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Infonavit</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Infonavit" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/15Pago de Creditos.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Pago de Creditos</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Creditos" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/16Gobierno.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Gobiernos</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Gobiernos" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/17Tvporcable.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>TV por Cable</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "TV" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/18Medios de pago.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Medios de Pago</strong>
                        <p class="small">Nacional</p>
                        <a href="@Url.Action("Servicios", "PanelUsuarios", new { tipo = "Medios" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/Santiago.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Santiago N.L.</strong>
                        <p class="small">Consulta y Paga tu Predial</p>
                        <a href="@Url.Action("SantiagoNL", "PanelUsuarios")" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @*<div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/FR logo.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Fuerza Regia</strong>
                        <p class="small">Tienda en Línea</p>
                        <a href="http://www.enpadi.com/fuerzaregia/" target="_blank" class="btn btn-xs btn-default">Comprar</a>
                    </div>
                </div>
            </div>
        </div>*@


    @*<div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi1.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Deposito a Cuenta</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payDepositoBansefi">Pagar</button>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi3.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Pago de Crédito</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payCreditoBansefi">Pagar</button>
                    </div>
                </div>
            </div>
        </div>*@

    @*<div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi5.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Seguro de Vida</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#paySeguroVida">Pagar</button>
                    </div>
                </div>
            </div>
        </div>*@

</div>


@*<div class="modal fade" id="payAgua" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/aydmty.gif" /></div>
                    <div><small class="font-bold">Servicios de Agua y Drenaje de Monterrey</small></div>
                </div>
                <div class="modal-body">
                    @using(Html.BeginForm())
                    {
                        @Html.ValidationSummary(true)
                        <div class="form-horizontal">
                            <form method="post">
                                <div class="text-center" style="padding-bottom:15px;">
                                    <p><strong>Estimado Usuario</strong></p>
                                    <p>Proporcione el Numero de Referencia y el Monto impreso en su Recibo de Pago</p>
                                </div>
                                @Html.HiddenFor(model => model.cuenta)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.referencia, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.monto, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        <div class="input-group m-b">
                                            <span class="input-group-addon">$</span>
                                            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.monto)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" id="btnAgua" value="Pagar" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    }
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="payCable" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/cablevision_mty.png" height="135" /></div>
                    <div><small class="font-bold">Cablevision Monterrey</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Proporcione el Numero de Referencia y el Monto impreso en su Recibo de Pago</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Referencia</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Monto</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Pagar</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="payDepositoBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Deposito a cuenta corriente Bansefi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Proporcione el Numero de Cuenta y el Monto a Depositar</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Cuenta</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Monto</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Pagar</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="payCreditoBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Pago de Credito Personal Bansefi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Proporcione el Numero de Credito y el Monto a Pagar</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Credito</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Monto</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Pagar</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div class="modal fade" id="paySeguroVida" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Microseguro Bansefi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Seleccione la Poliza que se adecue a sus necesidades,<br /> de acuerdo a la prima anual y a la suma asegurada</p>
                        </div>
                        <div class="form-group">
                            <div class="radio text-center">
                                <label><input type="radio" value="option1" id="opSeg" checked="checked" />Suma Asegurada $15,000.00 (Prima Anual $ 75.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $20,000.00 (Prima Anual $100.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $25,000.00 (Prima Anual $125.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $30,000.00 (Prima Anual $150.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $35,000.00 (Prima Anual $175.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $40,000.00 (Prima Anual $200.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $50,000.00 (Prima Anual $250.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $60,000.00 (Prima Anual $300.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $70,000.00 (Prima Anual $350.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Suma Asegurada $75,000.00 (Prima Anual $375.00)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Pagar</button>
                </div>
            </div>
        </div>
    </div>
    
</div>*@
