﻿@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Medios de Recarga
            </h2>
            <small>Medios a traves de los cuales puede recargar su cuenta enpadi</small>
        </div>
    </div>
</div>

@{
    var cty = HttpContext.Current.Request.QueryString["cty"];

    if (cty == null) {
        cty = ViewBag.country;
    }
}

<div class="content animated-panel">
    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/Visa_Mastercard.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Debito/Credito</strong>
                        <p class="small">Visa/MasterCard<br />&nbsp;</p>
                        <a href="@Url.Action("RecargarTC", "PanelUsuarios")" class="btn btn-primary btn-xs btn-default">Recargar</a>
                        @*<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaTC">Recargar</button>*@
                    </div>
                </div>
            </div>
        </div>

        @if (cty == "MX" || cty ==null)
        {

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi4.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Pago por Transferencia Bancaria</strong>
                            <p class="small">Banca Electrónica, SPEI, TEF<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaBanco">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/Oxxo_Logo.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Oxxo</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaOxxo">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendas7Eleven.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>7 Eleven</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recarga7Eleven">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

        }

    </div>
    @if (cty == "MX" || cty ==null)
    {
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/farmaciasDelAhorro.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Farmacias Del Ahorro</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaDelAhorro">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/farmaciasBenavides.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Farmacias Benavides</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaBenavides">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasExtra.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Extra</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaExtra">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasElAsturiano.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>El Asturiano</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaElAsturiano">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasCirculoK.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Circulo K</strong>
                            <p class="small">DF, Edo. México,<br />Nuevo León, Puebla, Querétaro</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaCirculoK">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/cajaCerroDeLaSilla.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Caja Cerro de la Silla</strong>
                            <p class="small">Nuevo Leon<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaCajaCerroDeLaSilla">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasOne.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>One</strong>
                            <p class="small">Querétaro<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaOne">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/superElVigilante.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>El Vigilante</strong>
                            <p class="small">Querétaro<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaElVigilante">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasKiosko.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Kiosko</strong>
                            <p class="small">DF, Edo.México, Morelos,<br />Puebla, Quintana Roo, Querétaro</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaKiosko">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/prendaMex.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Prenda Mex</strong>
                            <p class="small">DF, Edo.México, Veracruz,<br />Tabasco, Chiapas, Campeche</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaPrendaMex">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/farmaciasBazar.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Farmacias Bazar</strong>
                            <p class="small">Yucatán, Campeche, Quintana Roo<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaFarmaciasBazar">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/financieraCefemex.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>CEFEMEX (Financiera)</strong>
                            <p class="small">Yucatán, Campeche, Quintana Roo<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaCefemex">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/Maxilana.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Maxilana (Casa de Empeño)</strong>
                            <p class="small">Sinaloa, Sonora, Baja California,<br />Jalisco</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaMaxilana">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/grupoPetroFe.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Grupo Petro Fé (Gasolineras)</strong>
                            <p class="small">Nuevo León, San Luis Potosi,<br />Tamaulipas</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaPetroFe">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasLaOriginal.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>La Original</strong>
                            <p class="small">Michoacán<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaLaOriginal">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/solidariaTamaulipas.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Caja Solidaria Tamaulipas</strong>
                            <p class="small">Tamaulipas<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaCajaSolidariaTamaulipas">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/financieraTeCreemos.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Te Creemos (Financiera Popular)</strong>
                            <p class="small">Campeche, Chiapas, Chihuahua, DF, Guanajuato,<br />Jalisco, Puebla, Querétaro, Sonora, Tlaxcala, Yucatán</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaTeCreemos">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                    <div class="panel-body text-center">
                        <img alt="logo" class="img-circle" width="100" src="~/Images/tiendasWaldos.png" />
                        <div class="m-t-sm" style="color:#fff;">
                            <strong>Waldo's</strong>
                            <p class="small">Nacional<br />&nbsp;</p>
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#recargaWaldos">Recargar</button>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <div class="modal fade" id="recargaTC" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/Visa_Mastercard.png" width="135" /></div>
                        <div><small class="font-bold">Pago con Tarjeta de Crédito/Débito</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTC", "PanelUsuarios", FormMethod.Get))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta</p>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Monto</label>
                                <div class="col-sm-8">
                                    <select id="amount" name="amount" class="form-control">
                                        <option value="100">$ 100.00 MN</option>
                                        <option value="200">$ 200.00 MN</option>
                                        <option value="300">$ 300.00 MN</option>
                                        <option value="400">$ 400.00 MN</option>
                                        <option value="500">$ 500.00 MN</option>
                                        <option value="600">$ 600.00 MN</option>
                                        <option value="700">$ 700.00 MN</option>
                                        <option value="800">$ 800.00 MN</option>
                                        <option value="900">$ 900.00 MN</option>
                                        <option value="1000">$1,000.00 MN</option>
                                        <option value="2000">$2,000.00 MN</option>
                                        <option value="2500">$2,500.00 MN</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text-center" style="padding-top:25px;">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <input type="submit" formmethod="get" class="btn btn-primary" value="Recargar" />
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaBanco" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi4.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Banco mediante Deposito Referenciado</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarBanco", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn  btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recarga7Eleven" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendas7Eleven.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas 7 Eleven</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaDelAhorro" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/farmaciasDelAhorro.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Farmacias Del Ahorro</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaBenavides" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/farmaciasBenavides.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Farmacias Benavides</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaWaldos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasWaldos.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas Waldo's</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaExtra" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasExtra.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas Extra</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaElAsturiano" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasElAsturiano.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas El Asturiano</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaCirculoK" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasCirculoK.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas Circulo K</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaCajaCerroDeLaSilla" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/cajaCerroDeLaSilla.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Caja Cerro de la Silla</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaOne" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasOne.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas One</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaElVigilante" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/superElVigilante.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas El Vigilante</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaKiosko" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasKiosko.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas Kiosko</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaPrendaMex" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/prendaMex.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Casa de Empeño PrendaMex</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaFarmaciasBazar" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/farmaciasBazar.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Farmacias Bazar</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaCefemex" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/financieraCefemex.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Financiera Cefemex</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaMaxilana" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/Maxilana.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Casa de Empeño Maxilana</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaPetroFe" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/grupoPetroFe.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Gasolinerias Grupo Petro Fe</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaLaOriginal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/tiendasLaOriginal.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas La Original</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaCajaSolidariaTamaulipas" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/solidariaTamaulipas.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Caja Solidaria Tamaulipas</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaTeCreemos" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/financieraTeCreemos.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Financiera Popular Te Creemos</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendas", "PanelUsuarios", FormMethod.Post))
                    {
                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="recargaOxxo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="color-line"></div>
                    <div class="modal-header text-center">
                        <div><img alt="logo" class="img-thumbnail" src="~/Images/Oxxo_Logo.png" width="135" /></div>
                        <div><small class="font-bold">Pago en Tiendas Oxxo</small></div>
                    </div>
                    <div class="modal-body">
                        @using (Html.BeginForm("RecargarTiendaOxxo", "PanelUsuarios", FormMethod.Post))
                    {

                    <div class="form-horizontal">
                        <form method="post">
                            <div class="text-center" style="padding-bottom:15px;">
                                <p><strong>Estimado Usuario</strong></p>
                                <p>Seleccione el Monto con el cual desea recargar su Cuenta enpadi</p>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-sm-4 control-label">Monto</label>
                                    <div class="col-sm-8">
                                        <select id="monto" name="monto" class="form-control">
                                            <option value="100">$ 100.00 MN</option>
                                            <option value="200">$ 200.00 MN</option>
                                            <option value="300">$ 300.00 MN</option>
                                            <option value="400">$ 400.00 MN</option>
                                            <option value="500">$ 500.00 MN</option>
                                            <option value="600">$ 600.00 MN</option>
                                            <option value="700">$ 700.00 MN</option>
                                            <option value="800">$ 800.00 MN</option>
                                            <option value="900">$ 900.00 MN</option>
                                            <option value="1000">$1,000.00 MN</option>
                                            <option value="2000">$2,000.00 MN</option>
                                            <option value="2500">$2,500.00 MN</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row text-center" style="padding-top:25px;">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" class="btn btn-primary" formtarget="_blank" value="Generar Referencia" />
                                </div>
                            </div>
                        </form>
                    </div>
                    }
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    }
</div>
