﻿@model Enpadi_WebUI.Models.ViewModelRecompensas

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recompensas</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Listado de Recompensas
            </h2>
            <small>Puntos acreditados en base al uso de la cuenta enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="row" style="padding-bottom:25px;">
                        <div class="col-sm-6 m-b-xs">
                            @{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}
                            <div><h5>@Model.usuario.tcNum - @nombreUsuario</h5></div>
                            <div>&nbsp;</div>
                            <div class="row">
                                <form>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="periodo" name="periodo">
                                            @foreach (var item in Model.meses)
                                            {
                                                <option value="@item.numero">@item.mes</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="btn btn-primary" type="submit" value="Generar" />
                                    </div>
                                </form>
                            </div>
                            <div class="row"></div>
                        </div>
                        <div class="col-sm-6 m-b-xs text-right">
                            <div class="row">
                                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                                <div class="col-xs-8 text-right"><strong>@Model.periodo_descripcion</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-left"><strong>Saldo Inicial</strong></div>
                                <div class="col-xs-8 text-right"><strong>@string.Format("{0:N} PTS", Model.saldoInicial)</strong></div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-left">Abonos</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:N} PTS", Model.abonos)</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4 text-left">Cargos</div>
                                <div class="col-xs-8 text-right">@string.Format("{0:N} PTS", Model.cargos)</div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 text-left"><strong>Saldo Final</strong></div>
                                <div class="col-xs-8 text-right"><strong>@string.Format("{0:N} PTS", Model.saldoFinal)</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().origen)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().socio)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().tcNum)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().transaccion)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().concepto)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().abono)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().cargo)</th>
                                    <th>@Html.DisplayNameFor(model => model.recompensas.FirstOrDefault().fechaAlta)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.recompensas)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.origen)</td>
                                        <td>@Html.DisplayFor(modelItem => item.socio)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tcNum)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                        <td class="text-center">@string.Format("{0:N}", item.abono)</td>
                                        <td class="text-center">@string.Format("{0:N}", item.cargo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.fechaAlta)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

