﻿@model Enpadi_WebUI.Models.santiagoPredial

@{
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Servicios</span></li>
                    <li class="active"><span>Santiago, NL.</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Gobierno de Santiago, NL.</h2>
            <small>Consulta y Paga tu Impuesto Predial</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            @using (Html.BeginForm("SantiagoNLResp", "PanelUsuarios", FormMethod.Get))
                            { 
                                <div class="text-center">
                                    <div>
                                        <img alt="logo" width="150" class="img-thumbnail" src="~/Images/Santiago.png" />
                                    </div>
                                    <div><small class="font-bold">Gobierno de Santiago, NL.</small></div>
                                </div>
                                <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                    <p><strong>Estimado Usuario</strong></p>
                                    <p>Registra tus Datos a Consultar</p>
                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.expediente, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.expediente, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.expediente, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ubicacionPredio, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ubicacionPredio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.ubicacionPredio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.saldo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.saldo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group text-center">
                                    <a href="@Url.Action("Pagar", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                    <a href="@Url.Action("SantiagoNLBancos", "PanelUsuarios", new { expediente = Model.expediente, direccion = Model.ubicacionPredio, saldoPredial = Model.saldo })" target="_blank" class="btn btn-info"><i class="fa  fa-print"></i> Ficha Bancos</a>
                                    <input type="submit" id="btnSubmit" value="Pagar Saldo Predial Actual" class="btn btn-danger" />
                                </div>
                            }
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>