﻿@model Enpadi_WebUI.Models.pagoBanco

@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Enapdi | Deposito Referenciado";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pago en Banco</title>

    <style>
        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            color: #414042;
        }

        h1 {
            font-size: 20px;
            font-weight: lighter;
            margin: 8px 0 0 0;
        }

        h2 {
            color: #003366;
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 15px 0;
        }

            h2 span {
                font-size: 60px;
            }

            h2 small {
                font-size: 30px;
            }

        h3 {
            font-size: 12px;
            font-weight: bold;
            color: #435f82;
            margin: 8px 0;
        }

        p {
            font-size: 18px;
            font-weight: lighter;
            line-height: 28px;
        }

        .margen {
            margin: 20px auto 15px auto;
            border: none;
            width: 650px;
        }

        .Yellow1 {
            float: left;
            width: 25px;
            height: 70px;
        }

        .Logo-Top {
            width: 650px;
            float: left;
            display: block;
        }

            .Logo-Top img {
                width: 650px;
                margin: 13px 25px;
            }

        .Yellow2 {
            font-size: 25px;
            font-weight: bold;
            color: #FFF;
            padding-right: 30px;
            float: right;
            width: 345px;
            height: 70px;
            text-align: right;
        }

            .Yellow2 span {
                display: block;
                margin-top: 24px;
            }

        .Data-container {
            margin: 30px 0 0 0;
            clear: both;
            float: left;
        }

        .Data1 {
            float: left;
            width: 400px;
            margin: 0 0 0 50px;
        }

        .Spei-stuff {
            float: left;
            width: 200px;
        }

            .Spei-stuff img {
                width: 130px;
                margin-top: 40px;
                margin-left: 20px;
            }

        .Data_bank {
            clear: both;
            width: 600px;
            margin: 20px 0 20px 50px;
            float: left;
        }

            .Data_bank div {
                padding: 10px 30px;
                width: 490px;
            }

        .div1 {
            background-color: #f7f7f7;
        }

        .div2 {
            background-color: #f1f1f1;
        }

        .cont-text {
            float: left;
            margin: 0 50px 0 50px;
            width: 550px;
            clear: both;
        }

            .cont-text span {
                color: #33669a;
                font-size: 35px;
                font-weight: bold;
                line-height: 45px;
            }

            .cont-text a {
                text-decoration: none;
            }

        .buttons {
            width: 100%;
            clear: both;
            padding: 30px 0 30px 80px;
        }

            .buttons a {
                display: block;
                width: 180px;
                text-align: center;
                color: #FFFFFF;
                padding: 10px 0;
                background-color: #000033;
                font-size: 18px;
                text-decoration: none;
                border-radius: 7px;
                float: left;
                margin-right: 40px;
            }

                .buttons a:hover {
                    background-color: #32a842;
                }

        .Yellow3 {
            width: 100%;
            height: 18px;
            display: block;
            clear: both;
            margin: 80px 0 0 0;
        }

        .powered {
            text-align: center;
            width: 650px;
            margin: 0 auto 15px auto;
        }

            .powered img {
                width: 180px;
            }

        .Yellow1, .Yellow2, .Yellow3 {
            background-color: #006699;
        }
    </style>

</head>

<body>
    <div class="margen">
        <div class="header">
            <div class="Logo-Top"><img src="~/Images/predial-slide-01.jpg" alt="Logo"></div>
        </div>
        <div class="cont-text">
            <div class="row">
                <div class="col-md-4"><strong>Expediente Catastral</strong></div>
                <div class="col-md-8"><strong>@Request.QueryString["expediente"]</strong></div>
            </div>
            <div class="row">
                <div class="col-md-4"><strong>Dirección</strong></div>
                <div class="col-md-8"><strong>@Request.QueryString["direccion"]</strong></div>
            </div>
            <div class="row" style="margin-top:15px;">
                <div class="col-md-4"><h2>Saldo Predial</h2></div>
                <div class="col-md-8"><h2>@String.Format("$ {0:C2} M.N.", Request.QueryString["saldoPredial"])</h2></div>
            </div>
        </div>
        <div class="cont-text">
            <div class="row">
                <div class="col-md-4"><h2>Referencia</h2></div>
                <div class="col-md-8"><h2>@Request.QueryString["expediente"]</h2></div>
            </div>
        </div>
        <div class="cont-text">
            <div class="row text-center" style="margin-top:35px;">
                <div class="col-sm-6">
                    <img src="~/Images/banco_banamex.png" width="180" alt="Logo" />
                    <h3>PA: 4055 01</h3>
                    <h3>ESTABLECIMIENTO: MPO SANTIAGO</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/banco_banorte.png" width="180" alt="Logo" />
                    <h3>FACTURADOR: 068335</h3>
                    <h3>MUNICIPIO DE SANTIAGO, NL.</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
            </div>
            <div class="row text-center" style="margin-top:35px;">
                <div class="col-sm-6">
                    <img src="~/Images/banco_bancomer.jpg" width="180" alt="Logo" />
                    <h3>SUCURSAL: 0686</h3>
                    <h3>CUENTA: 0163277445</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
                <div class="col-sm-6">
                    <img src="~/Images/banco_afirme.png" width="180" alt="Logo" />
                    <h3>CUENTA: </h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
            </div>
        </div>
        <div class=" row text-center" style="margin-top:50;">
            <a href="javascript:window.print();" class="btn btn-primary">IMPRIMIR</a>
        </div>
        <div class="Yellow3">
        </div>
    </div>
    @*<div class="powered">
            <img src="~/Images/TWT-01.png" alt="Powered by TrueWisdom">
        </div>*@
</body>
</html>
