﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    ViewBag.Title = "Pago de Servicios";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Visa-MasterCard</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Pago de Servicios</h2>
            <small>Paga todos tus servicios mediante tu cuenta enpadi</small>
        </div>
    </div>
</div>

@{
    var sTipo = Model.FirstOrDefault().Tipo;
    var imgCategoria = Model.FirstOrDefault().imagenCompañia;
}

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("ServiciosCaptura", "PanelUsuarios", FormMethod.Get))
                    {
                        <div class="form-horizontal">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">
                                <form>
                                    <div class="text-center">
                                        <div>
                                            <img alt="logo" width="150" class="img-thumbnail" src="~/Images/@imgCategoria" />
                                        </div>
                                        <div><small class="font-bold">Pago de Servicios</small></div>
                                    </div>
                                    <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                        <p><strong>Estimado Usuario</strong></p>
                                        <p>Seleccione el Servicio que desea pagar y proporcione la Referencia correspondiente</p>
                                    </div>
                                    <div class="text-center" style="padding-bottom:15px;">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Servicio</label>
                                        <div class="col-sm-5">
                                            <select id="sku" name="sku" class="form-control">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@Html.DisplayFor(modelItem => item.SKU)">@Html.DisplayFor(modelItem => item.Nombre) (@Html.DisplayFor(modelItem => item.SKU))</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @if (sTipo == "Iusacell" || sTipo == "Unefon" || sTipo == "Nextel" || sTipo == "Movistar" || sTipo == "Virgin" || sTipo == "Telcel" || sTipo == "Unefon")
                                        {
                                            <label class="col-sm-4 control-label">Telefono</label>
                                        }
                                        else
                                        {
                                            <label class="col-sm-4 control-label">Referencia</label>
                                        }
                                        <div class="col-sm-5">
                                            <input type="text" id="referencia" name="referencia" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="@Url.Action("Pagar", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                        <input type="submit" id="btnSubmit" value="Seleccionar" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
