﻿@model Enpadi_WebUI.Models.pagoServicio
@using System.Configuration;

@{
    ViewBag.Title = "Pago de Servicios";
    bool bModoProduccion = Convert.ToBoolean(ConfigurationManager.AppSettings["ModoProduccion"]);
    string DIESTEL_ENCRYPTION_KEY = (bModoProduccion) ? ConfigurationManager.AppSettings["Enpadi_WSDiestel_EncryptionKey"] : ConfigurationManager.AppSettings["Test_WSDiestel_EncryptionKey"];
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Visa-MasterCard</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Pago de Servicios</h2>
            <small>Paga todos tus servicios mediante tu cuenta enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @if (Model.Campos != null)
                    {
                        using (Html.BeginForm("ServiciosProcesa", "PanelUsuarios", FormMethod.Post))
                        {
                            <div class="form-horizontal">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <form>
                                        @Html.Hidden("pagoID", Model.pagoID)
                                        @Html.Hidden("tarjetaID", Model.tarjetaID)
                                        @Html.Hidden("sku", Model.sku)
                                        @Html.Hidden("fechaLocal", Model.fechaLocal)
                                        @Html.Hidden("horaLocal", Model.horaLocal)
                                        @Html.Hidden("fechaContable", Model.fechaContable)
                                        @Html.Hidden("nombre", Model.nombre)
                                        @Html.Hidden("compañia", Model.compañia)
                                        @Html.Hidden("tipopago", Model.tipoPago)
                                        <div class="text-center">
                                            <div>
                                                <img alt="logo" width="150" class="img-thumbnail" src="~/Images/@Model.imagenTipo" />
                                            </div>
                                            <div><small class="font-bold">Pago de Servicios</small></div>
                                        </div>
                                        <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                            <p><strong>@Model.nombre</strong></p>
                                            <p>Proporcione la información que se solicita para efectuar su Pago</p>
                                        </div>
                                        <div class="text-center" style="padding-bottom:15px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        @foreach (var item in Model.Campos)
                                        {
                                            var oValor = item.sValor;
                                            if (item.bEncriptado == true)
                                            {
                                                oValor = PXSecurity.Datalogic.Classes.PXCryptography.PXDecryptFX(item.sValor.ToString(), DIESTEL_ENCRYPTION_KEY);
                                            }

                                        <div class="form-group">
                                            @Html.Label(item.sCampo, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-6">
                                                @switch (item.iClase)
                                            {
                                                case 0: // Es de solo lectura se muestra y no se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 1: //  No es de solo lectura se muestra y se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 2: // No es de solo lectura, no se muestra, toma valor predefinido, y se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 3: // No es de solo lectura, no se muestra, toma valor del sistema, y se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 4: // No es de solo lectura, se pide en ventana con su confirmación, y se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 5: // No es de solo lectura, se pide en ventana sin su confirmación, y se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 6: // El valor de este campo se manda a impresión. CON etiqueta
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 7: // El valor de este campo se manda a impresión. SIN etiqueta
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                case 8: // No es de solo lectura, se muestran opciones en un Combo, y el valor seleccionado se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                    break;
                                                default:
                                                    break;
                                            }
                                            </div>
                                        </div>
                                        }
                                        <div class="form-group text-center">
                                            <a href="@Url.Action("Pagar", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                            <input type="submit" formmethod="post" id="btnSubmit" value="Pagar" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Lo sentimos, el servicio se encuentra en mantenimiento, favor de intentar más tarde.</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
