﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Enpadi - Se Parte de la Red</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="layout.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="maxheight.js" type="text/javascript"></script>
    <script src="rollover.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/javascript.js"></script>
    <script language=javascript>
        function destino(){
            url = document.jump.secciones.options[document.jump.secciones.selectedIndex].value
            if (url != "no") window.location = url; }
    </script>
</head>
<body id="page7" onload="new ElementMaxHeight();MM_preloadImages('images/m1_act.jpg','images/m2_act.jpg','images/m3_act.jpg','images/m4_act.jpg','images/m5_act.jpg','images/m6_act.jpg')">
    <div class="main">
        <!--==========header=========== -->
        <div class="container">
            <script type="text/javascript" src="header.js"> </script>
            <div class="header" onclick="principal()"></div>
            <!--========//header=========== -->
            <!-- -->
            <!--==========content=========== -->
            <div id="content">
                <div class="bot">
                    <div class="indent">
                        <p><h2 style="text-align:center">Términos y Condiciones Generales para Usuarios</h2></p>
                        <p class="top-indent-4"><h3>Introducción</h3></p>
                        <p class="top-indent-2">Este documento contiene las condiciones generales a las que se sujetan las relaciones entre el <b>Usuario</b> y El Programa <strong>Enpadi</strong> relacionadas al uso de la Cuenta <strong>Enpadi</strong>, y prevalecen sobre cualquier acuerdo o convenio que previamente hubiera existido entre ambas partes.</p>
                        <p class="top-indent-3">El Programa <strong>Enpadi</strong> se reserva el derecho a modificar estas condiciones sin previa notificación así como de cualquier cambio en su sitio <a href="http://www.enpadi.com">www.Enpadi.com</a></p>
                        <p class="top-indent-3">La cuenta <strong>Enpadi</strong> permite a sus <b>Usuarios</b> realizar pagos o compras de bienes, servicios y contenidos en internet; así como en establecimientos tradicionales. Así mismo le permite acumular puntos y canjear estos puntos por premios y/o acceder a diversos beneficios como descuentos en establecimientos afiliados al programa <strong>Enpadi</strong></p>
                        <p>&nbsp;</p><br />
                        <p><h3>La aceptación de los términos y condiciones</h3></p>
                        <p class="top-indent-3">Al abrir o activar una cuenta en el Programa <strong>Enpadi</strong>, el <b>Usuario</b> acepta expresamente las presentes condiciones generales relativas al uso de la cuenta y el Programa <strong>Enpadi</strong></p>
                        <p class="top-indent-3">Nos reservamos el derecho de rechazar la apertura o activación de una cuenta cuando esta se relacione con cualquier violación de la ley o reglamento. Así mismo nos reservamos el derecho de cancelar la cuenta a un <b>Usuario</b> cuando éste haya adquirido o la utilice mediante o para la violación de la ley o reglamento.</p>
                        <p class="top-indent-3">Para registrarse en <strong>Enpadi</strong>, el <b>Usuario</b> declara y certifica que es un ciudadano mexicano y que reside en los Estados Unidos Mexicanos. </p>
                        <p class="top-indent-3">Además declara que:</p>
                        <p class="top-indent-3">•	En caso de utilizar una tarjeta de crédito para abonar saldo a su cuenta <strong>Enpadi</strong>, ésta fue emitida a nombre del <b>Usuario</b> por una Institución Bancaria Mexicana. </p>
                        <p class="top-indent-3">•	Conoce y acepta en su totalidad los términos y condiciones presentados a continuación:</p>
                        <p class="top-indent-3">Los presentes términos y condiciones estipulan la operación del "Sistema de medio de pago <strong>Enpadi</strong>", misma que se encuentra a cargo de la empresa <b>TWT Servicios S.A. de C.V.</b> (TrueWisdom).</p>
                        <p class="top-indent-3">Es necesario que antes de registrarse en el sitio <strong>Enpadi</strong>, lea cuidadosamente los términos y condiciones así como los apartados e instrucciones comprendidas en nuestro sitio, siendo su responsabilidad el conocimiento de estos términos y condiciones, por lo que no podrá argumentar desconocimiento alguno de su parte sobre lo expuesto, liberando a <strong>Enpadi</strong> de cualquier responsabilidad que pudiese resultar al respecto.</p>
                        <p class="top-indent-3">El registro del participante ampara la declaración manifiesta de que conoce y acepta expresamente los términos y condiciones que a continuación se describen, así como las condiciones especiales de su oferta al público.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Generales</h3></p>
                        <p class="top-indent-3">1.	El Sistema de Medio de Pago <strong>Enpadi</strong> permite a los <b>Usuarios</b> de Internet y Celulares realizar pagos de servicios en línea a los socios de pago.</p>
                        <p class="top-indent-3">2.	<strong>Enpadi</strong>, se reserva el derecho de agregar, eliminar o modificar sus reglamentos sin previo aviso, conforme a las autorizaciones que para tal efecto otorguen las autoridades competentes de los Estados Unidos Mexicanos.</p>
                        <p class="top-indent-3">3.	La dirección electrónica de la página del Sistema de Medio de Pago <strong>Enpadi</strong>, es <a href="https://www.Enpadi.com/card/login.php">https://www.Enpadi.com</a> (el sitio), donde es importante revisar y verificar que se esté navegando en modo <strong>https://</strong>, con el fin de garantizar la seguridad de las transacciones. Cualquier dirección diferente a esta no es de <strong>Enpadi</strong> y por lo tanto <strong>Enpadi</strong> no acepta ninguna responsabilidad con sitios que pretendan suplantar al oficial. </p>
                        <p class="top-indent-3">4.	La administración de <strong>Enpadi</strong>, guardará de manera confidencial los registros de todos los <b>Usuarios</b>, así como transacciones, abonos y depósitos, de conformidad con la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental y su Reglamento</p>
                        <p class="top-indent-3">5.	En Los Estados Unidos Mexicanos, como en este sitio de Internet, la moneda de curso legal es el peso mexicano ($MXN) </p>
                        <p class="top-indent-3">6.	El <b>Usuario</b> únicamente está autorizado a visitar, ver y consultar el contenido de la página, para su propio uso, así como el acceso para las operaciones propias del medio de pago, quien no deberá duplicar, descargar, publicar, modificar, alterar o distribuir el contenido de la misma. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Registro</h3></p>
                        <p class="top-indent-3">1.	Usted declara por este medio que toda la información proporcionada a <strong>Enpadi</strong>, en su hoja de registro y en su cuenta, es completa, correcta y verídica; así mismo usted tiene la obligación de informar inmediatamente a <strong>Enpadi</strong>, cuando haya un cambio en esta información. </p>
                        <p class="top-indent-3">2.	Al momento de su registro deberá seleccionar Nombre de Usuario y Contraseña, para efectos de seguridad. La contraseña que usted elija deberá mantenerse en un lugar privado, seguro, para evitar poner en riesgo la seguridad de su cuenta. Serán de su exclusiva responsabilidad las transacciones realizadas bajo su nombre de usuario y contraseña, las cuales serán aceptadas por <strong>Enpadi</strong>, entendiendo que es usted la persona que está haciendo uso de la misma. <strong>Enpadi</strong>, no se hace responsable del uso indebido de su nombre de usuario y contraseña. </p>
                        <p class="top-indent-3">3.	El participante al momento de su registro acepta la posibilidad de que se registre su dirección de Protocolo Internet (IP) y su nombre de dominio. Una dirección IP es un número que asigna automáticamente la computadora del ISP, a través de la cual usted tiene acceso a la Web. <strong>Enpadi</strong> podrá registrar estas direcciones IP y los nombres de dominio con fines de monitoreo del uso del sitio. La información será utilizada para medir el número de visitas al sitio, el tiempo promedio que pasa en él cada usuario, el número de páginas visitadas y otras diversas estadísticas sobre el uso del sitio. Este monitoreo ayuda a evaluar cómo se usa el sitio Web para mejorar en forma continua el contenido del mismo. <strong>Enpadi</strong> no vincula las direcciones IP o nombres de dominio con ninguna información identificable a nivel personal, lo que significa que la sesión de un visitante se registrará en nuestros servidores, pero el visitante siempre permanecerá anónimo. <strong>Enpadi</strong> no obtiene de terceros información personal complementaria acerca del <b>Usuario</b>/participante. </p>
                        <p class="top-indent-3">4.	<strong>Enpadi</strong>, se obliga a proteger la información personal proporcionada por sus <b>Usuarios</b>s, misma que únicamente será proporcionada a las Autoridades que lo requieran mediante mandamiento judicial. </p>
                        <p class="top-indent-3">5.	<strong>Enpadi</strong>, se reserva el derecho de rechazar su registro y/o suspender y/o terminar su registro y/o cuenta en cualquier momento a absoluta discreción, en cada uno de los siguientes supuestos: en caso de que existiera sospecha o se detecte cualquier intento de manipulación al sistema de finanzas, trampas, intento de fraude, mal uso de su cuenta, incumplimiento de alguna ley aplicable o reglamentación o bien por incumplimiento a cualquiera de nuestros términos y condiciones. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Manejo de cuenta <strong>Enpadi</strong></h3></p>
                        <p class="top-indent-3">1.	Una vez que ya se cuenta con registro de <b>Usuario</b>, automáticamente se generará una cuenta <strong>Enpadi</strong>, en el cual se podrán realizar depósitos y compras de bienes o servicios ofrecidos por <strong>Enpadi</strong> o sus socios. La forma de realizar depósitos es por cualquiera de los medios aprobados por <strong>Enpadi</strong>. Es responsabilidad del <b>Usuario</b> el empleo de su tarjeta de crédito o débito. Ningún <b>Usuario</b> podrá realizar compras de bienes o servicios por un monto mayor al saldo de su cuenta o el estipulado por <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">2.	El <b>Usuario</b> es responsable de la confidencialidad de su información, de no proporcionar a terceros su número de cuenta, contraseña, etc. <strong>Enpadi</strong>, no se hace responsable del manejo de dicha información por terceros, por causas imputables al <b>Usuario</b>. </p>
                        <p class="top-indent-3">3.	Para disponer de los fondos o saldo en su cuenta de <strong>Enpadi</strong>, el <b>Usuario</b> deberá especificar la cuenta bancaria a la que desea sean depositados vía electrónica, o en su defecto el beneficiario autorizado deberá acudir a la  ventanilla de la sucursal <strong>Enpadi</strong> autorizada. </p>
                        <p class="top-indent-3">4.	El <b>Usuario</b> puede editar su cuenta, realizar depósitos y retiros ingresando a cada uno de los enlaces correspondiente a la acción que desea realizar desde de su cuenta <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">5.	El manejo de la cuenta <strong>Enpadi</strong> se encuentra a cargo de <b>TWT Servicios S.A. de C.V.</b> (TrueWisdom). La disponibilidad de los fondos depositados en la cuenta del <b>Usuario</b>, dependerá de que TrueWisdom, haya recibido efectivamente dichos fondos, por cualquiera de los medios de pago autorizados. </p>
                        <p class="top-indent-3">6.	AVISO IMPORTANTE PARA TARJETAHABIENTES DE VISA Y MASTERCARD: Serán aceptadas únicamente las tarjetas emitidas dentro del territorio de los Estados Unido Mexicanos. </p>
                        <p class="top-indent-3">7.	Si para la apertura de una cuenta en este sitio el <b>Usuario</b> proporciona información falsa o inexacta, <strong>Enpadi</strong>, podrá proceder al rechazo o a la cancelación de la misma. </p>
                        <p class="top-indent-3">8.	Serán nulas todas aquellas participaciones seleccionadas por el <b>Usuario</b>, cuando <strong>Enpadi</strong>, corrobore que la información proporcionada es falsa o inexacta, aunque la cuenta se encuentre activa y cuente con fondos. <strong>Enpadi</strong> no asumirá ninguna responsabilidad y por lo tanto queda liberado de cualquier violación legal en que incurra el <b>Usuario</b>. <strong>Enpadi</strong>, se reservará el derecho de ejercitar las acciones legales que correspondan por los posibles daños y perjuicios que le llegasen a ocasionar. </p>
                        <p class="top-indent-3">9.	<strong>Enpadi</strong>, no otorga créditos para la compra de un bien o servicio. Todas las participaciones ejecutadas por el <b>Usuario</b> deberán ser pagados previo a la selección, con cargo a su cuenta de <strong>Enpadi</strong> mediante abono a través de cualquiera de los medios de abono autorizados. </p>
                        <p class="top-indent-3">10.	No se aceptarán pagos parciales para la compra de un bien o servicio. Todas las compras que participe el <b>Usuario</b> serán por un monto igual o menor al saldo disponible en su cuenta de <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">11.	El <b>Usuario</b> es el responsable de revisar su estado de cuenta, así como todos los movimientos de la misma. </p>
                        <p class="top-indent-3">12.	El saldo máximo a mantener en cuenta es de $25,000 pesos mexicanos o su equivalente en moneda extranjera.</p>
                        <p class="top-indent-3">13. El monto máximo de recarga con Tarjeta de Crédito/Débito es de $2,500.00 y no podrá excederse de 2 Recargas Semanales.</p>
                        <p class="top-indent-3">14.	El saldo en las cuentas <strong>Enpadi</strong> no genera intereses. El uso de la cuenta <strong>Enpadi</strong> cuenta con algunas comisiones por uso disponibles en el sitio en <a href="http://www.enpadi.com">www.Enpadi.com</a>. <strong>Enpadi</strong> se reserva el derecho a modificar la tabla de comisiones sin previa notificación de cualquier cambio en su sitio web <a href="http://www.enpadi.com">www.Enpadi.com</a>.</p>
                        <p class="top-indent-3">15.	Como <b>Usuario</b> de <strong>Enpadi</strong>, usted tiene derecho a abrir una sola cuenta en el sitio. Sólo se podrán utilizar tarjetas de crédito o debito a nombre del titular de la cuenta de <strong>Enpadi</strong>, vía Internet y uso de efectivo en las sucursales <strong>Enpadi</strong> autorizadas.</p>
                        <p class="top-indent-3">16.	En caso de inconformidad manifiesta por el <b>Usuario</b> respecto a la suma generada en su cuenta por concepto de pago a los que haya sido acreedor, <strong>Enpadi</strong> se reserva el derecho de suspender dicha cuenta hasta en tanto sea aclarada. </p>
                        <p class="top-indent-3">17.	Cualquier inconformidad deberá ser notificada por el <b>Usuario</b> a <strong>Enpadi</strong>, por escrito, incluyendo todos los datos de su cuenta, así como la fecha, hora y detalles de la inconsistencia, la cual deberá ser enviada al correo electrónico establecido en el Sitio en el apartado de CONTACTO. </p>
                        <p class="top-indent-3">18.	Se prohíbe el uso de lenguaje obsceno en cualquier apartado del registro incluyendo el nombre del <b>Usuario</b>, contraseña, pregunta de seguridad, etc., <strong>Enpadi</strong>, se reserva el derecho a rehusar el servicio a cualquier persona que así lo realice. </p>

                        <p>&nbsp;</p><br />
                        <p><h3>Realización de pagos en transacciones ONLINE</h3></p>
                        <p class="top-indent-3">1.	Las cuentas <strong>Enpadi</strong> permiten a su portador realizar a través de Internet pagos de servicios y bienes con los socios de pago <strong>Enpadi</strong>.</p>
                        <p class="top-indent-3">2.	Una vez que el <b>Usuario</b> proporciona en la página web del socio de pago el número de cuenta y NIP, <strong>Enpadi</strong>  procederá a la verificación de mismo y comunicará al socio de pago la validez o invalidez de la operación.</p>
                        <p class="top-indent-3">3.	En caso de que <strong>Enpadi</strong> le comunique que la operación es válida, el socio de pago podrá aceptar la transacción y se procederá a la compra del bien o servicio. En caso de invalidez del pago, <strong>Enpadi</strong> informará al socio de pago que el pago no puede realizarse. </p>
                        <p class="top-indent-3">4.	Cada cuenta <strong>Enpadi</strong> contiene un número de cuenta de 16 dígitos y un número de NIP de 4 dígitos. Cada número corresponde a una sola cuenta.</p>
                        <p class="top-indent-3">5.	El <b>Usuario</b> asume el compromiso de no utilizar su cuenta <strong>Enpadi</strong> con fines fuera de los estipulados en estos términos y condiciones.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Exclusión de garantías y representación </h3></p>
                        <p class="top-indent-3">1.	<strong>Enpadi</strong> no da ninguna garantía, no hace ninguna representación y renuncia a toda responsabilidad, siempre que la ley permite con respecto a la calidad, disponibilidad, legalidad de los productos o servicios que usted compra. Cualquier queja que usted pueda tener con un socio debe llevarse a cabo con ese socio y no con <strong>Enpadi</strong>.<br />
                        <p>&nbsp;</p><br />
                        <p><h3>Causas de cancelación de la cuenta Enpadi</h3></p>
                        <p class="top-indent-3">1.	El <b>Usuario</b> acepta y reconoce expresamente, que en caso de presentarse cualquiera de los eventos que se describen a continuación, <strong>Enpadi</strong>, podrá dar por terminada su relación con el <b>Usuario</b> por cualquier medio y sin que le implique responsabilidad de ningún tipo, restringiéndose indefinidamente su acceso a este sitio y al servicio que se proporciona. </p>
                        <p class="top-indent-3">2.	El dinero que la cuenta cancelada tenga como saldo disponible, proveniente de abonos y depósitos; no podrán ser reclamados por el cliente cuando su cuenta haya sido cancelada por cualquier de las causas enlistadas en este apartado. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Causas generales de cancelación</h3></p>
                        <p class="top-indent-3">3.	Que la cuenta lleve un tiempo de inactividad mayor a un año. Considerándose falta de actividad: no abonar saldo a su cuenta y no regalar o recibir regalos de otras cuentas. </p>
                        <p class="top-indent-3">4.	Cuando (Si) en alguna de las revisiones aleatorias que realice <strong>Enpadi</strong> se identifique que el <b>Usuario</b> ha proporcionado información falsa e inexacta al momento de su registro. </p>
                        <p class="top-indent-3">5.	Debido a cualquier participación o depósito realizado con la intención de dañar o perjudicar de cualquier manera a <strong>Enpadi</strong> y/o realizados por cualquier intermediario contratado para ese fin, empresas de juegos, sindicatos o cualquier persona(s), partes, organizaciones, amigos o familiares ya sea en lo individual o en sociedad o en conjunto con cualquier otra(s) persona(s), firma o corporación, que de cualquier manera se vea involucrado, participe, le concierna y/o interese o asesore, preste dinero, garantice deudas u obligaciones o cualquier negocio del tipo o similar al negocio de <strong>Enpadi</strong>, serán canceladas. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Por el uso ilícito de una tarjeta de crédito o débito</h3></p>
                        <p class="top-indent-3">6.	Por el uso ilícito de una o más tarjetas de crédito o debito, asociadas a cualquier cuenta activa con <strong>Enpadi</strong>, incluyendo todo reporte de banco emisor de la tarjeta, por falta de autorización o por cualquier motivo que implique la utilización ilícita de la tarjeta. </p>
                        <p class="top-indent-3">7.	Por detectarse la utilización de una o más tarjetas de crédito con la intención de realizar depósitos ilícitos. </p>
                        <p class="top-indent-3">8.	Por no acreditarse la titularidad de la Tarjeta de Crédito o Debito, o cualquier otro aspecto relacionado con la misma, a satisfacción de <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">9.	Cuando como resultado de las revisiones aleatorias, realizadas por <strong>Enpadi</strong>, se detecte alguna irregularidad sobre el uso o utilización de tarjetas de crédito vinculadas con cualquier cuenta registrada en este sitio. </p>
                        <p class="top-indent-3">10.	Por disposición de las autoridades competentes, cuando informen sobre cualquier investigación o sospecha relacionada con alguna cuenta registrada en <strong>Enpadi</strong>, o con toda tarjeta de crédito utilizada en dicha cuenta. Independientemente de las causas que originen la información o investigación. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Programa de acumulación de puntos y descuentos</h3></p>
                        <p class="top-indent-3">1.	El programa de acumulación de puntos de <strong>Enpadi</strong> permite al <b>Usuario</b> obtener 1 punto por cada 1 peso pagados con su cuenta <strong>Enpadi</strong>.</p>
                        <p class="top-indent-3">2.	El <b>Usuario</b> tendrá 180 días para redimir sus puntos, de no ser así, sus puntos expirarán.</p>
                        <p class="top-indent-3">3.	Aquellos <b>Usuarios</b> que acumulen una cantidad relevante de puntos podrán adquirir de forma directa un premio; ya sea saldo acumulable en su cuenta, un bien o un servicio, los cuales se encuentran publicados en el sitio web <a href="http://www.enpadi.com">www.Enpadi.com</a>.</p>
                        <p class="top-indent-3">4.	<strong>Enpadi</strong> se reserva el derecho a modificar la tabla de redención y las políticas de canje sin previa notificación de cualquier cambio en su sitio web <a href="http://www.enpadi.com">www.Enpadi.com</a></p>
                        <p class="top-indent-3">5.	Adicionalmente al programa de acumulación de puntos los <b>Usuarios</b> con Tarjeta <strong>Enpadi</strong> tendrán acceso a descuentos en establecimientos afiliados al programa <strong>Enpadi</strong>. Estos beneficios podrán cambiar de cuando en cuando sin ser necesario para esto hacer una notificación a los <b>Usuarios</b>. Los <b>Usuarios</b> podrán consultar los Beneficios del programa en el sitio <a href="http://www.enpadi.com">www.Enpadi.com</a></p>
                        <p>&nbsp;</p><br />
                        <p><h3>Comisiones</h3></p>
                        <p class="top-indent-3">1.	<strong>Enpadi</strong> cobrará al <b>Usuario</b> una comisión para solventar los gastos relacionados con la operación y administración por concepto de ser un medio de pago.</p>
                        <p class="top-indent-3">2.	<strong>Enpadi</strong> se reserva el derecho a modificar estas comisiones sin previa notificación de cualquier cambio en su sitio web <a href="http://www.enpadi.com">www.Enpadi.com</a></p>
                        <p>&nbsp;</p><br />
                        <p><h3>Seguridad en su cuenta</h3></p>
                        <p class="top-indent-3">El <b>Usuario</b> es responsable de su cuenta <strong>Enpadi</strong> en caso de pérdida, robo, deterioro o mal uso ya sea por el <b>Usuario</b> o por un tercero</p>
                        <p class="top-indent-3">En caso de pérdida de su número de cuenta o tarjeta, el <b>Usuario</b> debe llamar al Centro de Atención a Clientes, al (81) 2089-6071 facilitando el número de la tarjeta y NIP y solicitar que la tarjeta sea cancelada.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Legalidad y derechos</h3></p>
                        <p class="top-indent-3">1.	<strong>Enpadi</strong> se reserva el derecho de cancelar la cuenta de cualquier <b>Usuario</b> a su discreción, en el supuesto de que un <b>Usuario</b>, después de habérsele cancelado su cuenta por cualquier razón, abra otra cuenta a su nombre o a nombre de un tercero o utilizando un seudónimo o mediante la cooperación de una o más personas. </p>
                        <p class="top-indent-3">2.	<strong>Enpadi</strong>, solo aceptará una dirección de correo electrónico por cuenta de <b>Usuario</b>. La misma dirección de correo electrónico no puede ser registrada en cuentas de <b>Usuario</b> diferentes. El <b>Usuario</b> puede cambiar o modificar su dirección de correo electrónico las veces que desee. </p>
                        <p class="top-indent-3">3.	Los productos comercializados a través del sitio <strong>Enpadi</strong>, así como logotipos, diseños, marcas y avisos, son propiedad OpenLinea, mismos que se encuentran protegidos por Ley de Propiedad Industrial y su Reglamento. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Advertencia</h3></p>
                        <p class="top-indent-3">1.	Es obligación exclusiva del <b>Usuario</b> proteger su contraseña y su nombre de <b>Usuario</b>. Cada persona que se identifique ingresando con su nombre de <b>Usuario</b> y su contraseña correctamente, es asumida por <strong>Enpadi</strong>, como el titular de la cuenta, no obstante pudiera darse el caso de que un tercero no autorizado ingresara a su cuenta con los datos correctos. </p>
                        <p class="top-indent-3">2.	<strong>Enpadi</strong>, tiene discreción total para corregir cualquier cuenta que resulte beneficiada por cualquier error y se reserva el derecho de responsabilizar al <b>Usuario</b> por los daños y perjuicios ocasionados, en virtud de haber tomado ventaja de cualquier error técnico o administrativo. </p>
                        <p class="top-indent-3">3.	Es responsabilidad exclusiva del <b>Usuario</b> asegurarse de que toda la información proporcionada ha sido perfectamente entendida por <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">4.	Es responsabilidad del <b>Usuario</b> leer y comprender las instrucciones proporcionadas por Enpadi para los juegos, sorteos o concursos adquiridos por este medio. </p>
                        <p class="top-indent-3">5.	<strong>RedMoVí</strong> se reserva el derecho a cambiar los términos y condiciones en cualquier momento, los cuales aplicarán inmediatamente después de que hayan sido publicados en las páginas <a href="http://www.enpadi.com/terminos_p.html">www.Enpadi.com/terminos_p.html</a>. </p>
                        <p class="top-indent-3">El violar cualquiera de los términos o condiciones de este sitio será considerado como una infracción y su <b>Usuario</b> será inhibido.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Además se consideran violaciones a los términos y condiciones:</h3></p>
                        <p class="top-indent-3">1.	Uso ilegal o no autorizado por <strong>Enpadi</strong> de cualquier robot, araña, aparato automatizado o cualquier otro proceso manual, para monitorear o copiar datos del sitio. </p>
                        <p class="top-indent-3">2.	El usar cualquier contraseña o código de acceso, que no le corresponda si no es el destinatario de tal código de acceso o contraseña. </p>
                        <p class="top-indent-3">3.	Utilizar algún tipo de aparato, software o rutina que interfiera con el funcionamiento adecuado del sitio. </p>
                        <p class="top-indent-3">4.	Realizar o ejecutar acciones que impongan cargas razonables o desproporcionadas en la infraestructura de <strong>Enpadi</strong>. </p>
                        <p class="top-indent-3">5.	Copiar, reproducir, alterar, modificar o mostrar públicamente algún contenido (con excepción del uso personal) del sitio sin previo permiso expreso por escrito de <strong>Enpadi</strong>. Por este acto manifiesta su conformidad para que <strong>Enpadi</strong>, a discreción y sin previo aviso, pueda restringir su acceso al sitio, cancelar su compra de boletos, eliminar cualquier contenido del <b>Usuario</b> no autorizado o ejercer cualquier otro recurso disponible, si tiene elementos o indicios de que su conducta o la de cualquier tercero, con la cual se crea que actúa en común o el contenido del <b>Usuario</b> que proporcionó son inconsistentes con los términos establecidos en esta página, con la legislación y que violan los derechos de <strong>Enpadi</strong>. </p>
                        <p>&nbsp;</p><br />
                        <p><h3>Enlaces y resultados de búsqueda </h3></p>
                        <p class="top-indent-3">1.	El sitio puede producir automáticamente resultados de búsqueda que tienen referencia o se enlazan a sitios de terceros a través de la red mundial World Wide Web; de los cuales <strong>Enpadi</strong> no tiene control sobre su contenido por lo que no garantiza, representa o asegura que el contenido de estos sea exacto, legal y/o inofensivo.</p>
                        <p class="top-indent-3">2.	Al utilizar el sitio para realizar búsquedas o para enlazarse a otro sitio, no podrá realizar ningún reclamo a <strong>Enpadi</strong> o sus proveedores por cualquier daño o pérdida, que resulte; en caso de tener algún problema con algún enlace del sitio, deberán enviar un correo electrónico directamente desde el sitio en CONTACTO.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Exención de responsabilidades </h3></p>
                        <p class="top-indent-3">1.	<strong>Enpadi</strong> no puede asegurar que los archivos que descargue en el sitio estarán libres de virus, contaminación o características destructivas.</p>
                        <p class="top-indent-3">2.	<strong>Enpadi</strong> se libera de toda responsabilidad de garantías y no será responsable por daño de cualquier tipo que surja por el uso del sitio, incluyendo daños directos, indirectos, incidentales, punitivos y consecuenciales. Así mismo, se libera de toda responsabilidad por cualquier hecho, omisión y conducta realizada por los <b>Usuarios</b> de <strong>Enpadi</strong>, de terceros, publicistas y/o patrocinadores del sitio en conexión con el servicio de <strong>Enpadi</strong> o cualquier otra forma relacionada con el uso del sitio y/o servicio.</p>
                        <p class="top-indent-3">3.	Sin perjuicio de lo anterior, el <b>Usuario</b> podrá reportar la mala conducta de <b>Usuarios</b> y/o publicistas de terceros, proveedores a los que se hace referencia o que están incluidos en el sitio de <strong>Enpadi</strong>; pudiendo <strong>Enpadi</strong> investigar el reclamo y tomar las acciones pertinentes, a su plena discreción.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Jurisdicción</h3></p>
                        <p class="top-indent-3">Para la aplicación, interpretación, ejecución y cumplimiento de los presentes términos y condiciones, las partes manifiestan que están de acuerdo en someterse a la jurisdicción de los Tribunales Federales con residencia en la ciudad de Monterrey, NL, renunciando en este acto a cualquier otra jurisdicción que pudiere corresponderle por razón de su domicilio presente o futuro o cualquier otra causa.</p>
                        <p>&nbsp;</p><br />
                        <p><h3>Indemnizaciones </h3></p>
                        <p class="top-indent-3">El <b>Usuario</b> manifiesta de manera expresa que libera a <strong>Enpadi</strong>, a proveedores filiales y a todos y cada uno de sus funcionarios, gerentes, agentes, empleados o contratistas de cualquier responsabilidad, pérdida, obligación, reclamo o demanda, incluyendo honorarios de abogados o realizados por un tercero de cualquier indemnización que surja por el uso del sitio para proporcionar un enlace a otro sitio o para cargar contenido o cualquier otra información al sitio.</p>
                        <p>&nbsp;</p><br />
                        <p class="top-indent-3">Dudas y comentarios: <a href="#">atencion@Enpadi.com</a></p>
                    </div>
                </div>
            </div>
            <!--========//content=========== -->
            <!-- -->
            <!--==========footer=========== -->
            <script type="text/javascript" src="footer.js"> </script>
            <!--========//footer=========== -->
        </div>
</body>
</html>