﻿@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Transferencia de Recursos
            </h2>
            <small>Transfiere dinero desde tu cuenta enpadi</small>
        </div>
    </div>
</div>


<div class="content animated-panel">

    <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/14-2.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Amigos</strong>
                        <p class="small">Cuentas Enpadi</p>
                        <a href="@Url.Action("Index", "tarjetasContactos")" class="btn btn-primary btn-xs btn-default">Administrar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/imageEnpadi.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Entre Cuentas</strong>
                        <p class="small">Transferencia</p>
                        <a href="@Url.Action("TransferirCuentasEnpadi", "PanelUsuarios")" class="btn btn-primary btn-xs btn-default">Transferir</a>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorRecargar);">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/imageEnpadi.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Entre Cuentas</strong>
                        <p class="small">Transferencia</p>
                        <a href="@Url.Action("TransferirCuentasEnpadi", "PanelUsuarios")" class="btn btn-primary btn-xs btn-default">Transferir</a>
                    </div>
                </div>
            </div>
        </div>*@

        @* <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel" style="background-color:#000033;">
            <div class="panel-body text-center">
                <img alt="logo" class="img-circle" width="100" src="~/Images/transfer02.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <strong>A Terceros</strong>
                    <p class="small">Transferencia</p>
                    <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#transferTercero">Recargar</button>
                </div>
            </div>
        </div>
    </div>*@

    </div>


    <div class="modal fade" id="transferCuentas" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/transfer01.jpg" width="135" /></div>
                    <div><small class="font-bold">Transferencia entre cuentas enpadi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Proporcione los datos solicitados para efectual la Transferencia de Fondos</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Cuenta Destino</label>
                            <div class="col-sm-8"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Monto</label>
                            <div class="col-sm-8">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Contraseña</label>
                            <div class="col-sm-8"><input type="text" class="form-control" /></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Transferir Fondos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="transferTercero" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/transfer02.png" width="135" /></div>
                    <div><small class="font-bold">Transferencia de Fondos a Terceros</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Estimado Usuario</strong></p>
                            <p>Proporcione los datos solicitados para efectual la Transferencia de Fondos</p>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Beneficiario</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Pais</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="pais">
                                    <option>México</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="estado">
                                    <option>San Luis Potosi</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10">
                                <select class="form-control m-b" name="ciudad">
                                    <option>Matehuala</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Monto</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Transferir Fondos</button>
                </div>
            </div>
        </div>
    </div>

</div>