﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasContactos>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Transferencias Enpadi
            </h2>
            <small>Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <form method="post">
                                <div class="text-center" style="padding-bottom:15px;">
                                    <p><strong>Estimado Usuario</strong></p>
                                    <p>Seleccione la Cuenta y el Monto que desea Transferir</p>
                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Contacto</label>
                                        <div class="col-sm-4">
                                            <select id="contacto" name="contacto" class="form-control">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@Html.DisplayFor(modelItem => item.contactoNumero)">@Html.DisplayFor(modelItem => item.contactoTarjeta) - @Html.DisplayFor(modelItem => item.contactoAlias)</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-4 control-label">Monto</label>
                                        <div class="col-sm-4">
                                            <input type="text" id="monto" name="monto" placeholder="0.00" class="form-control" />
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <input type="submit" formmethod="post" value="Transferir" class="btn btn-primary" />
                                        <a href="@Url.Action("Transferir", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                    </div>
                                    <div class="col-sm-4"></div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
