﻿@model Enpadi_WebUI.Models.ViewModelProducto

@{
    ViewBag.Title = "Producto";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Productos</span></li>
                    <li class="active"><span>Generación de Cuentas</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Generación de Cuentas
            </h2>
            <small>Este proceso crea las cuentas en base a la configuración establecida por producto</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Detalle del Producto
                </div>
                <div class="panel-body">
                    <dl class="col-md-6 dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.producto.nombre)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.nombre)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.descripcion)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.descripcion)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.bin)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.bin)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.identificador)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.identificador)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.inicial)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.inicial)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.final)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.final)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.activo)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.activo)</dd>
                    </dl>
                    <dl class="col-md-6 dl-horizontal">
                        <dt>Rango del Proucto</dt>
                        <dd>@Model.Rango Cuentas</dd>
                        <dt>Cuentas Configuradas</dt>
                        <dd>@Model.Configuradas Cuentas</dd>
                        <dt>Cuentas Asignadas</dt>
                        <dd>@Model.Asignadas Cuentas</dd>
                        <dt>Cuentas Disponibles</dt>
                        <dd>@Model.Disponibles Cuentas</dd>
                        <dt>Cuentas por Generar</dt>
                        <dd>@Model.Pendientes Cuentas</dd>
                        <content>
                            <p></p>
                            <form method="post">
                                <input type="submit" class="btn btn-success" value="Iniciar Proceso de Generación de Cuentas" />
                            </form>
                        </content>
                    </dl>
                </div>
            </div>
        </div>
    </div>

</div>