﻿@model Enpadi_WebUI.Models.producto

@{
    ViewBag.Title = "Delete";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Productos</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Productos
            </h2>
            <small>Productos configurados en la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Producto", "Create")
                </div>

                <div class="panel-body">
                    <h3>¿Estas seguro de querer eliminar este Registro?</h3>
                    <h5 class="text-danger">Se eliminaran de forma automatica todas las cuentas asosciadas al presente Producto</h5>
                    <div style="padding-top:25px;">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.bin)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.bin)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.identificador)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.identificador)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.inicial)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.inicial)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.final)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.final)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.activo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.activo)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminiar" class="btn btn-default" /> |
                                @Html.ActionLink("Volver al Listado", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>