﻿@model Enpadi_WebUI.Models.ViewModelProducto

@{
    ViewBag.Title = "Producto";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Productos</span></li>
                    <li class="active"><span>Detalle</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Productos
            </h2>
            <small>Productos configurados en la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Detalle del Producto
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>@Html.DisplayNameFor(model => model.producto.nombre)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.nombre)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.descripcion)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.descripcion)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.bin)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.bin)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.identificador)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.identificador)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.inicial)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.inicial)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.final)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.final)</dd>
                        <dt>@Html.DisplayNameFor(model => model.producto.activo)</dt>
                        <dd>@Html.DisplayFor(model => model.producto.activo)</dd>
                    </dl>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.producto.productoID }) |
                        @Html.ActionLink("Generar Cuentas", "Accounts", new { id = Model.producto.productoID }) |
                        @Html.ActionLink("Volver al Listado", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Cuentas existentes asociadas a este producto
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                @{var headerData = Model.tarjetas.FirstOrDefault();}
                                <tr>
                                    <th>@Html.DisplayNameFor(model => headerData.codigo)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcNum)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcMes)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcAnio)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcDigitos)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcAsignada)</th>
                                    <th>@Html.DisplayNameFor(model => headerData.tcActiva)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.tarjetas) { 
                                 <tr>
                                    <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcNum)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcMes)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcAnio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcDigitos)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcAsignada)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tcActiva)</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    Table - 6 rows
                </div>
            </div>
        </div>
    </div>

</div>




