﻿@model Enpadi_WebUI.Models.pagoServicio
@using System.Configuration;

@{
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
    ViewBag.Title = "Pago de Servicios";
    bool bModoProduccion = Convert.ToBoolean(ConfigurationManager.AppSettings["ModoProduccion"]);
    string DIESTEL_ENCRYPTION_KEY = (bModoProduccion) ? ConfigurationManager.AppSettings["Enpadi_WSDiestel_EncryptionKey"] : ConfigurationManager.AppSettings["Test_WSDiestel_EncryptionKey"];
}
@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/CheckService")
}


<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="processcheckservice.title">Pago de servicio</div>
        <div class="enapdi-color informative-text lang" key="processcheckservice.description">Favor de ingresar los datos correspondientes.</div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @if (Model.Campos != null)
                    {
                        using (Html.BeginForm("ProcessService", "Kiosko", FormMethod.Post))
                        {
                            <div class="form-horizontal">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-10">
                                    <form>
                                        @Html.Hidden("Id", Model.Id)
                                        @Html.Hidden("pagoID", Model.pagoID)
                                        @Html.Hidden("tarjetaID", Model.tarjetaID)
                                        @Html.Hidden("sku", Model.sku)
                                        @Html.Hidden("fechaLocal", Model.fechaLocal)
                                        @Html.Hidden("horaLocal", Model.horaLocal)
                                        @Html.Hidden("fechaContable", Model.fechaContable)
                                        @Html.Hidden("nombre", Model.nombre)
                                        @Html.Hidden("compañia", Model.compañia)
                                        @Html.Hidden("tipopago", Model.tipoPago)

                                        @Html.Hidden("monto", Model.monto)
                                        <div class="text-center">
                                            <div>
                                                <img alt="logo" width="150" class="img-thumbnail" src="~/Images/@Model.imagenTipo" />
                                            </div>
                                            <div><small class="font-bold lang" key="processcheckservice.title">Pago de Servicios</small></div>
                                        </div>
                                        <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                            <p><strong>@Model.nombre</strong></p>
                                            <label class="lang" key="processcheckservice.instructions">Verifique que el monto coincide con el indicado en su recibo.</label>
                                        </div>
                                        <div class="text-center" style="padding-bottom:15px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        @foreach (var item in Model.DisplayFields)
                                        {
                                            var oValor = item.sValor;
                                            if (item.bEncriptado == true)
                                            {
                                                oValor = PXSecurity.Datalogic.Classes.PXCryptography.PXDecryptFX(item.sValor.ToString(), DIESTEL_ENCRYPTION_KEY);
                                            }
                                            switch (item.iClase)
                                            {
                                                case 0:
                                                    <div class="form-group">
                                                        @Html.Raw(item.sCampo)
                                                        <div class="col-md-6">
                                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor } })
                                                        </div>
                                                    </div>
                                                    break;
                                                case 1:
                                                    <div class="form-group">
                                                        @Html.Raw(item.sCampo)
                                                        <div class="col-md-6">
                                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor } })
                                                        </div>
                                                    </div>
                                                    break;
                                                default:
                                                    break;
                                            }


                                        }
                                        <div class="form-group text-center">
                                            <a href="@Url.Action("Index", "Kiosko")" class="btn btn-default">Cancelar</a>
                                            <input type="submit" formmethod="post" id="btnSubmit" value="Pagar" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        }
                    }
                    else
                    {
                        <div>Lo sentimos, el servicio se encuentra en mantenimiento, favor de intentar más tarde.</div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Section for main scripts render -->
}