﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
    ViewBag.Title = "Pago de Servicios";
}

@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/Pay")
}


<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="kioskoprocesspay.title">Pago de servicio</div>
        <div class="enapdi-color informative-text lang" key="kioskoprocesspay.description">Favor de ingresar los datos correspondientes.</div>
    </div>
</div>

@{
    var sTipo = Model.FirstOrDefault().Tipo;
    var imgCategoria = Model.FirstOrDefault().imagenCompañia;
}

<div class="content pay-form">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("CheckService", "Kiosko", FormMethod.Get, new { id = "processFormKiosko" }))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-horizontal">
                                    <div class="col-lg-8">

                                        <div class="text-center">
                                            <div>
                                                <img alt="logo" width="150" class="img-circle" src="~/Images/@imgCategoria" />
                                            </div>
                                            <div><small class="font-bold lang" key="processpay.title">Pago de Servicios</small></div>
                                        </div>
                                        <div class="text-center" style="padding-bottom:15px;">
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label lang" key="kioskoprocesspay.service">Servicio</label>
                                            <div class="col-sm-8">
                                                <select id="sku" name="sku" class="form-control">
                                                    @foreach (var item in Model)
                                                    {
                                                        <option value="@Html.DisplayFor(modelItem => item.SKU)">@Html.DisplayFor(modelItem => item.Nombre) (@Html.DisplayFor(modelItem => item.SKU))</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @if (sTipo == "IMSS" || sTipo == "CEMEX")
                                            {
                                            }
                                            else
                                            {

                                                if (sTipo == "Iusacell" || sTipo == "Unefon" || sTipo == "Nextel" || sTipo == "Movistar" || sTipo == "Virgin" || sTipo == "Telcel" || sTipo == "Unefon")
                                                {
                                                    <label class="col-sm-4 control-label lang" key="kioskoprocesspay.phone">Telefono</label>
                                                }
                                                else
                                                {
                                                    <label class="col-sm-4 control-label lang" key="kioskoprocesspay.reference">Referencia</label>
                                                }
                                                <div class="col-sm-8">
                                                    <input type="text" id="referencia" name="referencia" class="form-control lang-watermark" key="processpay.insertreference" />
                                                    <br />
                                                    <small class="lang" key="processpay.referencelengthprefix"></small><small>@Model.First().ReferenciaLongitud</small><small class="lang" key="processpay.referencelengthsuffix"></small>
                                                </div>

                                                if (sTipo == "Iusacell" || sTipo == "Unefon" || sTipo == "Nextel" || sTipo == "Movistar" || sTipo == "Virgin" || sTipo == "Telcel" || sTipo == "Unefon")
                                                {
                                                    <label class="col-sm-4 control-label lang" key="processpay.confirmtelephone">Confirmar Teléfono</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="confirmTelephone" name="confirmTelephone" class="form-control lang-watermark" key="processpay.insertreference" />
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="container-fluid" style="padding-top:50px;">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                  
                                                            @switch (sTipo)
                                                            {
                                                                case "Iusacell":
                                                                case "Unefon":
                                                                case "Nextel":
                                                                case "Movistar":
                                                                case "Virgin":
                                                                case "Telcel":
                                                                    <img style="width:100%" src="~/Images/Enpadi-1.png" />;
                                                                    break;
                                                                case "Agua":
                                                                    <img style="width:100%" src="~/Images/Enpadi-6.png" />;
                                                                    break;
                                                                case "CFE":
                                                                    <img style="width:100%" src="~/Images/Enpadi-6.png" />;
                                                                    break;
                                                                case "Gas":
                                                                    <img style="width:100%" src="~/Images/Enpadi-6.png" />;
                                                                    break;
                                                                case "Transporte":
                                                                    <img style="width:100%" src="~/Images/Enpadi-5.png" />;
                                                                    break;
                                                                case "TV":
                                                                    <img style="width:100%" src="~/Images/Enpadi-6.png" />;
                                                                    break;
                                                                case "Telefonia":
                                                                    <img style="width:100%" src="~/Images/Enpadi-1.png" />;
                                                                    break;
                                                                case "Gobiernos":
                                                                    <img style="width:100%" src="~/Images/Enpadi-6.png" />;
                                                                    break;
                                                                default:
                                                                    break;
                                                            }
                                                       
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group vertical-center text-center">
                                    <a href="@Url.Action("Index", "Kiosko")" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                    <input type="submit" class="btn btn-primary lang-button" key="general.select" />
                                    @*<a href="#" class="btn btn-primary lang" key="general.select" onclick='$("#processFormKiosko").submit();'></a>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Section for main scripts render -->

    @Scripts.Render("~/bundles/jqueryval")
}

<script>


    var errorMessage = null;

    if (sessionStorage.lang === "mx") {
        errorMessage = {
            referencia: {
                required: '<div class="lang" key="general.required">Requerido</div>',
                minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">La referencia debe de ser de por lo menos </label> {0} <label class="lang" key="general.minlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">La referencia debe de ser de máximo </label> {0} <label class="lang" key="general.maxlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                number: '<div class="lang" key="general.onlynumbers">Solo se permiten números.</div> <br />'
            },
             amountToPay: {
                required: '<div class="lang" key="general.required">Requerido</div>',
                minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">La referencia debe de ser de por lo menos </label> {0} <label class="lang" key="general.minlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">La referencia debe de ser de máximo </label> {0} <label class="lang" key="general.maxlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                number: '<div class="lang" key="general.onlynumbers">Solo se permiten números.</div> <br />'
            },
            confirmTelephone: {
                equalTo: '<div class="lang" key="general.matchphone">El número teléfonico no coincide</div>',
                minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">La referencia debe de ser de por lo menos </label> {0} <label class="lang" key="general.minlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">La referencia debe de ser de máximo </label> {0} <label class="lang" key="general.maxlenghtsuffix"> dígitos</label>', @Model.First().ReferenciaLongitud),
                number: '<div class="lang" key="general.onlynumbers">Solo se permiten números.</div> <br />'
            },
        };
    } else {
        errorMessage =  errorMessage = {
           referencia: {
               required: '<div class="lang" key="general.required">Required</div>',
               minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">The reference must be at least </label> {0} <label class="lang" key="general.minlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">The reference must be a maximum of </label> {0} <label class="lang" key="general.maxlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               number: '<div class="lang" key="general.onlynumbers">Only numbers are allowed.</div> <br />'
            },
           amountToPay: {
               required: '<div class="lang" key="general.required">Required</div>',
               minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">The reference must be at least </label> {0} <label class="lang" key="general.minlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">The reference must be a maximum of </label> {0} <label class="lang" key="general.maxlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               number: '<div class="lang" key="general.onlynumbers">Only numbers are allowed.</div> <br />'
           },
            confirmTelephone: {
                equalTo: '<div class="lang" key="general.matchphone">The phone númber does not match</div>',
               minlength: jQuery.format('<label class="lang" key="general.minlenghtpreffix">The reference must be at least </label> {0} <label class="lang" key="general.minlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               maxlength: jQuery.format('<label class="lang" key="general.maxlenghtpreffix">The reference must be a maximum of </label> {0} <label class="lang" key="general.maxlenghtsuffix"> digits</label>', @Model.First().ReferenciaLongitud),
               number: '<div class="lang" key="general.onlynumbers">Only numbers are allowed.</div> <br />'
            },
        };;
    }


    jQuery('#processFormKiosko').validate({
        rules: {
            referencia: {
                required: true,
                minlength: @Model.First().ReferenciaLongitud,
                maxlength: @Model.First().ReferenciaLongitud,
                number: true
            },
             amountToPay: {
                required: true,
                 minlength: 1,
                maxlength: 10,
                number: true
            },
            confirmTelephone: {
                required: true,
                minlength: @Model.First().ReferenciaLongitud,
                maxlength: @Model.First().ReferenciaLongitud,
                number: true,
                equalTo: "#referencia"
            }
        },
        messages: errorMessage
    });


</script>