﻿@model Enpadi_WebUI.Models.ViewModelInicio
@using System.Configuration;
@{
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
    ViewBag.Title = "Pago de Servicios";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}


@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/payment")
    @Styles.Render("~/Content/datatables")
}

@section Scripts {
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/chartjs/js")

}

<div class="row">
    <div class="col-lg-4">
        <div class="fa fa-line-chart"></div>
        <label class="lang" key="userindex.dailytransaccion"></label>
    </div>
    <div class="col-lg-2 col-lg-offset-6 text-right">
        <div class="panel-tools">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="row charts">
                    <canvas id="transChart" height="60"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-10">
                <div class="fa fa-area-chart"></div>
                <label class="lang" key="userindex.cellphonetimeprocessed"></label>
            </div>
            <div class="col-lg-2 text-right">
                <div class="panel-tools">
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row charts">
                            <canvas id="chartTaeMontos" height="180"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-10">
                <div class="fa fa-area-chart"></div>
                <label class="lang" key="userindex.servicesprocessed"></label>
            </div>
            <div class="col-lg-2 text-right">
                <div class="panel-tools">
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row charts">
                            <canvas id="chartServicios" height="180"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-10">
                <div class="fa fa-area-chart"></div>
                <label class="lang" key="userindex.cellphonetransactions"></label>
            </div>
            <div class="col-lg-2 text-right">
                <div class="panel-tools">
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row charts">
                            <canvas id="chartTaeTransacciones" height="180"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="col-lg-6">

        <div class="row">
            <div class="col-lg-10">
                <div class="fa fa-area-chart"></div>
                <label class="lang" key="userindex.servicestransactions"></label>
            </div>
            <div class="col-lg-2 text-right">
                <div class="panel-tools">
                </div>
            </div>
        </div>

        <div class="row">
            <div class=" col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="row charts">
                            <canvas id="chartServiciosTransacciones" height="180"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-8">
                <select class="form-control" id="periodo" name="periodo"></select>
            </div>
            <div class="col-lg-4">
                <button class="btn-enpadi lang" onclick="searchPeriod();" key="userindex.generatereport"></button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-xs-4 text-left lang" key="userindex.accountreport"></div>
            <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left lang" key="userindex.monthstartbalance"></div>
            <div class="col-xs-8 text-right"><strong><label id="start_balance"></label></strong> dlls</div>
        </div>
        @*<div class="row">
            <div class="col-xs-4 text-left lang" key="userindex.monthdeposits"></div>
            <div class="col-xs-8 text-right"><label id="deposits"></label></div>
        </div>*@
        <div class="row">
            <div class="col-xs-4 text-left lang" key="userindex.monthcharges"></div>
            <div class="col-xs-8 text-right"><label id="charges"></label> dlls</div>
        </div>
        <div class="row">
            <div class="col-lg-4 text-left lang" key="userindex.monthfinalbalance"></div>
            <div class="col-xs-8 text-right"><strong><label id="final_balance"></label></strong> dlls</div>
        </div>
    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-12">

        <table id="tbl_payment" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th key="">
                        Folio
                    </th>
                    <th key="table.amount">
                        table.amount
                    </th>
                    <th key="table.concept">
                        table.concept
                    </th>
                    <th key="table.status">
                        table.status
                    </th>
                    <th key="table.date">
                        table.date
                    </th>
                    <th key="table.receipt">
                        table.receipt
                    </th>




                    <th key="table.foliotransaction">
                        table.foliotransaction
                    </th>
                    <th key="table.description">
                        table.description
                    </th>
                    <th key="table.reference">
                        table.reference
                    </th>
                    <th key="table.enpadicard">
                        table.enpadicard
                    </th>
                    <th key="table.movementtype">
                        table.movementtype
                    </th>

                    <th key="table.totalforservicemxn">
                        table.totalforservicemxn
                    </th>
                    <th key="table.fee">
                        table.fee
                    </th>
                    <th key="table.tax">
                        table.tax
                    </th>
                    <th key="table.currency">
                        table.currency
                    </th>
        
                    <th key="table.beneficiary">
                        table.beneficiary
                    </th>
                    <th key="table.buyer">
                        table.buyer
                    </th>
    
                </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript">

    function loadCharts() {
        var showStrores = true;
         @if (ConfigurationManager.AppSettings["Region"].ToLower() != "usa")
         {
             <text>
             showStrores = false;
             </text>
         }

        //first graph remove
        //end of first graph

        //second graph

        var rsmTransFechas, rsmTransVisaMC, rsmTransAmex, rsmTransBanco, rsmTransTienda, rsmTransTiempoAire, rsmTransServicios, rsmTransTransfer;

        @if (Model.VisaMC != null) {
            <text>
            // ENTRADAS Y SALIDAS | Número de Transacciones

        rsmTransFechas = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Abono))
                );

        rsmTransVisaMC = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Periodo)),
                @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Transacciones))
                );

        rsmTransAmex = coffeetools.createPointForGraph(
                     @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Amex.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Amex.Select(u => u.Transacciones))
                );

        rsmTransBanco = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Banco.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Banco.Select(u => u.Transacciones))
                );

        rsmTransTienda = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Tienda.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Tienda.Select(u => u.Transacciones))
                );

        rsmTransTiempoAire = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.TAE.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.TAE.Select(u => u.Transacciones))
                );

        rsmTransServicios = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Servicios.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Servicios.Select(u => u.Transacciones)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Servicios.Select(u => u.Socio))
                );

        rsmTransTransfer = coffeetools.createPointForGraph(
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Transferencias.Select(u => u.Periodo)),
                    @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Transferencias.Select(u => u.Transacciones))
                );

            </text>
        }

        var ctx = document.getElementById('transChart').getContext('2d');
        window.myBar = coffeetools.dalilyOfTransactionsChart(
            ctx,
            sessionStorage.lang,
            showStrores,
            rsmTransVisaMC,
            rsmTransAmex,
            rsmTransBanco,
            rsmTransTienda,
            rsmTransTiempoAire,
            rsmTransServicios,
            rsmTransTransfer
        );

        //end of second graph transactions

        // start of third graph top ups amounts

        var taeLabel, taeTelcel, taeMovistar, taeIusacell, taeUnefon, taeNextel, taeVirgin;
        @if (Model.Telcel != null) {
            <text>
            // TIEMPO AIRE | MONTOS
            taeLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Mes));
            taeTelcel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Cargo));
            taeMovistar = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Movistar.Select(u => u.Cargo));
            taeIusacell = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Iusacell.Select(u => u.Cargo));
            taeUnefon = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Unefon.Select(u => u.Cargo));
            taeNextel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Nextel.Select(u => u.Cargo));
            taeVirgin = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Virgin.Select(u => u.Cargo));
            </text>
        }

        var ctx = document.getElementById('chartTaeMontos').getContext('2d');
        window.myBar = coffeetools.topsUpsChart(
            ctx,
            sessionStorage.lang,
            taeLabel,
            taeTelcel,
            taeMovistar,
            taeIusacell,
            taeUnefon,
            taeNextel,
            taeVirgin
        );

        //end of third chart

        //start of forth chart

        var taeTransLabel, taeTransTelcel, taeTransMovistar, taeTransIusacell, taeTransUnefon, taeTransNextel, taeTransVirgin;
        @if (Model.Telcel != null) {
        <text>
        // TIEMPO AIRE | TRANSACCIONES
         taeTransLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Mes));
         taeTransTelcel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Transacciones));
         taeTransMovistar = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Movistar.Select(u => u.Transacciones));
         taeTransIusacell = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Iusacell.Select(u => u.Transacciones));
         taeTransUnefon = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Unefon.Select(u => u.Transacciones));
         taeTransNextel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Nextel.Select(u => u.Transacciones));
         taeTransVirgin = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Virgin.Select(u => u.Transacciones));
        </text>
      }

        var ctx = document.getElementById('chartTaeTransacciones').getContext('2d');
        window.myLine = coffeetools.topUpsTransactionsChart(
            ctx,
            taeTransLabel,
            taeTransTelcel,
            taeTransMovistar,
            taeTransIusacell,
            taeTransUnefon,
            taeTransNextel,
            taeTransVirgin
        );


        //end of fourth chart

        //start of fifth chart

        var serviciosLabel, serviciosData;

        @if (Model.ServiciosMonto != null) {
                <text>
                // PAGO DE SERVICIOS
                 serviciosLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosMonto.Select(u => u.Mes));
                 serviciosData = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosMonto.Select(u => u.Cargo));
                </text>
        }

        var ctx = document.getElementById('chartServicios').getContext('2d');
        window.myBar = coffeetools.billPaymentsChart(
            ctx,
            sessionStorage.lang,
            serviciosLabel,
            serviciosData
        );

        //end of fifth chart

        //start of sixth table

        var serviciosTransLabel, serviciosTransData;

        @if (Model.VisaMC != null) {
            <text>
             // PAGO DE SERVICIOS | TRANSACCIONES
            serviciosTransLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosTransacciones.Select(u => u.Mes));
            serviciosTransData = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosTransacciones.Select(u => u.Total));
            </text>
        }

        var ctx = document.getElementById('chartServiciosTransacciones').getContext('2d');
        window.myLine = coffeetools.billPaymentsTransactionChart(
            ctx,
            sessionStorage.lang,
            serviciosTransLabel,
            serviciosTransData
        );

        //end of sixth chart
    }


    function loadDropdownMonth() {
          $.ajax({
            url: '@Url.Action("LoadBalance", "website")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: 0
            },
            success: function (result) {

                var langresult = coffeetools.changeMonthTextWithKey(result.rmeses);

                $('#periodo').empty();

                $.each(langresult, function (key, value) {
                    $('#periodo')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));
                });
            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadSumary() {
        var periodo = $('#periodo').val();


        if (periodo === undefined || periodo === null) {
            periodo = 0;
        } else {
            periodo = $('#periodo').val();
        }

        $.ajax({
            url: '@Url.Action("LoadBalance", "Kiosko")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {

                $('#date').text(coffeetools.changeMonthFullText(result.periodo_descripcion));
                $('#start_balance').text(result.rsaldoInicial).formatCurrency();
                $('#charges').text(result.rcargos).formatCurrency();
                $('#final_balance').text(result.rsaldoFinal).formatCurrency();
            },
            error: function (result) {
                console.log(result);
            }
        });
    }


    function loadTable() {

        var periodo = $('#periodo').val();


        if (periodo === undefined || periodo === null) {
            periodo = 0;
        } else {
            periodo = $('#periodo').val();
        }

        $.ajax({

            url: '@Url.Action("LoadGeneralReport", "kiosko")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                console.log(result);
                coffeetools.loadtableKioskoFront(result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });
    }

    function searchPeriod() {
        loadSumary();
        loadTable();
    }


    $(window).load(function () {
        loadDropdownMonth();
        loadSumary();
        loadTable();
    });
</script>

