﻿@model Enpadi_WebUI.Models.pagoServicio
@using System.Configuration;

@{
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
    ViewBag.Title = "Pago de Servicios";
    bool bModoProduccion = Convert.ToBoolean(ConfigurationManager.AppSettings["ModoProduccion"]);
    string DIESTEL_ENCRYPTION_KEY = (bModoProduccion) ? ConfigurationManager.AppSettings["Enpadi_WSDiestel_EncryptionKey"] : ConfigurationManager.AppSettings["Test_WSDiestel_EncryptionKey"];
}


@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/processService")
}

@Html.HiddenFor(x => x.Id)

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                            <div class="text-center lang" key="processservice.title" style="padding-bottom:15px;">Estimado Usuario</div>
                            @if (Model.estatus == 1 && Model.codigoRespuesta == 0)
                            {
                                <div class="text-center lang" key="processservice.paymentreport" style="padding-bottom:5px;">
                                    Le informamos que el Pago de su Servicio ha sido
                                </div>
                                <div class="text-center" style="padding-top:20px;">
                                    <i class="fa fa-4x fa-check-circle"></i>
                                </div>
                                <div class="text-center" style="padding-bottom:25px;">
                                    <strong class="lang" key="processservice.approved">APROBADO</strong>
                                </div>

                                <div class="text-center">
                                    <div class="Header">
                                        <div class="Logo_empresa">
                                            <img src="~/Images/enpadi-logo.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="Data">
                                        <div class="text-center">
                                            @*<h3>TWT Servicios S.A. de C.V.</h3>
                                                <h4>CIP130902TE2</h4>
                                                <h4>Rio de la Plata 109</h4>
                                                <h4>Col Del Valle</h4>
                                                <h4>San Pedro Garza García, NL.</h4>
                                                <h4>66220 México</h4>*@
                                            <h4 style="padding-top:10px;">@String.Format("{0} {1}", Model.fechaLocal, Model.horaLocal)</h4>
                                        </div>
                                    </div>
                                    <div class="DT-margin"></div>
                                    <div class="text-center lang" key="processservice.ticket">TICKET DE VENTA</div>
                                    <div class="DT-margin"></div>
                                    <div class="Data">
                                        <div class="text-center" style="padding-top:5px;">
                                            <h5>@Model.nombre</h5>
                                        </div>
                                    </div>

                                    @foreach (var item in Model.DisplayFields)
                                    {
                                        var oValor = item.sValor;

                                        <div class="row">
                                            @switch (item.iClase)
                                            {
                                                case 0: // Es de solo lectura se muestra y no se regresa
                                            @Html.Raw(item.sCampo)
                                            <div class="col-lg-8" style="border-bottom-style: inset;">
                                                @String.Format("{0:C}", oValor)
                                            </div>
                                                    break;
                                                case 1: //  No es de solo lectura se muestra y se regresa
                                            @Html.Raw(item.sCampo)
                                            <div class="col-lg-8" style="border-bottom-style: inset;">
                                                @String.Format("{0:C}", oValor)
                                            </div>
                                                    break;
                                                case 4: //  No es de solo lectura se muestra y se regresa
                                            @Html.Raw(item.sCampo)
                                            <div class="col-lg-8" style="border-bottom-style: inset;">
                                                @String.Format("{0:C}", oValor)
                                            </div>
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </div>
                                    }

                                    <div class="DT-margin"></div>

                                    @if (Model.Campos != null)
                                    {
                                        foreach (var item in Model.Campos)
                                        {
                                            var oValor = item.sValor;
                                            if (item.bEncriptado == true)
                                            {
                                                oValor = PXSecurity.Datalogic.Classes.PXCryptography.PXDecryptFX(item.sValor.ToString(), DIESTEL_ENCRYPTION_KEY);
                                            }

                                            <div class="row">
                                                @switch (item.iClase)
                                                {
                                                    case 6:
                                                        switch (item.sCampo)
                                                        {
                                                            case "TRANSACCION":
                                                <div class="col-sm-4 lang" key="processservice.transaction" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "REFERENCIA":
                                                <div class="col-sm-4 lang" key="processservice.reference" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "CODIGORESPUESTA":
                                                <div class="col-sm-4 lang" key="processservice.responsecode" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "AUTORIZACION":
                                                <div class="col-sm-4 lang" key="processservice.autorization" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "PROVEEDOR":
                                                <div class="col-sm-4 lang" key="processservice.supplier" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "LEYENDA":
                                                <div class="col-sm-4 lang" key="processservice.caption" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "LEYENDA1":
                                                <div class="col-sm-4 lang" key="processservice.caption" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                            case "LEYENDA2":
                                                <div class="col-sm-4 lang" key="processservice.caption" style="text-align:right;"></div>
                                                <div class="col-sm-8" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                                                break;
                                                        }
                                                        break;
                                                    case 7:
                                                <div class="col-sm-12" style="padding-top:10px; padding-bottom:20px;">@String.Format("{0}", oValor)</div>
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            </div>
                                        }
                                    }
                                    <div class="row">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3">
                                            @using (Html.BeginForm("ServiciosImpresion", "Kiosko", @Model, FormMethod.Post, new { target = "_blank" }))
                                            {
                                                <form method="post">
                                                    <input type="submit" id="btnSubmit" value="Imprimir" class="btn btn-primary" />
                                                </form>
                                            }
                                        </div>
                                        <div class="col-lg-3">
                                            <input type="button" id="sendEmail" onclick="OpenSendEmailModalKiosko(&quot; @Model.Id.ToString() &quot;);" value="Enviar por correo" class="btn btn-primary" />
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                            }
                            else
                            {
                                <div class="text-center lang" key="processservice.paymentreport" style="padding-bottom:5px;"></div>
                                <div class="text-center" style="padding-top:20px;"><i class="fa fa-4x fa-times-circle"></i></div>
                                <div class="text-center"><strong class="lang" key="processservice.rejected">RECHAZADO</strong></div>
                                <div class="text-center"><strong>@String.Format("({0}) {1}", Model.codigoRespuesta, Model.codigoRespuestaDescr)</strong></div>
                                <div class="text-center" style="padding-top:20px;">@String.Format("{0}", Model.nombre)</div>
                                <div class="text-center">@String.Format("Referencia: {0}", Model.referencia)</div>
                                <div class="text-center">@String.Format("{0} {1}", Model.fechaLocal, Model.horaLocal)</div>
                                <div class="text-center" style="padding-top:25px; padding-bottom:15px;"><a href="@Url.Action("Index", "Kiosko")" class="btn btn-primary btn-block">Aceptar</a></div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Section for main scripts render -->
}