﻿@model Enpadi_WebUI.Models.LoginViewModel
@using System.Configuration;
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    <!-- Section for main scripts render -->
}

<div class="login-container">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/enpadi-logo.png" width="100%" />
            <div class="text-center m-b-md">
                <h3 class="lang" key="kioskologin.title">Bienvenido a Enpadi Partner</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("LogInValidation", "Kiosko", FormMethod.Post, new { @class = "form", role = "form", @id="kioskologinform", @name= "kioskologinform" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <label class="lang" key="kioskologin.email"></label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="lang" key="kioskologin.password"></label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            @*<input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.colorNavBtn" />*@

                            <a href="#" class="btn btn-primary btn-block lang" key="kioskologin.login" onclick="$('#kioskologinform').submit();">Iniciar sessión</a>
                        }
                        <small class="lang" key="kioskologin.info">
                            <br />
                            Proporcione sus datos de acceso.
                            Si aún no cuenta con una cuenta,
                            favor de comunicarse a Enpadi.
                        </small>
                        <br/>
                        <div id="div_lang_bar" class="lang-div-lang-bar-user pull-right">
                            <select id="translate" onchange="ChangeLanguage();">
                                <option value="mx">
                                    Español
                                </option>
                                <option value="en">
                                    English
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Section for main scripts render -->
}

<script type="text/javascript">

    $(window).load(function () {

        if (sessionStorage.lang == undefined) {
            sessionStorage.lang = "mx";
        }

        $("#translate").val(sessionStorage.lang);

        if (window.location.href === "https://www.enpadi.com/usa/") {
            window.location.href = "https://www.enpadi.com/usa/website/index";
        }

        if (window.location.href === "https://www.enpadi.com/mx/") {
            window.location.href = "https://www.enpadi.com/mx/website/index";
        }
    });


    Transalate();

    function ChangeLanguage() {
        sessionStorage.lang = $("#translate").val();
        Transalate();
    }

    function Transalate() {
        var arrLang = {};
        var lang = sessionStorage.lang;
        var languageFileUrl = "";
        var _pageRegion = "@pageRegion";

        console.log("translate executed with lang " + lang + " and region " + _pageRegion);



        if (_pageRegion === "usa") {
            languageFileUrl = "../lang/generalLang.json";
        } else {
            languageFileUrl = "../lang/generalLang.json";
        }

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });
        });
    }
</script>