﻿@model Enpadi_WebUI.Models.ViewModelProcessCemex

@{
    ViewBag.Title = "ProcessCemex";
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/website_processcheckservice")
}

@section Scripts {
    <!-- Section for main scripts render -->
}


<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="processcemex.title">Pago de servicio</div>
        <div class="enapdi-color informative-text lang" key="processcemex.description">Favor de ingresar los datos correspondientes.</div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("ProcessCemexPayment", "kiosko", FormMethod.Post, new { @id = "cemexformkiosko" }))
                    {
                        @Html.Hidden("Id", Model.opagoId);
                        @Html.Hidden("sku", Model.sku_service);
                        <div class="form-horizontal">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8">

                                <div class="text-center">
                                    <div>
                                        <img alt="logo" width="150" class="img-thumbnail" src="~/Images/cemex.jpg" />
                                    </div>
                                    <div><small class="font-bold lang" key="processcemex.title">Pago de Servicios</small></div>
                                </div>
                                <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                    <p><strong></strong></p>

                                    <label class="lang" key="processcemex.instructions">Proporcione la información solicitada.</label>

                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                @foreach (var item in Model.DisplayFields)
                                {
                                    var oValor = item.sValor;

                                    <div class="row">
                                            @switch (item.iClase)
                                            {
                                                case 0: // Es de solo lectura se muestra y no se regresa
                                                    @Html.Raw(item.sCampo)
                                                    <div class="col-lg-8" style="border-bottom-style: groove;">
                                                        @oValor
                                                    </div>
                                                    break;
                                                case 1: //  No es de solo lectura se muestra y se regresa
                                                    @Html.Raw(item.sCampo)
                                                    <div class="col-lg-8" style="border-bottom-style: groove;">
                                                        @oValor
                                                    </div>
                                                    break;
                                                default:
                                                    break;
                                            }
                                    </div>
                                }
                                <br />
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.beneficiaryname">Nombre del beneficiario</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.beneficiaryname" id="name" name="name" aria-describedby="" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processimss.beneficiarynamelast">Apellido Paterno del beneficiario</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processimss.beneficiarynamelast" id="namelast" name="namelast" aria-describedby="" placeholder="Apellido Paterno">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processimss.beneficiarynamemothers">Apellido Materno del beneficiario</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processimss.beneficiarynamemothers" id="namemothers" name="namemothers" aria-describedby="" placeholder="Apellido Materno">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.beneficiaryphone">Teléfono del beneficiario</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.beneficiaryphone" id="phone_number" name="phone_number" aria-describedby="" placeholder="Tel. Beneficiario">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.beneficiarycellphone">Celular del beneficiario</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.beneficiarycellphone" id="cell_phone_number" name="cell_phone_number" aria-describedby="" placeholder="Celular beneficiario">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.beneficiaryemail">Email del beneficiario (opcional)</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.beneficiaryemail" id="email" name="email" aria-describedby="" placeholder="Email beneficiario">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.buyername">Nombre del comprador</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.buyername" id="buyer_name" name="buyer_name" aria-describedby="" placeholder="Nombre del comprador">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.buyerphone">Teléfono del comprador</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.buyerphone" id="buyer_phone_number" name="buyer_phone_number" aria-describedby="" placeholder="Tel. del comprador">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label class="lang" key="processcemex.buyeremail">Email del comprador (opcional)</label>
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="text" class="form-control lang-watermark" key="processcemex.buyeremail" id="buyer_email" name="buyer_email" aria-describedby="" placeholder="Email del comprador">
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <a href="@Url.Action("Index", "Kiosko")" class="btn btn-default">Cancelar</a>
                                    <input type="submit" id="btnSubmit" value="Pagar" class="btn btn-primary" />
                                </div>

                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                                                }

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /[a-zA-Záéíóúüñç]+/i.test(value);
        }, '');


        var objMessages = null;

        if (sessionStorage.lang === "en") {
            objMessages = {
                name: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Only letters are allowed.</div>'
                },
                namelast: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Only letters are allowed.</div>'
                },
                namemothers: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Only letters are allowed.</div>'
                },
                phone_number: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">The telephone number must be 10 digits</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">The telephone number must be 10 digits</div>',
                    digits: "<div class='lang' key='general.onlynumbers'></div>"
                },
                cell_phone_number: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">The telephone number must be 10 digits</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">The telephone number must be 10 digits</div>',
                    digits: "<div class='lang' key='general.onlynumbers'></div>"

                },
                email: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    email: '<div class="lang" key="general.emailrequired">Required, check the format.</div>'
                },
                buyer_name: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Only letters are allowed.</div>'
                },
                buyer_phone_number: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">The telephone number must be 10 digits</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">The telephone number must be 10 digits</div>',
                    digits: "<div class='lang' key='general.onlynumbers'>Only digit are allowed.</div>"
                },
                buyer_email: {
                    required: '<div class="lang" key="general.required">Required</div>',
                    email: '<div class="lang" key="general.emailrequired">Required, check the format.</div>'
                }
            };
        } else {
            objMessages = {
                name: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Solo se permiten letras.</div>'
                },
                namelast: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Solo se permiten letras.</div>'
                },
                namemothers: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Solo se permiten letras.</div>'
                },
                phone_number: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    digits: "<div class='lang' key='general.onlynumbers'>Solo se permiten dígitos</div>"
                },
                cell_phone_number: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    digits: "<div class='lang' key='general.onlynumbers'>Solo se permiten dígitos</div>"

                },
                email: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    email: '<div class="lang" key="general.emailrequired">Requerido, revisar el formato.</div>'
                },
                buyer_name: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    lettersonly: '<div class="lang" key="general.onlyletters">Solo se permiten letras.</div>'
                },
                buyer_phone_number: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    minlength: '<div class="lang" key="general.minlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    maxlength: '<div class="lang" key="general.maxlenghtphonenumber">El número telefónico debe de ser de 10 dígitos.</div>',
                    digits: "<div class='lang' key='general.onlynumbers'>Solo se permiten dígitos</div>"
                },
                buyer_email: {
                    required: '<div class="lang" key="general.required">Requerido</div>',
                    email: '<div class="lang" key="general.emailrequired">Requerido, por favor revisar el formato.</div>'
                }
            };
        }


        jQuery('#cemexformkiosko').validate({
            lang: "mx",
            rules: {
                name: {
                    required: true,
                    lettersonly: true
                },
                namelast: {
                    required: true,
                    lettersonly: true
                },
                namemothers: {
                    required: true,
                    lettersonly: true
                },
                phone_number: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 10
                },
                cell_phone_number: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 10
                },
                email: {
                    email: true
                },
                buyer_name: {
                    required: true,
                    lettersonly: true
                },
                buyer_phone_number: {
                    required: true,
                    digits: true,
                    minlength: 10,
                    maxlength: 10
                },
                buyer_email: {
                    email: true
                }
            },
            messages: objMessages
        });
    });

</script>