﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    ViewBag.Title = "ProcessPay";
    Layout = "~/Views/Shared/_Layout_Kiosko.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->
    @Styles.Render("~/Content/website_processpay")
}

@section Scripts {
    <!-- Section for main scripts render -->
}

<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="kioskoprocesspay.title">Pago de servicio</div>
        <div class="enapdi-color informative-text lang" key="kioskoprocesspay.description">Favor de ingresar los datos correspondientes.</div>
    </div>
</div>

@{
    var sTipo = Model.FirstOrDefault().Tipo;
    var imgCategoria = Model.FirstOrDefault().imagenCompañia;
}

<div class="content pay-form">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("CheckService", "kiosko", FormMethod.Get))
                    {
                        <div class="form-horizontal">
                            <div class="col-lg-12">
                                <form>
                                    <div class="text-center">
                                        <div>
                                            <img alt="logo" width="150" class="img-circle" src="~/Images/@imgCategoria" />
                                        </div>
                                        <div><small class="font-boldlang" key="kioskoprocesspay.pay">Pago de Servicios</small></div>
                                    </div>
                                    <div class="text-center" style="padding-bottom:15px;">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label lang" key="kioskoprocesspay.service">Servicio</label>
                                        <div class="col-sm-5 form-group">
                                            <select id="sku" name="sku" class="form-control">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@Html.DisplayFor(modelItem => item.SKU)">@Html.DisplayFor(modelItem => item.Nombre) (@Html.DisplayFor(modelItem => item.SKU))</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @if (sTipo == "IMSS")
                                        {
                                        }
                                        else
                                        {
                                            if (sTipo == "Iusacell" || sTipo == "Unefon" || sTipo == "Nextel" || sTipo == "Movistar" || sTipo == "Virgin" || sTipo == "Telcel" || sTipo == "Unefon")
                                            {
                                                <label class="col-sm-4 control-label lang" key="kioskoprocesspay.phone">Teléfono</label>
                                            }
                                            else
                                            {
                                                <label class="col-sm-4 control-label lang" key="kioskoprocesspay.reference">Referencia</label>
                                            }
                                            <div class="col-sm-5 form-group">
                                                <input type="text" id="referencia" name="referencia" class="form-control" />
                                            </div>
                                        }
                                    </div>
                                    <div class="form-group text-center">
                                        <a href="~/website/pay?m=pay" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                        <input type="submit" id="btnSubmit"  key="general.select" value="Seleccionar" class="btn btn-primary lang" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
