﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    ViewBag.Title = "Delete";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Recargar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contactos Enpadi
            </h2>
            <small>Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    Eliminar Contacto
                </div>

                <div class="panel-body">
                    <div class="form-horizontal">
                        <h3>Estas seguro de querer elimiar este contacto?</h3>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.contactoTarjeta)</dt>
                                <dd>@Html.DisplayFor(model => model.contactoTarjeta)</dd>
                                <dt>@Html.DisplayNameFor(model => model.contactoAlias)</dt>
                                <dd>@Html.DisplayFor(model => model.contactoAlias)</dd>
                            </dl>

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-actions no-color">
                                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                    @Html.ActionLink("Volvel al Listado", "Index")
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




