﻿@model Enpadi_WebUI.Models.posProducto

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>posProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moneda.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneda.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posCategoria.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posCategoria.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posTienda.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posTienda.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posUnidad.unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posUnidad.unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
