﻿@model Enpadi_WebUI.Models.posProducto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>posProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.moneda.codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moneda.codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posCategoria.categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posCategoria.categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posTienda.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posTienda.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posUnidad.unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posUnidad.unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.productoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
