﻿@model IEnumerable<Enpadi_WebUI.Models.posProducto>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Tienda Virtual</span></li>
                    <li><span>Productos</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda Virtual | Productos
            </h2>
            <small>Configuración de Productos para la Tienda Virtual</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Crear nuevo Producto", "Create")
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.moneda.codigo)</th>
                                    <th>@Html.DisplayNameFor(model => model.posCategoria.categoria)</th>
                                    <th>@Html.DisplayNameFor(model => model.posTienda.nombre)</th>
                                    <th>@Html.DisplayNameFor(model => model.posUnidad.unidad)</th>
                                    <th>@Html.DisplayNameFor(model => model.producto)</th>
                                    <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.imagen)</th>
                                    <th>@Html.DisplayNameFor(model => model.monto)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.moneda.codigo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.posCategoria.categoria)</td>
                                        <td>@Html.DisplayFor(modelItem => item.posTienda.nombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.posUnidad.unidad)</td>
                                        <td>@Html.DisplayFor(modelItem => item.producto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.imagen)</td>
                                        <td>@Html.DisplayFor(modelItem => item.monto)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.productoID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.productoID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.productoID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
