﻿@model Enpadi_WebUI.Models.tarjetas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tarjetas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudades.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudades.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estados.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estados.nombre)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.paises.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paises.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productos.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productos.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcMD5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcMD5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcAnio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcAnio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcDigitos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcDigitos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcNIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcNIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcAsignada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcAsignada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcActiva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcActiva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limActivacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limActivacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limDepMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limDepMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limDepMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limDepMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limDepDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limDepDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limDepSem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limDepSem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limDepMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limDepMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limRetMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limRetMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limRetMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limRetMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limRetDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limRetDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limRetSem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limRetSem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limRetMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limRetMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limTransMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limTransMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limTransMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limTransMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limTransDia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limTransDia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limTransSem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limTransSem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.limTransMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.limTransMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datPaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datPaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datMaterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datMaterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datDir1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datDir1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datDir2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datDir2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datFax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datFax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datNextel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datNextel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datBlackPin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datBlackPin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacionInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacionInfo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacionFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacionFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacionValida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacionValida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tarjetaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
