﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasListado>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Tarjetas</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Cuentas
            </h2>
            <small>Cuentas administradas por la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Cuenta", "Create")
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.producto)</th>
                                    <th>@Html.DisplayNameFor(model => model.codigo)</th>
                                    <th>@Html.DisplayNameFor(model => model.tcNum)</th>
                                    <th>@Html.DisplayNameFor(model => model.datNombre)</th>
                                    <th>@Html.DisplayNameFor(model => model.datPaterno)</th>
                                    <th>@Html.DisplayNameFor(model => model.datMaterno)</th>
                                    <th>@Html.DisplayNameFor(model => model.Saldo)</th>
                                    <th>@Html.DisplayNameFor(model => model.tcAsignada)</th>
                                    <th>@Html.DisplayNameFor(model => model.tcActiva)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.producto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.codigo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tcNum)</td>
                                        <td>@Html.DisplayFor(modelItem => item.datNombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.datPaterno)</td>
                                        <td>@Html.DisplayFor(modelItem => item.datMaterno)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => item.Saldo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tcAsignada)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tcActiva)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.tarjetaID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.tarjetaID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.tarjetaID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
