﻿@model IEnumerable<Enpadi_WebUI.Models.resumenSaldos>

@{
    ViewBag.Title = "Resúmen de Saldos";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Tarjetas</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Resúmen de Saldos
            </h2>
            <small>Resúmen de Cuentas con Saldo actualmente</small>
        </div>
    </div>
</div>


<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @*@Html.ActionLink("Agregar Cuenta", "Create")*@
                </div>

                <div class="panel-body">
                    <div class="row">
                        <canvas id="chartResumenSaldos" height="100"></canvas>
                    </div>

                    <div class="row">
                        <div class="table-responsive">
                            <table cellpadding="1" cellspacing="1" class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/chartjs/js")

    <script type="text/javascript">

        window.onload = function () {
            var saldosLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Select(u => u.Periodo));
            var saldosData = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Select(u => u.Saldo));

            var saldosConfig = {
                labels: saldosLabel,
                datasets: [{
                    label: 'Resúmen de Saldos',
                    backgroundColor: 'rgba(151,187,205,0.5)',
                    data: saldosData
                }]
            }

            var ctx = document.getElementById('chartResumenSaldos').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: saldosConfig,
                options: {
                    title: {
                        display: true,
                        text: 'Resumen de Saldos'
                    },
                    tooltips: {
                        mode: 'label'
                    },
                    responsive: true,
                    scales: {
                        xAxes: [{
                            stacked:true
                        }],
                        yAxes: [{
                            stacked:true,
                            ticks: {
                                callback: function(value, index, values) {
                                    value = value.toString();
                                    value = value.split(/(?=(?:...)*$)/);
                                    value = value.join(',');
                                    return '$' + value;
                                }
                            }
                        }]
                    }
                }
            })
        }

    </script>
}