﻿@model IEnumerable<Enpadi_WebUI.Models.openpayCard>
@using System.Configuration;

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Recargar TC";
}

<div class="content animated-panel">

    <div class="row">
        <div class="hpanel">
            <div class="panel-body">
                <a href="@Url.Action("AdminCardMobile", "Mobile")" class="btn btn-primary btn-block">Administrar mis Tarjetas</a>
                <div class="text-center">
                    <img alt="logo" class="img-circle" src="~/Images/Visa_Mastercard.png" height="100" />
                </div>
                <div class="text-center" style="margin-bottom:0px">
                    <h4 class="m-b-xs">Tarjeta Crédito/Débito</h4>
                    <p class="small">Visa / MasterCard / AMEX / Carnet</p>
                </div>
                <div class="text-center">
                    <img alt="logo" class="img-circle" src="~/Images/cards1.png" width="150" />
                </div>
                <div class="text-center">
                    <img alt="logo" class="img-circle" src="~/Images/cards2.png" width="280" />
                </div>

                <div style="margin-top:25px;">
                    <form action="#" method="post" id="payment-form">
                        <input type="hidden" name="token_id" id="token_id" />
                        <div class="form-group">
                            <label class="control-label">Seleccione la Tarjeta a utilizar</label>
                            <select id="source_id" name="source_id" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.CardID">@string.Format("{0} **** **** {1}", item.CardNumber.Substring(0, 4), item.CardNumber.Substring(item.CardNumber.Length - 4))</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Seleccione el Monto de Recarga</label>
                            <select id="amount" name="amount" class="form-control">
                                <option value="100">$ 100.00 MN</option>
                                <option value="250">$ 250.00 MN</option>
                                <option value="500">$ 500.00 MN</option>
                                <option value="800">$ 800.00 MN</option>
                                <option value="1000">$1,000.00 MN</option>
                                <option value="2500">$2,500.00 MN</option>
                            </select>
                        </div>
                        <div class="col-xs-12" style="padding-top:5px;">
                            <input type="submit" id="pay-button" class="btn btn-danger btn-block" value="Pagar" />
                        </div>
                        <div class="col-xs-12" style="margin-top:10px;">
                            <a href="@Url.Action("Reload", "Mobile")" class="btn btn-default btn-block">Cancelar</a>
                        </div>
                    </form>
                </div>

                <div class="text-center" style="margin-top:25px;">
                    <div><small>Transacciones vía:</small></div>
                    <img alt="logo"  src="~/Images/openpay.png" width="100" />
                    <div style="margin-top:15px;"><small>Tus pagos se realizan de forma segura con encriptación de 256 bits</small></div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" id="card-points-dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Pagar con Puntos</h4>
            </div>
            <div class="modal-body">
                <p>¿Desea usar los puntos de su tarjeta para realizar este pago?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="points-no-button">No</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="points-yes-button">Si</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var EnpadiProductionMode = @ConfigurationManager.AppSettings["ModoProduccion"].ToLower();

            var OpenPayId = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_Id"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_Id"]';
            var OpenPayPublic = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_PublicKey"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_PublicKey"]';

            OpenPay.setId(OpenPayId);
            OpenPay.setApiKey(OpenPayPublic);
            OpenPay.setSandboxMode(!EnpadiProductionMode);

            //Se genera el id de dispositivo
            var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceSessionId");
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
    </script>
}