﻿@model IEnumerable<Enpadi_WebUI.Models.openpayCard>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Index";
}


<div class="content animated-panel">
    <div class="row">

            <div class="hpanel">
                <div class="panel-body">
                    
                    <div class="text-center">
                        <img alt="logo" class="img-circle" src="~/Images/Visa_Mastercard.png" height="100" />
                    </div>
                    <div class="text-center" style="margin-bottom:0px">
                        <h4 class="m-b-xs">Tarjetas Registradas</h4>
                        <p class="small">Visa / MasterCard / AMEX / Carnet</p>
                    </div>
                    <div class="text-center">
                        <img alt="logo" class="img-circle" src="~/Images/cards1.png" width="150" />
                    </div>
                    <div class="text-center">
                        <img alt="logo" class="img-circle" src="~/Images/cards2.png" width="280" />
                    </div>

                    @foreach (var item in Model)
                    {
                        <hr />
                        <div class="form-group text-center">
                            <div>@Html.DisplayFor(modelItem => item.HolderName)</div>
                            @{string sTarjeta = Html.DisplayFor(modelItem => item.CardNumber).ToString();}
                            <div><strong>@string.Format("{0} **** **** {1}", sTarjeta.Substring(0, 4), sTarjeta.Substring(sTarjeta.Length - 4, 4))</strong></div>
                            <div>Vencimiento @Html.DisplayFor(modelItem => item.ExpirationMonth) / @Html.DisplayFor(modelItem => item.ExpirationYear)</div>
                        </div>
                    }
                    <hr />
                    <div>
                        <a href="@Url.Action("AddCardMobile", "Mobile")" class="btn btn-primary btn-block">Agregar Tarjeta</a>
                    </div>
                    <div class="text-center text-danger" style="margin-top:15px;">
                        <strong>LIMITE DE REGISTRO</strong><br />El Maximo de Tarjetas que puedes tener Registradas son 3 (tres)
                    </div>
                </div>
            </div>

    </div>
</div>
