﻿@model Enpadi_WebUI.Models.ViewModelEstadoDeCuenta

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Balance";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel">
    <div class="hpanel">
        <div class="panel-body">

            <div class="text-center" style="padding-top:20px; padding-bottom:20px; background-color:#ffffff;">
                @{
                    if (ViewBag.skinApp.childImage != null)
                    {
                        <img src="~/Images/@ViewBag.skinApp.childImage" height="100" />
                    }
                }
            </div>

            <div class="form-horizontal">
                <div class="col-sm-12" style="padding-bottom:15px;">
                    @{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}
                    <div class="row">
                        <h5>Estado de Cuenta</h5>
                        <h5 style="color:#@ViewBag.skinApp.mobileNavBtnHover;">@Model.usuario.tcNum</h5>
                        <h5 style="color:#@ViewBag.skinApp.mobileNavBtnHover;">@nombreUsuario</h5>
                        <h5>@String.Format("{0:MMMM yyyy}", DateTime.Now).ToUpper()</h5>
                    </div>
                    <div class="row" style="padding-top:10px;">
                        <div class="text-right"><strong style="color:#@ViewBag.skinApp.mobileNavBtnHover;">Saldo Inicial @string.Format("{0:C} MXN", Model.saldoInicial)</strong></div>
                        <div class="text-right">@string.Format("Abonos {0:C} MXN", Model.abonos)</div>
                        <div class="text-right">@string.Format("Cargos {0:C} MXN", Model.cargos)</div>
                        <div class="text-right"><strong style="color:#@ViewBag.skinApp.mobileNavBtnHover;">Saldo Final @string.Format("{0:C} MXN", Model.saldoFinal)</strong></div>
                    </div>
                </div>

                @{var headerData = Model.movimientos.FirstOrDefault();}
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table" style="background-color:#ffffff; color:#@ViewBag.skinApp.mobileNavBtnHover;">
                        <thead style="background-color:#d8d8d0;">
                            <tr>
                                <th>@Html.DisplayNameFor(model => headerData.socio)</th>
                                <th>@Html.DisplayNameFor(model => headerData.concepto)</th>
                                <th class="text-center">@Html.DisplayNameFor(model => headerData.monto)</th>
                                <th>@Html.DisplayNameFor(model => headerData.estatus)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.movimientos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.socio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                    <td class="text-right">@Html.DisplayFor(modelItem => item.monto) @Html.DisplayFor(modelItem => item.moneda)</td>
                                    <td>@Html.DisplayFor(modelItem => item.estatus)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="text-center" style="padding-top:25px;">
                    <a href="@Url.Action("Index", "Mobile")" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">ACEPTAR</a>
                </div>

            </div>
        </div>
    </div>
</div>
