﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Eliminar Contacto";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">
        <a href="@Url.Action("Index", "Mobile")" class="btn btn-lg btn-block" style="background-color:#@ViewBag.skinApp.colorNavBar; color:#ffffff; border:none;">
            <img class="pull-left" src="~/Images/homeIcon.png" height="25" />Agregar Amigo<img class="pull-right" src="~/Images/backIcon.png" height="25" />
        </a>
        <div class="panel-body" style="height:90%">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.contactoTarjeta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.contactoTarjeta)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.contactoAlias, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DisplayFor(model => model.contactoAlias)
                    </div>
                </div>
                <h4 class="text-danger text-center">¿Deseas ELIMINAR este contacto?</h4>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color text-center">
                        <a href="@Url.Action("ContactIndex", "Mobile")" class="btn btn-default">Cancelar</a>
                        <input type="submit" value="Eliminar" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>