﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Transfers";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">
        <a href="@Url.Action("Index", "Mobile")" class="btn btn-lg btn-block" style="background-color:#@ViewBag.skinApp.colorNavBar; color:#ffffff; border:none;">
            <img class="pull-left" src="~/Images/homeIcon.png" height="25" />Agregar Amigo<img class="pull-right" src="~/Images/backIcon.png" height="25" />
        </a>
        <div class="panel-body" style="height:90%;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.contactoID)
                    @Html.HiddenFor(model => model.tarjetaID)
                    <div class="form-group">
                        @Html.LabelFor(model => model.contactoTarjeta, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.contactoTarjeta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.contactoTarjeta, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.contactoAlias, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.contactoAlias, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.contactoAlias, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("ContactIndex", "Mobile")" class="btn btn-default">Cancelar</a>
                            <input type="submit" value="Guardar" class="btn" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff;" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>