﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasContactos>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Transfers";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">
        <div class="panel-body" style="height:90%;">
            <div class="text-right" style="padding-bottom:15px;">
                <strong>@Html.ActionLink("Agregar Amigo", "ContactNew")</strong>
            </div>
            <div class="table-responsive">
                <table cellpadding="1" cellspacing="1" class="table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.contactoTarjeta)</th>
                            <th>@Html.DisplayNameFor(model => model.contactoAlias)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.contactoTarjeta).ToString().Substring(item.contactoTarjeta.Length - 4, 4)</td>
                                <td>@Html.DisplayFor(modelItem => item.contactoAlias)</td>
                                <td>
                                    @Html.ActionLink("Editar", "ContactEdit", new { id = item.contactoID }) |
                                    @Html.ActionLink("Ver", "ContactDetails", new { id = item.contactoID }) |
                                    @Html.ActionLink("Eliminar", "ContactDelete", new { id = item.contactoID })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style ="margin-top:25px;">
                <a href="@Url.Action("Index", "Mobile")" class="btn btn-default btn-block">CANCELAR</a>
            </div>
        </div>

    </div>
</div>
