﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Transfers";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">
        <a href="@Url.Action("Index", "Mobile")" class="btn btn-lg btn-block" style="background-color:#@ViewBag.skinApp.colorNavBar; color:#ffffff; border:none;">
            <img class="pull-left" src="~/Images/homeIcon.png" height="25" />Agregar Amigo<img class="pull-right" src="~/Images/backIcon.png" height="25" />
        </a>
        <div class="panel-body" style="height:90%;">
            <div>
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.contactoTarjeta)</dt>
                    <dd>@Html.DisplayFor(model => model.contactoTarjeta)</dd>
                    <dt>@Html.DisplayNameFor(model => model.contactoAlias)</dt>
                    <dd>@Html.DisplayFor(model => model.contactoAlias)</dd>
                </dl>
            </div>
            <div class="text-center">
                <a href="@Url.Action("ContactEdit", "Mobile", new { id = Model.contactoID })" class="btn btn-default">Editar</a>
                <a href="@Url.Action("ContactIndex", "Mobile")" class="btn" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff;">Cancelar</a>
            </div>
        </div>
    </div>
</div>
