﻿@model Enpadi_WebUI.Models.ViewModelNavigation

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

@{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center" style="padding-top:20px; padding-bottom:20px;">
                    @{
                        if (ViewBag.skinApp.homeImage != null)
                        {
                            <img src="~/Images/@ViewBag.skinApp.homeImage" width="150" />
                        }
                    }
                </div>
                <div class="row" style="background-color:#@ViewBag.skinApp.homeColor;">
                    <div class="text-center" style="padding-top:10px;">
                        <h2 style="color:#ffffff;">@string.Format("{0:C} MXN", Model.saldoActual)</h2>
                    </div>
                    <div class="text-center" style="padding-bottom:10px;">
                        <h6 style="color:#ffffff;">@String.Format("{0:dddd, dd MMMM yyyy, h:mm:ss tt}", DateTime.Now)</h6>
                    </div>
                </div>
                <div>

                    <div class="col-xs-12">
                        <div style="padding-top:25px;">
                            <a href="@Url.Action("Payment", "Mobile")" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">PAGAR EN MOVIL</a>
                        </div>
                        <div style="padding-top:10px;">
                            <a href="@Url.Action("Barcode", "Mobile")" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">PAGAR EN SITIO</a>
                        </div>
                        <div style="padding-top:10px;">
                            <a href="@Url.Action("Transfer", "Mobile")" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">TRANSFERIR</a>
                        </div>
                        <div style="padding-top:10px;">
                            <a href="@Url.Action("Reload", "Mobile")" class="col-xs-5 btn btn-primary" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">RECARGAR</a>
                            <a href="@Url.Action("Balance", "Mobile")" class="col-xs-offset-1 col-xs-6 btn btn-primary" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">EDO CTA</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
