﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

<div class="content animated-panel" style="height:100%">
    <div class="row" style="height:100%">
        <div class="col-md-12" style="height:100%">
            <div class="hpanel" style="height:100%">
                <div class="panel-body" style="height:100%">
                    <div class="text-center" style="padding-bottom:25px;">
                        <img src="~/Images/enpadi-logo.png" width="250" style="padding-top:15px;" />
                    </div>
                    <div>
                        <button class="btn btn-default btn-lg btn-block" type="button"><i class="fa fa-map-marker"></i>Map</button>
                    </div>
                    <div>
                        <button class="btn btn-default btn-lg btn-block" type="button"><i class="fa fa-map-marker"></i>Map</button>
                    </div>
                    <div>
                        <button class="btn btn-default btn-lg btn-block" type="button"><i class="fa fa-map-marker"></i>Map</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>