﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

<style>
    .panel-body:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel" style="padding-top:0px; padding-bottom:0px;">
    <div class="row">
        <div class="hpanel" style="margin:0;">
            <div class="text-center">
                @{
                    if (ViewBag.skinApp.childImage != null)
                    {
                        <img src="~/Images/@ViewBag.skinApp.childImage" height="100" />
                    }
                }
            </div>
            <div class="hpanel" style="margin:0;">
                <div class="panel-body">
                    <div class="text-center"><strong>Selecciona el Tipo de Servicio</strong></div>
                </div>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Telcel" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/1telcel.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Telcel</h4>
                        <p class="small">Recarga Tiempo Aire</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Movistar" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/2Movistar.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Movistar</h4>
                        <p class="small">Recarga Tiempo Aire, Internet y SMS</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Unefon" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/3unefon.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Unefon</h4>
                        <p class="small">Recarga Tiempo Aire</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Iusacell" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/4Usacell.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Iusacell</h4>
                        <p class="small">Recarga Tiempo Aire</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Nextel" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/5nextel.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Nextel</h4>
                        <p class="small">Recarga Tiempo Aire</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Virgin" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/VirginMobile.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Virgin Mobile</h4>
                        <p class="small">Recarga Tiempo Aire</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Agua" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/8Agua.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Agua</h4>
                        <p class="small">Paga tu Recibo de Agua Potable</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ServicesReference", "Mobile", new { sku = "8469760000149" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/9CFE.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">CFE</h4>
                        <p class="small">Paga tu Recibo de Electricidad</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Gas" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/10Gas.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Gas</h4>
                        <p class="small">Paga tu Recibo de Gas</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Telefonia" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/13Telefonia.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Telefonia</h4>
                        <p class="small">Servicios de Telefonia Fija y Movil</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "TV" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/17Tvporcable.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">TV por Cable</h4>
                        <p class="small">Paga tu Servicio de TV por Cable</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Productos" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/12Compra de productos.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Productos</h4>
                        <p class="small">Paga Productos Diversos</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Transporte" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/11Transporte.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Transporte</h4>
                        <p class="small">Paga Boletos de Avion, Autobus, etc.</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ServicesReference", "Mobile", new { sku = "8469760000187" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/14Infonavit.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Infonavit</h4>
                        <p class="small">Paga tu Credito Infonavit</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Creditos" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/15Pago de Creditos.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Creditos</h4>
                        <p class="small">Paga diversos creditos</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Gobiernos" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/16Gobierno.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Gobierno</h4>
                        <p class="small">Paga Impuestos, Multas y Otros</p>
                    </div>
                </a>
            </div>



            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("Services", "Mobile", new { tipo = "Medios" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/18Medios de pago.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Medios de Pago</h4>
                        <p class="small">Utiliza diversos Medios de Pago</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("SantiagoNL", "Mobile")">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/Santiago.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Santiago, NL.</h4>
                        <p class="small">Consulta y Paga tu Predial</p>
                    </div>
                </a>
            </div>

            @*<div class="hpanel" style="margin:0;">
                <a href="http://www.enpadi.com/fuerzaregia/" target="_blank">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/FR logo.png" height="60" />
                            <img alt="logo" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Fuerza Regia</h4>
                        <p class="small">Adquiere Souvenirs de Fuerza Regia</p>
                    </div>
                </a>
            </div>*@

        </div>
    </div>

</div>