﻿@model Enpadi_WebUI.Models.pagoBanco

@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Enapdi | Deposito Referenciado";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pago en Banco</title>

    <style>
        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            color: #414042;
        }

        h1 {
            font-size: 12px;
            font-weight: lighter;
            margin: 8px 0 0 0;
        }

        h2 {
            color: #003366;
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 15px 0;
        }

            h2 span {
                font-size: 30px;
            }

            h2 small {
                font-size: 20px;
            }

        h3 {
            font-size: 14px;
            font-weight: lighter;
            color: #435f82;
            margin: 8px 0;
        }

        p {
            font-size: 12px;
            font-weight: lighter;
            line-height: 20px;
        }

        .margen {
            margin: 20px auto 15px auto;
            border: 1px solid #EDEDED;
            width: 400px;
        }

        .Yellow1 {
            float: left;
            width: 25px;
            height: 70px;
        }

        .Logo-Top {
            width: 250px;
            float: left;
            height: 60px;
            display: block;
        }

            .Logo-Top img {
                width: 180px;
                margin: 13px 25px;
            }

        .Yellow2 {
            font-size: 25px;
            font-weight: bold;
            color: #FFF;
            padding-right: 30px;
            float: right;
            width: 345px;
            height: 70px;
            text-align: right;
        }

            .Yellow2 span {
                display: block;
                margin-top: 24px;
            }

        .Data-container {
            margin: 0;
            clear: both;
            float: left;
        }

        .Data1 {
            float: left;
            width: 400px;
            margin: 0 0 0 50px;
        }

        .Spei-stuff {
            float: left;
            width: 200px;
        }

            .Spei-stuff img {
                width: 130px;
                margin-top: 40px;
                margin-left: 20px;
            }

        .Data_bank {
            clear: both;
            width: 400px;
            margin: 20px 0 20px 25px;
            float: left;
        }

            .Data_bank div {
                padding: 2px 15px;
                width: 350px;
            }

        .div1 {
            background-color: #f7f7f7;
        }

        .div2 {
            background-color: #f1f1f1;
        }

        .cont-text {
            float: left;
            margin: 0 0 0 25px;
            width: 360px;
            clear: both;
        }

            .cont-text span {
                color: #33669a;
                font-size: 14px;
                font-weight: bold;
                line-height: 20px;
            }

            .cont-text a {
                text-decoration: none;
            }

        .buttons {
            width: 100%;
            clear: both;
            padding: 5px 0 20px 25px;
        }

            .buttons a {
                display: block;
                text-align: center;
                color: #FFFFFF;
                padding:  5px 15px 5px 15px;
                background-color: #000033;
                font-size: 16px;
                text-decoration: none;
                border-radius: 7px;

                margin-right: 40px;
            }

                .buttons a:hover {
                    background-color: #32a842;
                }

        .Yellow3 {
            width: 100%;
            height: 18px;
            display: block;
            clear: both;
            margin: 80px 0 0 0;
        }

        .powered {
            text-align: center;
            width: 650px;
            margin: 0 auto 15px auto;
        }

            .powered img {
                width: 180px;
            }

        .Yellow1, .Yellow2, .Yellow3 {
            background-color: #006699;
        }
    </style>

</head>

<body>
    <div class="margen">
        <div class="header">
            <div class="Yellow1"></div>
            <div class="Logo-Top"><img src="~/Images/enpadi-logo.png" alt="Logo"></div>
        </div>
        <div class="Data-container">
            <div class="Data1">
                <h1><strong>Cantidad a pagar</strong></h1>
                <h2><span>@string.Format("{0:C}", Model.amount)</span><small> MXN</small></h2>
                <h1><strong>Fecha límite de pago:</strong></h1>
                <h1>@String.Format("{0:dd} de {0:MMMM} de {0:yyyy}", DateTime.Now).ToUpper()</h1>
            </div>
            <div class="Data_bank">
                <h1 style="padding-bottom:10px;"><strong>Datos para transferencia electrónica</strong></h1>
                <div class="div1"><h3>Banco: SIS TRANSF y PAGOS (STP)</h3></div>
                <div class="div2"><h3>CLABE: @Model.clabe</h3></div>
                <div class="div1"><h3>Referencia numérica: @Model.name</h3></div>
                <div class="div2"><h3>Concepto de pago: @Model.name</h3></div>
            </div>
        </div>
        <div class="cont-text">
            <p>
                Una vez que realices tu pago, tu saldo será acreditado en un maximo de 15 minutos. ¿Tienes alguna duda o problema?<br />
                Llámanos al teléfono <span>(81) 2089 6071</span><br>
                O escríbenos a <a href="mailto:acontreras@truewisdom.co"><span>acontreras@truewisdom.co</span></a>
            </p>
        </div>
        <div class="buttons">
            <a href="@Url.Action("Reload", "Mobile")" class="btn btn-default" style="margin-bottom:5px;">Recargar mi Cuenta</a>
            <a href="@Url.Action("Payment", "Mobile")" class="btn btn-primary">Pagar Servicios</a>
        </div>
    </div>
</body>
</html>
