﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Reload";
}

<style>
    .panel-body:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">

            <div class="hpanel" style="margin:0;">
                <div class="panel-body">
                    <div class="text-center"><strong>Selecciona el Medio de Recarga</strong></div>
                </div>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadTC", "Mobile")">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/Visa_Mastercard.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png"/>
                        </div>
                        <h4 class="m-b-xs">Tarjeta Débito/Crédito</h4>
                        <p class="small">Visa / MasterCard / AMEX / Carnet</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadBank", "Mobile")">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/bansefi4.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Sucursal Bancaria</h4>
                        <p class="small">Deposito Referenciado / Transferencia</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendas7Eleven.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendas7Eleven.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">7 Eleven</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "farmaciasDelAhorro.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/farmaciasDelAhorro.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Farmacias Del Ahorro</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "farmaciasBenavides.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/farmaciasBenavides.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Farmacias Benavides</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasWaldos.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasWaldos.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Waldo's</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasExtra.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasExtra.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Extra</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasElAsturiano.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasElAsturiano.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">El Asturiano</h4>
                        <p class="small">Nacional</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasCirculoK.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasCirculoK.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Circulo K</h4>
                        <p class="small">CDMX, MEX, NL, PUE, QRO</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "cajaCerroDeLaSilla.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/cajaCerroDeLaSilla.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Caja Cerro de la Silla</h4>
                        <p class="small">Nuevo León</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasOne.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasOne.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">ONE</h4>
                        <p class="small">Querétaro</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "superElVigilante.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/superElVigilante.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">El Vigilante</h4>
                        <p class="small">Querétaro</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasKiosko.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasKiosko.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Kiosko</h4>
                        <p class="small">CDMX, MEX, VER, TAB, CHIS, CAMP</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "prendaMex.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/prendaMex.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">PrendaMex</h4>
                        <p class="small">CDMX, MEX, VER, TAB, CHIS, CAMP</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "farmaciasBazar.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/farmaciasBazar.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Farmacias Bazar</h4>
                        <p class="small">Yucatan, Campeche, Quintana Roo</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "financieraCefemex.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/financieraCefemex.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Financiera Cefemex</h4>
                        <p class="small">Yucatan, Campeche, Quintana Roo</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "Maxilana.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/Maxilana.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Maxilana</h4>
                        <p class="small">Sinaloa, Sonora, Baja California, Jalisco</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "grupoPetroFe.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/grupoPetroFe.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Gasolineras Petro Fe</h4>
                        <p class="small">Nuevo León, SLP, Tamaulipas</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "tiendasLaOriginal.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/tiendasLaOriginal.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">La Original</h4>
                        <p class="small">Michoacan</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "solidariaTamaulipas.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/solidariaTamaulipas.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Caja Solidaria</h4>
                        <p class="small">Tamaulipas</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ReloadStore", "Mobile", new { imagen = "financieraTeCreemos.png" })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/financieraTeCreemos.png" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Financiera Te Creemos</h4>
                        <p class="small">CAMP, CHIS, CDMX, GTO, JAL, PUE, QRO, SON, TLAX, YUC</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>