﻿@model string

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">

            <div class="hpanel" style="margin:0;">
                <div class="panel-body">
                    <div class="text-center">
                        <img alt="logo" class="img-circle" src="~/Images/@TempData["imagen"]" height="100" />
                    </div>
                    @*<div class="text-center" style="padding-bottom:5px;">
                        <h4 class="m-b-xs">7-Eleven</h4>
                        <p class="small">Nacional</p>
                    </div>*@
                    <div class="text-center small" style="margin-bottom:5px;"><strong>Selecciona el Monto que deseas Recargar</strong></div>
                    <div class="text-center small" style="margin-bottom:5px;">Gereraremos tu Referencia de Pago</div>
                </div>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 50 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $  50.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 100 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $ 100.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 200 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $ 200.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 300 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $ 300.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 500 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $ 500.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 800 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $ 800.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            <div class="hpanel" style="margin:0">
                <a href="@Url.Action("ReloadStoreRef", "Mobile", new { monto = 1000 })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" style="padding-top:20px;" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">Recarga $1,000.00</h4>
                        <p class="small">Comisión $8.00 MN</p>
                    </div>
                </a>
            </div>

            @*<a href="@Url.Action("Reload", "Mobile")" class="btn btn-default btn-block" style="margin-top:25px;">Cancelar</a>*@

        </div>
    </div>
</div>