﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Payment";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="row" style="height:100%">
        <div class="col-md-12" style="height:100%">
            <div class="hpanel" style="height:100%">
                <div class="panel-body" style="height:100%">
                    <div class="text-center" style="padding-top:20px; padding-bottom:10px; background-color:#ffffff;">
                        @{
                            if (ViewBag.skinApp.childImage != null)
                            {
                                <img src="~/Images/@ViewBag.skinApp.childImage" height="100" />
                            }
                            else
                            {
                                <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi4.png" />
                                <p class="small" style="padding-top:10px;"><strong>Paga en Banco</strong><br />Deposito Referenciado</p>
                            }
                        }
                    </div>
                    @using (Html.BeginForm("ReloadBankRef", "Mobile", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <form method="post">
                                <div class="text-center" style="padding-bottom:15px;">
                                    <p><strong>Estimado Usuario</strong></p>
                                    <p>Seleccione el Monto con el cual desea recargar su cuenta</p>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-xs-2 col-xs-offset-2 control-label">Monto</label>
                                        <div class="col-xs-6">
                                            <select id="monto" name="monto" class="form-control">
                                                <option value="100">$ 100.00</option>
                                                <option value="200">$ 200.00</option>
                                                <option value="300">$ 300.00</option>
                                                <option value="500">$ 500.00</option>
                                                <option value="1000">$1,000.00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row text-center" style="padding-top:25px;">
                                        <a href="@Url.Action("Reload", "Mobile")" class="btn btn-default">Cancelar</a>
                                        <input type="submit" class="btn" value="Generar Referencia" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff;" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>