﻿@model Enpadi_WebUI.Models.pagoBanco

@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Enapdi | Deposito Referenciado";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pago en Banco</title>
</head>

<body>
    <div style="background-color:#c0d12a;">
        <div class="row">
            <div><img class="img-responsive" src="~/Images/santiago_predial_titulo.png" style="width:100%;"></div>
        </div>
        <div class="col-lg-12 text-center text-white" style="padding-top:15px;">
            <h5>FICHA PARA PAGO DE IMPUESTO PREDIAL</h5>
            <h4>Municipio de Santiago, NL</h4>
        </div>
        <div class="col-lg-12 text-center" style="padding-top:15px;">
            <h5><small>Expediente Catastral</small></h5>
            <h4><strong>@Request.QueryString["expediente"]</strong></h4>
            <h5 class="text-white"><small>Dirección</small></h5>
            <h4 class="text-center"><strong>@Request.QueryString["direccion"]</strong></h4>
        </div>

        <div class="col-lg-12 text-center" style="background-color:white; margin-top:25px; margin-bottom:25px;">
            <div style="padding-top:25px; padding-bottom:15px;">
                <h4><small>Saldo Predial</small></h4>
                <h2>@String.Format("{0:C2} M.N.", Convert.ToDecimal(Request.QueryString["saldoPredial"]))</h2>
                <h4><small>Referencia</small></h4>
                <h2>@string.Format("S{0}", Request.QueryString["expediente"])</h2>
            </div>

            <div class="row" style="margin-top:25px;">
                <img src="~/Images/banco_banamex.png" width="120" alt="Logo" />
                <h5>PA: 4055 01</h5>
                <h5>ESTABLECIMIENTO: MPO SANTIAGO</h5>
                <h5>REFERENCIA: @string.Format("S{0}", Request.QueryString["expediente"])</h5>
            </div>

            <div class="row" style="margin-top:25px;">
                <img src="~/Images/banco_banorte.png" width="120" alt="Logo" />
                <h5>FACTURADOR: 068335</h5>
                <h5>MUNICIPIO DE SANTIAGO, NL.</h5>
                <h5>REFERENCIA: @string.Format("S{0}", Request.QueryString["expediente"])</h5>
            </div>

            <div class="row" style="margin-top:25px;">
                <img src="~/Images/banco_bancomer.jpg" width="120" alt="Logo" />
                <h5>SUCURSAL: 0686</h5>
                <h5>CUENTA: 0163277445</h5>
                <h5>REFERENCIA: @string.Format("S{0}", Request.QueryString["expediente"])</h5>
            </div>

            <div class="row" style="margin-top:25px; padding-bottom:25px;">
                <img src="~/Images/banco_afirme.png" width="120" alt="Logo" />
                <h5>CUENTA: </h5>
                <h5>REFERENCIA: @string.Format("S{0}", Request.QueryString["expediente"])</h5>
            </div>

        </div>
        <div class="row text-center" style="padding-top:25px; padding-bottom:25px;">
                <a href="@Url.Action("SantiagoNLPredial", "Mobile", new { no_predial = @Request.QueryString["expediente"] })" class="btn btn-primary">Volver a Consulta</a>
            @*<a href="javascript:window.print();" class="btn btn-primary">IMPRIMIR</a>*@
        </div>
    </div>
    @*<div class="powered">
            <img src="~/Images/TWT-01.png" alt="Powered by TrueWisdom">
        </div>*@
</body>
</html>
