﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Payment Services";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

@{var item = Model.FirstOrDefault();}

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">

            <div class="hpanel" style="margin:0;">
                <div class="panel-body">
                    <div class="text-center">
                        <img alt="logo" class="img-circle" src="~/Images/@item.imagenTipo" height="100" />
                    </div>
                    <div class="text-center" style="padding-bottom:25px;">
                        <h4 class="m-b-xs">@item.Nombre</h4>
                        <p class="small">@item.Descripcion</p>
                    </div>

                    @using (Html.BeginForm("ServicesCapture", "Mobile", FormMethod.Get))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <form>
                                @Html.Hidden("sku", item.SKU)
                                <div class="text-center">
                                    @if (item.Tipo == "Iusacell" || item.Tipo == "Unefon" || item.Tipo == "Nextel" || item.Tipo == "Movistar" || item.Tipo == "Virgin" || item.Tipo == "Telcel" || item.Tipo == "Unefon")
                                    {
                                        <strong>Número de Teléfono</strong>
                                    }
                                    else
                                    {
                                        <strong>Referencia de Pago</strong>
                                    }
                                </div>
                                <div class="text-center">
                                    @Html.Editor("referencia", new { htmlAttributes = new { @class = "form-control text-center", @MaxLength = item.ReferenciaLongitud } })
                                </div>
                                <div class="text-center small" style="margin-top:10px; margin-bottom:20px;">@item.Instrucciones</div>
                                <div class="text-center small text-danger" style="margin-bottom:25px;">Por Seguridad, te solicitaremos Confirmar tus Datos de Acceso antes de realizar cualquier Pago de Servicio</div>
                                <div class="text-center">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div style="margin-bottom:5px;">
                                    <input type="submit" id="btnSubmit" formmethod="get" value="CONTINUAR" class="btn btn-primary btn-block" />
                                </div>
                                <div>
                                    <a href="@Url.Action("Payment", "Mobile")" class="btn btn-default btn-block">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}