﻿@model Enpadi_WebUI.Models.pagoServicio
@using System.Configuration;

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Pago de Servicios";
    bool bModoProduccion = Convert.ToBoolean(ConfigurationManager.AppSettings["ModoProduccion"]);
    string DIESTEL_ENCRYPTION_KEY = (bModoProduccion) ? ConfigurationManager.AppSettings["Enpadi_WSDiestel_EncryptionKey"] : ConfigurationManager.AppSettings["Test_WSDiestel_EncryptionKey"];
}

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center">
                    <img alt="logo" class="img-circle" src="~/Images/@Model.imagenTipo" height="100" />
                </div>
                <div class="text-center" style="padding-bottom:25px;">
                    <h4 class="m-b-xs">@Model.nombre</h4>
                    <p class="small">@Model.descripcion</p>
                </div>
                <div class="text-center" style="padding-bottom:5px;">
                    Le informamos que el Pago de su Servicio ha sido
                </div>

                @if (Model.estatus == 1 && Model.codigoRespuesta == 0)
                {
                    <div class="text-center" style="background-image:url('../../Images/aprobado.png'); background-position:center; background-size: 100px 100px; background-repeat:no-repeat; height:100px;"></div>
                    <div class="text-center text-danger"><strong>APROBADO</strong></div>
                    <div class="text-center">@String.Format("Referencia: {0}", Model.referencia)</div>
                    <div class="text-center">@String.Format("{0} {1}", Model.fechaLocal, Model.horaLocal)</div>
                    <div>
                        <div class="col-xs-6" style="text-align:right;">TRANSACCIÓN</div>
                        <div class="col-xs-6" style="text-align:left;">@Model.pagoID</div>
                    </div>
                    foreach (var item in Model.Campos)
                    {
                        var oValor = item.sValor;
                        if (item.bEncriptado == true)
                        {
                            oValor = PXSecurity.Datalogic.Classes.PXCryptography.PXDecryptFX(item.sValor.ToString(), DIESTEL_ENCRYPTION_KEY);
                        }
                        <div>
                            @switch (item.iClase)
                            {
                                case 6:
                                    switch (item.sCampo)
                                    {
                                        case "MONTO":
                                            <div class="col-xs-6" style="text-align:right;">@String.Format("{0} :", item.sCampo)</div>
                                            <div class="col-xs-6" style="text-align:left;">@String.Format("{0:C}", Convert.ToDecimal(oValor))</div>
                                            break;
                                        case "COMISION":
                                        <div class="col-xs-6" style="text-align:right;">@String.Format("{0} :", item.sCampo)</div>
                                        <div class="col-xs-6" style="text-align:left;">@String.Format("{0:C}", Convert.ToDecimal(oValor))</div>
                                            break;
                                        default:
                                        <div class="col-xs-6" style="text-align:right;">@String.Format("{0} :", item.sCampo)</div>
                                        <div class="col-xs-6" style="text-align:left;">@String.Format("{0}", oValor)</div>
                                            break;
                                    }
                                    break;
                                case 7:
                                    <div class="col-xs-12" style="padding-top:10px; padding-bottom:20px;">@String.Format("{0}", oValor)</div>
                                    break;
                                default:
                                    break;
                            }
                        </div>
                    }
                        
                    using (Html.BeginForm("ServicesPrint", "Mobile", @Model, FormMethod.Post, new { target = "_blank" }))
                    {
                        <form method="post">
                            <input type="submit" formmethod="post" id="btnSubmit" value="Imprimir" class="btn btn-primary" />
                        </form>
                    }

                }
                else
                {
                    <div class="text-center" style="background-image:url('../../Images/rechazado.png'); background-position:center; background-size: 100px 100px; background-repeat:no-repeat; height:100px;"></div>
                    <div class="text-center text-danger"><strong>RECHAZADO</strong></div>
                    <div class="text-center text-danger"><strong>@String.Format("({0}) {1}", Model.codigoRespuesta, Model.codigoRespuestaDescr)</strong></div>
                    <div class="text-center">@String.Format("Referencia: {0}", Model.referencia)</div>
                    <div class="text-center">@String.Format("{0} {1}", Model.fechaLocal, Model.horaLocal)</div>
                }
                <div style="padding-top:25px; padding-bottom:15px;"><a href="@Url.Action("Reload", "Mobile")" class="btn btn-primary btn-block">Recargar mi Cuenta</a></div>
                <div style="padding-top:10px; padding-bottom:15px;"><a href="@Url.Action("Payment", "Mobile")" class="btn btn-primary btn-block">Pagar Servicios</a></div>
            </div>
        </div>
    </div>
</div>