﻿@model Enpadi_WebUI.Models.pagoServicio
@using System.Configuration;

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Pago de Servicios";
    bool bModoProduccion = Convert.ToBoolean(ConfigurationManager.AppSettings["ModoProduccion"]);
    string DIESTEL_ENCRYPTION_KEY = (bModoProduccion) ? ConfigurationManager.AppSettings["Enpadi_WSDiestel_EncryptionKey"] : ConfigurationManager.AppSettings["Test_WSDiestel_EncryptionKey"];
}

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel" style="margin:0;">
            <div class="panel-body">
                <div class="text-center">
                    <img alt="logo" class="img-circle" src="~/Images/@Model.imagenTipo" height="100" />
                </div>
                <div class="text-center" style="margin-bottom:0px">
                    <h4 class="m-b-xs">@Model.nombre</h4>
                    <p class="small">@Model.descripcion</p>
                </div>

                @using (Html.BeginForm("ServicesProcess", "Mobile", FormMethod.Post))
                {
                    <div class="form-horizontal">

                        <form>
                            @Html.Hidden("pagoID", Model.pagoID)
                            @Html.Hidden("tarjetaID", Model.tarjetaID)
                            @Html.Hidden("sku", Model.sku)
                            @Html.Hidden("fechaLocal", Model.fechaLocal)
                            @Html.Hidden("horaLocal", Model.horaLocal)
                            @Html.Hidden("fechaContable", Model.fechaContable)
                            @Html.Hidden("nombre", Model.nombre)
                            @Html.Hidden("compañia", Model.compañia)
                            @Html.Hidden("tipopago", Model.tipoPago)
                            @Html.Hidden("imagenTipo", Model.imagenTipo)

                            <div class="text-center" style="padding-bottom:15px;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            @foreach (var item in Model.Campos)
                            {
                                var oValor = item.sValor;
                                if (item.bEncriptado == true)
                                {
                                    oValor = PXSecurity.Datalogic.Classes.PXCryptography.PXDecryptFX(item.sValor.ToString(), DIESTEL_ENCRYPTION_KEY);
                                }

                                <div class="form-group">
                                    @Html.Label(item.sCampo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @switch (item.iClase)
                                        {
                                            case 0: // Es de solo lectura se muestra y no se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 1: //  No es de solo lectura se muestra y se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 2: // No es de solo lectura, no se muestra, toma valor predefinido, y se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 3: // No es de solo lectura, no se muestra, toma valor del sistema, y se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 4: // No es de solo lectura, se pide en ventana con su confirmación, y se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 5: // No es de solo lectura, se pide en ventana sin su confirmación, y se regresa
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 6: // El valor de este campo se manda a impresión. CON etiqueta
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 7: // El valor de este campo se manda a impresión. SIN etiqueta
                                                @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            case 8: // No es de solo lectura, se muestran opciones en un Combo, y el valor seleccionado se regresa
                                            @Html.Editor(item.sCampo, new { htmlAttributes = new { @class = "form-control", @Value = oValor, @MaxLength = item.iLongitud } })
                                                break;
                                            default:
                                                break;
                                        }
                                    </div>
                                </div>
                            }
                            <div class="text-center small text-warning" style="padding-bottom:0px;">
                                <p>Verifique su informacion antes de PAGAR</p>
                            </div>
                            <div class="text-center">
                                <p style="line-height:30%;">
                                    <small>Saldo Disponible</small>
                                    <h3 style="margin-bottom:0px;">@String.Format("{0:C} MXN", Model.saldo)</h3>
                                    <small><strong>@Model.titular.ToUpper()</strong></small><br />
                                    <small><strong>@Model.cuenta</strong></small>
                                </p>
                            </div>
                            <div class="col-xs-12" style="margin-top:15px;">
                                <input type="submit" formmethod="post" id="btnSubmit" value="Pagar" class="btn btn-danger btn-block" />
                            </div>
                            <div class="col-xs-12" style="margin-top:10px;">
                                <a href="@Url.Action("Reload", "Mobile")" class="btn btn-primary btn-block">Recargar Cuenta</a>
                            </div>
                            <div class="col-xs-12" style="margin-top:10px;">
                                <a href="@Url.Action("Payment", "Mobile")" class="btn btn-default btn-block">Cancelar</a>
                            </div>
                        </form>

                    </div>
                }
            </div>
        </div>

    </div>
</div>