﻿@model IEnumerable<Enpadi_WebUI.Models.servicios>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Payment Services";
}

<style>
    .panel-body:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
    input[type="submit"]:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel">
    <div class="row">
        <div class="hpanel">
            <div class="hpanel" style="margin:0;">
                <div class="panel-body">
                    <div class="text-center"><strong>Selecciona un Producto o Servicio</strong></div>
                </div>
            </div>
            
            @foreach (var item in Model)
            {
            <div class="hpanel" style="margin:0;">
                <a href="@Url.Action("ServicesReference", "Mobile", new { sku = item.SKU })">
                    <div class="panel-body" style="padding-top:5px; padding-bottom:5px;">
                        <div class="pull-right">
                            <img alt="logo" class="img-circle" src="~/Images/@item.imagenTipo" height="60" />
                            <img alt="logo" class="img-circle" src="~/Images/angle2.png" />
                        </div>
                        <h4 class="m-b-xs">@Html.DisplayFor(modelItem => item.Nombre)</h4>
                        <p class="small">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>