﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Transfers";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">
        <div class="panel-body" style="height:90%">
            <div class="text-center" style="padding-top:20px; padding-bottom:20px;">
                @{
                    if (ViewBag.skinApp.loginImage != null)
                    {
                        <img src="~/Images/@ViewBag.skinApp.homeImage" width="150" />
                    }
                }
            </div>
            <div class="text-center" style="padding-top:40px;">
                <a href="@Url.Action("ContactIndex", "Mobile")" class="col-sm-6 btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">AGREGAR AMIGO</a>
            </div>
            <div class="text-center" style="padding-top:10px;">
                <a href="@Url.Action("TransferEnpadi", "Mobile")" class="col-sm-6 btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.mobileNavBtn; color:#ffffff; border:none;">TRANSFERIR</a>
            </div>
            <div class="text-center" style="padding-top:10px;">
                <a href="@Url.Action("Index", "Mobile")" class="btn btn-default btn-block">CANCELAR</a>
            </div>
        </div>
    </div>
</div>