﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasContactos>

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Mobile Transfers";
}

<style>
    a:hover {
        background-color:#@ViewBag.skinApp.mobileNavBtnHover !important;
        color:#ffffff !important;
    }
</style>

<div class="content animated-panel" style="height:100%">
    <div class="hpanel" style="height:100%">

        <div class="panel-body" style="height:90%">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <div class="text-center" style="padding-bottom:10px; padding-top:10px;">
                        <p>Selecciona el Contacto y el Monto que deseas Transferir</p>
                    </div>
                    <div class="text-center" style="padding-bottom:15px;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Contacto</label>
                        <div class="col-sm-10">
                            <select id="contacto" name="contacto" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@Html.DisplayFor(modelItem => item.contactoNumero)">@Html.DisplayFor(modelItem => item.contactoTarjeta) - @Html.DisplayFor(modelItem => item.contactoAlias)</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Monto</label>
                        <div class="col-sm-10">
                            <input type="text" id="monto" name="monto" placeholder="0.00" class="form-control" />
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" formmethod="post" value="TRANSFERIR" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.colorNavBar; color:#ffffff;" />
                        <a href="@Url.Action("Transfer", "Mobile")" class="btn btn-default btn-block">CANCELAR</a>
                    </div>

                </div>
            }
        </div>

    </div>
</div>

