﻿@model Enpadi_WebUI.Models.predialConcepto

@{
    ViewBag.Title = "Details";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Detalle</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Conceptos
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>@Html.DisplayNameFor(model => model.descripcion)</dt>
                            <dd>@Html.DisplayFor(model => model.descripcion)</dd>
                            <dt>@Html.DisplayNameFor(model => model.tipo)</dt>
                            <dd>@Html.DisplayFor(model => model.tipo)</dd>
                            <dt>@Html.DisplayNameFor(model => model.claveContable)</dt>
                            <dd>@Html.DisplayFor(model => model.claveContable)</dd>
                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.conceptoID }) |
                        @Html.ActionLink("Volver al Listado", "Index")
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>