﻿@model IEnumerable<Enpadi_WebUI.Models.predialConcepto>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Conceptos
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Concepto", "Create")
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.tipo)</th>
                                    <th>@Html.DisplayNameFor(model => model.claveContable)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tipo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.claveContable)</td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.conceptoID }) |
                                            @Html.ActionLink("Detalle", "Details", new { id = item.conceptoID }) |
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.conceptoID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
