﻿@model Enpadi_WebUI.Models.posCategoria

@{
    ViewBag.Title = "Delete";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Tienda Virtual</span></li>
                    <li><span>Categorias</span></li>
                    <li class="active"><span>Eliminar</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Tienda Virtual | Categorias
            </h2>
            <small>Configuración de Categorias de la Tienda Virtual</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <br />
                </div>

                <div class="panel-body">
                    <h3 class="text-danger">¿Estas seguro de querer eliminar esta Categoria?</h3>
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.posTienda.nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.posTienda.nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.categoria)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.categoria)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.imagen)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.imagen)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                                @Html.ActionLink("Volver al Listado", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
