﻿@model Enpadi_WebUI.Models.santiagoPredialConsulta

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<div class="transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Images/santiago_predial_titulo.png" style="width:100%;" />
        </div>
    </div>
</div>

<div class="animated-panel" style="background-color:#c0d12a;">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body" style="background-color:#c0d12a; border:none;">
                    <div class="col-lg-12 text-center" style="margin-top:15px; margin-bottom:35px;">
                        <h2 style="color:white;">Registra tus Datos a Consultar</h2>
                        <h5 style="color:white;">* TODOS LOS CAMPOS SON OBLIGATORIOS *</h5>
                    </div>
                    <div class="form-horizontal">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.no_predial, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.no_predial, new { htmlAttributes = new { @class = "form-control", @placeholder = "7 u 8 dígitos numéricos sin guiones" } })
                                            @Html.ValidationMessageFor(model => model.no_predial, "", new { @class = "text-danger", @style = "color:white;" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.paterno, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.paterno, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.paterno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.materno, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.materno, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.materno, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.cel, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.cel, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.cel, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-3" })
                                        <div class="col-md-6">
                                            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label"></label>
                                        <div class="col-md-6" style="color:black;">
                                            @Html.CheckBoxFor(model => model.terminos) <span>He Leido y estoy de acuerdo con el <a href="http://predial.santiago.gob.mx/avisodeprivacidad.pdf" target="_blank">Aviso de Privacidad</a></span><br />
                                            @Html.ValidationMessageFor(model => model.terminos, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-6 text-center">
                                            <a href="@Url.Action("Pagar", "PanelUsuarios")" class="btn btn-default">Cancelar</a>
                                            <input type="submit" id="btnSubmit" formmethod="post" value="Buscar Expediente" class="btn btn-primary" />
                                        </div>
                                    </div>

                                </div>
                            }
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>