﻿@model Enpadi_WebUI.Models.santiagoPredial

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<div class="transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Images/santiago_predial_titulo.png" style="width:100%;" />
        </div>
    </div>
</div>

<div class="animated-panel" style="background-color:#c0d12a;">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body" style="background-color:#c0d12a; border:none;">
                    <div class="col-lg-12 text-center" style="margin-top:15px; margin-bottom:35px;">
                        <h2 style="color:white;">Verifica tu Información</h2>
                        <h5 style="color:white;">* Y SELECCIONA EL METODO DE PAGO *</h5>
                    </div>
                    <div class="form-horizontal">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <form action="http://predial.santiago.gob.mx/simac/bancomer.php" method="post">
                                <input type="hidden" id="username" name="username" value="m974bosh98eyuh" />
                                <input type="hidden" id="password" name="password" value="5dkndkjbfuh7462" />
                                <input type="hidden" id="expediente" name="expediente" value="@Model.expediente" />
                                <input type="hidden" id="propietario" name="propietario" value="@Model.propietario" />
                                <input type="hidden" id="saldo" name="saldo" value="@Model.saldo" />
                                <input type="hidden" id="correo" name="correo" value="@Model.email" />

                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.expediente, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.expediente, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.expediente, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ubicacionPredio, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.ubicacionPredio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.ubicacionPredio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.saldo, htmlAttributes: new { @class = "control-label col-md-3" })
                                    <div class="col-md-7">
                                        @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.saldo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group text-center" style="margin-top:25px; margin-bottom:50px;">
                                    <div class="col-md-offset-3 col-md-7">
                                        <a href="@Url.Action("Index", "SantiagoNL")" class="btn btn-default">Cancelar</a>
                                        <a href="@Url.Action("ReferenciaBancaria", "SantiagoNL", new { expediente = Model.expediente, direccion = Model.ubicacionPredio, saldoPredial = Model.saldo })" target="_blank" class="btn btn-info">Deposito Bancario</a>
                                        @*<a href="@Url.Action("Tarjeta", "SantiagoNL", new { expediente = Model.expediente, direccion = Model.ubicacionPredio, amount = Model.saldo })" class="btn btn-primary">Tarjeta Credito/Debito</a>*@
                                        @*<a href="@Url.Action("Mantenimiento", "SantiagoNL", new { expediente = Model.expediente, direccion = Model.ubicacionPredio, amount = Model.saldo })" class="btn btn-primary">Tarjeta Credito/Debito</a>*@
                                        <input type="submit" class="btn btn-primary" value="Tarjeta Crédito/Débito" formmethod="post" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>