﻿@model Enpadi_WebUI.Models.pagoBanco

@{
    Layout = "~/Views/Shared/_Layout_Landing.cshtml";
    ViewBag.Title = "Referencia Bancaria para Pago de Predial";
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pago en Banco</title>

    <style>
        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serif;
            color: #414042;
        }

        h1 {
            font-size: 20px;
            font-weight: lighter;
            margin: 8px 0 0 0;
        }

        h2 {
            color: #003366;
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 15px 0;
        }

            h2 span {
                font-size: 60px;
            }

            h2 small {
                font-size: 30px;
            }

        h3 {
            font-size: 12px;
            font-weight: bold;
            color: black;
            margin: 8px 0;
        }

        h4 {
            font-size: 18px;
            font-weight: bold;
            color: black;
            margin: 8px 0;
        }

        p {
            font-size: 18px;
            font-weight: lighter;
            line-height: 28px;
        }

        .margen {
            margin: 20px auto 15px auto;
            border: none;
            width: 650px;
        }

        .Data-container {
            margin: 30px 0 0 0;
            clear: both;
            float: left;
        }

        .Data1 {
            float: left;
            width: 400px;
            margin: 0 0 0 50px;
        }

        .div1 {
            background-color: #f7f7f7;
        }

        .div2 {
            background-color: #f1f1f1;
        }

        .cont-text {
            float: left;
            margin: 0 50px 0 50px;
            width: 550px;
            clear: both;
        }

            .cont-text span {
                color: #33669a;
                font-size: 35px;
                font-weight: bold;
                line-height: 45px;
            }

            .cont-text a {
                text-decoration: none;
            }

        .buttons {
            width: 100%;
            clear: both;
            padding: 30px 0 30px 80px;
        }

            .buttons a {
                display: block;
                width: 180px;
                text-align: center;
                color: #FFFFFF;
                padding: 10px 0;
                background-color: #000033;
                font-size: 18px;
                text-decoration: none;
                border-radius: 7px;
                float: left;
                margin-right: 40px;
            }

                .buttons a:hover {
                    background-color: #32a842;
                }

        .powered {
            text-align: center;
            width: 650px;
            margin: 0 auto 15px auto;
        }

            .powered img {
                width: 180px;
            }

    </style>

</head>

<body>
    <div class="margen" style="background-color:#c0d12a;">
        <div class="row">
            <div><img src="~/Images/santiago_predial_titulo.png" style="width:650px; margin-left:15px;" alt="Logo"></div>
        </div>
        <div class="cont-text" style="color:black;">
            <div class="row" style="margin-top:25px; margin-bottom:25px;">
                <div class="col-md-12 text-center">
                    <h5 style="color:white;"><strong>FICHA PARA PAGO DE PREDIAL MUNICIPIO DE SANTIAGO, NL.</strong></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">Expediente</div>
                <div class="col-md-8"><strong>@Request.QueryString["expediente"]</strong></div>
            </div>
            <div class="row">
                <div class="col-md-2">Dirección</div>
                <div class="col-md-8"><strong>@Request.QueryString["direccion"]</strong></div>
            </div>

            <div class="row text-center" style="margin-top:35px; background-color:white;">
                <div style="margin-top:25px;">
                    <div class="col-xs-6 text-right"><h4>IMPORTE</h4></div>
                    <div class="col-xs-6 text-left"><h4>@String.Format("${0:C2} M.N.", Request.QueryString["saldoPredial"])</h4></div>
                </div>
                <div style="margin-bottom:35px;">
                    <div class="col-xs-6 text-right"><h4>REFERENCIA</h4></div>
                    <div class="col-xs-6 text-left"><h4>@Request.QueryString["expediente"]</h4></div>
                </div>
                <div class="col-xs-6" style="margin-bottom:15px;">
                    <img src="~/Images/banco_banamex.png" width="150" alt="Logo" />
                    <h3>PA: 4055 01</h3>
                    <h3>ESTABLECIMIENTO: MPO SANTIAGO</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
                <div class="col-sm-6" style="margin-bottom:25px;">
                    <img src="~/Images/banco_banorte.png" width="150" alt="Logo" />
                    <h3>FACTURADOR: 068335</h3>
                    <h3>MUNICIPIO DE SANTIAGO, NL.</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
                <div class="col-xs-6" style="margin-bottom:25px;">
                    <img src="~/Images/banco_bancomer.jpg" width="150" alt="Logo" />
                    <h3>SUCURSAL: 0686</h3>
                    <h3>CUENTA: 0163277445</h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>
                <div class="col-xs-6" style="margin-bottom:15px;">
                    <img src="~/Images/banco_afirme.png" width="150" alt="Logo" />
                    <h3>CUENTA: </h3>
                    <h3>REFERENCIA: @Request.QueryString["expediente"]</h3>
                </div>

                <div class="row text-center col-xs-12" style="margin-bottom:25px;">
                    <h5><strong>Acude a efectuar el pago a la sucursal de tu preferencia.</strong></h5>
                    <small><strong>CON TU COMPROBANTE DE PAGO PODRAS PASAR A TESORERIA POR TU RECIBO OFICIAL</strong></small>
                </div>

            </div>
        </div>

        <div class="row text-center hidden-xs">
            <a style="margin-top:25px; margin-bottom:25px;" href="javascript:window.print();" class="btn btn-primary">IMPRIMIR</a>
        </div>
    </div>
    @*<div class="powered">
            <img src="~/Images/TWT-01.png" alt="Powered by TrueWisdom">
        </div>*@
</body>
</html>
