﻿@model Enpadi_WebUI.Models.respuestaTC

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<div class="transition animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <img class="img-responsive" src="~/Images/santiago_predial_titulo.png" style="width:100%;" />
        </div>
    </div>
</div>

<div class="animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body" style="background-color:#c0d12a;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                            <div class="bkng-tb-cntnt">
                                <div class="pymnts">
                                    <form action="#" method="get">
                                        <div class="pymnt-itm card active">
                                            <div class="pymnt-cntnt">
                                                <div class="sctn-row">
                                                    <div style="text-align:center; width:100%; padding-bottom:5px;">Estimado Usuario</div>
                                                    <div style="text-align:center; width:100%; padding-bottom:15px;">Tu Transacción ha sido @Html.DisplayFor(model => model.Estatus)</div>
                                                    <div style="text-align:center; width:100%">@Html.DisplayFor(model => model.Autorizacion)</div>
                                                    <div style="text-align:center; width:100%">@Html.DisplayFor(model => model.Total)</div>
                                                    <div style="text-align:center; width:100%"></div>
                                                    @*<div style="text-align:center; width:100%" class="openpay ">
                                                        <div class="logo" style="text-align:center; width:100%">Procesado por:</div>
                                                    </div>*@
                                                    <div style="text-align:center; width:100%; padding-top:30px;">
                                                        <a href="@Url.Action("Index", "SantiagoNL")" class="btn btn-primary btn-block">Hecho</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles{
    <style>
        strong {
            font-weight: 700;
        }

        a {
            cursor: pointer;
            display: block;
            text-decoration: none;
        }

            a.button {
                border-radius: 5px 5px 5px 5px;
                -webkit-border-radius: 5px 5px 5px 5px;
                -moz-border-radius: 5px 5px 5px 5px;
                text-align: center;
                font-size: 21px;
                font-weight: 400;
                padding: 12px 0;
                width: 100%;
                display: table;
                background: #E51F04;
                background: -moz-linear-gradient(top, #E51F04 0%, #A60000 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E51F04), color-stop(100%,#A60000));
                background: -webkit-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: -o-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: -ms-linear-gradient(top, #E51F04 0%,#A60000 100%);
                background: linear-gradient(top, #E51F04 0%,#A60000 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E51F04', endColorstr='#A60000',GradientType=0 );
            }

                a.button i {
                    margin-right: 10px;
                }

                a.button.disabled {
                    background: none repeat scroll 0 0 #ccc;
                    cursor: default;
                }

        .bkng-tb-cntnt {
            float: left;
            width: 800px;
        }

            .bkng-tb-cntnt a.button {
                color: #fff;
                float: right;
                font-size: 18px;
                padding: 5px 20px;
                width: auto;
            }

                .bkng-tb-cntnt a.button.o {
                    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
                    color: #e51f04;
                    border: 1px solid #e51f04;
                }

                .bkng-tb-cntnt a.button i {
                    color: #fff;
                }

                .bkng-tb-cntnt a.button.o i {
                    color: #e51f04;
                }

                .bkng-tb-cntnt a.button.right i {
                    float: right;
                    margin: 2px 0 0 10px;
                }

                .bkng-tb-cntnt a.button.left {
                    float: left;
                }

                .bkng-tb-cntnt a.button.disabled.o {
                    border-color: #ccc;
                    color: #ccc;
                }

                    .bkng-tb-cntnt a.button.disabled.o i {
                        color: #ccc;
                    }

        .pymnts {
            float: left;
            width: 800px;
        }

            .pymnts * {
                float: left;
            }

        .sctn-row {
            margin-bottom: 35px;
            width: 800px;
        }

        .sctn-col {
            width: 375px;
        }

            .sctn-col.l {
                width: 425px;
            }

            .sctn-col input {
                border: 1px solid #ccc;
                font-size: 18px;
                line-height: 24px;
                padding: 10px 12px;
                width: 333px;
            }

            .sctn-col label {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 10px;
                width: 100%;
            }

            .sctn-col.x3 {
                width: 300px;
            }

                .sctn-col.x3.last {
                    width: 200px;
                }

                .sctn-col.x3 input {
                    width: 210px;
                }

                .sctn-col.x3 a {
                    float: right;
                }

        .pymnts-sctn {
            width: 800px;
        }

        .pymnt-itm {
            margin: 0 0 3px;
            width: 800px;
        }

            .pymnt-itm h2 {
                background-color: #e9e9e9;
                font-size: 24px;
                line-height: 24px;
                margin: 0;
                padding: 28px 0 28px 20px;
                width: 780px;
            }

            .pymnt-itm.active h2 {
                background-color: #e51f04;
                color: #fff;
                cursor: default;
            }

            .pymnt-itm div.pymnt-cntnt {
                display: none;
            }

            .pymnt-itm.active div.pymnt-cntnt {
                background-color: #f7f7f7;
                display: block;
                padding: 0 0 30px;
                width: 100%;
            }

        .pymnt-cntnt div.sctn-row {
            margin: 20px 30px 0;
            width: 740px;
        }

            .pymnt-cntnt div.sctn-row div.sctn-col {
                width: 345px;
            }

                .pymnt-cntnt div.sctn-row div.sctn-col.l {
                    width: 395px;
                }

                .pymnt-cntnt div.sctn-row div.sctn-col input {
                    width: 303px;
                }

                .pymnt-cntnt div.sctn-row div.sctn-col.half {
                    width: 155px;
                }

                    .pymnt-cntnt div.sctn-row div.sctn-col.half.l {
                        float: left;
                        width: 190px;
                    }

                    .pymnt-cntnt div.sctn-row div.sctn-col.half input {
                        width: 113px;
                    }

                .pymnt-cntnt div.sctn-row div.sctn-col.cvv {
                    background-image: url("../../Images/cvv.png");
                    background-position: 156px center;
                    background-repeat: no-repeat;
                    padding-bottom: 30px;
                }

                    .pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
                        width: 110px;
                    }

        .openpay {
            float: right;
            height: 60px;
            margin: 10px 0 0 0;
            width: 400px;
        }

            .openpay div.logo {
                background-image: url("../../Images/openpay.png");
                background-position: center bottom;
                background-repeat: no-repeat;
                font-size: 12px;
                font-weight: 400;
                height: 45px;
                padding: 0px 20px 0 0;
            }

            .openpay div.shield {
                background-image: url("../../Images/security.png");
                background-position: left bottom;
                background-repeat: no-repeat;
                font-size: 12px;
                font-weight: 400;
                margin-left: 20px;
                padding: 0px 0 0 40px;
                width: 240px;
            }

        .card-expl {
            float: left;
            height: 80px;
            margin: 20px 0;
            width: 800px;
        }

            .card-expl div {
                background-position: left 45px;
                background-repeat: no-repeat;
                height: 70px;
                padding-top: 10px;
            }

                .card-expl div.debit {
                    background-image: url("../../Images/cards2.png");
                    margin-left: 20px;
                    width: 540px;
                }

                .card-expl div.credit {
                    background-image: url("../../Images/cards1.png");
                    border-right: 1px solid #ccc;
                    margin-left: 30px;
                    width: 209px;
                }

            .card-expl h4 {
                font-weight: 400;
                margin: 0;
            }
    </style>
}
