﻿@model Enpadi_WebUI.Models.venta

@{
    ViewBag.Title = "FarmaENP";
}

<div class="normalheader transition animate fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header actions" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active"><span>Registro de Ventas</span></li>
                    <li><a href="@Url.Action("RecompensasC1", "Modulos")">Canje de Puntos</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">FarmaENP</h2>
            <small>Nos preocupamos por tu salud y tu bienestar</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blog-article-box">
                <div class="panel-body text-center">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cuenta, "Cuenta", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.cuenta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cuenta)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.monto, "Venta", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.monto, new { htmlAttributes = new {@id="monto", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.monto)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.puntos, "Puntos", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @id="puntos", @class = "form-control", @readonly = "readonly"} })
                                        @Html.ValidationMessageFor(model => model.puntos)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="submit" id="submitButton" name="submitButton" value="Acreditar Puntos" class="btn btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=text]').each(function () {
                $(this).keyup(function () {
                    calculaPuntos();
                });
            });
        });

        function calculaPuntos() {
            var venta = parseFloat($('#monto').val());
            var puntos = venta / 5;
            $('#puntos').val(puntos);
        }

    </script>
}