﻿@model Enpadi_WebUI.Models.venta

@{
    ViewBag.Title = "FarmaENP";
}

<div class="normalheader transition animate fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header actions" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li class="active"><span>Registro de Ventas</span></li>
                    <li><a href="@Url.Action("RecompensasC1", "Modulos")">Canje de Puntos</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">FarmaENP</h2>
            <small>Nos preocupamos por tu salud y tu bienestar</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blog-article-box">
                <div class="panel-body text-center">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-6">
                        <div class="form-horizontal">
                            @using (Html.BeginForm())
                            { 
                            <div class="form-group">
                                @Html.LabelFor(model => model.cuenta, "Cuenta", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.cuenta, new { htmlAttributes = new { @class = "form-control no-borders" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, "Nombre", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control no-borders" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.monto, "Venta", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control no-borders" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.puntos, "Puntos", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.puntos, new { htmlAttributes = new { @class = "form-control no-borders" } })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.saldo, "Saldo", new { @class = "control-label col-md-2" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control no-borders" } })
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="@Url.Action("RecompensasA1", "Modulos")" class="btn btn-primary">Registrar Nueva Venta</a>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
