﻿@model Enpadi_WebUI.Models.venta

@{
    ViewBag.Title = "FarmaENP";
}

<div class="normalheader transition animate fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header actions" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("RecompensasA1", "Modulos")">Registro de Ventas</a></li>
                    <li class="active"><span>Canje de Puntos</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">FarmaENP</h2>
            <small>Nos preocupamos por tu salud y tu bienestar</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel blog-article-box">
                <div class="panel-body text-center">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                            @using (Html.BeginForm())
                    {
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    @Html.LabelFor(model => model.cuenta, "Cuenta", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.cuenta, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cuenta)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.saldo, "Disponible", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        @Html.ValidationMessageFor(model => model.saldo)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.puntos, "A Canjear", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.puntos, new { htmlAttributes = new {@id="puntos", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.puntos)
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.monto, "Valor", new { @class = "control-label col-md-2" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.monto, new { htmlAttributes = new {@id="monto", @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.monto)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <input type="submit" id="submitButton" name="submitButton" value="Canjear Puntos" class="btn btn-primary" />
                                    </div>
                                </div>
                    }
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=text]').each(function () {
                $(this).keyup(function () {
                    calculaRecompensa();
                });
            });
        });

        function calculaRecompensa() {
            var puntos = parseFloat($('#puntos').val());
            var monto = puntos / 10;
            $('#monto').val(monto);
        }
    </script>
}