﻿@model Enpadi_WebUI.Models.ViewModelServices

@{
    ViewBag.Title = "Inicio";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Remittances
            </h2>
            <small>Remmitances Enpadi-Bansefi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">

        @using (Html.BeginForm())
        {
            <div class="panel">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="form-horizontal">
                    <div class="text-center" style="padding-bottom:15px;">
                        @*<p><strong>Dear User</strong></p>*@
                        <p>Please provide the remittance data</p>
                    </div>

                    <!-- SENDER -->
                    <div class="col-md-6">
                        <div class="row text-center">SENDER</div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromFirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromLastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.fromPaisID, new SelectList(Model.paises, "paisID", "nombre"), "-- Sender's Country --", new { @id = "fromPaisID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.fromEstadoID, new SelectList(string.Empty, "Value", "Text"), "-- Sender's State --", new { @id = "fromEstadoID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.fromCiudadID, new SelectList(string.Empty, "Value", "Text"), "-- Sender's City --", new { @id = "fromCiudadID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromAddress1, new { htmlAttributes = new { @class = "form-control", @placeholder = "From Address 1" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromAddress2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromAddress2, new { htmlAttributes = new { @class = "form-control", @placeholder = "From Address 2" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromAddress2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromPhone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.fromEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.fromEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <!-- RECEIPT -->
                    <div class="col-md-6">
                        <div class="row text-center">RECEIVER</div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toFirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toFirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toLastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toLastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.toPaisID, new SelectList(Model.paises, "paisID", "nombre"), "-- Receiver Country --", new { @id = "toPaisID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.toEstadoID, new SelectList(string.Empty, "Value", "Text"), "-- Receiver State --", new { @id = "toEstadoID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.toCiudadID, new SelectList(string.Empty, "Value", "Text"), "-- Receiver City --", new { @id = "toCiudadID", @class = "form-control m-b" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toAddress1, new { htmlAttributes = new { @class = "form-control", @placeholder = "To Address 1" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toAddress2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toAddress2, new { htmlAttributes = new { @class = "form-control", @placeholder = "To Address 2" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toAddress2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toPhone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toPhone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.EditorFor(model => model.remesaUSA.toEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.remesaUSA.toEmail, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="form-group text-center">
                                @Html.EditorFor(model => model.remesaUSA.localAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Amount" } })
                                @Html.ValidationMessageFor(model => model.remesaUSA.localAmount, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Send Remittance" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                </form>
            </div>
        }

    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#fromPaisID').change(function () {
            $('#fromEstadoID').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: $('#fromPaisID').val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $('#fromEstadoID').append('<option value="' + state.edoID + '">' + state.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states' + ex);
                }
            });
            return false;
        });

        $('#toPaisID').change(function () {
            $('#toEstadoID').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetStates")',
                dataType: 'json',
                data: { id: $('#toPaisID').val() },
                success: function (states) {
                    $.each(states, function (i, state) {
                        $('#toEstadoID').append('<option value="' + state.edoID + '">' + state.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states' + ex);
                }
            });
            return false;
        });

        $('#fromEstadoID').change(function () {
            $('#fromCiudadID').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCities")',
                dataType: 'json',
                data: { id: $('#fromEstadoID').val() },
                success: function (cities) {
                    $.each(cities, function (i, city) {
                        $('#fromCiudadID').append('<option value="' + city.cdID + '">' + city.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve cities' + ex);
                }
            });
            return false;
        });

        $('#toEstadoID').change(function () {
            $('#toCiudadID').empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetCities")',
                dataType: 'json',
                data: { id: $('#toEstadoID').val() },
                success: function (cities) {
                    $.each(cities, function (i, city) {
                        $('#toCiudadID').append('<option value="' + city.cdID + '">' + city.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve cities' + ex);
                }
            });
            return false;
        });

    });
</script>