﻿@model Enpadi_WebUI.Models.ciudad

@{
    ViewBag.Title = "Delete";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Ciudades</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Ciudades
            </h2>
            <small>Ciudades configuradas para la plataforma Enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <h3>¿Estas seguro de querer eliminar este Registro?</h3>
                    <h5 class="text-danger">Afectaras de forma automatica a todas las Cuentas que tengan asociada la presente Ciudad</h5>
                    <div style="padding-top:15px;">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.estados.nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.estados.nombre)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.nombre)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Eliminar" class="btn btn-default" /> |
                                @Html.ActionLink("Volver al Listado", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

