﻿@using System.Configuration;
@{
    Layout = "~/Views/Shared/_LayoutKioskoAdmin.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    <!-- Section for main scripts render -->

}


@Styles.Render("~/Content/website_userindex")
@Styles.Render("~/Content/datatables")

@Styles.Render("~/bundles/font-awesome-4.7/css")
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->

}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/datatable")
@Scripts.Render("~/bundles/datatableButtons")
@Scripts.Render("~/bundles/jquery/currency")
@Scripts.Render("~/bundles/datatableButtons")
@Scripts.Render("~/bundles/chartjs/js")
@Scripts.Render("~/bundles/bootstrap/js")

<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-8">
                <select class="form-control" id="periodo" name="periodo"></select>
            </div>
            <div class="col-lg-4">
                <button class="btn-enpadi" onclick="searchPeriod();">Generar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-xs-4 text-left lang" key="kioskoadmin.accountsummary"><strong>ESTADO DE CUENTA</strong></div>
            <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left lang" key="kioskoadmin.transactions">Transacciones</div>
            <div class="col-xs-8 text-right"><label id="transactions"></label> dlls</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left lang" key="kioskoadmin.comission">Mis Comisiones</div>
            <div class="col-xs-8 text-right"><label id="commission" name="comission">AS</label> dlls</div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left lang" key="kioskoadmin.comissiontopay">Comisiones a pagar</div>
            <div class="col-xs-8 text-right"><label id="commissionToPay" name="commissionToPay">rw</label> dlls</div>
        </div>

    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-12">
        <table id="tbl_payment" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th key="">
                        Folio
                    </th>
                    <th key="table.amount">
                        table.amount
                    </th>
                    <th key="table.concept">
                        table.concept
                    </th>
                    <th key="table.status">
                        table.status
                    </th>
                    <th key="table.date">
                        table.date
                    </th>
                    <th key="table.receipt">
                        table.receipt
                    </th>




                    <th key="table.foliotransaction">
                        table.foliotransaction
                    </th>
                    <th key="table.description">
                        table.description
                    </th>
                    <th key="table.reference">
                        table.reference
                    </th>
                    <th key="table.enpadicard">
                        table.enpadicard
                    </th>
                    <th key="table.movementtype">
                        table.movementtype
                    </th>

                    <th key="table.totalforservicemxn">
                        table.totalforservicemxn
                    </th>
                    <th key="table.fee">
                        table.fee
                    </th>
                    <th key="table.tax">
                        table.tax
                    </th>
                    <th key="table.currency">
                        table.currency
                    </th>

                    <th key="table.beneficiary">
                        table.beneficiary
                    </th>
                    <th key="table.buyer">
                        table.buyer
                    </th>

                </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript">

        function loadDropdownMonth() {
          $.ajax({
            url: '@Url.Action("LoadBalance", "website")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: 0
            },
            success: function (result) {

                $.each(result.rmeses, function (key, value) {
                    $('#periodo')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));
                });


                loadSumary();
                loadTable();
            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadSumary() {
        var periodo = $('#periodo').val();

        $.ajax({
            url: '@Url.Action("LoadBalance", "kiosko")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {

                $('#transactions').text(result.rcargos).formatCurrency();


                $('#date').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

       function loadTable() {

           var periodo = $('#periodo').val();


           if (periodo === undefined || periodo === null) {
               periodo = 0;
           } else {
               periodo = $('#periodo').val();
           }

        $.ajax({
            url: '@Url.Action("LoadGeneralReport", "KioskoAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {
                if (result != undefined) {
                    var feesEnpadi = 0;
                    var feespartner = 0;

                    for (var i = 0, len = result.length; i < len; i++){
                        feesEnpadi += result[i].EnpadiFeesUSD;
                        feespartner += result[i].PartnerFeesUSD;
                    }

                    console.log("this is result");
                    console.log(result);

                    $('#commission').text(feesEnpadi).formatCurrency();
                    $('#commissionToPay').text(feespartner).formatCurrency();
                    coffeetools.loadtableKioskoAdmin(result);
                }
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

       function searchPeriod() {
           loadSumary();
           loadTable();
       }

    $(document).ready(function () {
        loadDropdownMonth();
        loadSumary();
        loadTable();
    });
</script>