﻿@model Enpadi_WebUI.Models.pagoServicio

@{
    ViewBag.Title = "ServiciosImpresion";
    Layout = "~/Views/Shared/_LayoutKioskoAdmin.cshtml";
}


<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NOMBRE TIENDA</title>

    <style>
        body {
            margin: 0;
            font-family: Helvetica, Arial, sans-serf;
        }

        h3 {
            font-size: 15px;
            font-weight: normal;
            margin: 14px 0 0 0;
        }

        h4 {
            font-size: 12px;
            font-weight: normal;
            margin: 4px 0;
        }

        h5 {
            font-size: 12px;
            font-weight: normal;
            margin: 2px 0;
        }

        .whitepaper {
            background-color: #FFF;
            width: 400px;
            height: 1020px;
            margin: 0 auto;
        }

        .Header {
            clear: both;
            float: left;
            width: 100%;
            padding-top: 20px;
        }

        .Logo_empresa img {
            width: 150px;
            margin-left: -10px;
        }

        .Logo_paynet {
            float: right;
            margin-top: 3px;
        }

            .Logo_paynet div {
                font-size: 20px;
                font-weight: lighter;
                display: block;
                float: left;
                margin: 10px 12px 0 0;
            }

            .Logo_paynet img {
                width: 130px;
                float: left;
            }

        .Data {
            width: 100%;
            clear: both;
            float: left;
        }

        .DT-margin {
            margin: 4px;
            display: block;
            float: left;
            width: 100%;
            clear: both;
            border-top: 1px solid #000000;
        }

        .Big_Bullet {
            width: 40px;
            float: left;
            margin-right: 24px;
        }

            .Big_Bullet span, .col2 {
                background-color: #006699;
            }

            .Big_Bullet span {
                width: 100%;
                height: 55px;
                display: block;
            }

        .col1 {
            width: 250px;
            float: left;
        }

            .col1 span {
                font-size: 11px;
                clear: both;
                display: block;
                margin: 5px 0;
            }

            .col1 small {
                font-size: 12px;
                width: 320px;
                display: block;
            }

        .col2 {
            width: 358px;
            float: right;
            color: #FFF;
            padding: 40px 0 40px 40px;
        }

            .col2 h1 {
                margin: 0;
                padding: 0;
                font-size: 60px;
            }

                .col2 h1 span {
                    font-size: 45px;
                }

                .col2 h1 small {
                    font-size: 20px;
                }

            .col2 h2 {
                margin: 0;
                font-size: 22px;
                font-weight: lighter;
            }

        .S-margin {
            padding-left: 80px;
        }


        .Table-Data {
            margin: 5px;
            clear: both;
            width: 100%;
            display: block;
            float: left;
        }

        .table-row {
            float: left;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

            .table-row div {
                float: left;
                width: 200px;
                padding: 0;
                font-size: 12px;
                text-align: left;
            }

            .table-row span {
                float: right;
                border-left: 3px solid #FFF;
                padding: 1px 10px 1px 5px;
                font-size: 12px;
                text-align: right;
            }


        .color1 {
            background-color: #F3F3F3;
        }

        .color2 {
            background-color: #EBEBEB;
        }

        .col1 ol, .Col2 ol {
            font-size: 12px;
            width: 290px;
            padding-left: 20px;
        }

        .col1 li, .Col2 li {
            padding: 5px 0;
            line-height: 16px;
        }

        .logos-tiendas {
            clear: both;
            float: left;
            width: 92%;
            padding: 15px 0 0 8%;
            border-top: 1px solid #EDEDED;
            border-bottom: 1px solid #EDEDED;
            margin: 20px 0 0 0;
        }

            .logos-tiendas div {
                float: left;
                margin-right: 50px;
            }

            .logos-tiendas small {
                font-size: 11px;
                margin-left: 20px;
                float: left;
            }

        .margen2 {
            margin-top: 10px;
        }

        .mg3 {
            margin-right: 0 !important;
            margin-top: 10px;
        }

        .Powered {
            text-align: center;
            width: 100%;
            float: left;
            margin-top: 18px;
        }

        .buttons {
            width: 100%;
            clear: both;
            padding: 30px 0 30px 80px;
        }

            .buttons a {
                display: block;
                width: 220px;
                text-align: center;
                color: #FFFFFF;
                padding: 13px 0;
                background-color: #000033;
                font-size: 22px;
                text-decoration: none;
                border-radius: 7px;
                float: left;
                margin-right: 40px;
            }

                .buttons a:hover {
                    background-color: #32a842;
                }
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")

    @section Styles {
        <!-- Section for main scripts render -->
    }
</head>

<body>
    @Html.HiddenFor(x => x.Id);

    <div class="whitepaper text-center">

        <div class="Header">
            <div class="Logo_empresa">
                <img src="~/Images/enpadi-logo.png" alt="Logo">
            </div>
            @*<div class="Logo_paynet">
                    <div>Servicio a pagar</div>
                    <img src="~/Images/paynet_logo.png" alt="Logo Paynet">
                </div>*@
        </div>

        <div class="Data">
            <div class="text-center">
                <h3>TWT Servicios S.A. de C.V.</h3>
                @*<h4>CIP130902TE2</h4>
                    <h4>Rio de la Plata 109</h4>
                    <h4>Col Del Valle</h4>
                    <h4>San Pedro Garza García, NL.</h4>
                    <h4>66220 México</h4>*@
                <h4 style="padding-top:10px;">@String.Format("{0} {1}", Model.fechaLocal, Model.horaLocal)</h4>
            </div>
        </div>
        <div class="DT-margin"></div>
        <div class="text-center lang" key="ticket.saleticket">TICKET DE VENTA</div>
        <div class="DT-margin"></div>
        <div class="Data">
            <div class="text-center" style="padding-top:5px;">
                <h5 style="font-weight:bold;">@Model.nombre</h5>
            </div>
        </div>
        @foreach (var item in Model.DisplayFields)
        {
            var oValor = item.sValor;

            <div class="row">
                @switch (item.iClase)
                {
                    case 0:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 1:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 2:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 3:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 4:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 5:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 6:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 7:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    case 8:
                        @Html.Raw(item.sCampo)
                        <div class="col-lg-8" style="border-bottom-style: inset;">
                            @String.Format("{0:C}", oValor)
                        </div>
                        break;
                    default:
                        break;
                }

            </div>
        }
        <div class="DT-margin"></div>
        <div style="font-size:12px;">
            @if (Model.Id != null)
            {
                <div>
                    <div class="col-sm-4 lang" key="ticket.transaction" style="text-align:right;">TRANSACCION :</div>
                    <div class="col-sm-8" style="text-align:left;">@Model.Id</div>
                </div>
            }
            @if (Model.proveedor != null)
            {
                <div>
                    <div class="col-sm-4 lang" key="ticket.supplier" style="text-align:right;">PROVEEDOR :</div>
                    <div class="col-sm-8" style="text-align:left;">@Model.proveedor</div>
                </div>
            }
            @if (Model.referencia != null)
            {
                <div>
                    <div class="col-sm-4 lang" key="ticket.reference" style="text-align:right;">REFERENCIA :</div>
                    <div class="col-sm-8" style="text-align:left;">@Model.referencia</div>
                </div>
            }
            @if (Model.autorizacion != null)
            {
                <div>
                    <div class="col-sm-4 lang" key="ticket.authorization" style="text-align:right;">AUTORIZACION :</div>
                    <div class="col-sm-8" style="text-align:left;">@Model.autorizacion</div>
                </div>
            }

        </div>
        <div class="Data">
            @if (Model.leyenda != null)
            {
                <div class="text-center" style="padding-top:5px;">
                    <h5>@Model.leyenda</h5>
                </div>
            }
        </div>

        @*<div class="logos-tiendas">
                <div><img width="50" src="~/Images/7eleven.png" alt="7elven"></div>
                <div class="margen2"><img width="90" src="~/Images/extra.png" alt="7elven"></div>
                <div class="margen2"><img width="90" src="~/Images/farmacia_ahorro.png" alt="7elven"></div>
                <div class="mg3"><img width="150" src="~/Images/benavides.png" alt="7elven"></div>
                <div class="mg3"><small>¿Quieres pagar en otras tiendas? <br> visita: www.openpay.mx/tiendas</small></div>
            </div>
            <div class="buttons">
                <a href="javascript:window.print();">Imprimir</a>
            </div>
            <div class="Powered">
                <img src="~/Images/powered_openpay.png" alt="Powered by Openpay" width="150">
            </div>*@


    </div>
</body>
</html>
@section Scripts {
    <!-- Section for main scripts render -->
}

<script>

    $(document).ready(function () {
        Transalate();
    });

    function Transalate() {
        var arrLang = {};
        var lang = sessionStorage.lang;

        var languageFileUrl = "../lang/generalLang.json";

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });
        });
    }

</script>