﻿@model Enpadi_WebUI.Models.socio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
