﻿@model Enpadi_WebUI.Models.socio

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ciudad.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ciudad.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pais.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pais.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.razonSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razonSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rfc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rfc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datDir1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datDir1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datDir2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datDir2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datColonia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datColonia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datCP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datCP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datTelefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datTelefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admnUSR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admnUSR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.admnPASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.admnPASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ventas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ventas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recargas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recargas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remesas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remesas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recompensas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recompensas)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
