﻿@model IEnumerable<Enpadi_WebUI.Models.socio>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Socios</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Catalogo de Asociados
            </h2>
            <small>Socios participantes de la plataforma Enpadi</small>
        </div>
    </div>
</div>


<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Socio", "Create")
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.nombreComercial)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.razonSocial)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.datContacto)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.activo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ventas)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.recargas)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.remesas)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.recompensas)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.nombreComercial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.razonSocial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.datContacto)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.activo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ventas)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.recargas)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.remesas)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.recompensas)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.socioID }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.socioID }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.socioID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
