﻿@model Enpadi_WebUI.Models.predialMovimiento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>predialMovimiento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.predialConcepto.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.predialConcepto.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.predialID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.predialID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono1iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono1iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo1iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo1iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono2iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono2iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo2iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo2iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono3iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono3iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo3iva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo3iva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abonoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abonoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aprobacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aprobacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
