﻿@model IEnumerable<Enpadi_WebUI.Models.predialMovimiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.predialConcepto.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.predialID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono1iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo1iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono2iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo2iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abono3iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo3iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abonoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargoTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.aprobacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.predialConcepto.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.predialID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono1iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo1iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono2iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo2iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abono3iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo3iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abonoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargoTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.aprobacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaRegistro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.movID }) |
            @Html.ActionLink("Details", "Details", new { id=item.movID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.movID })
        </td>
    </tr>
}

</table>
