﻿@model Enpadi_WebUI.Models.logTC

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>logTC</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.result)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idLog }) |
    @Html.ActionLink("Back to List", "Index")
</p>
