﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}


<div class="row" style="padding-top:250px; padding-bottom:250px;">
    <div class="col-lg-12">
        <div class="list-header clearfix">
            <h1>Error</h1>
        </div>
        <div class="list-sfs-holder">
            <div class="alert alert-error">
                An unexpected error has occurred. Please contact the system administrator.
            </div>
            @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
            {
                <div>
                    <p>
                        <b>Exception:</b> @Model.Exception.Message<br />
                        <b>Controller:</b> @Model.ControllerName<br />
                        <b>Action:</b> @Model.ActionName
                    </p>
                    <div style="overflow:scroll">
                        <pre>
                    @Model.Exception.StackTrace
                </pre>
                    </div>
                </div>
            }
        </div>
    </div>
</div>