﻿@model Enpadi_WebUI.Models.ViewModelNavigation
<li>
    <a>
        <span class="small" style="font-size:small">Entradas</span>
        <span class=" small label label-success" style="font-size:small">@string.Format("{0:C}", Model.entradas)</span>
    </a>
</li>
<li>
    <a>
        <span class="small" style="font-size:small">Salidas</span>
        <span class="small label label-danger" style="font-size:small">@string.Format("{0:C}", Model.salidas)</span>
    </a>
</li>
@*<li>
    <a>
        <span class="small" style="font-size:small">Comisiones Pagadas</span>
        <span class="small label label-warning" style="font-size:small">@string.Format("{0:C}", Model.comisionesPagadas)</span>
    </a>
</li>*@
<li>
    <a>
        <span class="small" style="font-size:small">Comisiones Cobradas</span>
        <span class="small label label-info" style="font-size:small">@string.Format("{0:C}", Model.comisionesCobradas)</span>
    </a>
</li>
@*<li>
    <a>
        <span class="small" style="font-size:small">Comisiones Facturables</span>
        <span class="small label label-default" style="font-size:small">@string.Format("{0:C}", Model.comisionesFacturables)</span>
    </a>
</li>*@
<li>
    <a>
        <span class="small" style="font-size:small">Utilidad</span>
        <span class="small label label-primary" style="font-size:small">@string.Format("{0:C}", Model.saldoDisponible)</span>
    </a>
</li>