﻿@model Enpadi_WebUI.Models.ViewModelNavigation

<div id="navigation" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBar);">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Images/@String.Format("{0}", ViewBag.skinApp.image)" class="img-circle m-b" style="background-color:#ffffff;" width="120" alt="logo">
        </a>
        @{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@nombreUsuario</span>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    @*<li><a href="contacts.html">Contactos</a></li>*@
                    @*<li><a href="profile.html">Perfil</a></li>*@
                    @*<li><a href="analytics.html">Analytics</a></li>*@
                    @*<li class="divider"></li>*@
                    <li><a href="login.html">Salir</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-extra-bold m-b-xs">@string.Format("{0:C} MXN", Model.saldoActual)</h4>
                <small class="text-muted" style="color:white;">Saldo Actual</small>
            </div>
            <div style="padding-top:15px;">
                <h6 class="font-extra-bold m-b-xs">@string.Format("{0:N0} pts", Model.saldoRecompensas)</h6>
                <small class="text-muted" style="color:white;">Recompensas</small>
            </div>
        </div>
    </div>

    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@string.Format("{0}", "/enpadiApp/"+ ViewBag.skinApp.name + "/Home/Index")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Inicio</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Recargar", "PanelUsuarios", new { skin = ViewBag.skinApp.name })"><i class="fa fa-credit-card"></i><span class="nav-label" style="padding-left:10px;">Recargar</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Pagar", "PanelUsuarios", new { skin = ViewBag.skinApp.name })"><i class="fa fa-cart-plus"></i><span class="nav-label" style="padding-left:10px;">Pagar</span><span class="label label-success pull-right"></span> </a>
        </li>
        @*<li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Comprar", "PanelUsuarios", new { skin = ViewBag.skinApp.name })"><i class="fa fa-gift"></i><span class="nav-label" style="padding-left:10px;">Comprar</span><span class="label label-success pull-right"></span> </a>
        </li>*@
        <li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Transferir", "PanelUsuarios", new { skin = ViewBag.skinApp.name })"><i class="fa fa-exchange"></i><span class="nav-label" style="padding-left:10px;">Transferir</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelUsuarios")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Recompensas", "PanelUsuarios", new { skin = ViewBag.skinApp.name })"><i class="fa fa-star"></i><span class="nav-label" style="padding-left:10px;">Recompensas</span><span class="label label-success pull-right"></span> </a>
        </li>
    </ul>

</div>