﻿
@model Enpadi_WebUI.Models.ViewModelNavigation

<div id="navigation" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBar);">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Home")">
            <img src="~/Images/@String.Format("{0}", ViewBag.skinApp.image)" class="img-circle m-b" style="background-color:#ffffff;" width="120" alt="logo">
        </a>
        @{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}
        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@nombreUsuario</span>
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    @*<li><a href="contacts.html">Contactos</a></li>*@
                    @*<li><a href="profile.html">Perfil</a></li>*@
                    @*<li><a href="analytics.html">Analytics</a></li>*@
                    @*<li class="divider"></li>*@
                    <li><a href="login.html">Salir</a></li>
                </ul>
            </div>
            <div>
                <h4 class="font-extra-bold m-b-xs">@string.Format("{0:C} MXN", Model.saldoActual)</h4>
                <small class="text-muted" style="color:white;">Saldo Actual</small>
            </div>
            <div style="padding-top:15px;">
                <h6 class="font-extra-bold m-b-xs">@string.Format("{0:N0} pts", Model.saldoRecompensas)</h6>
                <small class="text-muted" style="color:white;">Recompensas</small>
            </div>
        </div>
    </div>

    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "SantiagoPredial")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Predial</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "SantiagoPredialConsultas")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Consultas</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "SantiagoPredialBancos")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Bancos</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "SantiagoPredialTarjetas")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Crédito/Débito</span><span class="label label-success pull-right"></span> </a>
        </li>

        @*<li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i><span class="nav-label" style="padding-left:10px;">Inicio</span><span class="label label-success pull-right"></span> </a>
        </li>*@
        @*<li class="@Html.IsSelected(controller:"Predial")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "Predial")"><i class="fa fa-home"></i><span class="nav-label" style="padding-left:10px;">Predial</span><span class="label label-success pull-right"></span> </a>
        </li>*@
        @*<li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Movimientos", "PanelConcentradora", new { periodo = 0 })"><i class="fa fa-print"></i><span class="nav-label" style="padding-left:10px;">Movimientos</span><span class="label label-success pull-right"></span> </a>
        </li>*@
        @*Exclusivos Administrador*@
       @*<li class="@Html.IsSelected(controller:"predialConceptos")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Index", "predialConceptos")"><i class="fa fa-navicon"></i><span class="nav-label" style="padding-left:10px;">Conceptos</span><span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"PanelConcentradora")" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorNavBtn);">
            <a href="@Url.Action("Migracion", "PanelConcentradora")"><i class="fa fa-star"></i><span class="nav-label" style="padding-left:10px;">Migracion</span><span class="label label-success pull-right"></span> </a>
        </li>*@
    </ul>

</div>