﻿
<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Jesus</span>

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="contacts.html">Contactos</a></li>
                    <li><a href="profile.html">Perfil</a></li>
                    <li><a href="analytics.html">Analytics</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <div id="sparkline1" class="small-chart m-t-sm"></div>
            <div>
                <h4 class="font-extra-bold m-b-xs">
                    $100.00
                </h4>
                <small class="text-muted">Ingreso Total 2015</small>
            </div>
        </div>
    </div>


    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("RecompensasA1","Modulos")"><i class="fa fa-cart-plus"></i><span class="nav-label" style="padding-left:10px;">Venta</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("RecompensasC1","Modulos")"><i class="fa fa-medkit"></i><span class="nav-label" style="padding-left:10px;">Canje</span></a>
        </li>
    </ul>

</div>