﻿@model Enpadi_WebUI.Models.ViewModelNavigation

<div id="navigation">

    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/@String.Format("{0}", ViewBag.skinApp.image)" class="img-circle m-b" style="background-color:#ffffff;" width="120" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Administrador</span>

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="contacts.html">Contactos</a></li>
                    <li><a href="profile.html">Perfil</a></li>
                    <li><a href="analytics.html">Analytics</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            @*<div id="sparkline1" class="small-chart m-t-sm"></div>*@

            <div style="padding-top:10px;">
                <h5>Disponible</h5>
            </div>
            <div style="padding-top:5px;">
                <h4 class="font-extra-bold m-b-xs">@string.Format("{0:C} MXN", Model.saldoTiempoAire)</h4>
                <small class="text-muted" style="color:#ffffff;">TIEMPO AIRE</small>
            </div>
            <div style="padding-top:5px; padding-bottom:10px;">
                <h4 class="font-extra-bold m-b-xs">@string.Format("{0:C} MXN", Model.saldoPagoServicios)</h4>
                <small class="text-muted" style="color:#ffffff;">PAGO DE SERVICIOS</small>
            </div>
        </div>
    </div>

    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller:"Inicio")">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> <span class="nav-label"> Inicio</span> <span class="label label-success pull-right"></span> </a>
        </li>
        <li class="@Html.IsSelected(controller:"Cuentas")">
            <a href="#"><span class="nav-label">Cuentas</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(controller:"Cuentas")"><a href="@Url.Action("Resumen","Tarjetas")">Resumen de Saldos</a></li>
                <li class="@Html.IsSelected(controller:"Cuentas")"><a href="@Url.Action("Index","Tarjetas")">Listado de Cuentas</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller:"Socios")">
            <a href="@Url.Action("Index","Socios")"><span class="nav-label">Socios</span><span class="label label pull-right"></span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Operacion")">
            <a href="#"><span class="nav-label">Operación</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action:"TC")"><a href="@Url.Action("TC","Operacion")">Crédito/Débito</a></li>
                <li class="@Html.IsSelected(action:"Bancos")"><a href="@Url.Action("Bancos","Operacion")">Bancos</a></li>
                <li class="@Html.IsSelected(action:"Tiendas")"><a href="@Url.Action("Tiendas","Operacion")">Tiendas</a></li>
                <li class="@Html.IsSelected(action:"Transferencias")"><a href="@Url.Action("Transferencias", "Operacion")">Transferencias</a></li>
                <li class="@Html.IsSelected(action:"TAE")"><a href="@Url.Action("TAE","Operacion")">Tiempo Aire</a></li>
                <li class="@Html.IsSelected(action:"Servicios")"><a href="@Url.Action("Servicios","Operacion")">Pago de Servicios</a></li>
                
                <li class="@Html.IsSelected(action:"Comisiones")"><a href="@Url.Action("Comisiones", "Operacion")">Comisiones</a></li>
                @*<li class="@Html.IsSelected(action:"PrePago")"><a href="@Url.Action("Prepago", "Operacion")">PrePago</a></li>*@
                @*<li class="@Html.IsSelected(action:"Remesas")"><a href="@Url.Action("Remesas", "Operacion")">Remesas</a></li>*@
                <li class="@Html.IsSelected(action:"Recompensas")"><a href="@Url.Action("Index", "Recompensas")">Recompensas</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller:"Entidades")">
            <a href="#"><span class="nav-label">Entidades</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "SantiagoPredial")">Santiago, NL | Predial</a></li>
                <li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "SantiagoPredialConsultas")">Santiago, NL | Consultas</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller:"posTiendas")">
            <a href="#"><span class="nav-label">Tienda Virtual</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "posTiendas")">Tiendas</a></li>
                <li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "posCategorias")">Categorias</a></li>
                @*<li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "posProductos")">Productos</a></li>*@
                <li class="@Html.IsSelected(action:"Index")"><a href="@Url.Action("Index", "posUnidades")">Unidades</a></li>
            </ul>
        </li>
        <li class="@Html.IsSelected(controller:"Configuracion")">
            <a href="#"><span class="nav-label">Configuracion</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                @*<li class="@Html.IsSelected(action:"Productos")"><a href="@Url.Action("Index", "Productos")">Productos</a></li>*@
                <li class="@Html.IsSelected(action:"Monedas")"><a href="@Url.Action("Index", "Monedas")">Monedas</a></li>
                <li class="@Html.IsSelected(action:"origenes")"><a href="@Url.Action("Index", "origenes")">Origen</a></li>
                <li class="@Html.IsSelected(action:"Paises")"><a href="@Url.Action("Index", "Paises")">Paises</a></li>
                <li class="@Html.IsSelected(action:"Estados")"><a href="@Url.Action("Index", "Estados")">Estados</a></li>
                <li class="@Html.IsSelected(action:"Ciudades")"><a href="@Url.Action("Index", "Ciudades")">Ciudades</a></li>
            </ul>
        </li>
    </ul>

</div>