﻿
<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">Jesus</span>

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted"> <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="contacts.html">Contactos</a></li>
                    <li><a href="profile.html">Perfil</a></li>
                    <li><a href="analytics.html">Analytics</a></li>
                    <li class="divider"></li>
                    <li><a href="login.html">Logout</a></li>
                </ul>
            </div>
            <div id="sparkline1" class="small-chart m-t-sm"></div>
            <div>
                <h4 class="font-extra-bold m-b-xs">
                    $100.00
                </h4>
                <small class="text-muted">Ingreso Total 2015</small>
            </div>
        </div>
    </div>

    <ul class="nav" id="side-menu">
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Mobile","Modulos")"><i class="fa fa-mobile"></i><span class="nav-label" style="padding-left:10px;">Mobile</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Financial","Modulos")"><i class="fa fa-money"></i><span class="nav-label" style="padding-left:10px;">Financial</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Services","Modulos")"><i class="fa fa-bolt"></i><span class="nav-label" style="padding-left:10px;">Services</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Games","Modulos")"><i class="fa fa-futbol-o"></i><span class="nav-label" style="padding-left:10px;">Games</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Remittances","Modulos")"><i class="fa fa-exchange"></i><span class="nav-label" style="padding-left:10px;">Remittances</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Payments","Modulos")"><i class="fa fa-shopping-cart"></i><span class="nav-label" style="padding-left:10px;">Payments</span></a>
        </li>
        <li class="@Html.IsSelected(controller:"Modulos")">
            <a href="@Url.Action("Others","Modulos")"><i class="fa fa-briefcase"></i><span class="nav-label" style="padding-left:10px;">Others</span></a>
        </li>
    </ul>

</div>



