﻿@model Enpadi_WebUI.Models.ViewModelServices

@{
    ViewBag.Title = "Enpadi - Bansefi";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Pagar</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                ENPADI Services
            </h2>
            <small>Products and Services for the Mexicans</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    -
    <div class="row">

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi1.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Deposit on Account</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payDepositBansefi">Deposit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi2.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Savings Account</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#paySavingBansefi">Deposit</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi3.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Microcredit</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payCreditBansefi">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi4.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Remittance</p>
                        <a href="@Url.Action("Remesas", "Modulos")" class="btn btn-primary btn-xs btn-default">Pay</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi5.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Life Insurance</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payLifeInsuranceBansefi">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/bansefi6.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Bansefi</strong>
                        <p class="small">Health Insurance</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payHealthInsuranceBansefi">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/cfe.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>CFE</strong>
                        <p class="small">National</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payCFE">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/telmex.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Telmex</strong>
                        <p class="small">National</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payTelmex">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/telcel.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Telcel</strong>
                        <p class="small">National</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payTelcel">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/iusacell.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Iusacell</strong>
                        <p class="small">National</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payIusacell">Pay</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="panel" style="background-color:#000033;">
                <div class="panel-body text-center">
                    <img alt="logo" class="img-circle" width="100" src="~/Images/movistar.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <strong>Movistar</strong>
                        <p class="small">National</p>
                        <button type="button" class="btn btn-primary btn-xs btn-default" data-toggle="modal" data-target="#payMovistar">Pay</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="payDepositBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Deposit to Bansefi Account</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear Customer</strong></p>
                            <p>Please provide the account number and the amount for your deposit</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Deposit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="paySavingBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Deposit to Bansefi Savings Account</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear Customer</strong></p>
                            <p>Please provide the account number and the amount for your deposit</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Account</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Deposit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payCreditBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Bansefi Microcredit Payment</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the microcredit number and the payment amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Microcredit</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="payLifeInsuranceBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Life Insurance Bansefi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please select the Insurance for your needs</p>
                        </div>
                        <div class="form-group">
                            <div class="radio text-center">
                                <label><input type="radio" value="option1" id="opSeg" checked="checked" />Covered by $15,000.00 (Insurance Policy $ 75.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $20,000.00 (Insurance Policy $100.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $25,000.00 (Insurance Policy $125.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $30,000.00 (Insurance Policy $150.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $35,000.00 (Insurance Policy $175.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $40,000.00 (Insurance Policy $200.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $50,000.00 (Insurance Policy $250.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $60,000.00 (Insurance Policy $300.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $70,000.00 (Insurance Policy $350.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $75,000.00 (Insurance Policy $375.00)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payHealthInsuranceBansefi" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/bansefi.png" width="135" /></div>
                    <div><small class="font-bold">Health Insurance Bansefi</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please select the Insurance plan and price for your needs</p>
                        </div>
                        <div class="form-group">
                            <div class="radio text-center">
                                <label><input type="radio" value="option1" id="opSeg" checked="checked" />Covered by $15,000.00 (Insurance Policy $ 75.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $20,000.00 (Insurance Policy $100.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $25,000.00 (Insurance Policy $125.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $30,000.00 (Insurance Policy $150.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $35,000.00 (Insurance Policy $175.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $40,000.00 (Insurance Policy $200.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $50,000.00 (Insurance Policy $250.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $60,000.00 (Insurance Policy $300.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $70,000.00 (Insurance Policy $350.00)</label>
                                <label><input type="radio" value="option1" id="opSeg" />Covered by $75,000.00 (Insurance Policy $375.00)</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payCFE" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/cfe.png" width="135" /></div>
                    <div><small class="font-bold">Comisión Federal de Electricidad</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the Reference number and the Payment Amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reference</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payTelmex" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/telmex.png" width="135" /></div>
                    <div><small class="font-bold">Telefonos de México</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the Reference number and the Payment Amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reference</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payTelcel" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/telcel.png" width="135" /></div>
                    <div><small class="font-bold">Telcel | Radiomovil Dipsa, S.A. de C.V.</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the Reference number and the Payment Amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reference</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payIusacell" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/iusacell.png" width="185" /></div>
                    <div><small class="font-bold">Iusacell</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the Reference number and the Payment Amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reference</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="payMovistar" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <div><img alt="logo" class="img-thumbnail" src="~/Images/movistar.png" width="135" /></div>
                    <div><small class="font-bold">Movistar</small></div>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="text-center" style="padding-bottom:15px;">
                            <p><strong>Dear User</strong></p>
                            <p>Please provide the Reference number and the Payment Amount</p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Reference</label>
                            <div class="col-sm-10"><input type="text" class="form-control" /></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <span class="input-group-addon">$</span>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Pay</button>
                </div>
            </div>
        </div>
    </div>

</div>
