﻿@model Enpadi_WebUI.Models.ViewModelEstadoDeCuenta

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body">
                <div class="col-sm-6 m-b-xs">
                    @{var nombreUsuario = string.Format("{0} {1}", Model.usuario.datNombre, Model.usuario.datPaterno);}
                    <div class="row"><h5>@Model.usuario.tcNum - @nombreUsuario</h5></div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <form>
                            <div class="col-sm-6">
                                <select class="form-control" id="periodo" name="periodo">
                                    @foreach (var item in Model.meses)
                                    {
                                        <option value="@item.numero">@item.mes</option>
                                    }
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <input class="btn btn-primary" type="submit" value="Generar" />
                            </div>
                        </form>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                    <div class="col-xs-8 text-right"><strong>@Model.periodo_descripcion</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left"><strong>Saldo Inicial</strong></div>
                    <div class="col-xs-8 text-right"><strong>@string.Format("{0:C} MXN", Model.saldoInicial)</strong></div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left">Depositos</div>
                    <div class="col-xs-8 text-right">@string.Format("{0:C} MXN", Model.abonos)</div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-left">Cargos</div>
                    <div class="col-xs-8 text-right">@string.Format("{0:C} MXN", Model.cargos)</div>
                </div>
                <div class="row">
                    <div class="col-lg-4 text-left"><strong>Saldo Final</strong></div>
                    <div class="col-xs-8 text-right"><strong>@string.Format("{0:C} MXN", Model.saldoFinal)</strong></div>
                </div>
                <p>&nbsp;</p>
                @{var headerData = Model.movimientos.FirstOrDefault();}
                <div class="table-responsive">
                    <table cellpadding="1" cellspacing="1" class="table">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => headerData.socio)</th>
                                <th>@Html.DisplayNameFor(model => headerData.concepto)</th>
                                <th>@Html.DisplayNameFor(model => headerData.tarjeta)</th>
                                <th>@Html.DisplayNameFor(model => headerData.transaccion)</th>
                                <th>@Html.DisplayNameFor(model => headerData.monto)</th>
                                <th>@Html.DisplayNameFor(model => headerData.comision)</th>
                                <th>@Html.DisplayNameFor(model => headerData.iva)</th>
                                <th>@Html.DisplayNameFor(model => headerData.moneda)</th>
                                <th>@Html.DisplayNameFor(model => headerData.estatus)</th>
                                <th>@Html.DisplayNameFor(model => headerData.aprobacion)</th>
                                <th>@Html.DisplayNameFor(model => headerData.fechaRegistro)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.movimientos)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.socio)</td>
                                    <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.tarjeta)</td>
                                    @if (item.socioID == 5 || item.socioID == 6)
                                    {
                                        if (item.transaccion != String.Empty)
                                        {
                                            <td class="text-info" style="text-decoration:underline;">@Html.ActionLink(item.transaccion, "ServiciosImpresion", "PanelUsuarios", new { t = item.tarjetaID, m = item.monto, a = item.aprobacion }, new { @class = "text-info", target = "_blank" })</td>
                                        }
                                        else
                                        {
                                            <td class="text-info" style="text-decoration:underline;"></td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.monto)</td>
                                    <td>@Html.DisplayFor(modelItem => item.comision)</td>
                                    <td>@Html.DisplayFor(modelItem => item.iva)</td>
                                    <td>@Html.DisplayFor(modelItem => item.moneda)</td>
                                    <td>@Html.DisplayFor(modelItem => item.estatus)</td>
                                    <td>@Html.DisplayFor(modelItem => item.aprobacion)</td>
                                    <td>@Html.DisplayFor(modelItem => item.fechaRegistro)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
