﻿@model Enpadi_WebUI.Models.ViewModelInicio

@{
    ViewBag.Title = "Inicio";
}

<div class="content animate-panel">
    @if (Model.perfil != "Concentradora")
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                            <div class="fa fa-area-chart"></div> Montos Diarios por Método de Pago
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="lineChart" height="70"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        <div class="fa fa-line-chart"></div> Número Diario de Transacciones
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="transChart" height="40"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        TIEMPO AIRE | Montos Procesados
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="chartTaeMontos" height="120"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        PAGO DE SERVICIOS | Montos Procesados
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="chartServicios" height="120"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        TIEMPO AIRE | Número de Transacciones
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="chartTaeTransacciones" height="80"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            <a class="closebox"><i class="fa fa-times"></i></a>
                        </div>
                        PAGO DE SERVICIOS | Número de Transacciones
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <canvas id="chartServiciosTransacciones" height="80"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <div class="row">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <div class="hpanel">

            </div>
        </div>
    </div>

    <!-- Despliega la Vista Inicial en base a los Roles del Usuario -->
    @Html.Action("EnpadiHome", "Home", new { periodo = Model.periodo })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/chartjs/js")

    <script type="text/javascript">

    var randomHexColor = function() {
        return '#'+Math.floor(Math.random()*16777215).toString(16);
    }

    // FUNCION Window.onload QUE SE ENCARGA DE GENERAR TODAS LAS GRAFICAS
        window.onload = function () {

        var rsmFechas, rsmVisaMC, rsmAmex, rsmBanco, rsmTienda, rsmTiempoAire, rsmServicios, rsmTransferencias;

            @if (Model.VisaMC != null) {
                // ENTRADAS Y SALIDAS | Resumen General
                <text>
                rsmFechas = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Periodo));
                rsmVisaMC = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Abono));
                rsmAmex = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Amex.Select(u => u.Abono));
                rsmBanco = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Banco.Select(u => u.Abono));
                rsmTienda = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Tienda.Select(u => u.Abono));
                rsmTiempoAire = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.TAE.Select(u => u.Cargo));
                rsmServicios = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Servicios.Select(u => u.Cargo));
                rsmTransferencias = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Transferencias.Select(u => u.Cargo));
                </text>
            }

            var resumenData = {
            labels: rsmFechas,
            datasets: [
            {
                type: 'line',
                label: 'Visa/MasterCard',
                backgroundColor: 'rgba(255,17,5,0.5)',
                data: rsmVisaMC,
                borderColor: 'rgba(255,17,5,0.5)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'American Express',
                backgroundColor: 'rgba(15,161,220,0.5)',
                data: rsmAmex,
                borderColor: 'rgba(15,161,220,0.7)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'Bancos',
                backgroundColor: 'rgba(82,37,153,0.5)',
                data: rsmBanco,
                borderColor: 'rgba(82,37,153,0.5)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'Tiendas',
                backgroundColor: 'rgba(0,128,97,0.5)',
                data: rsmTienda,
                borderColor: 'rgba(0,128,97,0.7)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'Tiempo Aire',
                backgroundColor: 'rgba(255,224,2,0.5)',
                data: rsmTiempoAire,
                borderColor: 'rgba(255,224,2,0.7)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'Pago de Servicios',
                backgroundColor: 'rgba(68,65,42,0.5)',
                data: rsmServicios,
                borderColor: 'rgba(68,65,42,0.7)',
                borderWidth: 2
            }, {
                type: 'line',
                label: 'Transferencias',
                backgroundColor: 'rgba(250,118,255,0.5)',
                data: rsmTransferencias,
                borderColor: 'rgba(250,118,255,0.7)',
                borderWidth: 2
            }]
        };

        var ctx = document.getElementById("lineChart").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: resumenData,
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'Montos Diarios por Metodo de Pago'
                },
                scales: {
                    yAxes: [{
                        ticks: {

                            callback: function(value, index, values) {
                                if(value>-1 && value <1)
                                    return null;
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return '$' + value;
                            }
                        }
                    }]
                },
                animation: {
                    onComplete: function () {
                        var chartInstance = this.chart;
                        var ctx = chartInstance.ctx;

                        ctx.textAlign = "center";

                        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                                if(i == 0)
                                    ctx.fillText(dataset.data[index], bar._model.x, bar._model.y - 15);
                                if(i == 2)
                                    ctx.fillText(dataset.data[index], bar._model.x, bar._model.y + 15);
                            }),this)
                        }),this);
                    }
                }
            }
        });

        var rsmTransFechas, rsmTransVisaMC, rsmTransAmex, rsmTransBanco, rsmTransTienda, rsmTransTiempoAire, rsmTransServicios, rsmTransTransfer;

        @if (Model.VisaMC != null) {
            <text>
             // ENTRADAS Y SALIDAS | Número de Transacciones
              rsmTransFechas = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Periodo));
              rsmTransVisaMC = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.VisaMC.Select(u => u.Transacciones));
              rsmTransAmex = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Amex.Select(u => u.Transacciones));
              rsmTransBanco = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Banco.Select(u => u.Transacciones));
              rsmTransTienda = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Tienda.Select(u => u.Transacciones));
              rsmTransTiempoAire = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.TAE.Select(u => u.Transacciones));
              rsmTransServicios = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Servicios.Select(u => u.Transacciones));
              rsmTransTransfer = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Transferencias.Select(u => u.Transacciones));
             </text>
        }
             var rsmTransConfig = {
            type: 'line',
            data: {
                 labels: rsmTransFechas,
                datasets: [{
                     label: 'Visa/MasterCard',
                    data: rsmTransVisaMC,
                    fill: false,
                    borderColor: 'rgba(255,17,5,1)',
                    borderDash: [1,1]
                }, {
                    label: 'American Express',
                    data: rsmTransAmex,
                    fill: false,
                    borderColor: 'rgba(15,161,220,1)',
                    borderDash: [2,2]
                }, {
                    label: 'Bancos',
                    data: rsmTransBanco,
                    fill: false,
                    borderColor: 'rgba(82,37,153,1)',
                    borderDash: [4,4]
                }, {
                    label: 'Tiendas',
                    data: rsmTransTienda,
                    fill: false,
                    borderColor: 'rgba(0,128,97,1)',
                    borderDash: [6,6]
                }, {
                    label: 'Tiempo Aire',
                    data: rsmTransTiempoAire,
                    fill: false,
                    borderColor: 'rgba(255,224,2,1)'
                }, {
                    label: 'Pago de Servicios',
                    data: rsmTransServicios,
                    fill: false,
                    borderColor: 'rgba(68,65,42,1)',
                    borderDash: [8,8]
                }, {
                    label: 'Transferencias',
                    data: rsmTransTransfer,
                    fill: false,
                    borderColor: 'rgba(250,118,255,0.7)',
                    borderDash: [1,1]
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'Número Diario de Transacciones'
                },
                tooltips: {
                    mode: 'label'
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Mes'
                        }
                    }],
                    yAxes: [{
                        display:true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Valor'
                        }
                    }]
                },
                animation: {
                    onComplete: function () {
                        var chartInstance = this.chart;
                        var ctx = chartInstance.ctx;

                        ctx.textAlign = "center";

                        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                                ctx.fillText(dataset.data[index], bar._model.x, bar._model.y - 25);
                            }),this)
                        }),this);
                    }
                }
            }
        }

        var ctx = document.getElementById('transChart').getContext('2d');
        window.myLine = new Chart(ctx, rsmTransConfig);


        var taeLabel, taeTelcel, taeMovistar, taeIusacell, taeUnefon, taeNextel, taeVirgin;
        @if (Model.Telcel != null) {
            <text>
            // TIEMPO AIRE | MONTOS
            taeLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Mes));
            taeTelcel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Cargo));
            taeMovistar = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Movistar.Select(u => u.Cargo));
            taeIusacell = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Iusacell.Select(u => u.Cargo));
            taeUnefon = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Unefon.Select(u => u.Cargo));
            taeNextel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Nextel.Select(u => u.Cargo));
            taeVirgin = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Virgin.Select(u => u.Cargo));
            </text>
        }

        var taeData = {
            labels: taeLabel,
            datasets: [{
                label: 'Telcel',
                backgroundColor: 'rgba(0,37,151,0.7)',
                data: taeTelcel
            }, {
                label: 'Movistar',
                backgroundColor: 'rgba(135,196,56,0.5)',
                data: taeMovistar
            }, {
                label: 'Iusacell',
                backgroundColor: 'rgba(46,159,215,0.5)',
                data: taeIusacell
            }, {
                label: 'Unefon',
                backgroundColor: 'rgba(255,228,9,0.5)',
                data: taeUnefon
            }, {
                label: 'Nextel',
                backgroundColor: 'rgba(255,81,0,0.5)',
                data: taeNextel
            }, {
                label: 'Virgin',
                backgroundColor: 'rgba(204,0,1,0.5)',
                data: taeVirgin
            }]
        }

        var ctx = document.getElementById('chartTaeMontos').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: taeData,
            options: {
                title:{
                    display:true,
                    text:'Tiempo Aire'
                },
                tooltips: {
                    mode:'label'
                },
                responsive:true,
                scales : {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            callback: function(value, index, values) {
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return '$' + value;
                            }
                        }
                    }]
                },
            }
        })


        var taeTransLabel, taeTransTelcel, taeTransMovistar, taeTransIusacell, taeTransUnefon, taeTransNextel, taeTransVirgin;
        @if (Model.Telcel != null) {
        <text>
        // TIEMPO AIRE | TRANSACCIONES
        var taeTransLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Mes));
        var taeTransTelcel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Telcel.Select(u => u.Transacciones));
        var taeTransMovistar = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Movistar.Select(u => u.Transacciones));
        var taeTransIusacell = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Iusacell.Select(u => u.Transacciones));
        var taeTransUnefon = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Unefon.Select(u => u.Transacciones));
        var taeTransNextel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Nextel.Select(u => u.Transacciones));
        var taeTransVirgin = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.Virgin.Select(u => u.Transacciones));
        </text>
      }

        var taeTrans = {
            type: 'line',
            data: {
                labels: taeTransLabel,
                datasets: [{
                    label: 'Telcel',
                    data: taeTransTelcel,
                    fill: false,
                    borderColor: 'rgba(0,37,151,0.7)',
                    borderDash: [1,1]
                }, {
                    label: 'Movistar',
                    backgroundColor: 'rgba(135,196,56,0.5)',
                    fill: false,
                    data: taeTransMovistar
                }, {
                    label: 'Iusacell',
                    backgroundColor: 'rgba(46,159,215,0.5)',
                    fill: false,
                    data: taeTransIusacell
                }, {
                    label: 'Unefon',
                    backgroundColor: 'rgba(255,228,9,0.5)',
                    fill: false,
                    data: taeTransUnefon
                }, {
                    label: 'Nextel',
                    backgroundColor: 'rgba(255,81,0,0.5)',
                    fill: false,
                    data: taeTransNextel
                }, {
                    label: 'Virgin',
                    backgroundColor: 'rgba(204,0,1,0.5)',
                    fill: false,
                    data: taeTransVirgin
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'Transacciones de Tiempo Aire'
                },
                tooltips: {
                    mode: 'label'
                },
                hover: {
                    mode: 'dataset'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Mes'
                        }
                    }],
                    yAxes: [{
                        display:true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Valor'
                        }
                    }]
                },
                animation: {
                    onComplete: function () {
                        var chartInstance = this.chart;
                        var ctx = chartInstance.ctx;

                        ctx.textAlign = "center";

                        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                                ctx.fillText(dataset.data[index], bar._model.x, bar._model.y - 25);
                            }),this)
                        }),this);
                    }
                }
            }
        }

        var ctx = document.getElementById('chartTaeTransacciones').getContext('2d');
        window.myLine = new Chart(ctx, taeTrans);



        var serviciosLabel, serviciosData;

        @if (Model.ServiciosMonto != null) {
                <text>
                // PAGO DE SERVICIOS
                var serviciosLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosMonto.Select(u => u.Mes));
                var serviciosData = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosMonto.Select(u => u.Cargo));
                </text>
             }
        var serviciosData = {
            labels: serviciosLabel,
            datasets: [{
                label: 'Pago de Servicios',
                backgroundColor: 'rgba(151,187,205,0.5)',
                data: serviciosData
            }]
        }

        var ctx = document.getElementById('chartServicios').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: serviciosData,
            options: {
                title: {
                    display: true,
                    text: 'Pago de Servicios'
                },
                tooltips: {
                    mode:'label'
                },
                responsive: true,
                scales: {
                    xAxes: [{
                        stacked: true
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            callback: function(value, index, values) {
                                value = value.toString();
                                value = value.split(/(?=(?:...)*$)/);
                                value = value.join(',');
                                return '$' + value;
                            }
                        }
                    }]
                }
            }
        })

        var serviciosTransLabel, serviciosTransData;

        @if (Model.VisaMC != null) {
            <text>
             // PAGO DE SERVICIOS | TRANSACCIONES
            serviciosTransLabel = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosTransacciones.Select(u => u.Mes));
            serviciosTransData = @Enpadi_WebUI.App_Code.JavaScriptConvert.SerializeObject(Model.ServiciosTransacciones.Select(u => u.Total));
            </text>
        }


        var serviciosTrans = {
            type: 'line',
            data: {
                labels: serviciosTransLabel,
                datasets: [{
                    label: 'Servicios',
                    data: serviciosTransData,
                    fill: false,
                    borderColor: 'rgba(0, 37, 151, 0.7)',
                    borderDash: [1,1]
                }]
            },
            options: {
                responsive: true,
                title: {
                    display: false,
                    text: 'Transacciones de Tiempo Aire'
                },
                tooltips: {
                    mode:'label'
                },
                hover: {
                    mode: 'datasets'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Mes'
                        }
                    }],
                    yAxes: [{
                        display:true,
                        scaleLabel: {
                            show: true,
                            labelString: 'Valor'
                        }
                    }]
                },
                animation: {
                    onComplete: function () {
                        var chartInstance = this.chart;
                        var ctx = chartInstance.ctx;

                        ctx.textAlign = "center";

                        Chart.helpers.each(this.data.datasets.forEach(function (dataset, i) {
                            var meta = chartInstance.controller.getDatasetMeta(i);
                            Chart.helpers.each(meta.data.forEach(function (bar, index) {
                                ctx.fillText(dataset.data[index], bar._model.x, bar._model.y - 25);
                            }),this)
                        }),this);
                    }
                }
            }
        }

        var ctx = document.getElementById('chartServiciosTransacciones').getContext('2d');
        window.myLine = new Chart(ctx, serviciosTrans);
    }

    </script>
}
