﻿@model Enpadi_WebUI.Models.EnpadiPostOrder


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-6">
                    Monto
                </div>
                <div class="col-lg-6">
                    $2,000.00
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Moneda
                </div>
                <div class="col-lg-6">
                    $2,000.00
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Cliente a pagar
                </div>
                <div class="col-lg-6">
                    Adrian Marcelo Morales
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Correo de a notificar
                </div>
                <div class="col-lg-6">
                    amorales@coffee-systems.com
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">

            </div>
        </div>
        <div class="col-lg-4">
            <div class="row">

            </div>
        </div>
    </div>
</div>
