﻿@model Enpadi_WebUI.Models.recompensa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>recompensa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.origenes.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.origenes.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.socios.nombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.socios.nombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarjetas.tcNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarjetas.tcNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.concepto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.concepto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.abono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cargo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cargo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.recompensaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
