﻿@model IEnumerable<Enpadi_WebUI.Models.recompensa>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Operacion</span></li>
                    <li class="active"><span>Recompensas</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Listado de Recompensas
            </h2>
            <small>Puntos acreditados en base al uso de la cuenta enpadi</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Recompensa", "Create")
                </div>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.origenes.descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.socios.nombreComercial)</th>
                                    <th>@Html.DisplayNameFor(model => model.tarjetas.tcNum)</th>
                                    <th>@Html.DisplayNameFor(model => model.transaccion)</th>
                                    <th>@Html.DisplayNameFor(model => model.concepto)</th>
                                    <th>@Html.DisplayNameFor(model => model.abono)</th>
                                    <th>@Html.DisplayNameFor(model => model.cargo)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.origenes.descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.socios.nombreComercial)</td>
                                        <td>@Html.DisplayFor(modelItem => item.tarjetas.tcNum)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.concepto)</td>
                                        <td>@Html.DisplayFor(modelItem => item.abono)</td>
                                        <td>@Html.DisplayFor(modelItem => item.cargo)</td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.recompensaID }) |
                                            @Html.ActionLink("Detalle", "Details", new { id = item.recompensaID }) |
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.recompensaID })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
