﻿<div class="color-line">
</div>
<div id="logo" class="light-version; text-center" style="background-color:@string.Format("#{0}", ViewBag.skinApp.colorTitle);">
    <span>@ViewBag.skinApp.title</span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">ENPADI APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            @*<input type="text" placeholder="Buscar..." class="form-control" name="search">*@
            
        </div>
    </form>
    <div class="navbar-right">
        @*<a href="@Url.Action("Terminos", "PanelUsuarios")"><span class="nav-label" style="margin-right:40px; margin-top:25px;">Terminos y Condiciones del Servicio</span><span class="label label-success pull-right"></span> </a>*@
        <ul class="nav navbar-nav no-borders">
            @*<li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-speaker"></i>
                </a>
                <ul class="dropdown-menu hdropdown notification animated flipInX">
                    <li><a><span class="label label-success">NEW</span> It is a long established.</a></li>
                    <li><a><span class="label label-warning">WAR</span> There are many variations.</a></li>
                    <li><a><span class="label label-danger">ERR</span> Contrary to popular belief.</a></li>
                    <li class="summary"><a href="#">See all notifications</a></li>
                </ul>
            </li>*@
            @*<li class="dropdown">
                <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown">
                    <i class="pe-7s-mail"></i>
                    <span class="label label-success">4</span>
                </a>
                <ul class="dropdown-menu hdropdown animated flipInX">
                    <div class="title">You have 4 new messages</div>
                    <li><a>It is a long established.</a></li>
                    <li><a>There are many variations.</a></li>
                    <li><a>Lorem Ipsum is simply dummy.</a></li>
                    <li><a>Contrary to popular belief.</a></li>
                    <li class="summary"><a href="#">See All Messages</a></li>
                </ul>
            </li>*@

            @Html.Action("EnpadiHeader", "Navigation")

            <li class="dropdown">
                <a href="@Url.Action("LogOff", "Account")" title="Cerrar Sesión">
                    <i class="pe-7s-upload pe-rotate-90" style="margin-right:10px;"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
