﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout_Error</title>

    <!-- Primary HOMER style -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @*@Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/_layout_website")


    @RenderSection("Styles", required: false)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: false)
</head>
<body>

    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top navbar-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="menu-logo-li">
                                <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li id="index"><a href="~/website/index?m=index">Inicio</a></li>
                            <li id="company"><a href="~/website/company?m=company">Empresas</a></li>
                            <li id="clients"><a href="~/website/clients?m=clients">Individuos</a></li>
                            <li id="contact"><a href="~/website/contact?m=contact">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>



    <div class="container">

        <!-- Main view  -->
        @RenderBody()

        <div class="row">


            <div class="col-lg-12">
                <div class="footer-content" style="background-color:#003366">
                    <h1 class="footer-title">enpadi</h1>
                    <hr style="width: 250px;" />
                    @@ Derechos reservados 2017 ENPADI.
                    <br />
                </div>
            </div>
        </div>
    </div>
</body>
</html>
