﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Lab</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")

    <!-- Handler for local scripts -->
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</head>
<body>
    <div class="container">
        <div id="menu">

            <a href="#" data-activates="slide-out" class="button-collapse valign-wrapper">
                <h4><i class="material-icons">menu</i> Menu</h4>
            </a>
            <ul id="slide-out" class="side-nav">
                <li><div class="divider"></div></li>
                <li><a class="subheader">API</a></li>
                @*<li><a href="~/test/apimx">MX API</a></li>*@
                <li><a href="~/test/apiusa">USA API</a></li>

                @*<li><div class="divider"></div></li>
                <li><a class="subheader">Encrypt</a></li>
                <li><a class="waves-effect" href="~/test/encryption">Encryption</a></li>

                <li><div class="divider"></div></li>
                <li><a class="subheader">Fees</a></li>
                <li><a class="waves-effect" href="#!">USA Fees</a></li>
                <li><a class="waves-effect" href="#!">MX Fees</a></li>

                <li><div class="divider"></div></li>
                <li><a class="subheader">Button Enpadi Pay</a></li>
                <li><a class="waves-effect" href="#!">Enpady Pay</a></li>

                <li><div class="divider"></div></li>
                <li><a class="subheader">Seguro</a></li>
                <li><a class="waves-effect" href="#!">Seguro</a></li>

                <li><div class="divider"></div></li>
                <li><a class="subheader">Documentation</a></li>
                <li><a class="waves-effect" href="#!">API</a></li>

                <li><div class="divider"></div></li>
                <li><a class="subheader">Examples</a></li>
                <li><a class="waves-effect" href="#!">Form example</a></li>*@
            </ul>

        </div>

        <div id="divBody">
            @RenderBody()
        </div>
    </div>
</body>
</html>

<script>
    // Initialize collapse button
    $(".button-collapse").sideNav();
        // Initialize collapsible (uncomment the line below if you use the dropdown variation)
        //$('.collapsible').collapsible();
</script>