﻿@using System.Configuration;
@{
    Layout = null;
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Kiosko admin</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add local styles, mostly for plugins css file -->
    @*@if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}*@
    <!-- Primary HOMER style -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @*@Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/_layout_website")


    @RenderSection("Styles", required: true)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")


</head>
<body class="kiosko">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-wrapper">
                    <div class="container-fluid">
                        <nav class="navbar navbar-fixed-top navbar-menu">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="menu-logo-li">
                                            <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="index"><a href="~/KioskoAdmin/index?m=index">Inicio</a></li>
                                        <li id="logoff"><a href="~/KioskoAdmin/LogOff">LogOut</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-lg-3">
                @*name*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-name">
                            <label id="lb_client_name"></label>
                        </div>
                    </div>
                </div>
                @*first table*@
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-name lang" key="kioskoshareview.summary">Res&uacute;men</div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <i class="fa fa-bar-chart fa-align-center fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.credit">
                                                Cr&eacute;dito otorgado
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_used_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.paymentsdone">
                                                Pagos Realizados
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_available_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.availablecredit">
                                                Cr&eacute;dito disponible
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*second table*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-name">Datos de cuenta</div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_number"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                # de cuenta
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_nip"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                NIP
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_email"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                Correo registrado
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row lang-select">
                    <div class="col-lg-8">
                        <label class="lang" key="shareuserindex.language"></label>
                    </div>
                    <div class="col-lg-4">
                        <div id="div_lang_bar" class="lang-div-lang-bar-user">
                            <select id="translate" onchange="ChangeLanguage();">
                                <option value="mx">
                                    Español
                                </option>
                                <option value="en">
                                    English
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Main view  -->
                @RenderBody()
            </div>
        </div>


    </div>

</body>
</html>

<script type="text/javascript">
    function changeActive(el) {
        $(".li-menun-content").removeClass("active");

        $(el).addClass("active");
    }

    $(window).load(function () {
        $.ajax({
            url: '@Url.Action("LoadUser", "WebUsaAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#lb_credit").text(result.enpadiCard.creditoDisponible).formatCurrency();
                $("#lb_balance").text(result.AccountBalance).formatCurrency();
                $("#lb_used_credit").text(result.enpadiCard.creditoPorPagar).formatCurrency();
                $("#lb_available_credit").text((result.enpadiCard.creditoDisponible - result.enpadiCard.creditoPorPagar)).formatCurrency();
                $("#lb_enpadicard_number").text(result.enpadiCard.tcNum);
                $("#lb_enpadicard_nip").text(result.enpadiCard.tcNIP);
                $("#lb_email").text(result.user.Email);
                $("#lb_client_name").text(result.user.Name);

            },
            error: function (result) {
                console.log(result);
            }
        });


        //set the active li on the proper option
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return results[1] || 0;
        }
        var menuOption = $.urlParam('m');
        if (menuOption == null) {
            menuOption = "";
        }
        $('#' + menuOption).addClass('active');

        if (sessionStorage.lang == undefined) {
            sessionStorage.lang = "mx";
        }

        $("#translate").val(sessionStorage.lang);

        if (window.location.href === "https://www.enpadi.com/usa/KioskoAdmin") {
            window.location.href = "https://www.enpadi.com/usa/KioskoAdmin/Index?m=index";
        } 

        if (window.location.href === "http://enpadi.com/usa/KioskoAdmin") {
            window.location.href = "http://enpadi.com/usa/KioskoAdmin/Index?m=index";
        }

        if (window.location.href === "http://www.enpadi.com/usa/KioskoAdmin") {
            window.location.href = "http://www.enpadi.com/usa/KioskoAdmin/Index?m=index";
        }

        if (window.location.href === "https://www.enpadi.com/usa/kioskoadmin") {
            window.location.href = "https://www.enpadi.com/usa/KioskoAdmin/Index?m=index";
        }

        if (window.location.href === "https://enpadi.com/usatest/KioskoAdmin") {
            window.location.href = "https://enpadi.com/usatest/KioskoAdmin/Index?m=index";
        }

        if (window.location.href === "http://localhost:45093/KioskoAdmin") {
            window.location.href = "http://localhost:45093/KioskoAdmin/Index?m=index";
        }

    });

    Transalate();

    function ChangeLanguage() {
        sessionStorage.lang = $("#translate").val();
        Transalate();
    }

    function Transalate() {

        if (typeof this.loadDropdownMonth === "function") {

            loadDropdownMonth();
        }

        if (typeof this.searchPeriod === "function") {
            searchPeriod();
        }

        if (typeof this.loadCharts === 'function') {
            loadCharts();
        }

        ChangeDivLanguages();
    }

        function ChangeDivLanguages() {

        var arrLang = {};
        var lang = sessionStorage.lang;
        var languageFileUrl = "";
        var _pageRegion = "@pageRegion";

        console.log("translate executed with lang " + lang + " and region " + _pageRegion);

        if (_pageRegion === "usa") {
            languageFileUrl = "../lang/generalLang.json";
        } else {
            languageFileUrl = "../lang/generalLang.json";
        }

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });

            $('.lang-button').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("value", arrLang[lang][key]);
            });
        });

    }
</script>

@RenderSection("Scripts", required: true)