﻿@using System.Configuration;
@{
    Layout = null;
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Company : @ViewBag.Title</title>

    <!-- Primary HOMER style -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @*@Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/_layout_website")


    @RenderSection("Styles", required: true)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: true)


    <script type="text/javascript">
    $(document).ready(function () {

        //set the active li on the proper option
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return results[1] || 0;
        }
        var menuOption = $.urlParam('m');
        if (menuOption == null) {
            menuOption = "index";
        }
        $('#' + menuOption).addClass('active');




        if (sessionStorage.lang == undefined) {
            sessionStorage.lang = "mx";
        }

        $("#translate").val(sessionStorage.lang);

        if (window.location.href === "https://www.enpadi.com/usa/") {
            window.location.href = "https://www.enpadi.com/usa/website/index";
        }

        if (window.location.href === "https://www.enpadi.com/mx/") {
            window.location.href = "https://www.enpadi.com/mx/website/index";
        }
    });

    Transalate();

    function ChangeLanguage() {
        sessionStorage.lang = $("#translate").val();
        Transalate();
    }

    function Transalate() {
        var arrLang = {};
        var lang = sessionStorage.lang;
        var languageFileUrl = "";
        var _pageRegion = "@pageRegion";

        console.log("translate executed with lang " + lang + " and region " + _pageRegion);



        if (_pageRegion === "usa") {
            languageFileUrl = "../lang/generalLang.json";
        } else {
            languageFileUrl = "../lang/generalLang.json";
        }

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });
        });
    }

    </script>

</head>
<body>
    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top navbar-menu">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="menu-logo-li">
                                <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                            </li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">
                            <li id="index"><a href="~/website/index?m=index" class="lang" key="menu.index"></a></li>
                            <li id="company"><a href="~/website/company?m=company" class="lang" key="menu.company"></a></li>
                            <li id="clients"><a href="~/website/clients?m=clients" class="lang" key="menu.clients"></a></li>
                            <li id="contact"><a href="~/website/contact?m=contact" class="lang" key="menu.contact"></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>




    <div class="container">

        <!-- Main view  -->

        @RenderBody()



        @*fotter*@
        <div class="row">


            <div class="col-lg-12">

                <div class="footer-content" style="background-color:@string.Format("#{0}", ViewBag.color_5);">
                    <div id="div_lang_bar" class="lang-div-lang-bar">
                        <select id="translate" onchange="ChangeLanguage();">
                            <option value="mx">
                                Español
                            </option>
                            <option value="en">
                                English
                            </option>
                        </select>
                    </div>
                    <h1 class="footer-title">enpadi</h1>
                    <hr style="width: 250px;" />
                    @@ <label class="lang" key="footer"></label> 2017 ENPADI.
                    <br />
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="currLanguage" value="mx" />
</body>
</html>

