﻿@*@model Enpadi_WebUI.Models.KioskoIndexViewModel*@
@using System.Configuration;
@{
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ENPADI | @ViewBag.Title</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add local styles, mostly for plugins css file -->
    @*@if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}*@
    <!-- Primary HOMER style -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @*@Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/_layout_website")


    @RenderSection("Styles", required: true)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
    <!-- Handler for local scripts -->

</head>
<body class="kiosko">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-wrapper">
                    <div class="container-fluid">
                        <nav class="navbar navbar-fixed-top navbar-menu">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="menu-logo-li">
                                            <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="userindex"><a href="~/website/UserIndex?m=userindex" class="lang" key="innermenu.index">Inicio</a></li>
                                        <li id="recharge"><a href="~/website/Recharge?m=recharge" class="lang" key="innermenu.recharges">Recargas</a></li>
                                        <li id="pay"><a href="~/website/Pay?m=pay" class="lang" key="innermenu.payments">Pagar</a></li>
                                        <li id="transfer"><a href="~/website/EnpadiFriendTransfer?m=transfer" class="lang" key="innermenu.transfer">Transferir</a></li>
                                        <li id="pendingorders"><a href="~/website/PendingOrders?m=pendingorders" class="lang" key="innermenu.pendingorders">Ordenes pendientes</a></li>
                                        <li id="logoff"><a href="~/website/LogOff?m=logoff">LogOut</a></li>
                                        @*<li id="buy"><a href="~/website/Buy?m=buy">Compras</a></li>*@
                                        @*<li id="rewards"><a href="~/website/Rewards?m=rewards">Recompensas</a></li>*@
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-lg-3">
                @*photo*@
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="logo" style="max-width:150px" class="img-circle" id="userIndexProfilePic" src="" />
                    </div>
                </div>
                @*name*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-name">
                            <label id="lb_client_name"></label>
                            @*@Model.user.Name.ToUpper()*@
                        </div>
                    </div>
                </div>
                @*first table*@
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-name lang" key="shareuserindex.summary"></div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <i class="fa fa-bar-chart fa-align-center fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_balance"></label> MXN
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="shareuserindex.availablebalance">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*second table*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-name lang" key="shareuserindex.accountdata"></div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="shareuserindex.accountnumber">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_number"></label>
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                NIP
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_nip"></label>
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="shareuserindex.email">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_email"></label>
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*link to profile*@
                <div class="row">
                    <div class="col-lg-12">
                        <a href="~/website/profile" class="lang" key="shareuserindex.accountmodifyhere"></a>
                    </div>
                </div>
                <div class="row lang-select">
                    <div class="col-lg-8">
                        <label class="lang" key="shareuserindex.language"></label>
                    </div>
                    <div class="col-lg-4">
                        <div id="div_lang_bar" class="lang-div-lang-bar-user">
                            <select id="translate" onchange="ChangeLanguage();">
                                <option value="mx">
                                    Español
                                </option>
                                <option value="en">
                                    English
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Main view  -->
                @RenderBody()
            </div>
        </div>

    </div>

</body>
</html>

<script type="text/javascript">
    function changeActive(el) {
        $(".li-menun-content").removeClass("active");

        $(el).addClass("active");
    }


    $(window).load(function () {
        $.ajax({
            url: '@Url.Action("LoadUser", "website")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);

                $("#userIndexProfilePic").attr("src", "~/../../" + result.user.ProfilePicUrl);
                $("#lb_balance").text(result.AccountBalance).formatCurrency();
                $("#lb_enpadicard_number").text(result.enpadiCard.tcNum);
                $("#lb_enpadicard_nip").text(result.enpadiCard.tcNIP);
                $("#lb_email").text(result.user.Email);
                $("#lb_client_name").text(result.user.Name);

            },
            error: function (result) {
                console.log(result);
            }
        });


        //set the active li on the proper option
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return results[1] || 0;
        }
        var menuOption = $.urlParam('m');
        if (menuOption == null) {
            menuOption = "";
        }
        $('#' + menuOption).addClass('active');

        if (sessionStorage.lang == undefined) {
            sessionStorage.lang = "mx";
        }

        $("#translate").val(sessionStorage.lang);

        //Transalate();
    });

    Transalate();

    //function ChangeLanguage() {
    //    sessionStorage.lang = $("#translate").val();

    //    if (typeof searchPeriod === 'function' && $.isFunction(searchPeriod)) {
    //        searchPeriod();
    //        Transalate();
    //    } else if (typeof loadCharts === 'function' && $.isFunction(loadCharts)) {

    //        loadCharts();
    //        Transalate();
    //    } else {
    //        Transalate();
    //    }



    //}

    function ChangeLanguage() {
        sessionStorage.lang = $("#translate").val();
        Transalate();
    }

    function Transalate() {

        if (typeof this.loadDropdownMonth === "function") {
            
            loadDropdownMonth();
        }

        if (typeof this.searchPeriod === "function") {
            searchPeriod();
        }

        //if (typeof this.loadTable === "function") {
        //    loadTable();
        //}

        if (typeof this.loadCharts === 'function') {
            loadCharts();
        }

        ChangeDivLanguages();
    }

    function ChangeDivLanguages() {

        var arrLang = {};
        var lang = sessionStorage.lang;
        var languageFileUrl = "";
        var _pageRegion = "@pageRegion";

        console.log("translate executed with lang " + lang + " and region " + _pageRegion);

        if (_pageRegion === "usa") {
            languageFileUrl = "../lang/generalLang.json";
        } else {
            languageFileUrl = "../lang/generalLang.json";
        }

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });

            $('.lang-button').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("value", arrLang[lang][key]);
            });
        });

    }
</script>

@RenderSection("Scripts", required: true)