﻿
@using System.Configuration;
@{
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ENPADI | @ViewBag.Title</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Add local styles, mostly for plugins css file -->
    @*@if (IsSectionDefined("Styles"))
        {@RenderSection("Styles", required: false)}*@
    <!-- Primary HOMER style -->
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @*@Styles.Render("~/bundles/bootstrap/css")*@
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")
    @Styles.Render("~/Content/_layout_website")


    @RenderSection("Styles", required: false)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")

    <!-- Handler for local scripts -->

</head>
<body class="kiosko">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-wrapper">
                    <div class="container-fluid">
                        <nav class="navbar navbar-fixed-top navbar-menu">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="menu-logo-li">
                                            <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Reportes <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li id="reports"><a href="~/EnpadiAdmin/Reports?m=reports">Generales</a></li>
                                                <li class="divider"></li>
                                                <li id="kioskoreports"><a href="~/EnpadiAdmin/KioskoReport?m=kioskoreports">Kioskos</a></li>
                                            </ul>
                                        </li>
                                        <li id="logoff"><a href="~/EnpadiAdmin/logoff">LogOut</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="system" class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Servicios <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li id="fees"><a href="~/EnpadiAdmin/fees?m=fees">Comisiones</a></li>
                                                <li id="services"><a href="~/EnpadiAdmin/Services?m=services">Services</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="system" class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Sistema <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="~/EnpadiAdmin/UserSettings">Usuarios</a></li>
                                                <li id="addpartner"><a href="~/EnpadiAdmin/Partner?m=addpartner">Socios(dev)</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="index"><a href="~/EnpadiAdmin/index?m=index">Inicio</a></li>
                                        
                                    </ul>
                                   
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-lg-3">
                @*name*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-name">
                            <label id="lb_client_name">Administrador Enpadi</label>
                            @*@Model.user.Name.ToUpper()*@
                        </div>
                    </div>
                </div>
                @*first table*@
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-name">Res&uacute;men</div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <i class="fa fa-bar-chart fa-align-center fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_diestel_celphone"></label>
                                                @*@Model.enpadiCard.creditoDisponible.ToString("C")*@
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                Diestel tiempo Aire
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_diestel_service"></label>
                                                @*@Model.enpadiCard.creditoDisponible.ToString("C")*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                Diestel servicios
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*link to profile*@
                @*<div class="row">
                        <div class="col-lg-12">
                            <a href="~/website/profile">Actualiza los datos de la cuenta <b><u>AQUI</u></b></a>
                        </div>
                    </div>*@
            </div>
            <div class="col-lg-9">
                <!-- Main view  -->
                @RenderBody()
            </div>
        </div>

    </div>

</body>
</html>

<script type="text/javascript">
    function changeActive(el) {
        $(".li-menun-content").removeClass("active");

        $(el).addClass("active");
    }


    $(window).load(function () {
        $.ajax({
            url: '@Url.Action("LoadUser", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                console.log(result);
                $("#lb_diestel_celphone").text(result.DiestelPhoneTime).formatCurrency();
                $("#lb_diestel_service").text(result.DiestelServiceTime).formatCurrency();
                //$("#lb_enpadicard_nip").text(result.enpadiCard.tcNIP);
                //$("#lb_email").text(result.user.Email);
                //$("#lb_client_name").text(result.user.Name);

            },
            error: function (result) {
                console.log(result);
            }
        });


        //set the active li on the proper option
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return results[1] || 0;
        }
        var menuOption = $.urlParam('m');
        if (menuOption == null) {
            menuOption = "";
        }
        $('#' + menuOption).addClass('active');
    });
</script>

@RenderSection("Scripts", required: true)