﻿@using System.Configuration;
@{
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ENPADI | @ViewBag.Title</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary HOMER style -->
    @Styles.Render("~/bundles/font-awesome-4.7/css")
    @Styles.Render("~/bundles/animate/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/Content/LayoutNewMenu")
    @Styles.Render("~/Content/datatables")

    @RenderSection("Styles", required: true)

    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")

    <!-- Handler for local scripts -->
    @RenderSection("Scripts", required: true)
</head>
<body class="kiosko">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-wrapper">
                    <div class="container-fluid">
                        <nav class="navbar navbar-fixed-top navbar-menu">
                            <div class="container">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav">
                                        <li class="menu-logo-li">
                                            <img src="~/Images/enpadi-logo.png" class="menu-logo" />
                                        </li>
                                    </ul>
                                    <ul class="nav navbar-nav">
                                        <li id="index"><a href="~/Kiosko/Index?m=index" class="lang" key="kioskoshareview.index">Inicio</a></li>
                                        <li id="payments"><a href="~/Kiosko/Payments?m=payments" class="lang" key="kioskoshareview.payments">Pagos realizados</a></li>
                                    </ul>
                                    <ul class="nav navbar-nav pull-right">
                                        <li id="logoff"><a href="~/Kiosko/LogOff?m=logoff">LogOut</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row main-content">
            <div class="col-lg-3">
                @*photo*@
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <img alt="logo" style="max-width:150px" class="img-circle" id="userIndexProfilePic" src="" />
                    </div>
                </div>
                @*name*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="user-name">
                            <label id="lb_client_name"></label>
                        </div>
                    </div>
                </div>
                @*first table*@
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-name lang" key="kioskoshareview.summary">Res&uacute;men</div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <i class="fa fa-bar-chart fa-align-center fa-5x" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.credit">
                                                Cr&eacute;dito otorgado
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_used_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.paymentsdone">
                                                Pagos Realizados
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_available_credit"></label> DLLS
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.availablecredit">
                                                Cr&eacute;dito disponible
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*second table*@
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-name lang" key="kioskoshareview.accountinfo">Datos de cuenta</div>
                        <div class="table-div data">
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_number"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.accountnumber">
                                                # de cuenta
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_enpadicard_nip"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                NIP
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color">
                                                <label id="lb_email"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="enapdi-color lang" key="kioskoshareview.email">
                                                Correo registrado
                                            </div>
                                            <hr class="table-division" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                @*<br />
                    <div class="row">
                        <div class="col-lg-12">
                            <a href="~/kiosko/profile" class="lang" key="shareuserindex.accountmodifyhere"></a>
                        </div>
                    </div>*@
                <br />
                <div class="row lang-select">
                    <div class="col-lg-8">
                        <label class="lang" key="shareuserindex.language"></label>
                    </div>
                    <div class="col-lg-4">
                        <div id="div_lang_bar" class="lang-div-lang-bar-user">
                            <select id="translate" onchange="ChangeLanguage();">
                                <option value="mx">
                                    Español
                                </option>
                                <option value="en">
                                    English
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Main view  -->
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Modal for sending ticket through email -->
    <input type="hidden" id="ticketOrderId" />
    <div class="modal fade" id="ticketThroughEmail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title lang" id="exampleModalLabel" key="email.title">Enviar ticket por correo electrónico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="SendTicketThroughEmailForm">
                    @Html.AntiForgeryToken()

                    <div id="sendTicketEmailContent">
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label for="EmailSendTicket">Email</label>
                                        <input type="email" class="form-control lang-watermark" id="EmailSendTicket" name="EmailSendTicket" key="registration.email" aria-describedby="emailHelp" placeholder="Enter email">
                                        <div id="formInput">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="emailMessageInput">Email</label>
                                        <textarea class="form-control lang" id="emailMessageInput" name="emailMessageInput" key="email.emailmessage">
                                        </textarea>
                                        <div id="formInput">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary lang" data-dismiss="modal" key="email.btnclose">Cerrar</button>
                            <button type="submit" id="submitSendTicketThroughEmail" class="btn btn-primary lang" key="email.btnsend">Enviar</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>

<script type="text/javascript">
    function changeActive(el) {
        $(".li-menun-content").removeClass("active");

        $(el).addClass("active");
    }

    $(window).load(function () {
        $.ajax({
            url: '@Url.Action("LoadUser", "Kiosko")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                $("#userIndexProfilePic").attr("src", "~/../../" + result.user.ProfilePicUrl);
                $("#lb_client_name").text(result.user.Name);
                $("#lb_credit").text(result.enpadiCard.creditoDisponible).formatCurrency();
                $("#lb_balance").text(result.AccountBalance).formatCurrency();
                $("#lb_used_credit").text(result.enpadiCard.creditoPorPagar).formatCurrency();
                $("#lb_available_credit").text((result.enpadiCard.creditoDisponible - result.enpadiCard.creditoPorPagar)).formatCurrency();
                $("#lb_enpadicard_number").text(result.enpadiCard.tcNum);
                $("#lb_enpadicard_nip").text(result.enpadiCard.tcNIP);
                $("#lb_email").text(result.user.Email);
            },
            error: function (result) {
                console.log(result);
            }
        });

        //set the active li on the proper option
        $.urlParam = function (name) {
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results == null) {
                return null;
            }
            return results[1] || 0;
        }
        var menuOption = $.urlParam('m');
        if (menuOption == null) {
            menuOption = "index";
        }

        $('#' + menuOption).addClass('active');

        if (sessionStorage.lang == undefined) {
            sessionStorage.lang = "mx";
        }

        $("#translate").val(sessionStorage.lang);

        if (window.location.href === "https://www.enpadi.com/usa/") {
            window.location.href = "https://www.enpadi.com/usa/website/index";
        }

        if (window.location.href === "https://www.enpadi.com/usa/Kiosko/") {
            window.location.href = "https://www.enpadi.com/usa/Kiosko/Index?m=index";
        }

        if (window.location.href === "https://enpadi.com/usatest/Kiosko") {
            window.location.href = "https://enpadi.com/usatest/Kiosko/Index?m=index";
        }

        if (window.location.href === "https://www.enpadi.com/usatest/") {
            window.location.href = "https://www.enpadi.com/usatest/website/index";
        }

        if (window.location.href === "https://www.enpadi.com/mx/") {
            window.location.href = "https://www.enpadi.com/mx/website/index";
        }

        if (window.location.href === "http://www.enpadi.com/usa/") {
            window.location.href = "https://www.enpadi.com/usa/website/index";
        }

        if (window.location.href === "http://www.enpadi.com/usa/Kiosko/") {
            window.location.href = "https://www.enpadi.com/usa/Kiosko/Index?m=index";
        }
        if (window.location.href === "http://enpadi.com/usatest/Kiosko") {
            window.location.href = "https://enpadi.com/usatest/Kiosko/Index?m=index";
        }

        if (window.location.href === "http://www.enpadi.com/usatest/") {
            window.location.href = "https://www.enpadi.com/usatest/website/index";
        }

        if (window.location.href === "http://www.enpadi.com/mx/") {
            window.location.href = "https://www.enpadi.com/mx/website/index";
        }


        var objMessages = {};
        if (sessionStorage.lang == "en") {
            //make and object message and put it in jquery val
            objMessages = {
                EmailSendTicket: {
                    required: "Required, check the format.",
                    email: "Required, check the format."
                }
            };
        } else {
            objMessages = {
                EmailSendTicket: {
                    required: "Requerido, revisa el formato.",
                    email: "Requerido, revisa el formato."
                }
            };
        }

        jQuery('#SendTicketThroughEmailForm').validate({
            rules: {
                EmailSendTicket: {
                    required: true,
                    email: true
                }
            },
            messages: objMessages
        });

        $("#SendTicketThroughEmailForm").validate();
        $("#SendTicketThroughEmailForm").on('submit', function (e) {
            var isvalid = $("#SendTicketThroughEmailForm").valid();
            if (isvalid) {
                e.preventDefault();

                var divContainer = $("#formInput");
                divContainer.html("<div class='lang' key='email.msgsending'></div>");

                Transalate();

                var form = $('#SendTicketThroughEmailForm');
                var token = $('input[name="__RequestVerificationToken"]', form).val();
                var emailToSendTo = $("#EmailSendTicket").val();
                var emailMessage = $("#emailMessageInput").val();
                var messageInSpanish = true;
                var ticketOrderId = $("input#ticketOrderId").val();

                console.log("this is the hidden input " + ticketOrderId);

                if (sessionStorage.lang == undefined) {
                    sessionStorage.lang = "mx";
                }

                if (sessionStorage.lang === "en") {
                    messageInSpanish = false;
                }

                $.ajax({
                    url: '@Url.Action("SendEmail", "Kiosko")',
                    type: 'POST',
                    data: {
                        __RequestVerificationToken: token,
                        email: emailToSendTo,
                        message: emailMessage,
                        spanish: messageInSpanish,
                        opagoId: ticketOrderId
                    },
                    success: function (result) {


                        if (result === true) {
                            divContainer.html("<div class='lang' key='email.msgsuccess'></div> ");
                        }
                        else {
                            divContainer.html("<div class='lang' key='email.msgerror'></div>");
                        }

                        Transalate();
                    },
                    error: function (result) {

                        if (result === true) {
                            divContainer.html("<div class='lang' key='email.msgsuccess'></div>");
                        }
                        else {
                            divContainer.html("<div class='lang' key='email.msgerror'></div>");
                        }

                        Transalate();
                    }
                });
            }
        });

    });

    function OpenSendEmailModalKiosko(ticketOrderId) {
        var divContainerFeedbackEmail = $("#formInput");
        divContainerFeedbackEmail.html("");

        $("#ticketThroughEmail").modal('toggle');

        console.log("this is the ticket order id " + ticketOrderId);

        $("input#ticketOrderId").val(ticketOrderId);
    };

     Transalate();

    function ChangeLanguage() {
        sessionStorage.lang = $("#translate").val();
        Transalate();
    }

    function Transalate() {

        if (typeof this.loadDropdownMonth === "function") {

            loadDropdownMonth();
        }

        if (typeof this.searchPeriod === "function") {
            searchPeriod();
        }

        //if (typeof this.loadTable === "function") {
        //    loadTable();
        //}

        if (typeof this.loadCharts === 'function') {
            loadCharts();
        }

        ChangeDivLanguages();
    }

    function ChangeDivLanguages() {

        var arrLang = {};
        var lang = sessionStorage.lang;
        var languageFileUrl = "";
        var _pageRegion = "@pageRegion";

        console.log("translate executed with lang " + lang + " and region " + _pageRegion);

        if (_pageRegion === "usa") {
            languageFileUrl = "../lang/generalLang.json";
        } else {
            languageFileUrl = "../lang/generalLang.json";
        }

        $.getJSON(languageFileUrl, function (data) {
            arrLang = data;

            if (lang == undefined) {
                lang = 'mx';
            }

            $('.lang').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).html(arrLang[lang][key]);
            });

            $('.lang-watermark').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("placeholder", arrLang[lang][key]);
            });

            $('.lang-button').each(function (index, element) {
                var key = $(this).attr('key');
                $(this).attr("value", arrLang[lang][key]);
            });
        });

    }
</script>
