﻿@model Enpadi_WebUI.Models.santiagoPredialConsulta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>santiagoPredialConsulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_registro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_registro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_predial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_predial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paterno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paterno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
