﻿@model PagedList.IPagedList<Enpadi_WebUI.Models.santiagoPredialConsulta>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Consultas</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Predial Santiago, NL.
            </h2>
            <small>Consulta de Expediente | Gobierno de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @*@Html.ActionLink("Agregar Registro Predial", "Create")*@
                </div>

                <div class="panel-body">
                    <table class="table">
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().fecha_registro)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().no_predial)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().nombre)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().paterno)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().materno)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().telefono)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().cel)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().correo)</th>
                                @*<th></th>*@
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.fecha_registro)</td>
                                    <td>@Html.DisplayFor(modelItem => item.no_predial)</td>
                                    <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                    <td>@Html.DisplayFor(modelItem => item.paterno)</td>
                                    <td>@Html.DisplayFor(modelItem => item.materno)</td>
                                    <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                                    <td>@Html.DisplayFor(modelItem => item.cel)</td>
                                    <td>@Html.DisplayFor(modelItem => item.correo)</td>
                                    @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                    </td>*@
                                </tr>
                            }

                        </table>


                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>

    </div>
</div>

