﻿@using System.Configuration;
@{
    Layout = "~/Views/Shared/_LayoutWebUsaAdmin.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
}

<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-8">
                <select class="form-control" id="periodo" name="periodo"></select>
            </div>
            <div class="col-lg-4">
                <button class="btn-enpadi" onclick="searchPeriod();">Generar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
            <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
        </div>
        @*<div class="row">
                <div class="col-xs-4 text-left"><strong>Saldo Inicial</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="start_balance"></label></strong></div>
            </div>*@
        <div class="row">
            <div class="col-xs-4 text-left">Transacciones en USD</div>
            <div class="col-xs-8 text-right"><label id="transactions"></label></div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">Transacciones en MXN</div>
            <div class="col-xs-8 text-right"><label id="transactionsMXN"></label></div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">Comisiones</div>
            <div class="col-xs-8 text-right"><label id="commission"></label></div>
        </div>
        @*<div class="row">
                <div class="col-lg-4 text-left"><strong>Saldo Final</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="final_balance"></label></strong></div>
            </div>*@
    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-12">

        <table id="tbl_payment" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th key="">
                        Folio
                    </th>
                    <th key="table.concept">
                        table.concept
                    </th>
                    <th key="tabledesc.total">
                        tabledesc.total
                    </th>
                    <th key="table.fee">
                        table.fee
                    </th>
                    <th key="table.status">
                        table.status
                    </th>
                    <th key="table.account">
                        table.account
                    </th>
                </tr>
            </thead>
        </table>

    </div>
</div>

<script type="text/javascript">

        function loadDropdownMonth() {
          $.ajax({
            url: '@Url.Action("LoadBalance", "website")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: 0
            },
            success: function (result) {

                $.each(result.rmeses, function (key, value) {
                    $('#periodo')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));
                });


                loadSumary();
                loadTable();
            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadSumary() {
        var periodo = $('#periodo').val();

        console.log("loadSummary" + periodo);

        $.ajax({
            url: '@Url.Action("LoadBalance", "website")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {

                $('#date').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

       function loadTable() {

           var periodo = $('#periodo').val();

           if (periodo === undefined || periodo === null) {
               periodo = 0;
           } else {
               periodo = $('#periodo').val();
           }

        $.ajax({
            url: '@Url.Action("LoadGeneralReport", "WebUsaAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {
                var totalTransactionAmount = 0;
                var totalTransactionAmountMXN = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].TransactionDllsServicesInUSD;
                    totalComissionAmount += result[index].transaccion_comision;
                    totalTransactionAmountMXN += result[index].TransactionMXServicesInMX;
                }
                
                $('#transactionsMXN').text(totalTransactionAmountMXN).formatCurrency();
                $('#transactions').text(totalTransactionAmount).formatCurrency();
                $('#commission').text(totalComissionAmount).formatCurrency();

                coffeetools.loadtableWebUsaAdmin(result);
                console.log(result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

       function searchPeriod() {
           var table = $('#tbl_payment').DataTable();
           table.clear();
           table.destroy();

           loadSumary();
           loadTable();
       }

    $(document).ready(function () {
        loadDropdownMonth();
    });
</script>