﻿@model Enpadi_WebUI.Models.ViewModelWebUsaLogIn

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->
}

<div class="login-container">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/enpadi-logo.png" width="100%" />
            <div class="text-center m-b-md">
                <h3>Bienvenido a Enpadi</h3>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <section id="loginForm">
                        @using (Html.BeginForm("LogInValidation", "WebUsaAdmin", FormMethod.Post, new { @class = "form", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            if (ViewBag.ErrorMessage != String.Empty)
                            {
                                <div class="form-group">

                                    <div class="form-group full">
                                        <div class="alert alert-danger">
                                            <strong>Error</strong> @string.Format("{0}", ViewBag.ErrorMessage).
                                        </div>
                                    </div>
                                </div>

                            }

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.colorNavBtn" />
                        }
                        <small>
                            <br />
                            Proporcione sus datos de acceso.
                            Si aún no cuenta con una cuenta,
                            favor de comunicarse a Enpadi.
                        </small>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <!-- Section for main scripts render -->
}