﻿
@{
    ViewBag.Title = "apimx";
    Layout = "~/Views/Shared/_layout_test.cshtml";
}

<h2>Api MX</h2>

<div class="row">
    <div class="col s12">
        <P>All methods need a valid username and password to work</P>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Username
    </div>
    <div class="col s8">
        <input type="text" id="checkservices_txt_username" name="checkservices_txt_username" />
    </div>
</div>
<div class="row">
    <div class="col s4">
        Password
    </div>
    <div class="col s8">
        <input type="password" id="checkservices_txt_password" name="checkservices_txt_password" />
    </div>
</div>

<hr />
<div class="row">
    <div class="col s12">
        <h5> Get services</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        CheckServices
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to ve executed, its a post method that recives an
        HttpRequestMessage with user name and password, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckServices();">
            Call CheckServices
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">

        </textarea>
    </div>
</div>

<hr />


<div class="row">
    <div class="col s12">
        <h5>   Get fee for service</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        CheckFeeForService
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid service SKU, its a post method that recives an
        HttpRequestMessage with user name, password and the sevice sku, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Sku
    </div>
    <div class="col s8">
        <input type="text" id="CheckFeeForService_txt_sku" name="CheckFeeForService_txt_sku" />
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
            Call CheckFeeForService
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<hr />



<div class="row">
    <div class="col s12">
        <h5>Create an order with a json object</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Pay a service)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="txt_json_order" name="txt_json_order" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Add money with credit card)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="txt_json_order" name="txt_json_order" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Add money with Oxxo)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description 
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="txt_json_order" name="txt_json_order" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>


<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Add money with other stores)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description 
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="txt_json_order" name="txt_json_order" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12">
        <h5>Orders register to the user</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        GetAllUserOrders
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed, its a post method that recives an
        HttpRequestMessage with user name, password, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s12">
        <a href="#" class="waves-effect waves-light btn" onclick="GetAllOrders();">
            Get orders
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<hr />