﻿@{
    ViewBag.Title = "apimx";
    Layout = "~/Views/Shared/_layout_test.cshtml";
}

@Scripts.Render("~/bundles/tesapiusa")

<h2>Api USA</h2>
<div class="row">
    <div class="col s12">
        <P>All methods need a valid username and password to work</P>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Username
    </div>
    <div class="col s8">
        <input type="text" id="txt_username" name="checkservices_txt_username" />
    </div>
</div>
<div class="row">
    <div class="col s4">
        Password
    </div>
    <div class="col s8">
        <input type="password" id="txt_password" name="checkservices_txt_password" />
    </div>
</div>

<hr />
<div class="row">
    <div class="col s12">
        <h5> Get services</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        CheckServices
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to ve executed, its a post method that recives an
        HttpRequestMessage with user name and password, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#api-get-services-response_label" class="waves-effect waves-light btn" onclick="CheckServices();">
            Call CheckServices
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Un-encrypted message
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api-get-services-unencrypted" readonly="readonly" cols="20" rows="1000" style="height:150px;">

        </textarea>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Encrypted message
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api-get-services-encrypted" readonly="readonly" cols="20" rows="1000" style="height:150px;">

        </textarea>
    </div>
</div>

<div class="row">
    <div id="api-get-services-response_label" class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api-get-services-response" readonly="readonly" cols="20" rows="1000" style="height:150px;">

        </textarea>
    </div>
</div>

<hr />


<div class="row">
    <div class="col s12">
        <h5>   Get fee for service</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        CheckFeeForService
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid service SKU, its a post method that recives an
        HttpRequestMessage with user name, password and the sevice sku, the information
        most be encrypted with the public key given to all clients.
        Note: It return only Enpadi Platform Fees.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Sku
    </div>
    <div class="col s8">
        <input type="text" id="CheckFeeForService_txt_sku" name="CheckFeeForService_txt_sku" />
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#api_get_fee_for_services_label" class="waves-effect waves-light btn" onclick="CheckFeeForService();">
            Call CheckFeeForService
        </a>
    </div>
</div>

<div class="row">
    <div id="api_get_fee_for_services_label" class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_fee_for_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<hr />
@*json order credit card*@
<div class="row">
    <div class="col s12">
        <h5>Create an order with the API</h5>
    </div>
</div>

@*json order with oxxo pay*@
<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Create and order with no payment option)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="stringJsonOrderNoPayment" name="stringJsonOrderNoPayment" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#api_create_order_with_no_paymenht_label" class="waves-effect waves-light btn" onclick="CreateOrderNoPaymentOption();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div id="api_create_order_with_no_paymenht_label" class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_create_order_with_no_paymenht" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>





<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Add money with credit card)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.

        Need to "Get Token Id" in order to call this methods.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="stringJsonOrderCreditCard" name="stringJsonOrderCreditCard" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <text>This is an example credit card</text>
    </div>
</div>
<div class="row">
    <div class="col s3">Name on Credit Card</div>
    <div class="col s3"><input id="creditCardName" type="text" readonly value="Test Credit Card" /> </div>
    <div class="col s3">Card Number</div>
    <div class="col s3"><input type="text" id="creditCardNumber" readonly value="4111111111111111" /></div>
</div>
<div class="row">
    <div class="col s3">Expiration date (MM/YY)</div>
    <div class="col s3"><input type="text" id="creditCardExpirationDate" readonly value="01/20" /></div>
    <div class="col s3">Security code</div>
    <div class="col s3"><input type="text" id="creditCardSecurityNumber" readonly value="123" /></div>
</div>
<div class="row">
    <div class="col s3">Amount to charge</div>
    <div class="col s3"><input type="text" id="creditCardAmount" readonly value="$100.00" /></div>
</div>
<div class="row">
    <div class="col s12">
        <text>This for form and credit card validation</text>
    </div>
</div>
<div class="row">
    <div class="col s3">Device session id (on form load)</div>
    <div class="col s3"><input type="text" id="creditCardSessionId" readonly value="" /></div>
    <div class="col s3">Token id/ source id (on form send)  </div>
    <div class="col s3"><input type="text" id="creditCardToken" readonly value="" /> </div>
</div>

<div class="row">
    <div class="col s12">
        <text>Need to submit the form and get the Token Id before calling the post method for security reasons</text>
    </div>
</div>
<div class="row">
    <div class="col s6">
        <input type="submit" id="save-button" class="waves-effect waves-light btn" value="Get token id (Submit form)" />
    </div>
    <div class="col s6">
        <a href="#api_get_services_label" class="waves-effect waves-light btn disabled" id="btnCallPostCreditCard" onclick="PayServiceWithCreditCard();">
            Call Post
        </a>
    </div>

</div>

<div class="row">
    <div id="api_get_services_label" class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>
@*json order with oxxo pay*@
<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        Post (Add money with Oxxo)
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
        HttpRequestMessage with user name, password and the json object, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s4">
        Json Order
    </div>
    <div class="col s8">
        <textarea id="stringJsonOrderOxxo" name="stringJsonOrderOxxo" cols="20" rows="1000" style="height:150px;"></textarea>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <a href="#api_pay_service_stores" class="waves-effect waves-light btn" onclick="PayServiceWithStores();">
            Call Post
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_pay_service_stores" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

@*json order with stores*@
@*<div class="row">
        <div class="col s4">
            Method name
        </div>
        <div class="col s8">
            Post (Pay service with credit card)
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            Description
        </div>
        <div class="col s8">
            This method requires a valid username and password to be executed and a valid json object, its a post method that recives an
            HttpRequestMessage with user name, password and the json object, the information
            most be encrypted with the public key given to all clients.
        </div>
    </div>

    <div class="row">
        <div class="col s4">
            Json Order
        </div>
        <div class="col s8">
            <textarea id="stringJsonOrderStores" name="stringJsonOrderStores" cols="20" rows="1000" style="height:150px;"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="#" class="waves-effect waves-light btn" onclick="CallCheckFeeForService();">
                Call Post
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            Response
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <textarea id="api_get_services" cols="20" rows="1000" style="height:150px;">
            </textarea>
        </div>
    </div>*@

<hr />

<div class="row">
    <div class="col s12">
        <h5>Orders register to the user</h5>
    </div>
</div>

<div class="row">
    <div class="col s4">
        Method name
    </div>
    <div class="col s8">
        GetAllUserOrders
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description
    </div>
    <div class="col s8">
        This method requires a valid username and password to be executed, its a post method that recives an
        HttpRequestMessage with user name, password, the information
        most be encrypted with the public key given to all clients.
    </div>
</div>

<div class="row">
    <div class="col s12">
        <a href="#api_get_all_orders" class="waves-effect waves-light btn" onclick="GetAllOrders();">
            Get orders
        </a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        Response
    </div>
</div>
<div class="row">
    <div class="col s12">
        <textarea id="api_get_all_orders" cols="20" rows="1000" style="height:150px;">
        </textarea>
    </div>
</div>

<hr />


<div class="row">
    <div class="col s12">
        <h5>Credit card example form and requiered field</h5>
    </div>
</div>
<div class="row">
    <div class="col s12">
        Full form example
    </div>
</div>
<div class="row">
    <div class="col s12">
        <form action="#" method="POST" id="customer-form" name="customer-form">
            <input type="hidden" name="token_id" id="token_id" />
            <fieldset>
                <legend>Datos del cliente</legend>
                <p>
                    <label>Nombre</label>
                    <input type="text" size="20" autocomplete="on" name="client_name" value="Test name on credit Card" />
                </p>
                <p>
                    <label>Correo Electr&oacute;nico</label>
                    <input type="text" size="20" autocomplete="on" name="cliente_email" value="test@mailinator.com" />
                </p>
            </fieldset>
            <fieldset>
                <legend>Datos de la tarjeta</legend>
                <p>
                    <label>Nombre</label>
                    <input type="text" size="20" autocomplete="off"
                           data-openpay-card="holder_name" value="Test name" />
                </p>
                <p>
                    <label>N&uacute;mero</label>
                    <input type="text" size="20" autocomplete="off"
                           data-openpay-card="card_number" value="4111111111111111" />
                </p>
                <p>
                    <label>CVV2</label>
                    <input type="text" size="4" autocomplete="off"
                           data-openpay-card="cvv2" value="123" />
                </p>
                <p>
                    <label>Fecha de expiraci&oacute;n (MM/YY)</label>
                    <input type="text" size="2" data-openpay-card="expiration_month" value="01" /> /
                    <input type="text" size="2" data-openpay-card="expiration_year" value="20" />
                </p>
            </fieldset>
            @*<input type="submit" id="save-button" value="Pagar" />*@
        </form>
    </div>
</div>




<script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        SetJsonOrders();
        OpenPayValidation();

    });

    function GetTokenId() {
        $("#customer-form").submit();
    }

    function SetJsonOrders() {

        stringJsonOrderOxxo = "{\"type\":\"order.create\",\"orderdata\":{\"livemode\":false,\"amount\":20000,\"currency\":\"MXN\",\"amount_refunded\":0,\"customer_info\":{\"email\":\"customer14@truewisdom.co\",\"phoneNumber\":\"+52818185256\",\"name\":\"FirstName\",\"last_name\":\"LastName\",\"externalId\":\"\",\"object_description\":\"customer.info\",\"address_line1\":\"street\",\"address_line2\":\"optional\",\"address_line3\":\"optional\",\"address_city\":\"Monterrey\",\"address_state\":\"NuevoLeon\",\"address_country_code\":\"MX\",\"address_postal_code\":\"66220\"},\"external_id\":\"externalid\",\"external_description\":\"externaldescription\",\"external_category\":\"externalcategory\",\"object_description\":\"order\",\"line_items\":[{\"service_sku\":\"000000000014\",\"unit_price\":10000,\"quantity\":2,\"name\":\"productname\",\"description\":\"productdescription\"}],\"client_email\":\"pruebas@enpadi.com\",\"client_trans_password\":\"enpadiclientpassword\"},\"chargedata\":{\"livemode\":false,\"amount\":20000,\"currency\":\"MXN\",\"payment_method\":{\"service_name\":\"Pago de servicio en Oxxo\",\"object_description\":\"Pago de servicio\",\"payment_method_type\":\"oxxo_cash\",\"expires_at\":\"1513036800\",\"reference\":\"\"}}}";
        stringJsonOrderStores = "{\"type\":\"order.create\",\"orderdata\":{\"livemode\":false,\"amount\":20000,\"currency\":\"MXN\",\"amount_refunded\":0,\"customer_info\":{\"email\":\"customer14@truewisdom.co\",\"phoneNumber\":\"+52818185256\",\"name\":\"FirstName\",\"last_name\":\"LastName\",\"externalId\":\"\",\"object_description\":\"customer.info\",\"address_line1\":\"street\",\"address_line2\":\"optional\",\"address_line3\":\"optional\",\"address_city\":\"Monterrey\",\"address_state\":\"NuevoLeon\",\"address_country_code\":\"MX\",\"address_postal_code\":\"66220\"},\"external_id\":\"externalid\",\"external_description\":\"externaldescription\",\"external_category\":\"externalcategory\",\"object_description\":\"order\",\"line_items\":[{\"service_sku\":\"000000000014\",\"unit_price\":10000,\"quantity\":2,\"name\":\"productname\",\"description\":\"productdescription\"}],\"client_email\":\"pruebas@enpadi.com\",\"client_trans_password\":\"enpadiclientpassword\"},\"chargedata\":{\"livemode\":false,\"amount\":20000,\"currency\":\"MXN\",\"payment_method\":{\"service_name\":\"Pago de servicio en tiendas\",\"object_description\":\"Pago de servicio\",\"payment_method_type\":\"store\",\"expires_at\":\"1513036800\",\"reference\":\"\"}}}";
        stringJsonOrderNoPayment = "{\"type\":\"order.create\",\"orderdata\":{\"livemode\":false,\"amount\":20000,\"currency\":\"MXN\",\"amount_refunded\":0,\"customer_info\":{\"email\":\"customer14@truewisdom.co\",\"phoneNumber\":\"+52818185256\",\"name\":\"FirstName\",\"last_name\":\"LastName\",\"externalId\":\"\",\"object_description\":\"customer.info\",\"address_line1\":\"street\",\"address_line2\":\"optional\",\"address_line3\":\"optional\",\"address_city\":\"Monterrey\",\"address_state\":\"NuevoLeon\",\"address_country_code\":\"MX\",\"address_postal_code\":\"66220\"},\"external_id\":\"externalid\",\"external_description\":\"externaldescription\",\"external_category\":\"externalcategory\",\"object_description\":\"order\",\"line_items\":[{\"service_sku\":\"000000000014\",\"unit_price\":10000,\"quantity\":2,\"name\":\"productname\",\"description\":\"productdescription\"}],\"client_email\":\"pruebas@enpadi.com\",\"client_trans_password\":\"enpadiclientpassword\",\"chargedata\":{}}}";

        $("#stringJsonOrderOxxo").val(JSON.stringify(JSON.parse(stringJsonOrderOxxo), undefined, 4));
        $("#stringJsonOrderStores").val(JSON.stringify(JSON.parse(stringJsonOrderStores), undefined, 4));
        $("#stringJsonOrderNoPayment").val(JSON.stringify(JSON.parse(stringJsonOrderNoPayment), undefined, 4));

    }

    function CreateOrderNoPaymentOption() {
        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        var jsonObject = $("#stringJsonOrderNoPayment").val();


        $.ajax({
            url: '@Url.Action("CreateOrderNoPaymentOption", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password,
                jsonObject: jsonObject
            },
            dataType: "json",
            success: function (result) {
                $('#api_create_order_with_no_paymenht').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
            },
            error: function (result) {

            }
        });
    }

    function OpenPayValidation() {
        OpenPay.setId('mzdtln0bmtms6o3kck8f');
        OpenPay.setApiKey('pk_f0660ad5a39f4912872e24a7a660370c');
        OpenPay.setSandboxMode(true);

        //Se genera el id de dispositivo
        var deviceSessionId = OpenPay.deviceData.setup("customer-form", "deviceSessionId");
        $("#creditCardSessionId").val(deviceSessionId);

        //TODO: for testing only, delete if not on test
        //$('#creditCardSessionId').text(deviceSessionId);

        $('#save-button').on('click', function (event) {
            event.preventDefault();
            $("#save-button").prop("disabled", true);
            OpenPay.token.extractFormAndCreate('customer-form', sucess_callbak, error_callbak);
        });

        $('#points-yes-button').on('click', function () {
            $('#use_card_points').val('true');
            $('#customer-form').submit();
        });

        $('#points-no-button').on('click', function () {
            $('#use_card_points').val('false');
            $('#customer-form').submit();
        });

        var sucess_callbak = function (response) {
            var token_id = response.data.id;
            $('#token_id').val(token_id);

            $("#btnCallPostCreditCard").removeClass("disabled");

            stringJsonOrderCreditCard = "{\"orderdata\": {\"livemode\": false,\"amount\": 20000,\"currency\": \"MXN\",\"amount_refunded\": 0,\"customer_info\": {\"email\": \"customer14@truewisdom.co\",\"phoneNumber\": \"+52818185256\",\"name\": \"Adrian\",\"last_name\": \"M\",\"externalId\": \"\",\"object_description\": \"customer.info\",\"address_line1\":\"street\",\"address_line2\":\"optional\",\"address_line3\":\"optional\",\"address_city\":\"Monterrey\",\"address_state\":\"Nuevo Leon\",\"address_country_code\":\"MX\",\"address_postal_code\":\"66220\"},\"external_id\": \"external id\",\"external_description\": \" external description\",\"external_category\": \" external category\",\"object_description\": \"order\",\"line_items\": [{\"service_sku\":\"000000000014\",\"unit_price\": 10000,\"quantity\": 2,\"name\": \"product name\",\"description\": \"product description\"}],\"client_email\": \"pruebas@enpadi.com\",\"client_trans_password\": \"enpadiclientpassword\"},\"chargedata\": {\"livemode\": false,\"amount\": 20000,\"currency\": \"MXN\",\"payment_method\": {\"service_name\": \"Pago Externo\",\"object_description\": \"Pago externo\",\"payment_method_type\": \"card\",\"deviceSessionId\":\"|SESSIONID|\",\"source_id\":\"|TOKENID|\",\"expires_at\": \"1513036800\",\"reference\": \"\",\"name_on_card\": \"lkjlkj lkjlkj\",\"credit_card_type\": \"visa\",\"card_number\": \"5555555555554444\",\"credit_card_expiration_month\": \"12\",\"credit_card_expiration_year\": \"2020\",\"credit_card_security_code\": \"321\",\"credit_card_maestro_switch\": \"\"}},\"type\": \"order.create\"}";

            stringJsonOrderCreditCard = stringJsonOrderCreditCard.replace(/\|TOKENID\|/g, token_id);
            stringJsonOrderCreditCard = stringJsonOrderCreditCard.replace(/\|SESSIONID\|/g, $("#creditCardSessionId").val());

            $("#stringJsonOrderCreditCard").val(JSON.stringify(JSON.parse(stringJsonOrderCreditCard), undefined, 4));

            //TODO: for testing only, delete if not on test
            $('#creditCardToken').val(token_id);
        };

        var error_callbak = function (response) {
            var desc = response.data.description != undefined ? response.data.description : response.message;
            alert('ERROR [' + response.status + '] ' + desc);
            $('#pay-button').prop('disabled', false);
        };
    }

    function CheckServices() {

        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        $.ajax({
            url: '@Url.Action("GetServices", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password
            },
            dataType: "json",
            success: function (result) {
                $('#api-get-services-response').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
            },
            error: function (result) {

            }
        });
    }

    function CheckFeeForService() {

        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        var sku = $('#CheckFeeForService_txt_sku').val();

        $.ajax({
            url: '@Url.Action("GetFeeForServices", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password,
                sku: sku
            },
            dataType: "json",
            success: function (result) {
                $('#api_get_fee_for_services').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
            },
            error: function (result) {

            }
        });
    }

    function PayServiceWithCreditCard() {

        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        var jsonObject = $("#stringJsonOrderCreditCard").val();


        $.ajax({
            url: '@Url.Action("PayServiceWithCreditCard", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password,
                jsonObject: jsonObject
            },
            dataType: "json",
            success: function (result) {
                $('#api_get_services').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
            },
            error: function (result) {

            }
        });
    }

        function PayServiceWithStores() {

        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        var jsonObject = $("#stringJsonOrderOxxo").val();


        $.ajax({
            url: '@Url.Action("PayServiceWithCreditCard", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password,
                jsonObject: jsonObject
            },
            dataType: "json",
            success: function (result) {
                $('#api_pay_service_stores').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
            },
            error: function (result) {

            }
        });
    }

    function GetAllOrders() {
        var email = $('#txt_username').val();
        var password = $('#txt_password').val();

        var jsonObject = $("#stringJsonOrderOxxo").val();

        $.ajax({
            url: '@Url.Action("GetAllOrders", "Test")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password,
                jsonObject: jsonObject
            },
            dataType: "json",
            success: function (result) {
                $('#api_get_all_orders').val(JSON.stringify(JSON.parse(result.data), undefined, 4));
               
            },
            error: function (result) {

            }
        });
    }
</script>