﻿@model Enpadi_WebUI.Models.ViewModel.TestModelView
@{
    ViewBag.Title = "Encryption";
    Layout = "~/Views/Shared/_layout_test.cshtml";
}

<h2>Encryption</h2>
<div class="row">
    <div class="col s12">
        <label>Text</label>
        <textarea style="height:150px;">@Model.Text</textarea>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <label>Encripted</label>
        <textarea style="height:150px;">@Model.Encripted</textarea>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <label>Decripted</label>
        <textarea style="height:150px;">@Model.Decripted</textarea>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <label>Private key</label>
        <textarea style="height:150px;">@Model.PrivateKey</textarea>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <label>Public key</label>
        <textarea style="height:150px;">@Model.PublicKey</textarea>
    </div>
</div>



