﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>htmlticket</title>
</head>
<body>
    <table style="margin: 0 auto">
        <tbody>
            @* logo with a colspan 2 *@
            <tr>
                <td colspan="2" style="text-align:center">
                    <img src="https://www.enpadi.com/enpadi-logo.png" alt="Logo" style="width: 150px;">
                    <hr />
                </td>
            </tr>
            @* time of purchase *@
            <tr>
                <td colspan="2">
                    <h4 style="padding-top:10px; text-align:center;">29/01/2018 12:14:50</h4>
                    <hr />
                </td>
            </tr>
            @* saervice name *@
            <tr>
                <td colspan="2">
                    <div style="text-align:center;">TICKET DE VENTA</div>
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="2">

                    <h5 style="font-weight:bold; text-align:center;">Telcel  $10</h5>

                    <hr />
                </td>
            </tr>
            @* reference *@
            <tr>
                <td>
                    <label>
                        Referencia
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        8180105203
                    </div>
                </td>
            </tr>
            @* amount for service *@
            <tr>
                <td>
                    <label>
                        Cantidad por el servicio (DLLS)
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        $0.56
                    </div>
                </td>
            </tr>
            @* fee for service *@
            <tr>
                <td>
                    <label>
                        Comisión por el servicio (DLLS)
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        $7.00
                    </div>
                </td>
            </tr>
            @* total amount *@
            <tr>
                <td>
                    <label>
                        Total (DLLS)
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        $7.56
                    </div>
                </td>
            </tr>
            @* beneiciary *@
            <tr>
                <td>
                    <label>
                        Beneficiario
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        8180105203
                    </div>
                </td>
            </tr>
            @* buyer *@
            <tr>
                <td>
                    <label>
                        Comprador
                    </label>
                </td>
                <td>
                    <div style="border-bottom-style: inset;">
                        N/A
                    </div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center" colspan="2">
                    <hr />
                </td>
            </tr>
            @* Transaccion *@
            <tr>
                <td style="text-align:left">
                    <label>TRANSACCION :</label>
                </td>
                <td style="text-align:left">
                    <label>c91f7b46-a57f-411c-bbf4-b525c5f3930a</label>
                </td>
            </tr>
            @* supplier *@
            <tr>
                <td style="text-align:left">
                    <label>
                        PROVEEDOR :
                    </label>
                </td>
                <td style="text-align:left">
                    <label>
                        TELCEL RM
                    </label>
                </td>
            </tr>
            @* reference *@
            <tr>
                <td style="text-align:left">
                    <label>
                        REFERENCIA :
                    </label>
                </td>
                <td style="text-align:left">
                    <label>
                        8180105203
                    </label>
                </td>
            </tr>
            @* autorization *@
            <tr>
                <td style="text-align:left">
                    <label>
                        AUTORIZACION
                    </label>
                </td>
                <td style="text-align:left">
                    <label>
                        146957
                    </label>
                </td>
            </tr>
            @* additional info *@
            <tr>
                <td style="text-align:center" colspan="2">
                    <h5>Dudas marca *264, www.telcel.com, consulta de saldo *333 </h5>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>
