﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout_test.cshtml";
}



<h2>Index of test function</h2>

<div class="row">
    <div class="col s12">
        <h5> MX API</h5>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description:
    </div>
    <div class="col s8">
        Test the api set to Mexico, check fees and call methods.
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12">
        <h5>USA API</h5>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description:
    </div>
    <div class="col s8">
        Test the api set to Mexico, check fees and call methods.
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12">
        <h5> Encrypted text</h5>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description:
    </div>
    <div class="col s8">
        Test the api set to USA, check fees and call methods.
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12">
        <h5> USA Fees</h5>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description:
    </div>
    <div class="col s8">
        Test the fees apply to all the services offered on USA.
    </div>
</div>

<hr />

<div class="row">
    <div class="col s12">
        <h5> MX Fees</h5>
    </div>
</div>
<div class="row">
    <div class="col s4">
        Description:
    </div>
    <div class="col s8">
        Test the fees apply to all the services offered on Mexico.
    </div>
</div>

<hr />