﻿@model Enpadi_WebUI.Models.openpayCustomer

@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}



<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="addcutomer.title">
                Tarjeta de Crédito o Débito
            </h2>
            <small class="lang" key="addcutomer.description">Administra tus Tarjetas de Crédito o Débito Visa y MasterCard para efectuar Recargas</small>
        </div>
    </div>
</div>



<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addcustomerform" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <div class="text-center lang" key="addcustomer.info" style="padding-bottom:25px;">
                                Antes de efectuar tu primer Recarga con Tarjeta de Credito/Debito,<br /> te pedimos <strong>Confirmar tu Informacion Personal</strong>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2 lang", @key= "addcutomer.name" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.lastname" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.email" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.phone" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.address" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Address3, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Address3, new { htmlAttributes = new { @class = "form-control" } })
                                    @*@Html.ValidationMessageFor(model => model.Address3, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.city" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.state" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*<select id="State" name="State" class="form-control">
                                        <option value="Aguascalientes">Aguascalientes</option>
                                        <option value="Baja California">Baja California</option>
                                        <option value="Baja California Sur">Baja California Sur</option>
                                        <option value="Campeche">Campeche</option>
                                        <option value="Chiapas">Chiapas</option>
                                        <option value="Chihuahua">Chihuahua</option>
                                        <option value="Coahuila">Coahuila</option>
                                        <option value="Colima">Colima</option>
                                        <option value="Distrito Federal">Distrito Federal</option>
                                        <option value="Durango">Durango</option>
                                        <option value="Estado de México">Estado de México</option>
                                        <option value="Guanajuato">Guanajuato</option>
                                        <option value="Guerrero">Guerrero</option>
                                        <option value="Hidalgo">Hidalgo</option>
                                        <option value="Jalisco">Jalisco</option>
                                        <option value="Michoacán">Michoacán</option>
                                        <option value="Morelos">Morelos</option>
                                        <option value="Nayarit">Nayarit</option>
                                        <option value="Nuevo León">Nuevo León</option>
                                        <option value="Oaxaca">Oaxaca</option>
                                        <option value="Puebla">Puebla</option>
                                        <option value="Querétaro">Querétaro</option>
                                        <option value="Quintana Roo">Quintana Roo</option>
                                        <option value="San Luis Potosí">San Luis Potosí</option>
                                        <option value="Sinaloa">Sinaloa</option>
                                        <option value="Sonora">Sonora</option>
                                        <option value="Tabasco">Tabasco</option>
                                        <option value="Tamaulipas">Tamaulipas</option>
                                        <option value="Tlaxcala">Tlaxcala</option>
                                        <option value="Veracruz">Veracruz</option>
                                        <option value="Yucatán">Yucatán</option>
                                        <option value="Zacatecas">Zacatecas</option>
                                    </select>*@
                                    @*@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label col-md-2 lang", key="addcustomer.country" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*<select id="CountryCode" name="CountryCode" class="form-control">
                                        <option value="MX">México</option>
                                        <option value="USA">USA</option>
                                    </select>*@
                                    @*@Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label col-md-2 lang", @key="addcustomer.postalcode" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", MaxLength = 5 } })
                                    @*@Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Recharge", "website")" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                    @*<a href="#" onclick="$('#addcustomerform').submit();" class="btn btn-primary lang" key="addcustomer.confirmdata">Confirmar datos</a>*@
                                    <input type="submit" value="Confirmar Datos" class="btn btn-primary lang-button" key="addcustomer.confirmdata"  />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /[a-zA-Záéíóúüñç]+/i.test(value);
    }, '');

    jQuery('#addcustomerform').validate({
        rules: {
            Name: {
                required: true,
                lettersonly: true
            },
            LastName: {
                required: true,
                lettersonly: true
            },
            Email: {
                required: true,
            },
            PhoneNumber: {
                digits: true,
                required: true,
                minlength: 10,
                maxlength: 10
            },
            PostalCode: {
                required: true,
                digits: true,
                minlength: 5,
                maxlength: 5
            }
        },
        messages: {
            Name: {
                required: "Requerido",
                lettersonly: "Solo se permiten letras."
            },
            LastName: {
                required: "Requerido",
                lettersonly: "Solo se permiten letras."
            },
            Email: {
                required: "Requerido",
                email: "Favor de ingresar un correo valido"
            },
            PhoneNumber: {
                required: "Requerido",
                minlength: "El número telefonico debe de ser de 10 dígitos",
                maxlength: "El número telefonico debe de ser de 10 dígitos",
                digits: "Solo se permiten números"
            },
            PostalCode: {
                required: "Requerido",
                digits: "Solo se permite números",
                minlength: "El código postal debe de ser de 5 dígitos",
                maxlength: "El código postal debe de ser de 5 dígitos"
            }
        }
    });

    function loadCountries() {
        $.ajax({
            url: '@Url.Action("LoadCountries", "AddCustomer")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
            },
            success: function (result) {

            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadStates() {
                $.ajax({
            url: '@Url.Action("LoadStates", "AddCustomer")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
            },
            success: function (result) {


            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadCities() {
                $.ajax({
            url: '@Url.Action("LoadCities", "AddCustomer")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
            },
            success: function (result) {


            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

</script>