﻿@using System.Configuration;

@{
    ViewBag.Title = "Agregar tarjeta";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcard")
}


@section Scripts {
    @Scripts.Render("~/bundles/openpay")

    <script type="text/javascript">

        $(document).ready(function () {

            var EnpadiProductionMode = @ConfigurationManager.AppSettings["ModoProduccion"].ToLower();

            var OpenPayId = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_Id"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_Id"]';
            var OpenPayPublic = EnpadiProductionMode ? '@ConfigurationManager.AppSettings["Enpadi_OpenPay_PublicKey"]' : '@ConfigurationManager.AppSettings["Test_OpenPay_PublicKey"]';

            OpenPay.setId(OpenPayId);
            OpenPay.setApiKey(OpenPayPublic);
            OpenPay.setSandboxMode(!EnpadiProductionMode);

            //Se genera el id de dispositivo
            var deviceSessionId = OpenPay.deviceData.setup("customer-form", "deviceSessionId");

            $('#save-button').on('click', function (event) {
                console.log("that action");
                event.preventDefault();
                $("#save-button").prop("disabled", true);
                OpenPay.token.extractFormAndCreate('customer-form', success_callbak, error_callbak);
            });

            var success_callbak = function (response) {
                var token_id = response.data.id;
                $('#token_id').val(token_id);
                $('#customer-form').submit();
            };

            var error_callbak = function (response) {
                var desc = response.data.description != undefined ? response.data.description : response.message;
                //alert("ERROR [" + response.status + "] " + desc);
                console.log(response);
                $("#save-button").prop("disabled", false);
                $("#error_div").show();
            };
        });

        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }



        //$('save-button').click(function () {
        //    console.log("this action");
        //});
    </script>
}


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="addcard.title">
                Tarjeta de Crédito o Débito
            </h2>
            <small class="lang" key="addcard.description">Administra tus Tarjetas de Crédito o Débito Visa y MasterCard para efectuar Recargas</small>
        </div>
    </div>
</div>

<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-horizontal">

                        <div class="text-center lang" key="addcard.instructions" style="padding-bottom:25px;">
                            Antes de realizar tu primer Recarga<br /> debes registrar una <strong>Tarjeta de Crédito/Débito</strong> para efectuar los cargos
                        </div>
                        <div class="text-center">
                            <img alt="logo" class="img-circle" src="~/Images/cards1.png" width="180" />
                        </div>
                        <div class="text-center">
                            <img alt="logo" class="img-circle" src="~/Images/cards2.png" width="450" />
                        </div>
                        <div class="text-center" style="padding-bottom:15px;">
                            @{
                                if (Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
                                {
                                    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToHtmlString()))
                                }
                            }
                            <div class="alert alert-danger lang" key="addcard.error" id="error_div" style="display:none">
                                <strong>Error</strong> Favor de revisar que todos los datos esten completos y correctos.
                            </div>
                        </div>
                        <form action="#" method="post" id="customer-form">
                            <input type="hidden" name="token_id" id="token_id" />
                            <input type="hidden" name="client_name" />
                            <input type="hidden" name="cliente_email" />
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label col-md-2 lang" key="addcard.name">Nombre</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" size="20" autocomplete="off" id="holder_name" name="holder_name" data-openpay-card="holder_name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 lang" key="addcard.number">N&uacute;mero</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" size="20" autocomplete="off" id="card_number" name="card_number" data-openpay-card="card_number" onkeypress="return isNumber(event)" maxlength="16" />
                                    </div>
                                </div>
                                <div class="form-group">

                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2 lang" key="addcard.expiredate">Vencimiento (MM/YY)</label>
                                    <div class="col-md-2">
                                        <input class="form-control" type="text" size="2" id="expiration_month" name="expiration_month" data-openpay-card="expiration_month" onkeypress="return isNumber(event)" maxlength="2" />
                                    </div>
                                    <div class="col-md-2">
                                        <input class="form-control" type="text" size="2" id="expiration_year" name="expiration_year" data-openpay-card="expiration_year" onkeypress="return isNumber(event)" maxlength="2" />
                                    </div>
                                    <label class="control-label col-md-2 lang" key="addcard.secretcode">CVV2</label>
                                    <div class="col-md-2">
                                        <input class="form-control" type="text" size="4" autocomplete="off" id="cvv2" name="cvv2" data-openpay-card="cvv2" onkeypress="return isNumber(event)" maxlength="4" />
                                    </div>
                                </div>
                                <div class="text-center" style="margin-top:15px; margin-bottom:25px">
                                    <div class="text-danger lang" key="addcard.notice">Tu tarjeta será validada efectuando un cargo por <strong>$10.00 MN</strong> los cuales son devueltos en el momento</div>
                                </div>
                            </fieldset>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <a href="@Url.Action("Recharge", "website")" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                    @*<a href="#" class="btn btn-default lang" id="save-button" name="save-button" key="general.cardregistry">Registrar tarjeta</a>*@
                                    <input type="submit" id="save-button" name="save-button" class="btn btn-primary lang-button" key="general.cardregistry" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var errorMessage = "";

    if (sessionStorage.lang === "mx") {
        errorMessage = '<div class="lang" key="addcard.errorOnlyLetters">Solo se permiten letras.</div>';
    } else {
        errorMessage = '<div class="lang" key="addcard.errorOnlyLetters">Only letters are allowed.</div>';
    }

    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /[a-zA-Záéíóúüñç]+/i.test(value);
    }, errorMessage);

    $("form").validate({
        rules: {
            holder_name: { lettersonly: true }
        }
    });
</script>