﻿@model IEnumerable<Enpadi_WebUI.Models.openpayCard>

@{
    ViewBag.Title = "Tarjetas";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_admincard")
}

@section Scripts {

}




<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="admincard.title">
                Tarjeta de Crédito o Débito
            </h2>
            <small class="lang" key="admincard.info">Recarga tu cuenta enpadi mediante Tarjeta de Crédito o Débito Visa y MasterCard</small>
        </div>
    </div>
</div>



<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    @Html.ActionLink("Agregar Nueva Tarjeta", "AddCard", null, new { @class="lang", @key= "admincard.addnew" })
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th class="lang" key="admincard.nameoncard"></th>
                            <th class="lang" key="admincard.card"></th>
                            <th class="lang" key="admincard.month"></th>
                            <th class="lang" key="admincard.year"></th>
                            @*<th class="lang" key=""></th>*@
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.HolderName)</td>
                                @{string sTarjeta = Html.DisplayFor(modelItem => item.CardNumber).ToString();}
                                <td>@string.Format("{0} **** **** {1}", sTarjeta.Substring(0, 4), sTarjeta.Substring(sTarjeta.Length - 4, 4))</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpirationMonth)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpirationYear)</td>
                                @*<td>@Html.ActionLink("Eliminar", "DeleteCard", new { id = item.id })</td>*@
                            </tr>
                                    }
                    </table>
                    <div class="text-center text-danger" style="padding-bottom:25px;">
                        <strong class="lang" key="admincard.limittitle">LIMITE DE REGISTRO</strong>
                        <br />
                        <label class="lang" key="admincard.limitdescription">El Maximo de Tarjetas que puedes tener Registradas son 3 (tres)</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>