﻿@using System.Configuration;
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    @Styles.Render("~/Content/website_company")
}


@section Scripts {

}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                   <label class="lang" key="company.slider"></label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 website-seccion">
        <div class="website-seccion-content" style="background-color:@string.Format("#{0}", ViewBag.color_1);">
            <div class="row website-seccion-title color-6">
                <div class="col-lg-12">
                    <h1 class="lang" key="company.section1.titleMain"></h1>
                    <hr />
                    <div class="lang" key="company.section1.secDescription"></div>
                </div>
            </div>
            <div class="row website-icon-holder color-6">
                <div class="col-lg-2 col-lg-offset-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Soluciones-de-Pago-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong><label class="lang" key="company.section1.title1"></label></strong>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Pago-de-Servicios-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong><label class="lang" key="company.section1.title2"></label></strong>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="row ">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Transferencias-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong><label class="lang" key="company.section1.title3"></label> </strong>
                          
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Dispersion-de-fondos-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong><lang class="lang" key="company.section1.title4"></lang></strong>
                        </div>
                    </div>

                </div>
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Programas-de-lealtad-icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong><lang class="lang" key="company.section1.title5"></lang></strong>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 website-seccion">
        @*@{
            if (pageRegion == "usa")
            {*@
                <div class="website-seccion-content" style="background-image:url(../@string.Format("{0}", ViewBag.index_image))">
            @*}
            else if (pageRegion == "mx")
            {
                @:<div class="website-seccion-content" style="background-image:url(/mxn/@string.Format("{0}", ViewBag.index_image))">
            }
            else
            {
                @:<div class="website-seccion-content" style="background-image:url(/@string.Format("{0}", ViewBag.index_image))">
            }
        }*@
        <div class="row">
            <div class="col-lg-12 website-seccion-title color-1">
                <img src="~/Images/website/icons/Contacto-Icono.png" class="website-icon-medium " />
                <h1 class="lang" key="company.secction2.title"></h1>
                <hr class="hr-color-1 " />
                <div class="text-center">
                    <div class="row">
                        <div class="col-lg-12">
                            L&acirc;zaro Garza Ayala 904
                            <br />
                            Centro de San Pedro
                            <br />
                            San Pedro Garza Garc&iacute;a N.L. 66230
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            +52(812) 089 6071
                            <hr class="short hr-color-1" />
                            info@enpadi.com
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-12 website-seccion">
        <div class="website-seccion-content" style="background-color:@string.Format("#{0}", ViewBag.color_1);">
            <div class="row website-seccion-title color-6">
                <div class="col-lg-12">
                    <h1 class="lang" key="company.secction3.title"></h1>
                    <hr />
                </div>
            </div>
            <div class="row website-icon-holder color-6">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Preguntas-frecuentes-icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>
                               <label class="lang" key="company.secction3.title1"></label>
                            </strong>
                            <hr class="long" />
                            <strong><a href="~/website/terms" class="lang" key="company.secction3.faq.terms">T&eacute;rminos y condiciones</a></strong>
                            <hr class="short" />
                            <strong><a href="~/website/notice"  class="lang" key="company.secction3.faq.privacy"> Avisos de privacidad</a></strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row ">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Nosotros-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>
                                <label class="lang" key="company.secction3.title2"></label>
                            </strong>
                            <hr class="long" />
                            <strong><label class="lang" key="company.secction3.aboutusdesc"></label></strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Contacto-Icono-black.png" class="website-icon color-6" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <strong>
                                <label class="lang" key="company.secction3.title3"></label>
                            </strong>
                            <hr class="long" />
                            <strong>
                                L&acirc;zaro Garza Ayala 904
                            </strong>
                            <br />
                            <strong>
                                Centro de San Pedro
                            </strong>
                            <br />
                            <strong>
                                San Pedro Garza Garc&iacute;a. N.L. 66230
                            </strong>
                            <hr class="short" />
                            <strong> info@enpadi.com</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

