﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}

@section Styles {

    @Styles.Render("~/Content/website_contact")

    <style>
        #map {
            width: 100%;
            height: 500px;
            background-color: grey;
        }
    </style>
}


@section Scripts {

    <script>
        function initMap() {
            var uluru = { lat: 25.6591685, lng: -100.396606};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: uluru
            });
            var marker = new google.maps.Marker({
                position: uluru,
                map: map
            });
        }


    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADxD97CIdkzqXtsShic-qOaStWChjscCs&callback=initMap"
            type="text/javascript"></script>

    <script>
        function commentSend() {
            $('#form').fadeOut(function () {
                $('#thankyou').fadeIn();
            });

        }

        function sendForm() {
            commentSend();
        }
    </script>

}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                    <label class="lang" key="contact.slider"></label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login" ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12 website-seccion-title color-1">
                    <img src="~/Images/website/icons/Contacto-Icono-black.png" class="website-icon-medium " />
                    <div id="form">
                        <h1 class="color-6 lang" key="contact.section1.titleMain"></h1>
                        <hr />
                        @*form*@

                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group enpadi-form-input full">
                                    <input type="text" class="form-control lang-watermark" key="contact.section1.name" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group enpadi-form-input full">
                                    <input type="text" class="form-control lang-watermark" key="contact.section1.email" aria-describedby="basic-addon2">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group enpadi-form-input full">
                                    <input type="text" class="form-control lang-watermark" key="contact.section1.concept" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group full">

                                    <textarea class="form-control enpadi-form-input full" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-lg-offset-10">
                                <div class="input-group">
                                    <span class="input-group-btn color-1">
                                        <button class="btn btn-enpadi-transparent-2 lang" key="contact.section1.send" type="button" onclick="sendForm();"></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 website-seccion-title color-6" id="thankyou" style="display:none">
                    <h1 class="lang" key="contact.section1.send.thanks"></h1>
                    <p class="lang" key="contact.section1.send.description"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">

        <div class="map-information">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h1 class="lang" key="contact.section2.location"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 contact-map-info">
                    <h4 class="lang" key="contact.section2.address"></h4>
                    <br />
                    L&acirc;zaro Garza Ayala 904
                    <br />
                    Centro de San Pedro
                    <br />
                    San Pedro Garza Garc&iacute;a N.L. 66230
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 contact-map-info">
                    <h4 class="lang" key="contact.section2.phonenumber"></h4>
                    +52 (812) 089 6071
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 contact-map-info">
                    <h4 class="lang" key="contact.section2.email"></h4>
                    info@enpadi.com
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 contact-map-info">
                    <h4 class="lang" key="contact.section2.Schedule"></h4>
                    <label class="lang" key="contact.section2.Schedule.desciption"></label>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </div>
</div>




