﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    ViewBag.Title = "EnpadiFriendDelete";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifrienddelete.title">
                Contactos Enpadi
            </h2>
            <small class="lang" key="enpadifrienddelete.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading lang" key="enpadifrienddelete.info">
                    Eliminar Contacto
                </div>

                <div class="panel-body">
                    <div class="form-horizontal">
                        <h3 class="lang" key="enpadifrienddelete.deletenotice">Estas seguro de querer elimiar este contacto?</h3>
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt><label class="lang" key="enpadifrienddelete.account"></label></dt>
                                <dd>@Html.DisplayFor(model => model.contactoTarjeta)</dd>
                                <dt><label class="lang" key="enpadifrienddelete.contact"></label></dt>
                                <dd>@Html.DisplayFor(model => model.contactoAlias)</dd>
                            </dl>

                            @using (Html.BeginForm("DeleteConfirmed", "website", new { id = Model.contactoID }, FormMethod.Post,new { @id="enpadifrienddeleteform"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.contactoID)

                                <div class="form-actions no-color">
                                    @*<input type="submit" value="Eliminar" class="btn btn-danger" />*@
                                    <a href="#" class="btn btn-danger lang" key="general.delete" onclick="$('#enpadifrienddeleteform').submit();"></a>
                                    |
                                    @Html.ActionLink("Volvel al Listado", "EnpadiFriend",null, new { @class="lang", @key= "enpadifrienddelete.back" })
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




