﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    ViewBag.Title = "EnpadiFriendEdit";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}


@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifriendedit.title">
                Contactos Enpadi
            </h2>
            <small class="lang" key="enpadifriendedit.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>


<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>

                <div class="panel-body">

                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "enpadifriendeditform" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.contactoID)
                            @Html.HiddenFor(model => model.contactoNumero)
                            @Html.HiddenFor(model => model.tarjetaID)

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.contactoTarjeta, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <label class="control-label col-md-2 lang" key="enpadifriendedit.accountnumber"></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.contactoTarjeta, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.contactoTarjeta, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.contactoAlias, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <label class="control-label col-md-2 lang" key="enpadifriendedit.contact"></label>
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.contactoAlias, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.contactoAlias, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @*<input type="submit" value="Guardar" class="btn btn-default" />*@
                                    <a href="#" class="btn btn-default lang" key="general.save" onclick="$('#enpadifriendeditform').submit();"></a>
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        @Html.ActionLink("Volver al Listado", "EnpadiFriend", null, new { @class="lang", @key= "enpadifriendedit.back" })
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
