﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    ViewBag.Title = "EnpadiFriendDetail";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifriendetail.title">
                Contactos Enpadi
            </h2>
            <small class="lang" key="enpadifriendetail.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt><label class="lang" key="enpadifriendetail.accountnumber"></label></dt>
                            <dd>@Html.DisplayFor(model => model.contactoTarjeta)</dd>
                            <dt><label class="lang" key="enpadifriendetail.contactname"></label></dt>
                            <dd>@Html.DisplayFor(model => model.contactoAlias)</dd>
                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "EnpadiFriendEdit", new { id = Model.contactoID }, new { @class = "lang", @key = "general.edit" }) |
                        @Html.ActionLink("Volver al Listado", "EnpadiFriend",null, new { @class="lang", @key= "enpadifriendetail.back" })
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


