﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasContactos>

@{
    ViewBag.Title = "EnpadiFriendTransfer";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_transfer")
}


@section Scripts {
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifriendtransfer.title">
                Transferencias Enpadi
            </h2>
            <small class="lang" key="enpadifriendtransfer.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-8">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "transferForm" }))
                            {
                                @Html.AntiForgeryToken()



                                <div class="text-center" style="padding-bottom:15px;">
                                    <label class="lang" key="enpadifriendtransfer.dearuser"><strong>Estimado Usuario</strong></label>
                                    <label class="lang" key="enpadifriendtransfer.info">Seleccione la Cuenta y el Monto que desea Transferir</label>
                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 control-label lang" key="enpadifriendtransfer.contact">Contacto</label>
                                        <div class="col-sm-10">
                                            <select id="contacto" name="contacto" class="form-control">
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@Html.DisplayFor(modelItem => item.contactoNumero)">@Html.DisplayFor(modelItem => item.contactoTarjeta) - @Html.DisplayFor(modelItem => item.contactoAlias)</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 control-label lang" key="enpadifriendtransfer.amount">Monto</label>
                                        <div class="col-sm-10">
                                            <input type="text" id="monto" name="monto" placeholder="0.00" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-5">
                                        @*<input type="submit" formmethod="post" value="Transferir" class="btn btn-primary" />*@
                                        <a href="#" class="btn btn-primary lang" key="general.transfer" onclick="$('#transferForm').submit();"></a>
                                    </div>
                                    <div class="col-sm-5">
                                        <a href="@Url.Action("Transfer", "website", new { m = "transfer" })" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                    </div>
                                </div>


                            }
                        </div>
                        <div class="col-lg-4">
                                <div class="panel payment-client-panel">
                                    <div class="panel-body text-center">
                                        <img alt="logo" class="img-circle" width="100" src="~/Images/14-2.png" />
                                        <div class="m-t-sm" style="color:#fff;">
                                            <div class="payment-client-text payment-client-data lang" key="enpadifriendtransfer.friends">
                                                Amigos
                                            </div>
                                            <hr class="cliente-info-division" />
                                            <div class="payment-client-info payment-client-data lang" key="enpadifriendtransfer.friendsinfo">
                                                Agrega y modifica tus cuentas Enpadi
                                            </div>
                                            @*<a href="#" class="btn btn-primary btn-xs btn-default">Administrar</a>*@
                                            <a href="@Url.Action("EnpadiFriend", "website")" class="btn btn-primary btn-xs btn-default lang" key="general.administer">Administrar</a>
                                        </div>
                                    </div>
                                </div>
                           
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $.validator.addMethod('minStrict', function (value, el, param) {
        return value > param;
    });

    $.validator.addMethod('numbers', function (value, el, param) {

        console.log("is numeric " + $.isNumeric(value));
        return $.isNumeric(value);
    });

    jQuery('#transferForm').validate({
        rules: {
            monto: {
                required: true,
                numbers: true,
                minStrict: 10.00,
            }
        },
        messages: {
            monto: {
                required: "Requerido",
                numbers: "Solo se aceptan números.",
                minStrict: "El monto mínimo son $10.00 MXN."
            },

        }
    });
</script>