﻿@model Enpadi_WebUI.Models.tarjetasContactos

@{
    ViewBag.Title = "EnpadiFriendCreate";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifriendcreate.title">
                Contactos Enpadi
            </h2>
            <small class="lang" key="enpadifriendcreate.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>

<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "enpadifriendcreateform", @name = "enpadifriendcreateform" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4 class="lang" key="enpadifriendcreate.info">Detalle de Contacto</h4>
                            <hr />
                            @{
                                if (Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
                                {
                                    @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { @class = "text-danger" }).ToHtmlString()))
                                }
                            }

                            <div class="form-group">
                                @Html.LabelFor(model => model.contactoTarjeta, htmlAttributes: new { @class = "control-label col-md-2 lang", @key = "enpadifriendcreate.accountnumber" })
                                <div class="col-md-10">
                                    <input id="contactoTarjeta" name="contactoTarjeta" class="form-control" type="text" />
                                    @*@Html.EditorFor(model => model.contactoTarjeta, new { htmlAttributes = new { @class = "form-control", @id = "accountnumber", @name = "accountnumber" } })*@
                                    @*@Html.ValidationMessageFor(model => model.contactoTarjeta, "", new { @class = "text-danger lang", @key = "general.required" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.contactoAlias, htmlAttributes: new { @class = "control-label col-md-2 lang", @key = "enpadifriendcreate.contact" })
                                <div class="col-md-10">
                                    <input id="contactoAlias" name="contactoAlias" class="form-control" type="text" />
                                    @*@Html.EditorFor(model => model.contactoAlias, new { htmlAttributes = new { @class = "form-control", @id = "contactname", @name = "contactname" } })*@
                                    @*@Html.ValidationMessageFor(model => model.contactoAlias, "", new { @class = "text-danger lang", @key= "general.required" })*@
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    @*<input type="submit" value="Guardar" class="btn btn-default" />*@
                                    <a href="#" class="btn btn-default lang" key="general.save" onclick="$('#enpadifriendcreateform').submit();"></a>
                                </div>
                            </div>
                        </div>
                                }
                    <div>
                        @Html.ActionLink("Volver al Listado", "EnpadiFriend", null, new { @class = "lang", @key = "enpadifriendcreate.back" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var errorMessage = "";

        if (sessionStorage.lang == "en") {
            errorMessage = {
                contactoAlias: {
                    required: "<label class='lang' key='general.required'>Required</label>",
                    lettersonly: "<label class='lang' key='general.onlyletters'>Only letters are allowed</label>."
                },
                contactoTarjeta: {
                    required: "<label class='lang' key='general.required'>Required.</label>",
                    digits: "<label class='lang' key='general.onlynumbers'>Only numbers are allowed.</label>",
                    minlength: "<label class='lang' key='general.minlenghtpreffix'>The account number must be</label> 16 <label class='lang' key='general.minlenghtsuffix'> digits.</label>",
                    maxlength: "<label class='lang' key='general.maxlenghtpreffix'>The account number must be </label> 16 <label class='lang' key='general.maxlenghtsuffix'> digits.</label>",
                }
            };
        } else {

            errorMessage = {
                contactoAlias: {
                    required: "<label class='lang' key='general.required'>Requerido</label>",
                    lettersonly: "<label class='lang' key='general.onlyletters'>Solo se permiten letras.</label>"
                },
                contactoTarjeta: {
                    required: "<label class='lang' key='general.required'>Requerido.</label>",
                    digits: "<label class='lang' key='general.onlynumbers'>Solo se permiten números.</label>",
                    minlength: "<label class='lang' key='general.minlenghtpreffix'>El número de cuenta debe de ser de </label>16 <label class='lang' key='general.minlenghtsuffix'> dígitos.</label>",
                    maxlength: "<label class='lang' key='general.maxlenghtpreffix'>El número de cuenta debe de ser de </label>16 <label class='lang' key='general.maxlenghtsuffix'> dígitos.</label>",
                }
            };
        }

        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /[a-zA-Záéíóúüñç]+/i.test(value);
        }, errorMessage);

        $("#enpadifriendcreateform").validate({
            rules: {
                contactoAlias: {
                    lettersonly: true,
                    required: true
                },
                contactoTarjeta: {
                    digits: true,
                    required: true,
                    minlength: 16,
                    maxlength: 16
                }
            },
            messages: errorMessage
        });
    });
</script>