﻿@model IEnumerable<Enpadi_WebUI.Models.tarjetasContactos>

@{
    ViewBag.Title = "EnpadiFriend";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_addcustomer")
}

@section Scripts {

}


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs lang" key="enpadifriend.title">
                Contactos Enpadi
            </h2>
            <small class="lang" key="enpadifriend.description">Transfiere dinero desde tu cuenta enpadi a amigos y familiares</small>
        </div>
    </div>
</div>


<div class="table-div">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    @Html.ActionLink("Agregar Contacto AQUI", "EnpadiFriendCreate",null, new { @class="lang", @key= "enpadifriend.addurl" })
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th><label class="lang" key="enpadifriend.acountnumber"></label></th>
                                    <th><label class="lang" key="enpadifriend.contact"></label></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.contactoTarjeta)</td>
                                        <td>@Html.DisplayFor(modelItem => item.contactoAlias)</td>
                                        <td>
                                            @Html.ActionLink("Editar", "EnpadiFriendEdit", new { id = item.contactoID }, new { @class="lang", @key= "enpadifriend.edit" }) |
                                            @Html.ActionLink("Detalle", "EnpadiFriendDetail", new { id = item.contactoID }, new { @class = "lang", @key = "enpadifriend.detail" }) |
                                            @Html.ActionLink("Eliminar", "EnpadiFriendDelete", new { id = item.contactoID }, new { @class = "lang", @key = "enpadifriend.delete" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
