﻿
@{
    ViewBag.Title = "Preguntas";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_faq")
}

@section Scripts {
}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                    <label class="lang" key="index.slider"></label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12 website-seccion-title color-6">
                    <h1 class="color-6 ">@string.Format("{0}", ViewBag.website_seccion_title_1)</h1>
                    <hr />

                    <div class="row">
                        <div class="col-lg-12">

                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
