﻿@using System.Configuration;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    @Styles.Render("~/Content/website_index")
}


@section Scripts {

}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                    <label class="lang" key="index.slider">Dispersión, <br /> pagos, servicios y <br /> programas de valor</label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 website-seccion">
        <div class="website-seccion-content" style="background-color:@string.Format("#{0}", ViewBag.color_6);">
            <div class="row website-seccion-title  color-1">
                <div class="col-lg-12">
                    <h1 class="lang" key="index.section1.titleMain">Soluciones</h1>
                    <hr />
                </div>
            </div>
            <div class="row website-icon-holder color-1">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Icono-Pagos.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                           <label class="lang" key="index.section1.title1">Pagos</label> 
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Transferencias-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lang" key="index.section1.title2">Transferencias</label> 
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row ">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Compras-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lang" key="index.section1.title3">Compras</label> 
                        </div>
                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Administra-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lang" key="index.section1.title4">Administra</label> 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 website-seccion">
        @*@{
            if (pageRegion == "usa")
            {*@
                <div class="website-seccion-content" style="background-image:url(../@string.Format("{0}", ViewBag.index_image))">
            @*}
            else if (pageRegion == "mx")
            {
                @:<div class="website-seccion-content" style="background-image:url(/mxn/@string.Format("{0}", ViewBag.index_image))">
            }
            else
            {
                @:<div class="website-seccion-content" style="background-image:url(/@string.Format("{0}", ViewBag.index_image))">
            }
        }*@
        <div class="row">
            <div class="col-lg-6 website-seccion-title color-1">
                <h1 class="lang" key="index.secction2.title1">Empresas</h1>
                <hr />
                <img src="~/Images/website/icons/Empresas-Icono.png" class="website-icon-big color-1" />
            </div>
            <div class="col-lg-6 website-seccion-title color-1">
                <h1 class="lang" key="index.secction2.title2">Individuos</h1>
                <hr />
                <img src="~/Images/website/icons/Individuos-Icono.png" class="website-icon-big color-1" />
            </div>
        </div>
    </div>
</div>
</div>
<div class="row">
    <div class="col-lg-12 website-seccion">
        <div class="website-seccion-content" style="background-color:@string.Format("#{0}", ViewBag.color_6);">
            <div class="row website-seccion-title color-1">
                <div class="col-lg-12">
                    <h1 class="lang" key="index.secction3.title">Atención</h1>
                    <hr />
                </div>
            </div>
            <div class="row website-icon-holder color-1">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Preguntas-Frecuentes-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                          <label class="lang" key="index.secction3.title1">Preguntas Frecuentes</label>
                            <hr class="long" />
                            <a href="~/website/terms" class="lang" key="index.secction3.faq.terms">Términos y condiciones</a>
                            <hr class="short" />
                            <a href="~/website/notice" class="lang" key="index.secction3.faq.privacy">Avisos de privacidad</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row ">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Nosotros-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lang" key="index.secction3.title2">Nosotros</label>
                            <hr class="long" />
                            <label class="lang" key="index.secction3.aboutusdesc">Somos una empresa que ofrece soluciones de pago, transferencias, dispersión de fondos y programas de lealtad.</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="~/Images/website/icons/Contacto-Icono.png" class="website-icon color-1" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label class="lang" key="index.secction3.title3">Contacto</label>
                            <hr class="long" />
                            L&acirc;zaro Garza Ayala 904
                            <br />
                            Centro de San Pedro
                            <br />
                            San Pedro Garza Garc&iacute;a. N.L. 66230
                            <hr class="short" />
                            info@enpadi.com
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

