﻿
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_login")
}


@section Scripts {
}

<div class="row" style="padding-top:90px">
    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12 website-seccion-title color-6">
                    <img src="~/Images/enpadi-logo.png" class="enpadi-medium-logo" />
                    @*<h1 class="color-6 ">@string.Format("{0}", ViewBag.website_seccion_title_1)</h1>*@
                    <hr />
                    <div class="info">
                        <strong><label class="lang" key="login.description"></label></strong>
                    </div>@using (Html.BeginForm("Login", "website", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        if (ViewBag.ErrorMessage != null)
                        {
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                    <div class="form-group full">
                                        <div class="alert alert-danger">
                                            <strong>Error</strong> <label class="lang" key="login.authenticationfail"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="Email" name="Email" type="text" class="form-control lang-watermark" key="login.email" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="Password" name="Password" type="password" class="form-control lang-watermark" key="login.password" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="row">
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group full">
                                            <button type="submit" class="btn btn-enpadi lang" key="login.startsession"></button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class="form-group full">
                                            <a href="~/website/registration" class="btn btn-enpadi lang" key="login.register"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
