﻿
@{
    ViewBag.Title = "Aviso";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_notice")
}

@section Scripts {
}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                    <label class="lang" key="index.slider"></label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12 website-seccion-title color-6">
                    <h1 class="color-6 ">@string.Format("{0}", ViewBag.website_seccion_title_1)</h1>
                    <hr />

                    <div class="row">
                        <div class="col-lg-12">
                            <p><h3>Datos personales que se recaban, transmisión y transferencia de Datos Personales</h3></p>
                            <p>El presente documento constituye el <strong>Aviso de Privacidad</strong> para efectos de lo dispuesto por la <strong>Ley de Acceso a la Información y Protección de Datos</strong>, así como Leyes y Reglamentos relacionados (en lo sucesivo la “Ley”).</p>
                            <p>Este <strong>Aviso de Privacidad</strong> aplica a la información personal recopilada por la aplicación y funcionalidades relacionadas con la solución <strong>ENPADI</strong>, así como empresas o sociedades relacionadas con la misma (en lo sucesivo y conjuntamente denominadas <strong>“SOLUCION ENPADI”</strong>) responsable de recabar sus datos personales (por  ejemplo: nombre, país, estado, ciudad, correo electrónico, etc.) el uso que se le dé a los mismos y su protección que por su propia voluntad usted proporcione por medios físicos, electrónicos, electromagnéticos, de manera oral, escrita, visuales, sonoros o cualquier otro. Así mismo, autoriza a <strong>“SOLUCION ENPADI”</strong> para tratar, usar, almacenar y/o transferir sus datos personales a empresas del proyecto, asesores externos y/o terceros nacionales o extranjeros relacionados con los fines que aquí se señalan.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Finalidad</h3></p>
                            <p>Su información personal será utilizada específicamente para los fines que usted la proporcionó, los cuales por ejemplo pueden ser: enviar y recibir; mensajes, pagos, artículos, cupones y promociones, notificaciones, así como para actualización y manejo interno, y externo única y exclusivamente en caso de existir relación comercial, tecnológica, administrativa u operativa entre las partes.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Protección de Datos</h3></p>
                            <p><strong>“SOLUCION ENPADI”</strong> y sus filiales cuentan con los medios físicos y digitales para proteger y limitar el uso o  divulgación de su información y no utiliza la información de los particulares para fines distintos a los relacionados con sus operaciones comerciales y/o los arriba señalados.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Medio para ejercer los derechos relativos a su información</h3></p>
                            <p>El Titular de la Información personal podrá ejercer los derechos de acceso, rectificación, cancelación u oposición de la información o revocar el consentimiento aquí otorgado de conformidad con lo dispuesto en <strong>“la Ley”</strong>, mediante solicitud por escrito que deberá presentar ante <strong>“SOLUCION ENPADI”</strong>, debiendo señalar en la misma, domicilio y/o correo electrónico para recibir notificaciones, documentos que acrediten su identidad, descripción clara y precisa de los datos personales, el objeto de la solicitud y anexar copia de los documentos o elementos en que sustente su petición. La empresa comunicará la respuesta en un plazo de 15 días contados a partir de la recepción de la solicitud y la respuesta se notificará al titular por el medio señalado en la misma.</p>
                            <p>Para ejercer los derechos de acceso, rectificación, cancelación y oposición, así como para limitar el uso y divulgación de sus datos personales, usted tendrá la opción de hacernos llegar su solicitud vía correo electrónico a la siguiente dirección: info@truewisdom.co o por correo ordinario a la dirección Rio de La Plata 309 Colonia Del Valle, San Pedro Garza García, N.L. CP 66260.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Modificaciones</h3></p>
                            <p>Cualquier modificación a los términos del aviso de privacidad se dará a conocer por medio de esta solución  al no presentar oposición alguna dentro del término de 5 días posteriores a la modificación se entiende que consiente y está de acuerdo con los nuevos términos.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Consentimiento</h3></p>
                            <p>Al proporcionar información personal de manera física, electrónica o por cualquier medio, usted declara que ha leído el presente aviso de privacidad y entiende el alcance y contenido del mismo y al no manifestar oposición por escrito, expresa su entera conformidad con los términos y autorizaciones aquí contenidas.</p>
                            <p>En el momento en el que usted reciba el presente <strong>Aviso de Privacidad</strong> y no se manifieste en contrario, consiente que <strong>“SOLUCION ENPADI”</strong> obtenga, use, divulgue y/o almacene sus datos personales, por cualquier medio. Asimismo acepta que el uso abarca cualquier acción de acceso, manejo, aprovechamiento, transferencia o disposición de sus datos personales, de conformidad con las finalidades antes mencionadas. Lo anterior, ya sea que sus datos personales hubieren sido proporcionados o llegaren a ser proporcionados directamente por usted o a través de asesores, promotores, socios comerciales, prestadores de servicios o cualquier otro tercero, hayan sido éstos obtenidos por cualquier medio, ya sea electrónico, óptico, sonoro, audiovisual, o a través de cualquier otra tecnología o medio con el que <strong>“SOLUCION ENPADI”</strong> llegue a contar. En caso de que usted nos llegare a proporcionar datos personales de terceros, usted se obliga en este acto a informar a dichos terceros a cerca de: (1) los datos proporcionados; (2) los fines para los cuales proporcionó los mencionados datos; y (3) los términos y condiciones de éste Aviso de Privacidad, así como los lugares en los que se encuentra disponible.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Cambio al Aviso de Privacidad</h3></p>
                            <p><strong>“SOLUCION ENPADI”</strong> se reserva el derecho de cambiar en cualquier momento éste <strong>Aviso de Privacidad</strong>, por lo que recomendamos monitorearlo regularmente. En caso de que existiere algún cambio, lo haremos extensivo para usted por medio de una publicación visible en la presente aplicación o de nuestro portal de Internet.</p>
                            <p>&nbsp;</p><br />
                            <p><h3>Contacto</h3></p>
                            <p><strong>SOLUCION ENPADI</strong> señala como domicilio para efectos de este aviso el ubicado en Rio de La Plata 309 Colonia Del Valle, San Pedro Garza García, N.L. CP 66260.</p>
                            <p>Email: info@truewisdom.co</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
