﻿
@{
    ViewBag.Title = "Pay";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_pay")
}


@section Scripts {

}


<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="pay.title">Opciones de pago</div>
        <div class="enapdi-color informative-text lang" key="pay.description">Opciones de pago y proveedores registrados.</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/1telcel.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Telcel
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Telcel" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/2Movistar.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Movistar
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Movistar" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/3unefon.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Unefon
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Unefon" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/4Usacell.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Iusacell
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Iusacell" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/5nextel.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Nextel
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Nextel" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/VirginMobile.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Virgin
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Virgin" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/8Agua.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="general.water">
                        Agua
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Agua" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/9CFE.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        CFE
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "CFE" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/10Gas.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Gas
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Gas" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/11Transporte.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="general.transport">
                        Transporte
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Transporte" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/17Tvporcable.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="general.tv-cable">
                        TV por Cable
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "TV" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/13Telefonia.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="general.telephony">
                        Telefonía
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Telefonia" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/14Infonavit.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Infonavit
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Infonavit" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/logoCoberturaMedica.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        IMSS
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "IMSS" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/16Gobierno.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="general.government">
                        Gobiernos
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Gobiernos" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/cemex.jpg" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Cemex
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "CEMEX" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

</div>


@*this services have legal problems in the usa, they asked for their removal*@
@*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/15Pago de Creditos.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Cr&eacute;ditos
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Creditos" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="payment-client-image" width="100" src="~/Images/12Compra de productos.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Compra de producto
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data lang" key="pay.national">
                        Nacional
                    </div>
                    <a href="@Url.Action("ProcessPay", "website", new { tipo = "Productos" })" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>*@