﻿@using System.Configuration;

@{
    ViewBag.Title = "PendingOrders";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";

    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}


@section Scripts {
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/chartjs/js")

}

@* entire table *@
<div class="row" style="background-color:white; border-style:solid; border-color:black; border-width:1px; padding: 20px 20px 20px 20px">
    <h4 class="text-center">Confirmar operaci&oacute;n</h4>

    <div class="col-lg-12">
        @* first row *@
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Folio:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Fecha:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>

        @* second row *@
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Estatus:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
        </div>

        @* third row *@
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Proveedor:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>

        </div>

        @* fourth row *@
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Descripcion:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>

        @* fifth row *@
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4">
                        <label>Articulos:</label>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="tbl_pending_orders_products" class="table table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th key="">
                                Cantidad
                            </th>
                            <th key="">
                                Nombre
                            </th>
                            <th key="">
                                Precio
                            </th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <label>Monto</label>
                    </div>
                    <div class="col-lg-6 text-right">
                        $123.00 MXN
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <label>Comision</label>
                    </div>
                    <div class="col-lg-6 text-right">
                        $123.00 MXN
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 text-left">
                        <label>Total debitado</label>
                    </div>
                    <div class="col-lg-6 text-right">
                        $123.00 MXN
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-right">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
                <a href="#" class="btn btn-primary btn-xs btn-default lang" key="general.cancel">Cancel</a>
                <a href="#" class="btn btn-primary btn-xs btn-default lang" key="general.pay">Pagar</a>
            </div>
        </div>

    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">

        <table id="tbl_pending_orders" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th key="">
                        Id
                    </th>
                    <th key="table.amount">
                        table.amount
                    </th>
                    <th key="table.supplier">
                        table.supplier
                    </th>
                    <th key="table.status">
                        table.status
                    </th>
                    <th key="table.date">
                        table.date
                    </th>
                    <th key="general.pay">
                        general.pay
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        loadTable();
    });

   function loadTable() {

        $.ajax({
            url: '@Url.Action("LoadPendingOrders", "website")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    coffeetools.loadtablePendingOrders(result);
                },
                error: function (result) {
                    console.log("Error: " + result);
                }
            });
    }
</script>