﻿@model Enpadi_WebUI.Models.ViewModelProfile


@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_processpay")
}

@section Scripts {

}

<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="profile.title">Perfil</div>
        <div class="enapdi-color informative-text lang" key="profile.description">Favor de ingresar los datos actualizados.</div>
    </div>
</div>


<div class="content pay-form">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                                    <div>
                                        <img alt="logo" width="150" class="img-circle" src="~/@string.Format("{0}",Model.ProfilePicUrl)" />
                                    </div>
                                    <div class="text-center">
                                        @using (Html.BeginForm("ProfilePictureUpload", "website", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.Hidden("Email", Model.Email)
                                            @Html.Hidden("Name", Model.Name)
                                            @Html.Hidden("PhoneNumber", Model.PhoneNumber)

                                            <small class="font-bold lang" key="profile.picture">Foto de usuario </small>
                                            <br />
                                            <input type="file" id="file" name="file" value="Cambiar" class="btn btn-primary lang-button" style="display:inline !important" />
                                            <input type="submit" id="btnSubmit" value="Actualizar" class="btn btn-primary lang-button" key="general.update" />
                                            <br />
                                            <small class=" lang" key="profile.instructions">Favor de seleccionar una imagen cuadrada.</small>
                                        }

                                    </div>
                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                                <div class="form-group full">
                                                    <div class="alert alert-danger">
                                                        <div class="lang" key="profile.error">
                                                            <strong>Error</strong> Ya existe una cuenta registrada con el mismo Número Movil.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @if (ViewBag.SuccessMessage != null)
                                    {
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                                <div class="form-group full">
                                                    <div class="alert alert-success">
                                                        <div class="lang" key="profile.success"></div>
                                                        <strong>Éxito</strong> "Los datos se han actualizado."
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>



                    @using (Html.BeginForm("UpdateProfile", "website", FormMethod.Get, new { id = "profileForm" }))
                    {
                        <div class="form-horizontal">

                            <div class="row form-group">
                                <div class="col-lg-4 text-center">
                                    <label class="control-label lang" key="profile.name">Nombre</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" id="Name" name="Name" class="form-control"  placeholder="Nombre" value="@Model.Name" />
                                </div>
                            </div>
                            @*<div class="row form-group">
                                    <div class="col-lg-4 text-center">
                                        <label class="control-label">Correo electr&oacute;nico</label>
                                    </div>
                                    <div class="col-lg-8">
                                        <input type="text" id="Email" name="Email" class="form-control" placeholder="Correo electrónico" value="@Model.Email" />
                                    </div>
                                </div>*@
                            <div class="row form-group">
                                <div class="col-lg-4 text-center">
                                    <label class="control-label lang" key="profile.phonenumber">Tel&eacute;fono</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="text" id="PhoneNumber" name="PhoneNumber" class="form-control lang-watermark" key="profile.phonenumber" placeholder="Teléfono" value="@Model.PhoneNumber" />
                                </div>
                            </div>
                        </div>
                            <div class="form-group text-center">
                                <a href="~/website/userindex?m=userindex" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                <input type="submit" id="btnSubmit" value="Actualizar" class="btn btn-primary lang-button" key="general.update" />
                            </div>
                    }




                    @using (Html.BeginForm("UpdatePassword", "website", FormMethod.Get, new { id = "passwordForm" }))
                    {
                        <div class="form-horizontal">
                            <div class="row form-group">
                                <div class="col-lg-4 text-center">
                                    <label class="control-label lang" key="general.existingpassword">Contrase&ntilde;a actual</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="password" id="currentPassword" name="currentPassword" class="form-control lang-watermark" key="general.password" placeholder="Contraseña" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-4 text-center">
                                    <label class="control-label  lang" key="general.password">Contrase&ntilde;a</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="password" id="Password" name="Password" class="form-control lang-watermark" key="general.password" placeholder="Contraseña" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-4 text-center">
                                    <label class="control-label lang" key="general.confirmpassword">Confirmar contrase&ntilde;a</label>
                                </div>
                                <div class="col-lg-8">
                                    <input type="password" id="password_confirm" name="password_confirm" class="form-control lang-watermark" key="geenral.confirmpassword" placeholder="Confirmar contraseña" />
                                </div>
                            </div>
                        </div>
                            <div class="form-group text-center">
                                <a href="~/website/userindex?m=userindex" class="btn btn-default lang" key="general.cancel">Cancelar</a>
                                <input type="submit" id="btnSubmit" value="Actualizar" class="btn btn-primary lang-button" key="general.update" />
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    jQuery.validator.addMethod("lettersonly", function (value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/i.test(value);
    }, "Solo se permiten letras.");

    jQuery('#profileForm').validate({
        rules: {
            Name: {
                required: true,
                lettersonly: true
            },
            Email: {
                required: true,
                email: true
            },
            PhoneNumber: {
                required: true,
                number: true
            },
        },
        messages: {
            Name: {
                required: "Requerido",
                lettersonly: "Solo se permiten letras."
            },
            Email: {
                required: "Requerido, revisa el formato",
                email: "Requerido, revisa el formato"
            },
            PhoneNumber: {
                required: "Requerido",
                number: "Solo se permiten números."
            },
        }
    });

    jQuery('#passwordForm').validate({
        rules: {
            Password: {
                minlength: 8
            },
            password_confirm: {
                minlength: 8,
                equalTo: "#Password"
            }
        },
        messages: {
            Password: {
                required: "Requerido",
                minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres"),
                equalTo: "Contraseñas no coinciden"
            },
            password_confirm: {
                required: "Requerido",
                minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres"),
                equalTo: "Contraseñas no coinciden"
            }
        }
    });
</script>