﻿@using System.Configuration;

@{
    ViewBag.Title = "Recharge";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    @Styles.Render("~/Content/website_recharge")
}


@section Scripts {

}


<div class="row title">
    <div class="col-lg-12">
        <div class="enapdi-color title-text lang" key="recharge.title">Opciones de carga</div>
        <div class="enapdi-color informative-text lang" key="recharge.discríption">Opciones de carga y proveedores registrados.</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="img-circle" width="100" src="~/Images/VisaMasterAmex.jpg" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data lang" key="recharge.debitorcredit">
                        Debito/Credito
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data">
                        Visa/MC/AMEX
                    </div>
                    @*<a href="#" class="btn btn-primary btn-xs btn-default">Pagar</a>*@
                    <a href="@Url.Action("RechargeCredit", "website")" class="btn btn-primary btn-xs btn-default lang" key="recharge.pay">Pagar</a>
                </div>
            </div>
        </div>
    </div>

    @{
        if (pageRegion != "usa")
        {
            
        }
    }
    @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel payment-client-panel">
                <div class="panel-body text-center">
                    <img alt="logo" class="payment-client-image" width="100" src="~/Images/2Movistar.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <div class="payment-client-text payment-client-data">
                            Movistar
                        </div>
                        <hr class="cliente-info-division" />
                        <div class="payment-client-info payment-client-data">
                            Nacional
                        </div>
                        <a href="@Url.Action("ProcessPay", "website", new { tipo = "Movistar" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel payment-client-panel">
                <div class="panel-body text-center">
                    <img alt="logo" class="payment-client-image" width="100" src="~/Images/3unefon.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <div class="payment-client-text payment-client-data">
                            Unefon
                        </div>
                        <hr class="cliente-info-division" />
                        <div class="payment-client-info payment-client-data">
                            Nacional
                        </div>
                        <a href="@Url.Action("ProcessPay", "website", new { tipo = "Unefon" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="panel payment-client-panel">
                <div class="panel-body text-center">
                    <img alt="logo" class="payment-client-image" width="100" src="~/Images/4Usacell.png" />
                    <div class="m-t-sm" style="color:#fff;">
                        <div class="payment-client-text payment-client-data">
                            Iusacell
                        </div>
                        <hr class="cliente-info-division" />
                        <div class="payment-client-info payment-client-data">
                            Nacional
                        </div>
                        <a href="@Url.Action("ProcessPay", "website", new { tipo = "Iusacell" })" class="btn btn-primary btn-xs btn-default">Pagar</a>
                    </div>
                </div>
            </div>
        </div>*@

</div>