﻿
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}


@section Styles {
    @Styles.Render("~/Content/website_registration")
}

@section Scripts {
}

@using (Html.BeginForm("Register", "website", FormMethod.Post, new { @class = "form-horizontal", id = "registrationForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row" style="padding-top:90px">
        <div class="col-lg-12">
            <div class="">
                <div class="row">
                    <div class="col-lg-12 website-seccion-title color-6">
                        <h1 class="color-6 lang" key="registration.title"></h1>
                        <hr />
                        <div class="info">
                            <strong><label class="lang" key="registration.description"></label></strong>
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                    <div class="form-group full">
                                        <div class="alert alert-danger">
                                            <strong>Error</strong> @string.Format("{0}", ViewBag.ErrorMessage).
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="Name" name="Name" type="text" class="form-control lang-watermark" key="registration.name" value="@(ViewBag.Name != null? ViewBag.Name:"")" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="Email" name="Email" type="text" class="form-control lang-watermark" key="registration.email" value="@(ViewBag.Email != null? ViewBag.Email:"")" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="PhoneNumber" name="PhoneNumber" type="text" class="form-control lang-watermark" key="registration.phonenumber" value="@(ViewBag.PhoneNumber != null? ViewBag.PhoneNumber:"")" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="Password" name="Password" type="password" class="form-control lang-watermark" key="registration.password" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="form-group full">
                                    <input id="password_confirm" name="password_confirm" type="password" class="form-control lang-watermark" key="registration.confirmpassword" aria-describedby="basic-addon2">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group full">
                                            <button type="submit" class="btn btn-enpadi lang" key="registration.btnregister"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /[a-zA-Záéíóúüñç]+/i.test(value);
        }, '');


        var objMessages = {};
        if (sessionStorage.lang == "en") {
            //make and object message and put it in jquery val
            objMessages = {
                Name: {
                    required: "Required",
                    lettersonly: "Only letters are allowed."
                },
                Email: {
                    required: "Required, check the format.",
                    email: "Required, check the format."
                },
                PhoneNumber: {
                    required: "Requerido",
                    minlength: "The telephone number must be 10 digits.",
                    maxlength: "The telephone number must be 10 digits.",
                    digits: "Only numbers are allowed."
                },
                Password: {
                    required: "Required",
                    minlength: jQuery.format("Password must be at least {0} characters."),
                    equalTo: "Passwords do not match."
                },
                password_confirm: {
                    required: "Required",
                    minlength: jQuery.format("Password must be at least {0} characters."),
                    equalTo: "Passwords do not match."
                }
            };
        } else {
            objMessages = {
                    Name: {
                                required: "Requerido",
                                    lettersonly: "Solo se permiten letras."
                            },
                    Email: {
                        required: "Requerido, revisa el formato.",
                        email: "Requerido, revisa el formato."
                    },
                    PhoneNumber: {
                        required: "Requerido",
                        minlength: "El número telefonico debe de ser de 10 dígitos.",
                        maxlength: "El número telefonico debe de ser de 10 dígitos.",
                        digits: "Solo se permiten números."
                    },
                    Password: {
                        required: "Requerido",
                        minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres."),
                        equalTo: "Contraseñas no coinciden."
                    },
                    password_confirm: {
                        required: "Requerido",
                        minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres."),
                        equalTo: "Contraseñas no coinciden."
                    }
                };
            }

            jQuery('#registrationForm').validate({
                lang: "mx",
                rules: {
                    Name: {
                        required: true,
                        lettersonly: true
                    },
                    Email: {
                        required: true,
                        email: true
                    },
                    PhoneNumber: {
                        required: true,
                        digits: true,
                        minlength: 10,
                        maxlength: 10
                    },
                    Password: {
                        minlength: 8
                    },
                    password_confirm: {
                        minlength: 8,
                        equalTo: "#Password"
                    }
                },
                messages: objMessages
            });
        });

</script>