﻿
@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Shared/_Layout_WebSite.cshtml";
}


@section Styles {
    @Styles.Render("~/Content/website_terms")
}

@section Scripts {
}

<div class="row">
    <div class="col-lg-12">
        <div id="myCarousel" class="carousel slide index-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_1)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_2)" class="index-carousel-image" />
                </div>
                <div class="item">
                    <img src="~/@string.Format("{0}", ViewBag.carousel_image_3)" class="index-carousel-image" />
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
                <div class="carousel-text">
                    <label class="lang" key="index.slider"></label>
                </div>
                <div class="carrousel-buttons">
                    <div class="row">
                        <div class="col-lg-6 form-group">
                            <a href="~/website/registration" class="btn btn-enpadi-transparent lang" key="login.createaccount"></a>
                        </div>
                        <div class="col-lg-6 form-group">
                            <a href="~/website/login" class="btn btn-enpadi-transparent lang" key="login.login"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="">
            <div class="row">
                <div class="col-lg-12 website-seccion-title color-6">
                    <h1 class="color-6 ">@string.Format("{0}", ViewBag.website_seccion_title_1)</h1>
                    <hr />

                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <h3>Uso del Servicio para Compradores</h3>
                            </p>
                            <p>
                                En el presente documento se redactan los términos y condiciones de TWT Servicios, Sociedad Anónima de Capital Variable, identificado en lo sucesivo bajo el nombre comercial de TWT que regulan el acceso y uso del sitio web: truewisdom.co
                                (en adelante el Sitio ) y todos los sitios web adicionales de TWT (los Sitios web de TWT ). Cualquier persona que haga uso de EL SITIO o de los servicios que presta TWT deberá sujetarse a los presentes términos y condiciones
                                junto con las demás políticas establecidas por TWT.
                            </p>
                            <p>Cualquier persona que no acepte estos términos y condiciones, mismos que tienen un carácter de obligatorio deberá de abstenerse de utilizar El Sitio y/o los servicios prestados por TWT.</p>
                            <p>Los servicios prestados por TWT solo podrán ser utilizados por personas que cuenten con la capacidad legal para contratar.</p>
                            <br />
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Definiciones: </h3>
                            </p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Administrador </h3>
                            </p>
                            <p>Persona física que representa y administra una Tienda en la plataforma de TWT.</p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Agregador </h3>
                            </p>
                            <p>
                                Por acuerdo de la H. Comisión Nacional Bancaria y de Valores se esclarece como: Participante de Redes que, al amparo de un contrato de prestación de servicios celebrado con un Adquirente ofrece a Receptores de Pagos el servicio
                                de aceptación de Pagos con Tarjetas, y en su caso, provee la infraestructura de TPV’s conectadas a dichas redes.
                            </p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Enpadi</h3>
                            </p>
                            <p>
                                Programa implementado por TWT para mejorar la experiencia y seguridad de sus Clientes, haciendo de este un medio de pago que genera beneficios a los usuarios frecuentes. Los puntos asociados a la cuenta Enpadi serán adquiridos
                                como resultado de acciones específicas, incluyendo de manera enunciativa más no limitativa; la compra de bienes y/o servicios en cualquiera de las tiendas en línea afiliadas a TWT.
                            </p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>TWT - TWT Servicios, S.A. de C.V.</h3>
                            </p>
                            <p>quien actúa como Comisionista de la Tienda por la Intermediación entre la Tienda, Comprador, Agregador, Mensajería entre otros.</p>
                            <p>
                                <h3>Comprador</h3>
                            </p>
                            <p>Cualquier persona que hace uso de la Plataforma o del Sitio o Sitios Web de TWT con la finalidad de adquirir bienes.</p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Plataforma</h3>
                            </p>
                            <p>La plataforma de Comercio Electrónico de TWT, así como páginas relacionadas administradas por TWT.</p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Tienda</h3>
                            </p>
                            <p>El Sitio administrado por una persona física o moral con la finalidad de publicar y vender bienes y/o servicios por medio de la plataforma de TWT.</p>
                            <p>&nbsp;</p><br />
                            <p>
                                <h3>Aceptación de los términos de uso</h3>
                            </p>
                            <p>
                                Al acceder y navegar a los Sitios web de TWT, el COMPRADOR acepta sujetarse a los presentes Términos y Condiciones sin limitación o condición alguna, incluyendo las actualizaciones, modificaciones o adiciones que TWT publique.
                                Por su parte, TWT manifiesta que tratándose de ciertos servicios en el Sitio o los Sitios Web de TWT, podrán regularse por términos y condiciones adicionales, los cuales podrán ser consultados en las páginas que contengan dichos
                                servicios u ofertas o por medio del vínculo que se publique en dichas páginas u otras direcciones referenciadas hacia dichos términos y condiciones adicionales. TWT se reserva el derecho de efectuar en cualquier momento modificaciones
                                o actualizaciones a los Términos y Condiciones sin necesidad de notificar personalmente al COMPRADOR. Lo anterior podrá ocurrir, para atender políticas internas, requerimientos nuevos y/o para cumplir con nuevas disposiciones
                                legales aplicables, siendo la versión publicada por última vez la aplicable en todo momento y en consecuencia la que obligará al COMPRADOR tras su entrada en vigor, dejando sin validez cualquier documento expedido o publicado
                                anteriormente.
                            </p>
                            <p>
                                <h3>Información introducida por el COMPRADOR</h3>
                            </p>
                            <p>
                                TWT en todo momento dará cumplimiento a las leyes de protección de datos aplicables y a los términos de su Aviso de Privacidad con respecto a los datos e información proporcionados por el COMPRADOR. Derivado de lo anterior TWT
                                hace saber al COMPRADOR que podrá usar los datos e información que publique para fines estadísticos, de mercadotecnia, promocionales entre otros.
                            </p>
                            <p>
                                TWT en todo momento dará cumplimiento a las leyes de protección de datos aplicables y a los términos de su Aviso de Privacidad con respecto a los datos e información proporcionados por el COMPRADOR. Derivado de lo anterior TWT
                                hace saber al COMPRADOR que podrá usar los datos e información que publique para fines estadísticos, de mercadotecnia, promocionales entre otros.
                            </p>
                            <p>El aviso de privacidad podrá ser consultado en la siguiente dirección web https://www.enpadi.com/privacidad.html </p>
                            <p>
                                El COMPRADOR autoriza a TWT a utilizar su información personal para fines propios de la operación en el Sitio o en los sitios web de TWT. TWT por su parte, se obliga a no transmitir, ceder o enajenar de forma alguna sus datos a
                                favor de un tercero, salvo que hubiere recabado previamente el consentimiento del COMPRADOR para dichos efectos, a excepción de nombre y correo electrónico para fines informativos, promocionales o publicitarios. Si el COMPRADOR
                                lo desea, en cualquier momento y a través de los medios dispuestos para tal efecto, podrá solicitar que lo excluyan de las listas para el envío de información promocional o publicitaria.
                            </p>
                            <p>
                                TWT utiliza tecnología cookie y de rastreo de IP cuando un COMPRADOR navega por El Sitio o Los Sitios web de TWT, lo anterior le permite reconocer a los COMPRADORES registrados sin que tengan que ingresar su e-mail cada vez que
                                acceden a los Sitios web de TWT y recopilar cierta información de sus coincidencias, preferencias y operaciones. El rechazo por parte del COMPRADOR para que TWT mantenga un registro de sus cookies podrá afectar el mejor funcionamiento
                                del Sitio o de Los Sitios web de TWT con respecto a dicho COMPRADOR. En caso de permitir la utilización de esta tecnología, el COMPRADOR consiente que la información personal que así se obtenga, podrá ser utilizada para analizar
                                sus preferencias, para definir y ejecutar políticas de marketing personalizadas y para otras aplicaciones vinculadas en El Sitio o Los Sitios web de TWT y/o de sus filiales, subsidiarias o asociadas.
                            </p>
                            <p>
                                El COMPRADOR reconoce y acepta que TWT es un Intermediario/Comisionista para la adquisición de su producto y que acatará los lineamientos establecidos en la Garantía TWT, en este sentido el COMPRADOR se reserva el derecho de no
                                ejercer ninguna acción legal o similar en contra de TWT, marcas y/o empresas relacionadas.
                            </p>
                            <p>
                                Los productos y/o servicios publicados por las tiendas en el portal de TWT no incluyen servicios de instalación, ajustes, configuración ni adaptaciones de ningún tipo, salvo que el producto o servicio contratado explícitamente
                                lo indique.
                            </p>
                            <p>
                                <h3>Protección de Propiedad Intelectual de TWT</h3>
                            </p>
                            <p>
                                Los Sitios web de TWT son propiedad de y operados por TWT y/o sus empresas afiliadas o subsidiarias y están protegidos por las leyes de derecho de autor y propiedad industrial aplicables en México, así como por los tratados internacionales
                                de la materia celebrados por México. Los derechos de autor sobre el contenido y el software proporcionado serán en todo momento propiedad de TWT.
                            </p>
                            <p>
                                Quedan reservados todos los derechos no otorgados expresamente en éstos Términos y Condiciones. El material de los Sitios web de TWT no podrá reproducirse, distribuirse o transmitirse de forma alguna sin autorización previa y por
                                escrito de TWT. Ningún vínculo a cualquiera de los Sitios web de TWT podrá crearse sin autorización expresa y por escrito de TWT. El COMPRADOR de cualquiera de los Sitios web de TWT podrá descargar una copia de todo o parte
                                del material publicado en dichos Sitios web para su uso personal y sin fines comerciales, siempre que no se modifique o altere dicho material de forma alguna, ni se elimine o modifique cualquier aviso o leyenda en materia de
                                derechos de autor o propiedad industrial. En este acto TWT de manera expresa manifiesta que NO otorga ni pretende de manera implícita autorizar la cesión o el otorgamiento de cualquier tipo de derecho o licencia que recaiga
                                sobre dicho material. Todo el material contenido en los Sitios web de TWT se publicará únicamente para fines lícitos.
                            </p>

                            <p>
                                <h3>Notificaciones</h3>
                            </p>
                            <p>TWT y sus afiliadas ejercen sus derechos de propiedad intelectual al máximo grado de la ley. En caso de preguntas sobre los avisos legales previamente expresados, usted puede comunicarse al Departamento Legal de TWT.</p>
                            <p>El domicilio de TWT está ubicado en Lázaro Garza Ayala 904, Casco Urbano, 66230 San Pedro Garza García, N.L.</p>

                            <p>Las notificaciones serán válidas en las direcciones establecidas por TWT y La Tienda, y se presumirán recibidas a más tardar a los cinco días hábiles de la fecha de recepción en el acuse de notificación</p>

                            <p>
                                Este documento contiene las condiciones generales a las que se sujetan las relaciones entre el Usuario y El Programa Enpadi relacionadas al uso de la Cuenta Enpadi, y prevalecen sobre cualquier acuerdo o convenio que previamente
                                hubiera existido entre ambas partes.
                            </p>
                            <p>El <b>Programa Enpadi</b> se reserva el derecho a modificar estas condiciones sin previa notificación así como de cualquier cambio en su sitio <b>www.enpadi.com</b>.</p>

                            <p>
                                La <b>Cuenta Enpadi</b> permite a sus <b>Usuarios</b> realizar pagos o compras de bienes, servicios y contenidos en internet; así como en establecimientos tradicionales. Así mismo le permite acumular puntos y canjear estos puntos
                                por premios y/o acceder a diversos beneficios como descuentos en establecimientos afiliados al <b>Programa Enpadi</b>.
                            </p>
                            <p>
                                <h3>La aceptación de los términos y condiciones</h3>
                            </p>
                            <p>Al abrir o activar una cuenta en el <b>Programa Enpadi</b>, el Usuario acepta expresamente las presentes condiciones generales relativas al uso de la cuenta y el <b>Programa Enpadi</b>.</p>
                            <p>Nos reservamos el derecho de rechazar la apertura o activación de una cuenta cuando esta se relacione con cualquier violación de la ley o reglamento. Así mismo nos reservamos el derecho de cancelar la cuenta a un <b>Usuario</b>                            cuando éste haya adquirido o la utilice mediante o para la violación de la ley o reglamento.</p>
                            <p>Para registrarse en <b>Enpadi</b>, el <b>Usuario</b> declara y certifica que es un ciudadano mexicano y que reside en los Estados Unidos Mexicanos.</p>

                            <p>Además declara que:</p>

                            <ul>
                                <li>
                                    En caso de utilizar una Tarjeta de Crédito para abonar saldo a su cuenta Enpadi, ésta fue emitida a nombre del Usuario por una Institución Bancaria Mexicana.
                                </li>
                                <li>
                                    Conoce y acepta en su totalidad los términos y condiciones presentados a continuación:
                                </li>
                            </ul>
                            <p>Los presentes términos y condiciones estipulan la operación del <b>"Sistema de medio de pago Enpadi"</b>, misma que se encuentra a cargo de la empresa <b>TWT Servicios S.A. de C.V.</b> (TrueWisdom).</p>
                            <p>
                                Es necesario que antes de registrarse en el sitio <b>Enpadi</b>, lea cuidadosamente los términos y condiciones así como los apartados e instrucciones comprendidas en nuestro sitio, siendo su responsabilidad el conocimiento de estos
                                términos y condiciones, por lo que no podrá argumentar desconocimiento alguno de su parte sobre lo expuesto, liberando a <b>Enpadi</b> de cualquier responsabilidad que pudiese resultar al respecto.
                            </p>
                            <p>El registro del participante ampara la declaración manifiesta de que conoce y acepta expresamente los términos y condiciones que a continuación se describen, así como las condiciones especiales de su oferta al público.</p>
                            <p>
                                <h3>Generales</h3>
                            </p>
                            <p>
                                <ol start="1">
                                    <li>
                                        El <b>Sistema de Medio de Pago Enpadi</b> permite a los <b>Usuarios</b> de Internet realizar pagos de servicios en línea a los socios de pago.
                                    </li>
                                    <li>
                                        <b>Enpadi</b>, se reserva el derecho de agregar, eliminar o modificar sus reglamentos sin previo aviso, conforme a las autorizaciones que para tal efecto otorguen las autoridades competentes de los Estados Unidos Mexicanos.
                                    </li>
                                    <li>
                                        La dirección electrónica de la página del <b>Sistema de Medio de Pago Enpadi</b>, es <b>https://www.enpadi.com</b> (el sitio), donde es importante revisar y verificar que se esté navegando en modo <b>https://</b>, con
                                        el fin de garantizar la seguridad de las transacciones. Cualquier dirección diferente a esta no es de <b>Enpadi</b> y por lo tanto <b>Enpadi</b> no acepta ninguna responsabilidad con sitios que pretendan suplantar al
                                        oficial.
                                    </li>
                                    <li>
                                        La administración de <b>Enpadi</b>, guardará de manera confidencial los registros de todos los <b>Usuarios</b>, así como transacciones, abonos y depósitos, de conformidad con la Ley Federal de Transparencia y Acceso
                                        a la Información Pública Gubernamental y su Reglamento.
                                    </li>
                                    <li>
                                        En Los Estados Unidos Mexicanos, como en este sitio de Internet, la moneda de curso legal es el peso mexicano ($MXN).
                                    </li>
                                    <li>
                                        El <b>Usuario</b> únicamente está autorizado a visitar, ver y consultar el contenido de la página, para su propio uso, así como el acceso para las operaciones propias del medio de pago, quien no deberá duplicar, descargar,
                                        publicar, modificar, alterar o distribuir el contenido de la misma.
                                    </li>
                                </ol>
                            </p>
                            <p>
                                <h3>Registro</h3>
                            </p>
                            <p>
                                <ol>
                                    <li>
                                        Usted declara por este medio que toda la información proporcionada a <b>Enpadi</b>, en su hoja de registro y en su cuenta, es completa, correcta y verídica; así mismo usted tiene la obligación de informar inmediatamente
                                        a <b>Enpadi</b>, cuando haya un cambio en esta información.
                                    </li>
                                    <li>
                                        Al momento de su registro deberá seleccionar Nombre de Usuario y Contraseña, para efectos de seguridad. La contraseña que usted elija deberá mantenerse en un lugar privado, seguro, para evitar poner en riesgo la seguridad de su cuenta. Serán de su exclusiva
                                        responsabilidad las transacciones realizadas bajo su nombre de usuario y contraseña, las cuales serán aceptadas por Enpadi, entendiendo que es usted la persona que está haciendo uso de la misma. <b>Enpadi</b>,
                                        no se hace responsable del uso indebido de su nombre de usuario y contraseña.
                                    </li>
                                    <li>
                                        Al momento de su registro deberá seleccionar Nombre de Usuario y Contraseña, para efectos de seguridad. La contraseña que usted elija deberá mantenerse en un lugar privado, seguro, para evitar poner en riesgo la seguridad de su cuenta. Serán de su exclusiva
                                        responsabilidad las transacciones realizadas bajo su nombre de usuario y contraseña, las cuales serán aceptadas por <b>Enpadi</b>, entendiendo que es usted la persona que está haciendo
                                        uso de la misma. <b>Enpadi</b>, no se hace responsable del uso indebido de su nombre de usuario y contraseña.
                                    </li>
                                    <li>
                                        El participante al momento de su registro acepta la posibilidad de que se registre su dirección de Protocolo Internet (IP) y su nombre de dominio. Una dirección IP es un número que asigna automáticamente la computadora del ISP, a través de la cual usted
                                        tiene acceso a la Web. <b>Enpadi</b> podrá registrar estas direcciones IP y los nombres de dominio con fines de monitoreo del uso del sitio. La información será utilizada para medir
                                        el número de visitas al sitio, el tiempo promedio que pasa en él cada usuario, el número de páginas visitadas y otras diversas estadísticas sobre el uso del sitio. Este monitoreo ayuda a evaluar cómo se usa el sitio
                                        Web para mejorar en forma continua el contenido del mismo. <b>Enpadi</b> no vincula las direcciones IP o nombres de dominio con ninguna información identificable a nivel personal, lo que significa que la sesión de un
                                        visitante se registrará en nuestros servidores, pero el visitante siempre permanecerá anónimo. <b>Enpadi</b> no obtiene de terceros información personal complementaria acerca del Usuario/participante.
                                    </li>
                                    <li>
                                        <b>Enpadi</b>, se obliga a proteger la información personal proporcionada por sus <b>Usuarios</b>, misma que únicamente será proporcionada a las Autoridades que lo requieran mediante mandamiento judicial.
                                    </li>
                                    <li>
                                        <b>Enpadi</b>, se reserva el derecho de rechazar su registro y/o suspender y/o terminar su registro y/o cuenta en cualquier momento a absoluta discreción, en cada uno de los siguientes supuestos: en caso de que existiera
                                        sospecha o se detecte cualquier intento de manipulación al sistema de finanzas, trampas, intento de fraude, mal uso de su cuenta, incumplimiento de alguna ley aplicable o reglamentación o bien por incumplimiento a cualquiera
                                        de nuestros términos y condiciones.
                                    </li>
                                </ol>
                            </p>

                            <p>
                                <h3><b>Manejo de cuenta</b> Enpadi</h3>
                            </p>
                            <p>
                                <ol start='1'>
                                    <li>
                                        Una vez que ya se cuenta con registro de Usuario, automáticamente se generará una Cuenta <b>Enpadi</b>, en la cual se podrán realizar depósitos y compras de bienes o servicios ofrecidos por <b>Enpadi</b> o sus socios.
                                        La forma de realizar depósitos es por cualquiera de los medios aprobados por <b>Enpadi</b>. Es responsabilidad del Usuario el empleo de su tarjeta de crédito o débito. Ningún Usuario podrá realizar compras de bienes
                                        o servicios por un monto mayor al saldo de su cuenta o el estipulado por <b>Enpadi</b>.
                                    </li>
                                    <li>
                                        El <b>Usuario</b>s es responsable de la confidencialidad de su información, de no proporcionar a terceros su número de cuenta, contraseña, etc. <b>Enpadi</b>, no se hace responsable del manejo de dicha información por
                                        terceros, por causas imputables al <b>Usuario</b>.
                                    </li>
                                    <li>
                                        Para disponer de los fondos o saldo en su <b>Cuenta Enpadi</b>, el <b>Usuario</b> deberá especificar la cuenta bancaria a la que desea sean depositados vía electrónica, o en su defecto el beneficiario autorizado deberá
                                        acudir a la ventanilla de la sucursal <b>Enpadi</b> autorizada.
                                    </li>
                                    <li>
                                        El <b>Usuario</b> puede editar su cuenta, realizar depósitos y retiros ingresando a cada uno de los enlaces correspondiente a la acción que desea realizar desde de su cuenta <b>Enpadi</b>.
                                    </li>
                                    <li>
                                        El manejo de la cuenta <b>Enpadi</b> se encuentra a cargo de <b>TWT Servicios S.A. de C.V.</b> (TrueWisdom). La disponibilidad de los fondos depositados en la cuenta del Usuario, dependerá de que <b>TrueWisdom</b>,
                                        haya recibido efectivamente dichos fondos, por cualquiera de los medios de pago autorizados.
                                    </li>
                                    <li><b>AVISO IMPORTANTE PARA TARJETAHABIENTES DE VISA Y MASTERCARD</b>: Serán aceptadas únicamente las tarjetas emitidas dentro del territorio de los Estados Unido Mexicanos.</li>
                                    <li>
                                        Si para la apertura de una cuenta en este sitio el <b>Usuario</b> proporciona información falsa o inexacta, <b>Enpadi</b>, podrá proceder al rechazo o a la cancelación de la misma.
                                    </li>
                                    <li>
                                        Serán nulas todas aquellas participaciones seleccionadas por el <b>Usuario</b>, cuando <b>Enpadi</b>, corrobore que la información proporcionada es falsa o inexacta, aunque la cuenta se encuentre activa y cuente con
                                        fondos. Enpadi no asumirá ninguna responsabilidad y por lo tanto queda liberado de cualquier violación legal en que incurra el Usuario. <b>Enpadi</b>, se reservará el derecho de ejercitar las acciones legales que correspondan
                                        por los posibles daños y perjuicios que le llegasen a ocasionar.
                                    </li>
                                    <li>
                                        <b>Enpadi</b>, no otorga créditos para la compra de un bien o servicio. Todas las participaciones ejecutadas por el <b>Usuario</b> deberán ser pagados previo a la selección, con cargo a su cuenta de <b>Enpadi</b> mediante
                                        abono a través de cualquiera de los medios de abono autorizados.
                                    </li>
                                    <li>
                                        No se aceptarán pagos parciales para la compra de un bien o servicio. Todas las compras que participe el <b>Usuario</b> serán por un monto igual o menor al saldo disponible en su cuenta de <b>Enpadi</b>.
                                    </li>
                                    <li>
                                        El <b>Usuario</b> es el responsable de revisar su estado de cuenta, así como todos los movimientos de la misma.
                                    </li>
                                    <li>
                                        El <b>Saldo Máximo</b> a mantener en cuenta es de <b>$25,000.00</b> pesos mexicanos o su equivalente en moneda extranjera.
                                    </li>
                                    <li>
                                        El <b>Monto Máximo de recarga con Tarjeta de Crédito/Débito</b> es de <b>$2,500.00</b> y no podrá excederse de 2 Recargas Semanales.
                                    </li>
                                    <li>
                                        El saldo en las cuentas <b>Enpadi</b> no genera intereses. El uso de la <b>Cuenta Enpadi</b> causa algunas comisiones por uso disponibles en el sitio web www.enpadi.com. <b>Enpadi</b> se reserva el derecho a modificar
                                        la tabla de comisiones sin previa notificación en su sitio web www.enpadi.com.
                                    </li>
                                    <li>
                                        Como <b>Usuario</b> de <b>Enpadi</b>, usted tiene derecho a abrir una sola cuenta en el sitio. Sólo se podrán utilizar tarjetas de crédito o débito a nombre del titular de la cuenta de <b>Enpadi</b>, vía Internet y
                                        uso de efectivo en las sucursales <b>Enpadi</b> autorizadas.
                                    </li>
                                    <li>
                                        En caso de inconformidad manifiesta por el <b>Usuario</b> respecto a la suma generada en su cuenta por concepto de pago a los que haya sido acreedor, <b>Enpadi</b> se reserva el derecho de suspender dicha cuenta hasta
                                        en tanto sea aclarada.
                                    </li>
                                    <li>
                                        Cualquier inconformidad deberá ser notificada por el <b>Usuario</b> a <b>Enpadi</b>, por escrito, incluyendo todos los datos de su cuenta, así como la fecha, hora y detalles de la inconsistencia, la cual deberá ser
                                        enviada al correo electrónico establecido en el Sitio en el apartado de CONTACTO.
                                    </li>
                                    <li>
                                        Se prohíbe el uso de lenguaje obsceno en cualquier apartado del registro incluyendo el nombre del <b>Usuario</b>, contraseña, pregunta de seguridad, etc., <b>Enpadi</b>, se reserva el derecho a rehusar el servicio a
                                        cualquier persona que así lo realice.
                                    </li>
                                </ol>
                            </p>
                            <p>
                                <h3>Realización de pagos en transacciones ONLINE</h3>
                            </p>
                            <p>
                                <ol start='1'>
                                    <li>Las cuentas <b>Enpadi</b> permiten a su portador realizar a través de Internet pagos de servicios y bienes con los socios de pago <b>Enpadi.</b></li>
                                    <li>Una vez que el Usuario proporciona en la página web del socio de pago el número de cuenta y NIP, <b>Enpadi</b> procederá a la verificación de mismo y comunicará al socio de pago la validez o invalidez de la operación.</li>
                                    <li>
                                        En caso de que <b>Enpadi</b> le comunique que la operación es válida, el socio de pago podrá aceptar la transacción y se procederá a la compra del bien o servicio. En caso de invalidez del pago, <b>Enpadi</b> informará
                                        al socio de pago que el pago no puede realizarse.
                                    </li>
                                    <li>
                                        Cada cuenta <b>Enpadi</b> contiene un número de cuenta de 16 dígitos y un número de NIP de 4 dígitos. Cada número corresponde a una sola cuenta.
                                    </li>
                                    <li>
                                        El <b>Usuario</b> asume el compromiso de no utilizar su cuenta <b>Enpadi</b> con fines fuera de los estipulados en estos términos y condiciones.
                                    </li>
                                </ol>
                            </p>
                            <p>
                                <h3>Cambios y devoluciones</h3>
                            </p>
                            <p>El COMPRADOR podrá solicitar el cambio de un producto o la devolución de su dinero, siempre y cuando no se considere ilícito. Los gastos derivados de la devolución o cambio solicitado por el comprador, no serán cubiertos por <b>TWT.</b></p>
                            <p>
                                Para el caso de cambios de productos, el COMPRADOR deberá de consultar las políticas y productos sujetos a cambios mediante contacto por medio del correo info@truewisdom.co o al teléfono +52 (812) 089 6071 para obtener información
                                respecto a su caso específico dentro de los primeros 5 (cinco) días hábiles al pago del servicio.
                            </p>
                            <p>
                                Cualquier devolución que realice el COMPRADOR y que resulte procedente, se realizará conforme al método de pago realizado por el cliente y/o mediante abono a su Cuenta Enpadi, para lo cual deberá proporcionar su nombre y número
                                de cuenta a la cual se realizará dicha bonificación por concepto de devolución. Para el caso de no contar con Enpadi, esta se enviará vía electrónica y/o al domicilio que el COMPRADOR indique y posterior a su registro correspondiente
                                en el sitio web www.Enpadi.com se realizará el abono por concepto de devolución.
                            </p>

                            <p>
                                <h3>Mecánica de devolución</h3>
                            </p>
                            <p>
                                Sin perjuicio de lo establecido en éstos Términos y Condiciones, el COMPRADOR deberá contactar al área de Atención a Clientes para iniciar su solicitud de cambio físico de mercancía, o bien, para solicitar el abono a su Cuenta
                                Enpadi. La satisfacción de dicha solicitud estará en todo momento sujeta al cumplimiento de lo dispuesto en estos Términos y Condiciones y en las políticas de TWT en general.
                            </p>
                            <p>Abono a su Cuenta Enpadi: El COMPRADOR, podrá solicitar el abono del importe del producto devuelto a su Cuenta Enpadi; sin embargo, el costo del envío no podrá ser rembolsado y en ningún caso será absorbido por TWT.</p>

                            <p>
                                <h3>Cancelaciones por parte del COMPRADOR</h3>
                            </p>
                            <p>En caso que el comprador desee cancelar la compra deberá de:</p>
                            <p>Necesariamente enviar un correo electrónico a info@enpadi.com o comunicarse +52 (812) 089 6071. El pago deberá de ser reciente; en caso de tener un estatus distinto, deberá de seguir el proceso de devolución.</p>
                            <p>
                                <h3>Contracargo</h3>
                            </p>
                            <p>
                                En caso que se presente una reclamación por cargo a tarjeta de crédito o débito no reconocida por el COMPRADOR (denominado Contracargo), TWT se reserva el derecho de iniciar la acción legal, coadyuvando con el Ministerio Público
                                y la Institución Financiera para iniciar la Averiguación Previa por la comisión de un delito. Así mismo, TWT podrá tomar las medidas que considere necesarias dentro del marco de la Ley para recuperar los productos si estos
                                fueron entregados al COMPRADOR.
                            </p>
                            <p>La baja del COMPRADOR del portal de TWT, no exime de su responsabilidad de pago por operaciones realizadas durante la vigencia de la misma en el portal de TWT.</p>
                            <p>
                                <h3>Exclusión de garantías y representación</h3>
                            </p>
                            <ol>
                                <li>
                                    <b>Enpadi</b> no da ninguna garantía, no hace ninguna representación y renuncia a toda responsabilidad, siempre que la ley permite con respecto a la calidad, disponibilidad, legalidad de los productos o servicios que usted
                                    compra. Cualquier queja que usted pueda tener con un socio debe llevarse a cabo con ese socio y no con <b>Enpadi</b>.
                                </li>
                            </ol>
                            <p>
                                <h3>Causas de cancelación de la cuenta Enpadi</h3>
                            </p>
                            <ol start='1'>
                                <li>
                                    El Usuario acepta y reconoce expresamente, que en caso de presentarse cualquiera de los eventos que se describen a continuación, <b>Enpadi</b>, podrá dar por terminada su relación con el Usuario por cualquier medio y sin
                                    que le implique responsabilidad de ningún tipo, restringiéndose indefinidamente su acceso a este sitio y al servicio que se proporciona.
                                </li>
                                <li>El dinero que la cuenta cancelada tenga como saldo disponible, proveniente de abonos y depósitos; no podrán ser reclamados por el cliente cuando su cuenta haya sido cancelada por cualquier de las causas enlistadas en este apartado.</li>
                            </ol>
                            <p>
                                <h3>Causas generales de cancelación</h3>
                            </p>
                            <ol start='3'>
                                <li>
                                    Que la cuenta lleve un tiempo de inactividad mayor a un año. Considerándose falta de actividad: no abonar saldo a su cuenta y no regalar o recibir regalos de otras cuentas.
                                </li>
                                <li>
                                    Cuando (Si) en alguna de las revisiones aleatorias que realice <b>Enpadi</b> se identifique que el <b>Usuario</b> ha proporcionado información falsa e inexacta al momento de su registro.
                                </li>
                                <li>
                                    Debido a cualquier participación o depósito realizado con la intención de dañar o perjudicar de cualquier manera a <b>Enpadi</b> y/o realizados por cualquier intermediario contratado para ese fin, empresas de juegos, sindicatos
                                    o cualquier persona(s), partes, organizaciones, amigos o familiares ya sea en lo individual o en sociedad o en conjunto con cualquier otra(s) persona(s), firma o corporación, que de cualquier manera se vea involucrado,
                                    participe, le concierna y/o interese o asesore, preste dinero, garantice deudas u obligaciones o cualquier negocio del tipo o similar al negocio de <b>Enpadi</b>, serán canceladas.
                                </li>
                            </ol>
                            <p>
                                <h3>Por el uso ilícito de una tarjeta de crédito o débito</h3>
                            </p>
                            <ol start='6'>
                                <li>
                                    Por el uso ilícito de una o más tarjetas de crédito o débito, asociadas a cualquier cuenta activa con <b>Enpadi</b>, incluyendo todo reporte de banco emisor de la tarjeta, por falta de autorización o por cualquier motivo
                                    que implique la utilización ilícita de la tarjeta.
                                </li>
                                <li>Por detectarse la utilización de una o más tarjetas de crédito con la intención de realizar depósitos ilícitos.</li>
                                <li>Por no acreditarse la titularidad de la Tarjeta de Crédito o Débito, o cualquier otro aspecto relacionado con la misma, a satisfacción de <b>Enpadi</b>.</li>
                                <li>Cuando como resultado de las revisiones aleatorias, realizadas por <b>Enpadi</b>, se detecte alguna irregularidad sobre el uso o utilización de tarjetas de crédito vinculadas con cualquier cuenta registrada en este sitio.</li>
                                <li>
                                    Por disposición de las autoridades competentes, cuando informen sobre cualquier investigación o sospecha relacionada con alguna cuenta registrada en <b>Enpadi</b>, o con toda tarjeta de crédito utilizada en dicha cuenta.
                                    Independientemente de las causas que originen la información o investigación.
                                </li>
                            </ol>
                            <p>
                                <h3>Programa de acumulación de puntos y descuentos</h3>
                            </p>
                            <ol>
                                <li>
                                    El programa de acumulación de puntos de <b>Enpadi</b> permite al Usuario obtener 1 punto por cada 1 peso pagados con su cuenta <b>Enpadi</b>.
                                </li>
                                <li>El <b>Usuario</b> tendrá 180 días para redimir sus puntos, de no ser así, sus puntos expirarán.</li>
                                <li>Aquellos <b>Usuarios</b> que acumulen una cantidad relevante de puntos podrán adquirir de forma directa un premio; ya sea saldo acumulable en su cuenta, un bien o un servicio.</li>
                                <li>
                                    <b>Enpadi</b> se reserva el derecho a modificar la tabla de redención y las políticas de canje sin previa notificación de cualquier cambio en su sitio web www.enpadi.com
                                </li>
                                <li>
                                    Adicionalmente al programa de acumulación de puntos los <b>Usuarios</b> con Tarjeta <b>Enpadi</b> tendrán acceso a descuentos en establecimientos afiliados al programa <b>Enpadi</b>. Estos beneficios podrán cambiar de cuando
                                    en cuando sin ser necesario para esto hacer una notificación a los Usuarios. Los <b>Usuarios</b> podrán consultar los Beneficios del programa en el sitio www.enpadi.com
                                </li>
                            </ol>

                            <p>
                                <h3>Comisiones</h3>
                            </p>
                            <p>
                                <ol>
                                    <li><b>Enpadi</b> cobrará al <b>Usuario</b> una comisión para solventar los gastos relacionados con la operación y administración por concepto de ser un medio de pago.</li>
                                    <li><b>Enpadi</b> se reserva el derecho a modificar estas comisiones sin previa notificación de cualquier cambio en su sitio web www.Enpadi.com</li>
                                </ol>
                            </p>

                            <p>
                                <h3> Seguridad en su cuenta</h3>
                            </p>
                            <p>
                                El <b>Usuario</b> es responsable de su cuenta <b>Enpadi</b> en caso de pérdida, robo, deterioro o mal uso ya sea por el Usuario o por un tercero
                            </p>
                            <p>En caso de pérdida de su número de cuenta o tarjeta, el Usuario debe llamar al Centro de Atención a Clientes, al (81) 2089-6071 facilitando el número de la tarjeta y NIP y solicitar que la tarjeta sea cancelada.</p>


                            <p>
                                <h3>Legalidad y derechos</h3>
                            </p>

                            <ol>
                                <li>
                                    <b>Enpadi</b> se reserva el derecho de cancelar la cuenta de cualquier Usuario a su discreción, en el supuesto de que un Usuario, después de habérsele cancelado su cuenta por cualquier razón, abra otra cuenta a su nombre
                                    o a nombre de un tercero o utilizando un seudónimo o mediante la cooperación de una o más personas.
                                </li>
                                <li>
                                    <b>Enpadi</b>, solo aceptará una dirección de correo electrónico por cuenta de <b>Usuario</b>. La misma dirección de correo electrónico no puede ser registrada en cuentas de <b>Usuario</b> diferentes. El <b>Usuario</b>                                puede cambia o modificar su dirección de correo electrónico las veces que desee.
                                </li>
                                <li>Los logotipos, diseños, marcas y avisos, son propiedad de <b>Enpadi</b>, mismos que se encuentran protegidos por Ley de Propiedad Industrial y su Reglamento.</li>
                            </ol>

                            <p>
                                <h3>Advertencia</h3>
                            </p>
                            <p>

                                <ol>
                                    <li>
                                        Es obligación exclusiva del <b>Usuario</b> proteger su contraseña y su nombre de <b>Usuario</b>. Cada persona que se identifique ingresando con su nombre de <b>Usuario</b> y su contraseña correctamente, es asumida por
                                        <b>Enpadi</b>, como el titular de la cuenta, no obstante pudiera darse el caso de que un tercero no autorizado ingresara a su cuenta con los datos correctos.
                                    </li>
                                    <li>
                                        <b>Enpadi</b>, tiene discreción total para corregir cualquier cuenta que resulte beneficiada por cualquier error y se reserva el derecho de responsabilizar al <b>Usuario</b> por los daños y perjuicios ocasionados, en
                                        virtud de haber tomado ventaja de cualquier error técnico o administrativo.
                                    </li>
                                    <li>
                                        Es responsabilidad exclusiva del <b>Usuario</b> asegurarse de que toda la información proporcionada ha sido perfectamente entendida por <b>Enpadi</b>.
                                    </li>
                                    <li>
                                        Es responsabilidad del Usuario leer y comprender las instrucciones proporcionadas por <b>Enpadi</b> para los juegos, sorteos o concursos adquiridos por este medio.
                                    </li>
                                    <li><b>Enpadi</b> se reserva el derecho a cambiar los términos y condiciones en cualquier momento, los cuales aplicarán inmediatamente después de que hayan sido publicados en las páginas www.enpadi.com/terminos.html.</li>
                                </ol>
                            </p>

                            <p>El violar cualquiera de los términos o condiciones de este sitio será considerado como una infracción y su <b>Usuario</b> será inhibido.</p>
                            <p>
                                <h3>Además se consideran violaciones a los términos y condiciones:</h3>
                            </p>
                            <ol>
                                <li>Uso ilegal o no autorizado por <b>Enpadi</b> de cualquier robot, araña, aparato automatizado o cualquier otro proceso manual, para monitorear o copiar datos del sitio.</li>
                                <li>El usar cualquier contraseña o código de acceso, que no le corresponda si no es el destinatario de tal código de acceso o contraseña.</li>
                                <li>Utilizar algún tipo de aparato, software o rutina que interfiera con el funcionamiento adecuado del sitio.</li>
                                <li>Realizar o ejecutar acciones que impongan cargas razonables o desproporcionadas en la infraestructura de <b>Enpadi</b>.</li>
                                <li>
                                    Copiar, reproducir, alterar, modificar o mostrar públicamente algún contenido (con excepción del uso personal) del sitio sin previo permiso expreso por escrito de <b>Enpadi</b>. Por este acto manifiesta su conformidad para
                                    que <b>Enpadi</b>, a discreción y sin previo aviso, pueda restringir su acceso al sitio, cancelar su compra de boletos, eliminar cualquier contenido del Usuario no autorizado o ejercer cualquier otro recurso disponible,
                                    si tiene elementos o indicios de que su conducta o la de cualquier tercero, con la cual se crea que actúa en común o el contenido del <b>Usuario</b> que proporcionó son inconsistentes con los términos establecidos en esta
                                    página, con la legislación y que violan los derechos de <b>Enpadi</b>.
                                </li>
                            </ol>

                            <p>
                                <h3>Enlaces y resultados de búsqueda</h3>
                            </p>

                            <ol>
                                <li>
                                    El sitio puede producir automáticamente resultados de búsqueda que tienen referencia o se enlazan a sitios de terceros a través de la red mundial World Wide Web; de los cuales <b>Enpadi</b> no tiene control sobre su contenido
                                    por lo que no garantiza, representa o asegura que el contenido de estos sea exacto, legal y/o inofensivo.
                                </li>
                                <li>
                                    Al utilizar el sitio para realizar búsquedas o para enlazarse a otro sitio, no podrá realizar ningún reclamo a <b>Enpadi</b> o sus proveedores por cualquier daño o pérdida, que resulte; en caso de tener algún problema con
                                    algún enlace del sitio, deberán enviar un correo electrónico directamente desde el sitio en CONTACTO.
                                </li>
                            </ol>
                            <p>
                                <h3>Exención de responsabilidades</h3>
                            </p>
                            <ol>
                                <li><b>Enpadi</b> no puede asegurar que los archivos que descargue en el sitio estarán libres de virus, contaminación o características destructivas.</li>
                                <li>
                                    <b>Enpadi</b> se libera de toda responsabilidad de garantías y no será responsable por daño de cualquier tipo que surja por el uso del sitio, incluyendo daños directos, indirectos, incidentales, punitivos y consecuenciales.
                                    Así mismo, se libera de toda responsabilidad por cualquier hecho, omisión y conducta realizada por los Usuarios de <b>Enpadi</b>, de terceros, publicistas y/o patrocinadores del sitio en conexión con el servicio de <b>Enpadi</b>                                o cualquier otra forma relacionada con el uso del sitio y/o servicio.
                                </li>
                                <li>
                                    Sin perjuicio de lo anterior, el Usuario podrá reportar la mala conducta de Usuarios y/o publicistas de terceros, proveedores a los que se hace referencia o que están incluidos en el sitio de <b>Enpadi</b>; pudiendo <b>Enpadi</b>                                investigar el reclamo y tomar las acciones pertinentes, a su plena discreción.
                                </li>
                            </ol>

                            <p>
                                <h3>Jurisdicción</h3>
                            </p>
                            <p>
                                Para la aplicación, interpretación, ejecución y cumplimiento de los presentes términos y condiciones, las partes manifiestan que están de acuerdo en someterse a la jurisdicción de los Tribunales Federales con residencia en la ciudad de Monterrey, NL,
                                renunciando en este acto a cualquier otra jurisdicción que pudiere corresponderle por razón de su domicilio presente o futuro o cualquier otra causa.
                            </p>
                            <p>
                                <h3>Indemnizaciones</h3>
                            </p>
                            <p>
                                El <b>Usuario</b> manifiesta de manera expresa que libera a <b>Enpadi</b>, a proveedores filiales y a todos y cada uno de sus funcionarios, gerentes, agentes, empleados o contratistas de cualquier responsabilidad, pérdida,
                                obligación, reclamo o demanda, incluyendo honorarios de abogados o realizados por un tercero de cualquier indemnización que surja por el uso del sitio para proporcionar un enlace a otro sitio o para cargar contenido o cualquier
                                otra información al sitio.
                            </p>
                            <p>
                                <h3>Observancia de los Términos de Uso</h3>
                            </p>
                            <p>
                                Estos Términos y Condiciones se rigen e interpretan de acuerdo con las leyes de México, sin referencia a sus disposiciones en materia de conflictos de ley. Cualquier y toda controversia sobre la validez o interpretación de estos Términos de Uso o su cumplimiento,
                                será resuelta exclusivamente por un tribunal competente ubicado en la Ciudad de Monterrey, el cual constituirá la única sede para cualquier controversia. Si cualquier parte de estos Términos de Uso deviene ilegal, inválida
                                o no aplicable, dicha parte será separada y no afectará la validez y cumplimiento de las disposiciones restantes. TWT puede modificar estos Términos de Uso en cualquier momento mediante la actualización de esta publicación
                                y el COMPRADOR acepta dichas modificaciones al hacer uso de los servicios.
                            </p>
                            <p>
                                Atentamente.
                            </p>
                            <p>TWT SERVICIOS, S.A. DE C.V.</p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
