﻿@{
    ViewBag.Title = "Transfer";
    Layout = "~/Views/Shared/_Layout_WebSite_User.cshtml";
}

@section Styles {
    @Styles.Render("~/Content/website_transfer")
}

@section Scripts {

}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="img-circle" width="100" src="~/Images/14-2.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Amigos
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data">
                        Agrega y modifica tus cuentas Enpadi
                    </div>
                    @*<a href="#" class="btn btn-primary btn-xs btn-default">Administrar</a>*@
                    <a href="@Url.Action("EnpadiFriend", "website")" class="btn btn-primary btn-xs btn-default">Administrar</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        <div class="panel payment-client-panel">
            <div class="panel-body text-center">
                <img alt="logo" class="img-circle" width="100" src="~/Images/imageEnpadi.png" />
                <div class="m-t-sm" style="color:#fff;">
                    <div class="payment-client-text payment-client-data">
                        Entre Cuentas
                    </div>
                    <hr class="cliente-info-division" />
                    <div class="payment-client-info payment-client-data">
                        Transfiere a una cuenta Enpadi
                    </div>
                    @*<a href="#" class="btn btn-primary btn-xs btn-default">Transferir</a>*@
                    <a href="@Url.Action("EnpadiFriendTransfer", "website")" class="btn btn-primary btn-xs btn-default">Transferir</a>
                </div>
            </div>
        </div>
    </div>
</div>