﻿@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('../fonts/CaviarDreams_BoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fonts/Caviar_Dreams_Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('../fonts/CaviarDreams_Italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fonts/CaviarDreams-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: caviar_dreamsregular;
}

.enpadi-header-logo {
    width: 200px;
}

/*.navbar-nav {
    float: right !important;
    margin: 0;
}*/

.navbar, .dropdown-menu {
    background: rgba(192,192,192,0.6);
    border: none;
}


.website-footer {
    height: 200px;
    bottom: 0;
}

.footer-content {
    text-align: center;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
}

    .footer-content hr {
        border-top: 1px solid #ffffff !important;
    }

.footer-title {
    font-family: caviar_dreamsbold_italic;
}

.nav li a:hover {
    color: #000033;
}

.nav li a:hover {
    color: #000033;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
    border-bottom: #000033 3px solid;
    background: rgba(192,192,192,0.5);
}

.website-seccion {
}

.website-menu {
    position: absolute;
}

.website-seccion-content {
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 100px;
}

.website-menu-front {
    position: fixed;
    width: 100%;
}

.enpadi-medium-logo {
    width: 400px;
}

.btn-enpadi-transparent {
    background-color: transparent;
    border: solid #ffffff 1px;
    width: 150px;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

    .btn-enpadi-transparent:hover {
        background: rgba(192,192,192,0.5);
    }

.btn-enpadi-transparent-2 {
    background-color: transparent;
    border: solid #000033 1px;
    width: 150px;
    color: #000033;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px !important;
}

    .btn-enpadi-transparent-2:hover {
        background: rgba(192,192,192,0.5);
    }

.enpadi-form-input {
    background-color: transparent;
    border: solid #000033 1px;
    border-radius: 4px !important;
}

.lang-div-lang-bar {
    position: relative !important;
    text-align: right !important;
    top: -75px !important;
    padding-right: 15px !important;
}

.lang-div-lang-bar-user {
    position: relative !important;
    text-align: right !important;
    width:100%;
}

.lang-icon {
    width: 15px !important;
}

.lang-select {
    padding-top:20px;
}