﻿body {
}

.payment-client-panel {
    background-color: #fff;
    border-style: solid;
    border-width: 1px;
    border-color: #043367;
}

.payment-client-image {
    border-radius: 50%;
    border-style: solid;
    border-color: #043367;
    border-width:1px;
}

.payment-client-text {
    color: #043367;
    font-weight: bold;
}

.payment-client-info {
    color: #043367;
}

.cliente-info-division {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    border: 0;
    height: 1px;
    width: 150px;
    border-top: 1px solid #043367;
}

.payment-client-data {
    padding-bottom: 5px;
}

.enapdi-color {
    color: #043367;
}

.title {
    margin-bottom:20px;
}

.title-text {
    font-size: 30px;
    font-weight: bold;
}

.informative-text {
    font-size:15px;
    font-weight:lighter;
}

.img-circle {
    border-radius: 50%;
    border-style: solid;
    border-color: #043367;
    border-width: 1px;
}
