﻿body {
    background: #8999A8;
}

.navbar, .dropdown-menu {
    background: rgba(255,255,255,0.25);
    border: none;
}

.nav > li > a {
    border-bottom: 3px solid transparent;
    padding-bottom: 30px;
    padding-top: 30px;
}

    .nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
        border-bottom: 3px solid transparent;
        background: none;
        padding-bottom: 30px;
        padding-top: 30px;
    }

.navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
    color: #fff;
}

    .nav > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .dropdown-menu > li > a, .dropdown-menu > li {
        border-bottom: 3px solid transparent;
        font-size: 20px;
        font-weight: bold;
    }

        .nav > li > a:focus, .nav > li > a:hover, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
            border-bottom: 3px solid transparent;
            background: none;
        }

        .navbar a, .dropdown-menu > li > a, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover, .navbar-toggle {
            color: #fff;
        }

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1) {
    border-bottom: #C4E17F 3px solid;
}

.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2) {
    border-bottom: #F7FDCA 3px solid;
}

.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3) {
    border-bottom: #FECF71 3px solid;
}

.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4) {
    border-bottom: #F0776C 3px solid;
}

.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5) {
    border-bottom: #DB9DBE 3px solid;
}

.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6) {
    border-bottom: #C49CDE 3px solid;
}

.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7) {
    border-bottom: #669AE1 3px solid;
}

.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8) {
    border-bottom: #62C2E4 3px solid;
}

.navbar-toggle .icon-bar {
    color: #fff;
    background: #fff;
}

html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #C5C7D3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient( #C5C7D3, #FFFFFF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#C5C7D3, #FFFFFF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient( #C5C7D3, #FFFFFF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#C5C7D3, #FFFFFF); /* Standard syntax */
    background-repeat: no-repeat;
}

.menu-logo-li {
    border: none !important;
}

.menu-logo {
    width: 250px;
    padding-right: 50px;
    padding-top: 20px;
}

.kiosko {
   
}

.navbar-menu {
    background-color: #C8CBD4;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: white;
}

.main-content {
    margin-top: 155px;
}

.img-circle {
    border-radius: 50%;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-image {
    width: 200px;
}

.user-name {
    text-align: center;
    color: #023465;
    font-size: 40px;
    padding-top: 30px;
}

.table-name {
    text-align: center;
    color: #023465;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-style: italic;
}

.table-div {
    border-radius: 25px;
    border: 2px solid #023465;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    height: 100%;
}


.table-division {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    border: 0;
    height: 1px;
    width: 150px;
    border-top: 1px solid #043367;
}

.enapdi-color {
    color: #043367;
}

.table-div.data div :nth-child(2) {
    padding-bottom: 10px;
}

