﻿body {
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 0;
    text-align:left;
    margin:0;
}

::-moz-placeholder { /* Firefox 19+ */
    padding: 0;
    text-align: left;
    margin: 0;
}

:-ms-input-placeholder { /* IE 10+ */
    padding: 0;
    text-align: left;
    margin: 0;
}

:-moz-placeholder { /* Firefox 18- */
    padding: 0;
    text-align: left;
    margin: 0;
}


.charts {
    background-color: #ffffff;
    border: solid 1px #006699;
    border-radius: 15px;
}

