﻿body {
}
.title {
    margin-bottom: 20px;
}

.title-text {
    font-size: 30px;
    font-weight: bold;
}

.informative-text {
    font-size: 15px;
    font-weight: lighter;
}

.pay-form {
    border-radius: 25px;
    border: 2px solid #023465;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    height: 100%;
}

.panel-body {
    border-radius: 25px;
    border: 2px solid #023465;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    height: 100%;
}

.img-circle {
    border-radius: 50%;
    border-style: solid;
    border-color: #043367;
    border-width: 1px;
}

h3 {
    font-size: 15px;
    font-weight: normal;
    margin: 14px 0 0 0;
}

h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 4px 0;
}

h5 {
    font-size: 12px;
    font-weight: normal;
    margin: 2px 0;
}

.whitepaper {
    background-color: #FFF;
    width: 400px;
    height: 1020px;
    margin: 0 auto;
}

.Header {
    clear: both;
    float: left;
    width: 100%;
    padding-top: 20px;
}

.Logo_empresa img {
    width: 150px;
    margin-left: -10px;
}

.Data {
    width: 100%;
    clear: both;
    float: left;
}

.DT-margin {
    margin: 4px;
    display: block;
    float: left;
    width: 100%;
    clear: both;
    border-top: 1px solid #000000;
}

.Table-Data {
    margin: 5px;
    clear: both;
    width: 100%;
    display: block;
    float: left;
}

.table-row {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

    .table-row div {
        float: left;
        width: 200px;
        padding: 0;
        font-size: 12px;
        text-align: left;
    }

    .table-row span {
        float: right;
        border-left: 3px solid #FFF;
        padding: 1px 10px 1px 5px;
        font-size: 12px;
        text-align: right;
    }