﻿body {
}

.charts {
    background-color: #ffffff;
    border: solid 1px #006699;
    border-radius: 15px;
}

.img-circle {
    border-radius: 50%;
    border-style: solid;
    border-color: #043367;
    border-width: 1px;
}
