﻿body {
}

.index-carousel {
}

.index-carousel-image {
}

.website-seccion-content-image {
    width: 100%;
}

.website-icon-big {
    height: 300px;
    padding-bottom: 50px;
}

.website-icon-medium {
    height: 240px;
    padding-bottom: 50px;
}

.website-icon {
    height: 140px;
    padding-bottom: 50px;
}

.website-icon-holder {
    text-align: center;
    color: #ffffff;
}

.website-seccion-title {
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
    padding-bottom: 60px;
}

    .website-seccion-title > div > hr {
        width: 500px;
    }

    .website-seccion-title > hr {
        width: 250px;
    }

.short {
    width: 200px;
}

.long {
    width: 320px;
}

.hr-color-1 {
    border-top: 1px solid #ffffff;
}

hr {
    border-top: 1px solid #000033;
}


.color-1 {
    color: #ffffff;
}

.color-6 {
    color: #000033;
}

.full {
    width: 100%;
}


.carousel-text {
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    z-index: 2;
    top: 210px;
    padding-left: 75px;
    font-weight: bold;
}

.carrousel-buttons {
    position: absolute;
    top: 95px;
    right: 30px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 700px) and (max-device-width : 1024px) {
    .carousel-text {
        color: #ffffff;
        font-size: 30px;
        position: absolute;
        z-index: 2;
        top: 210px;
        padding-left: 75px;
        font-weight: bold;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 481px) and (max-device-width : 699px) {
    .carousel-text {
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        z-index: 2;
        top: 110px;
        padding-left: 75px;
        font-weight: bold;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .carousel-text {
        color: #ffffff;
        font-size: 15px;
        position: absolute;
        z-index: 2;
        top: 120px;
        padding-left: 75px;
        font-weight: bold;
    }
}


.btn-enpadi {
    background-color: #000033;
    color: #ffffff;
    width: 120px;
}

    .btn-enpadi:hover {
        background-color: #006699;
        color: #ffffff;
    }