﻿body {
}

.title {
    margin-bottom: 20px;
}

.title-text {
    font-size: 30px;
    font-weight: bold;
}

.informative-text {
    font-size: 15px;
    font-weight: lighter;
}

.pay-form {
    border-radius: 25px;
    border: 2px solid #023465;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    height: 100%;
}

.panel-body {
    border-radius: 25px;
    border: 2px solid #023465;
    padding: 20px;
    width: 100%;
    height: 150px;
    background-color: #fff;
    height: 100%;
}

.img-circle {
    border-radius: 50%;
    border-style: solid;
    border-color: #043367;
    border-width: 1px;
}
