﻿body {
}

.index-carousel {
}

.index-carousel-image {
}

.website-seccion-content-image {
    width: 100%;
}

.website-icon-big {
    height: 300px;
    padding-bottom: 50px;
}

.website-icon-medium {
    height: 240px;
    padding-bottom: 50px;
}

.website-icon {
    height: 140px;
    padding-bottom: 50px;
}

.website-icon-holder {
    text-align: center;
    color: #ffffff;
}

.website-seccion-title {
    text-align: center;
    color: #ffffff;
    padding-top: 90px;
    padding-bottom: 60px;
}

    .website-seccion-title > div > hr {
        width: 500px;
    }

    .website-seccion-title > hr {
        width: 250px;
    }

.short {
    width: 200px;
}

.long {
    width: 320px;
}

.hr-color-1 {
    border-top: 1px solid #ffffff;
}

hr {
    border-top: 1px solid #000033;
}


.color-1 {
    color: #ffffff;
}

.color-6 {
    color: #000033;
}

.full {
    width: 100%;
}

.map-information {
    height: 100%;
    background: rgba(0,0,51,0.8);
    position: absolute;
    z-index: 2;
    right: 80px;
    width: 300px;
    color: #ffffff;
}

.contact-map-info {
    padding-left: 50px;
}

.btn-enpadi {
    background-color: #000033;
    color: #ffffff;
    width: 120px;
}

    .btn-enpadi:hover {
        background-color: #006699;
        color: #ffffff;
    }

.info {
    padding-bottom: 50px;
}
