﻿@model Enpadi_WebUI.Models.santiagoPredial

@{
    ViewBag.Title = "Details";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial Santiago, NL.</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Predial Santiago, NL.
            </h2>
            <small>Pago de Impuesto Predial de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ubicacionPredio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ubicacionPredio)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.rezago)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.rezago)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.actual)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.actual)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.recargoRezago)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.recargoRezago)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.descuento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descuento)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.recargoActual)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.recargoActual)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.total)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.total)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.saldo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.saldo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fechaInicio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechaInicio)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fechaVencimiento)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechaVencimiento)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.codigoDeBarras)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.codigoDeBarras)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.referenciaBancomer)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.referenciaBancomer)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.numReg)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.numReg)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.expediente }) |
                        @Html.ActionLink("Volver al Listado", "Index")
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
