﻿@model PagedList.IPagedList<Enpadi_WebUI.Models.santiagoPredial>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial Santiago, NL.</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Predial Santiago, NL.
            </h2>
            <small>Impuesto Predial | Gobierno de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @*@Html.ActionLink("Agregar Registro Predial", "Create")*@
                </div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().expediente)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().propietario)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ubicacionPredio)</th>
                            <th class="text-right">@Html.DisplayNameFor(model => model.FirstOrDefault().saldo)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.FirstOrDefault().referenciaBancomer)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().fechaVencimiento)</th>
                            @*<th>@Html.DisplayNameFor(model => model.FirstOrDefault().numReg)</th>*@
                            @*<th></th>*@
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.expediente)</td>
                                <td>@Html.DisplayFor(modelItem => item.propietario)</td>
                                <td>@Html.DisplayFor(modelItem => item.ubicacionPredio)</td>
                                <td class="text-right">@Html.DisplayFor(modelItem => item.saldo)</td>
                                <td class="text-center">@Html.DisplayFor(modelItem => item.referenciaBancomer)</td>
                                <td>@Html.DisplayFor(modelItem => item.fechaVencimiento)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.numReg)</td>*@
                                @*<td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.expediente }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.expediente }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.expediente })
                                </td>*@
                            </tr>
                        }
                    </table>
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>

    </div>
</div>

