﻿@model Enpadi_WebUI.Models.santiagoPredial

@{
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Servicios</span></li>
                    <li class="active"><span>Santiago, NL.</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Gobierno de Santiago, NL.</h2>
            <small>Consulta y Paga tu Impuesto Predial</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="form-horizontal">
                            <div class="text-center">
                                <div>
                                    <img alt="logo" width="150" class="img-thumbnail" src="~/Images/Santiago.png" />
                                </div>
                                <div><small class="font-bold">Gobierno de Santiago, NL.</small></div>
                            </div>
                            <div class="text-center" style="padding-bottom:15px;">Estimado Usuario</div>
                            @if (Model.estatus == 1 && Model.codigoRespuesta == 0)
                            {
                                <div class="text-center" style="padding-bottom:5px;">Le informamos que el Pago de su Servicio ha sido</div>
                                <div class="text-center" style="padding-top:20px;"><i class="fa fa-4x fa-check-circle"></i></div>
                                <div class="text-center" style="padding-bottom:25px;"><strong>APROBADO</strong></div>
                                
                                <div class="whitepaper text-center">
                                    <div class="Header">
                                        <div class="Logo_empresa">
                                            <img src="~/Images/enpadi-logo.png" alt="Logo">
                                        </div>
                                    </div>
                                    <div class="Data">
                                        <div class="text-center">
                                            <h3>TWT Servicios S.A. de C.V.</h3>
                                            <h4>CIP130902TE2</h4>
                                            <h4>Rio de la Plata 109</h4>
                                            <h4>Col Del Valle</h4>
                                            <h4>San Pedro Garza García, NL.</h4>
                                            <h4>66220 México</h4>
                                            <h4 style="padding-top:10px;">@String.Format("{0:dd} / {0:MMMM} / {0:yyyy}, {0:hh}:{0:mm} Hrs.", DateTime.Now)</h4>
                                        </div>
                                    </div>
                                    <div class="DT-margin"></div>
                                    <div class="text-center">TICKET DE VENTA</div>
                                    <div class="DT-margin"></div>
                                    <div class="Data">
                                        <div class="text-center" style="padding-top:5px;">
                                            <h5>Gobierno de Santiago,NL.</h5>
                                        </div>
                                    </div>
                                    <div class="Table-Data">
                                        <div class="table-row">
                                            <div style="text-align:right;">@String.Format("Expediente Catastral {0}", Model.expediente)</div>
                                            <span>@String.Format("{0:C}", Convert.ToDecimal(Model.saldo))</span>
                                        </div>
                                        <div class="table-row">
                                            <div style="text-align:right;">Total</div>
                                            <span>@String.Format("{0:C}", Convert.ToDecimal(Model.saldo))</span>
                                        </div>
                                        <div class="table-row">
                                            <div style="text-align:right;">MONEDERO (MXN)</div>
                                            <span>@String.Format("{0:C}", Convert.ToDecimal(Model.saldo))</span>
                                        </div>
                                    </div>
                                    <div class="DT-margin"></div>
                                    <div>
                                        <div class="col-sm-4" style="text-align:right;">TRANSACCIÓN</div>
                                        <div class="col-sm-8" style="text-align:left;">@Model.Transaccion</div>
                                    </div>
                                </div>                            
                            }
                            else
                            {
                                <div class="text-center" style="padding-bottom:5px;">Le informamos que el Pago de su Impuesto Predial ha sido</div>
                                <div class="text-center" style="padding-top:20px;"><i class="fa fa-4x fa-times-circle"></i></div>
                                <div class="text-center"><strong>RECHAZADO</strong></div>
                                <div class="text-center"><strong>@String.Format("({0}) {1}", Model.codigoRespuesta, Model.codigoRespuestaDescr)</strong></div>
                                <div class="text-center" style="padding-top:25px; padding-bottom:15px;"><a href="@Url.Action("Recargar", "PanelUsuarios")" class="btn btn-primary btn-block">Aceptar</a></div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <style>
        h3 {
            font-size: 15px;
            font-weight: normal;
            margin: 14px 0 0 0;
        }

        h4 {
            font-size: 12px;
            font-weight: normal;
            margin: 4px 0;
        }

        h5 {
            font-size: 12px;
            font-weight: normal;
            margin: 2px 0;
        }

        .whitepaper {
            background-color: #FFF;
            width: 400px;
            height: 1020px;
            margin: 0 auto;
        }

        .Header {
            clear: both;
            float: left;
            width: 100%;
            padding-top: 20px;
        }

        .Logo_empresa img {
            width: 150px;
            margin-left: -10px;
        }

        .Data {
            width: 100%;
            clear: both;
            float: left;
        }

        .DT-margin {
            margin: 4px;
            display: block;
            float: left;
            width: 100%;
            clear: both;
            border-top: 1px solid #000000;
        }

        .Table-Data {
            margin: 5px;
            clear: both;
            width: 100%;
            display: block;
            float: left;
        }

        .table-row {
            float: left;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

            .table-row div {
                float: left;
                width: 200px;
                padding: 0;
                font-size: 12px;
                text-align: left;
            }

            .table-row span {
                float: right;
                border-left: 3px solid #FFF;
                padding: 1px 10px 1px 5px;
                font-size: 12px;
                text-align: right;
            }
    </style>
}