﻿@model Enpadi_WebUI.Models.santiagoPredial

@{
    ViewBag.Title = "Gobierno de Santiago, NL.";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCifzLiP-Dycu6KEH5yHGPLxjJN-7EnbFk&sensor=false"></script> 

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height:200px;
        width:300px;
        -webkit-user-select:none;
        background-color:white;
    }
</style>

@*<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Servicios</span></li>
                    <li class="active"><span>Santiago, NL.</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">Gobierno de Santiago, NL.</h2>
            <small>Consulta y Paga tu Impuesto Predial</small>
        </div>
    </div>
</div>*@

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            @using (Html.BeginForm("Caja", "PanelConcentradora", FormMethod.Get))
                            { 
                                <div class="text-center">
                                    <div>
                                        <img alt="logo" width="150" class="img-thumbnail" src="~/Images/Santiago.png" />
                                    </div>
                                    <div><small class="font-bold">Gobierno de Santiago, NL.</small></div>
                                </div>
                                <div class="text-center" style="padding-bottom:15px; padding-top:15px;">
                                    <p><strong>Estimado Usuario</strong></p>
                                    <p>Registra los Datos a Consultar</p>
                                </div>
                                <div class="text-center" style="padding-bottom:15px;">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.expediente, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.expediente, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.expediente, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ubicacionPredio, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.ubicacionPredio, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.ubicacionPredio, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.saldo, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                        @Html.ValidationMessageFor(model => model.saldo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group" style="padding-top:25px;">
                                    @Html.LabelFor(model => model.referenciaPredio, htmlAttributes: new { @class = "control-label col-md-4" })
                                    <div class="col-md-6">
                                        @Html.EditorFor(model => model.referenciaPredio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Entre que calles se encuentra el Predio" } })
                                        @Html.ValidationMessageFor(model => model.referenciaPredio, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">
                                        <a href="@Url.Action("Mapa", "PanelConcentradora")" class="btn btn-info">Editar Referencia</a>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-4"></label>
                                    <div class="col-md-8">
                                        <div id="map_canvas" style="height:500px;"></div>
                                    </div>
                                </div>

                                <div class="form-group text-right" style="padding-top:25px;">
                                    <a href="@Url.Action("Pagar", "PanelConcentradora")" class="btn btn-default" style="margin-right:15px;">Cancelar</a>
                                    <a href="@Url.Action("Bancos", "PanelConcentradora", new {  })" target="_blank" class="btn btn-success"><i class="fa  fa-print"></i> Ficha Bancos</a>
                                    <a href="@Url.Action("Tiendas", "PanelConcentradora", new { })" target="_blank" class="btn btn-success"><i class="fa fa-print"></i> Ficha Tiendas</a>
                                    <input style="margin-left:15px;" type="submit" id="btnSubmit" value="Pagar Predial" class="btn btn-danger" />
                                </div>
                            }
                        </div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <section class="scripts">
        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {
                google.maps.visualRefresh = true;
                var Tunisie = new google.maps.LatLng(25.4339348, -100.2146593);

                var mapOptions = {
                    zoom: 8,
                    center: Tunisie,
                    mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

                var data = [
                    { "Id": 1, "PlaceName": "Zaghouan", "GeoLong": "36.401081", "GeoLat": "10.16596" },
                    { "Id": 2, "PlaceName": "Hammamet ", "GeoLong": "36.4", "GeoLat": "10.616667" },
                    { "Id": 3, "PlaceName": "Sousse", "GeoLong": "35.8329809", "GeoLat": "10.63875" },
                    { "Id": 4, "PlaceName": "Sfax", "GeoLong": "34.745159", "GeoLat": "10.7613" }
                ];

                $.each(data, function(i, item) {
                    var marker = new google.maps.Marker({
                        'position':new google.maps.LatLng(item.GeoLong, item.GeoLat),
                        'map':map,
                        'title': item.PlaceName
                    });

                    //Make the marker-pin blue!
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png');

                    var infowindow = new google.maps.InfoWindow({
                        content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>"
                    });

                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.open(map, marker);
                    });
                })

            }

        </script>
    </section>

}