﻿@model Enpadi_WebUI.Models.ViewModelFeeEditor

@{
    ViewBag.Title = "FeeEditor";
    Layout = "~/Views/Shared/_LayoutEnpadiAdmin.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" role="alert" id="successDiv" style="display:none">

        </div>
    </div>
</div>
@using (Html.BeginForm("SaveFee", "EnpadiAdmin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Fee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Fee.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.VariableFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.VariableFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.VariableFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.FixFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.FixFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.FixFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.TaxFee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.TaxFee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.TaxFee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.UpperRestriction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.UpperRestriction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.UpperRestriction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fee.LowerRestriction, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fee.LowerRestriction, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fee.LowerRestriction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Partner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PartnerId, Model.Partner, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })

            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Fee.AllowDelete, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Fee.AllowDelete)
                        @Html.ValidationMessageFor(model => model.Fee.AllowDelete, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.Fee.CreatedByUserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fee.CreatedByUserId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fee.CreatedByUserId, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Currencies, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CurrenciesId, Model.Currencies, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.UsersId, Model.Users, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServiceCategories, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ServiceCategoriesId, Model.ServiceCategories, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Platforms, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PlatformsId, Model.Platforms, new { @class = "form-control", @disabled = "disabled", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
                <button type="button" value="Save" onclick="SaveFee();">Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "fees")
</div>


<script type="text/javascript">

    function SaveFee() {
        var Id = $("#Fee_Id").val();
        var Name = $("#Fee_Name").val();
        var Description = $("#Fee_Description").val();
        var VariableFee = $("#Fee_VariableFee").val();
        var FixFee = $("#Fee_FixFee").val();
        var TaxFee = $("#Fee_TaxFee").val();

        var UpperRestriction = $("#Fee_UpperRestriction").val();
        var LowerRestriction = $("#Fee_LowerRestriction").val();
        var PartnerToPayId = $("#PartnerId").val();
        var AllowDelete = $("#Fee_AllowDelete").val();
        var CurrencyId = $("#CurrenciesId").val();

        var UserToPayId = $("#UsersId").val();
        var ServiceCategoryId = $("#ServiceCategoriesId").val();
        var PlatformId = $("#PlatformsId").val();


        $.ajax({
            url: '@Url.Action("SaveFee", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            data: {
                id:Id,
                name: Name,
                description: Description,
                variableFee: VariableFee,
                fixFee: FixFee,
                taxFee: TaxFee,

                upperRestriction: UpperRestriction,
                lowerRestriction: LowerRestriction,
                partnerToPayId: PartnerToPayId,
                currencyId: CurrencyId,

                userToPayId: UserToPayId,
                serviceCategoryId: ServiceCategoryId,
                platformId: PlatformId
            },
            dataType: "json",
            success: function (result) {
                    $("#successDiv").show();
                    $("#successDiv").html("<strong>Change on registry!</strong> " + result.Name);
                    console.log("Success");
                },
                error: function (result) {
                    console.log(result);
                }
       });

    }

    $(document).ready(function () {
    });
</script>