﻿@using System.Configuration;
@{
    ViewBag.Title = "Fees";
    Layout = "~/Views/Shared/_LayoutEnpadiAdmin.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}


@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
}



<div class="row">
    <div class="col-lg-12">
        <a href="#">Agregar nueva comision (Dev)</a>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label>Comisiones en sistema</label>
    </div>
</div>
<br />
<div class="row">
    <div class="col-lg-12">

        <table id="tbl_current_fees" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th>
                        Nombre
                    </th>

                    <th>
                        Variable(%)
                    </th>
                    <th>
                        Fijo($)
                    </th>


                    <th>Soc. a pagar</th>
                    <th>Usu. a pagar</th>
                    <th>Moneda</th>
                    <th>Plat.</th>

                    <th></th>
                    <th>
                        Descripcion
                    </th>
                    <th>Categoria</th>
                    <th>Monto minimo que aplica</th>
                    <th>Monto maximo que aplica</th>
                    <th>
                        Tasa de impuestos(%)
                    </th>
                    <th>Id</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script>
    function format(d) {

        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +

            '<tr>' +
            '<td>Descripcion:</td>' +
            '<td>' + d.UserToPayEmail + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Descripcion:</td>' +
            '<td>' + d.Description + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Categoria:</td>' +
            '<td>' + d.ServiceCategoryName + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Monto minimo que aplica:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.LowerRestriction, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Monto maximo que aplica:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.UpperRestriction, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Tasa de impuestos(%):</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.TaxFee, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Id:</td>' +
            '<td>' + d.Id + '</td>' +
            '</tr>' +

            '</table>';
    }

    function loadTable() {

        $.ajax({
            url: '@Url.Action("LoadSistemFees", "EnpadiAdmin")',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {

                        //config variables
                        var firstColumn = 0;
                        var lastColumn = 8;
                        //console.log(result);

                        //configure search boxes
                        var table_search = $('#tbl_current_fees thead th').each(function (key, value) {
                            if (key != firstColumn && key != lastColumn) {
                                var title = $(this).text();
                                $(this).html(title + '<input style="width: 85px;" type="text" placeholder="' + title.trim() + '" />');
                            }
                        });

                        //create table
                        var table = $('#tbl_current_fees').DataTable({
                            oLanguage: {
                                "sUrl": "/lang/Spanish.json"
                            },
                            dom: 'Bfrtip',
                            buttons: [{
                                extend: 'pdfHtml5',
                                orientation: 'landscape',
                                pageSize: 'LEGAL', exportOptions: {
                                    columns: [1, 2, 3, 4, 5, 7, 9, 11, 14, 16, 17, 18]
                                },
                                customize: function (doc) {
                                    doc.styles['td:nth-child(2)'] = {
                                        width: '100px',
                                        'max-width': '100px'
                                    }
                                }
                            },
                            {
                                extend: 'copy',
                                text: 'Copiar',
                            },
                            {
                                extend: 'csv',
                                text: 'CSV'
                            },
                            {
                                extend: 'excel',
                                text: 'Excel'
                            },
                            {
                                extend: 'print',
                                text: 'Imprimir'
                            },
                            ],
                            language: {
                                buttons: {
                                    copyTitle: 'Tabla copiada',
                                    copySuccess: {
                                        _: '%d lineas copiadas',
                                        1: '1 linea copiada'
                                    }
                                }
                            },
                            "processing": true,
                            data: result,

                            columns: [
                                {
                                    className: 'details-control',
                                    orderable: false,
                                    data: null,
                                    defaultContent: '',
                                    render: function () {
                                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                                    },
                                    width: "15px"
                                },
                                {
                                    data: "Name"
                                },
                                {
                                    data: "VariableFee",
                                    render: function (data, type, row) {
                                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                                    }
                                },
                                {
                                    data: "FixFee",
                                    render: function (data, type, row) {
                                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                                    }
                                },
                                {
                                    data: "PartnerName"
                                },
                                {
                                    data: "UserToPayEmail",
                                    visible: false,
                                },
                                {
                                    data: "CurrencyCode"
                                }, {
                                    data: "PlatformName"
                                },
                                {
                                    data: "Id",
                                    render: function (data, type, row) {
                                        var url = '/website/EnpadiAdmin/FeeEditor?Id=';

                                        return "<a href='" + url + data +"'> Edit </a>";
                                    }
                                },



                                {
                                    data: "Description",
                                    visible: false,
                                },
                                {
                                    data: "ServiceCategoryName",
                                    visible: false,
                                },
                                {
                                    data: "LowerRestriction",
                                    visible: false,
                                },
                                {
                                    data: "UpperRestriction",
                                    visible: false,
                                },
                                {
                                    data: "TaxFee",
                                    visible: false,
                                },
                                {
                                    data: "Id",
                                    visible: false,
                                }

                            ]
                        });

                        // Add event listener for opening and closing details
                        $('#tbl_current_fees tbody').off('click', 'td.details-control');
                        $('#tbl_current_fees tbody').on('click', 'td.details-control', function () {
                            var tr = $(this).closest('tr');
                            var tdi = tr.find("i.fa");
                            var row = table.row(tr);

                            if (row.child.isShown()) {
                                // This row is already open - close it
                                row.child.hide();
                                tr.removeClass('shown');
                                tdi.first().removeClass('fa-minus-square');
                                tdi.first().addClass('fa-plus-square');
                            }
                            else {
                                // Open this row
                                row.child(format(row.data())).show();
                                tr.addClass('shown');
                                tdi.first().removeClass('fa-plus-square');
                                tdi.first().addClass('fa-minus-square');
                            }
                        });

                        table.on("user-select", function (e, dt, type, cell, originalEvent) {
                            if ($(cell.node()).hasClass("details-control")) {
                                e.preventDefault();
                            }
                        });

                        // Apply the search
                        table.columns().every(function (key, value) {

                            if (key != firstColumn && key != lastColumn) {
                                //console.log("key " + key + " value " + value);
                                var that = this;
                                $('input', this.header()).on('keyup change', function () {
                                    if (that.search() !== this.value) {
                                        that
                                            .search(this.value)
                                            .draw();
                                    }
                                });
                            }
                        });

                        var sum = table.column(1).data().eq(0).reduce(function (a, b) {
                            return a + b;
                        }, 0);
                    },
                    error: function (result) {
                        console.log("Error: " + result);
                    }
                });

            }

           $(document).ready(function () {
               loadTable();
           });
</script>
