﻿@using System.Configuration;
@{
    Layout = "~/Views/Shared/_LayoutEnpadiAdmin.cshtml";
    string pageRegion = ConfigurationManager.AppSettings["Region"].ToLower();
}

@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
}

@*General*@
<div class="row">
    <div class="col-lg-12">
        <label>General</label>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-8">
                <select class="form-control" id="periodo" name="periodo"></select>
            </div>
            <div class="col-lg-4">
                <button class="btn-enpadi" onclick="searchPeriod();">Generar</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
            <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
        </div>
        @*<div class="row">
                <div class="col-xs-4 text-left"><strong>Saldo Inicial</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="start_balance"></label></strong></div>
            </div>*@
        <div class="row">
            <div class="col-xs-4 text-left">Transacciones</div>
            <div class="col-xs-8 text-right"><label id="transactions"></label></div>
        </div>
        <div class="row">
            <div class="col-xs-4 text-left">Comisiones</div>
            <div class="col-xs-8 text-right"><label id="commission"></label></div>
        </div>
        @*<div class="row">
                <div class="col-lg-4 text-left"><strong>Saldo Final</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="final_balance"></label></strong></div>
            </div>*@
    </div>

</div>
<br />
<div class="row">
    <div class="col-lg-12">

        <table id="tbl_payment" class="table table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="no-search">

                    </th>
                    <th>
                        Folio
                    </th>
                    <th>
                        Monto
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th>
                        Estatus
                    </th>
                    <th>
                        Fecha
                    </th>

                    <th>Origen</th>
                    <th>Tipo</th>
                    <th>Socio número</th>
                    <th>Nombre comercial</th>
                    <th>Terminal</th>

                    <th>Moneda</th>
                    <th>Tarjeta Enpadi</th>
                    <th>Tarjeta terminación</th>
                    <th>Aprovación</th>
                    <th>I.P.</th>

                    <th>Descripción</th>
                    <th>Referencia</th>
                    <th>Transacción</th>
                </tr>
            </thead>
            @*<tfoot>
                    <tr>
                        <th>

                        </th>
                        <th>
                            Folio
                        </th>
                        <th>
                            Monto
                        </th>
                        <th>
                            Concepto
                        </th>
                        <th>
                            Estatus
                        </th>
                        <th class="no-search">
                            Fecha
                        </th>

                        <th>Origen</th>
                        <th>Tipo</th>
                        <th>Socio número</th>
                        <th>Nombre comercial</th>
                        <th>Terminal</th>

                        <th>Moneda</th>
                        <th>Tarjeta Enpadi</th>
                        <th>Tarjeta terminación</th>
                        <th>Aprovación</th>
                        <th>I.P.</th>

                        <th>Descripción</th>
                        <th>Referencia</th>
                        <th>Transacción</th>
                    </tr>
                </tfoot>*@
        </table>

    </div>
</div>



<script type="text/javascript">
    function format(d) {

        // `d` is the original data object for the row
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +

            '<tr>' +
            '<td>Folio transacci&oacute;n:</td>' +
            '<td>' + d.transaccion_transaccion + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Descripci&oacute;n:</td>' +
            '<td>' + d.transaccion_descripcion + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Referencia:</td>' +
            '<td>' + d.transaccion_referencia + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Tarjeta:</td>' +
            '<td>' + d.transaccion_tarjeta + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Tipo de Movimiento:</td>' +
            '<td>' + d.type_descripcion + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Comisi&oacute;n USA Con. MXN:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.transaccion_comision, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>I.V.A:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.transaccion_iva, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Com. MXN:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.ComissionMX, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Tot. MXN:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.TotalAmountMX, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Com. Dlls:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.ComissionUSD, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Tot. Dlls:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.TotalAmountUSD, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Serv. MXN:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.AmountForServiceMXN, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Serv. Dlls:</td>' +
            '<td>' + "$" + coffeetools.formatMoney(d.AmountForServiceUSD, 2, '.', ',') + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Us. Email</td>' +
            '<td>' + d.transactionUserEmail + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Plataforma</td>' +
            '<td>' + d.platform + '</td>' +
            '</tr>' +

            '<tr>' +
            '<td>Moneda:</td>' +
            '<td>' + d.currency_codigo + '</td>' +
            '</tr>' +
            '</table>';
    }

        function loadDropdownMonth() {
          $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: 0
            },
            success: function (result) {

                $.each(result.rmeses, function (key, value) {
                    $('#periodo')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));
                });


                loadSumary();
                loadTable();
            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    function loadSumary() {
        var periodo = $('#periodo').val();

        console.log("loadSummary" + periodo);

        $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {

                $('#date').text(result.periodo_descripcion);
                //$('#start_balance').text(result.rsaldoInicial).formatCurrency();

                //$('#final_balance').text(result.rsaldoFinal).formatCurrency();
            },
            error: function (result) {
                console.log(result);
            }
        });
    }

       function loadTable() {

        var periodo = $('#periodo').val();

        var  langFileUrl = "~/../../lang/Spanish.json";


        $.ajax({
            url: '@Url.Action("LoadGeneralReport", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {
                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].transaccion_monto;
                    totalComissionAmount += result[index].transaccion_comision;
                    console.log("Monto " + result[index].transaccion_monto + " comision " + result[index].transaccion_comision);
                }

                $('#transactions').text(totalTransactionAmount).formatCurrency();
                $('#commission').text(totalComissionAmount).formatCurrency();

                $('#date').text();
                //$('#start_balance').text();
                //$('#deposits').text();
                //$('#charges').text();
                //$('#final_balance').text();

                //config variables
                var firstColumn = 0;
                var lastColumn = 7;
                //console.log(result);

                //configure search boxes
                var table_search = $('#tbl_payment thead th').each(function (key, value) {
                    if (key != firstColumn && key != lastColumn) {
                        var title = $(this).text();
                        $(this).html(title + '<input style="width: 85px;" type="text" placeholder="' + title.trim() + '" />');
                    }
                });

                //create table
                var table = $('#tbl_payment').DataTable({
                    oLanguage: {
                        "sUrl": langFileUrl
                    },
                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL', exportOptions: {
                            columns: [1, 2, 3, 4, 5, 7, 9, 11, 14, 16, 17, 18]
                        },
                        customize: function (doc) {
                            doc.styles['td:nth-child(2)'] = {
                                width: '100px',
                                'max-width': '100px'
                            }
                        }
                    },
                    {
                        extend: 'copy',
                        text: 'Copiar',
                    },
                    {
                        extend: 'csv',
                        text: 'CSV'
                    },
                    {
                        extend: 'excel',
                        text: 'Excel'
                    },
                    {
                        extend: 'print',
                        text: 'Imprimir'
                    },
                    ],
                    language: {
                        buttons: {
                            copyTitle: 'Tabla copiada',
                            copySuccess: {
                                _: '%d lineas copiadas',
                                1: '1 linea copiada'
                            }
                        }
                    },
                    "processing": true,
                    data: result,

                    columns: [
                        {
                            className: 'details-control',
                            orderable: false,
                            data: null,
                            defaultContent: '',
                            render: function () {
                                return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                            },
                            width: "15px"
                        },
                        {
                            data: "transaccion_transID"
                        },
                        {
                            data: "transaccion_monto",
                            render: function (data, type, row) {
                                return "$" + coffeetools.formatMoney(data, 2, '.', ',') + " MXN";
                            }
                        },
                        //{
                        //    data: "transaccion_comision",
                        //    render: function (data, type, row) {
                        //        return coffeetools.formatMoney(data, 2, '.', ',');
                        //    }
                        //},
                        //{
                        //    data: "transaccion_iva",
                        //    render: function (data, type, row) {
                        //        return coffeetools.formatMoney(data, 2, '.', ',');
                        //    }
                        //},
                        { data: "transaccion_concepto" },
                        { data: "status_descripcion" },
                        {
                            data: "transaccion_fechaRegistro",
                            render: function (data, type, row) {
                                return coffeetools.ToJavaScriptDateTime24(data);
                            }
                        },

                        {
                            data: "origin_descripcion",
                            visible: false,
                        },
                        {
                            data: "type_descripcion",
                            visible: false,
                        },
                        {
                            data: "transaccion_socioID",
                            visible: false,
                        },
                        {
                            data: "partner_nombreComercial",
                            visible: false,
                        },
                        {
                            data: "transaccion_terminalID",
                            visible: false,
                        },
                        {
                            data: "currency_codigo",
                            visible: false,
                        },
                        {
                            data: "transaccion_tarjetaID",
                            visible: false,
                        },
                        {
                            data: "transaccion_tarjeta",
                            visible: false,
                        },
                        {
                            data: "transaccion_aprobacion",
                            visible: false,
                        },
                        {
                            data: "transaccion_ip",
                            visible: false,
                        },
                        {
                            data: "transaccion_descripcion",
                            visible: false,
                        },
                        {
                            data: "transaccion_referencia",
                            visible: false,
                        },
                        {
                            data: "transaccion_transaccion",
                            visible: false,
                        }
                    ]
                });

                // Add event listener for opening and closing details
                $('#tbl_payment tbody').off('click', 'td.details-control');
                $('#tbl_payment tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var tdi = tr.find("i.fa");
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                        tdi.first().removeClass('fa-minus-square');
                        tdi.first().addClass('fa-plus-square');
                    }
                    else {
                        // Open this row
                        row.child(format(row.data())).show();
                        tr.addClass('shown');
                        tdi.first().removeClass('fa-plus-square');
                        tdi.first().addClass('fa-minus-square');
                    }
                });

                table.on("user-select", function (e, dt, type, cell, originalEvent) {
                    if ($(cell.node()).hasClass("details-control")) {
                        e.preventDefault();
                    }
                });

                // Apply the search
                table.columns().every(function (key, value) {

                    if (key != firstColumn && key != lastColumn) {
                        //console.log("key " + key + " value " + value);
                        var that = this;
                        $('input', this.header()).on('keyup change', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    }
                });

                var sum = table.column(1).data().eq(0).reduce(function (a, b) {
                    return a + b;
                }, 0);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

       function searchPeriod() {
           var table = $('#tbl_payment').DataTable();
           table.destroy();
           loadSumary();
           loadTable();
       }

    $(document).ready(function () {
        loadDropdownMonth();
    });
</script>