﻿
@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutEnpadiAdmin.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
}

@*Depositos*@
<div id="divDeposits">
    <div class="row">
        <div class="col-lg-12">
            <label>Depositos</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <select class="form-control" id="periodDeposit" name="periodDeposit"></select>
                </div>
                <div class="col-lg-4">
                    <button class="btn-enpadi" onclick="searchPeriodDeposit();">Consult</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="dateDeposits"></label></strong></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Transacciones</div>
                <div class="col-xs-8 text-right"><label id="transactionsDeposit"></label></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Comisiones</div>
                <div class="col-xs-8 text-right"><label id="commissionDeposit"></label></div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">

            <table id="tbl_deposit" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-search">

                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Monto Total
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Comisiones
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<br />
@*Bank*@
<div id="divBank">
    <div class="row">
        <div class="col-lg-12">
            <label>Transferencias bancarias</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <select class="form-control" id="periodBank" name="periodBank"></select>
                </div>
                <div class="col-lg-4">
                    <button class="btn-enpadi" onclick="searchPeriodBank();">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Transacciones</div>
                <div class="col-xs-8 text-right"><label id="transactionsBank"></label></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Comisiones</div>
                <div class="col-xs-8 text-right"><label id="commissionBank"></label></div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">

            <table id="tbl_bank" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-search">

                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Monto Total
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Comisiones
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<br />
@*Tiendas*@
<div id="divTiendas">
    <div class="row">
        <div class="col-lg-12">
            <label>Pagos en tiendas</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <select class="form-control" id="periodStore" name="periodStore"></select>
                </div>
                <div class="col-lg-4">
                    <button class="btn-enpadi" onclick="searchPeriodStore();">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Transacciones</div>
                <div class="col-xs-8 text-right"><label id="transactionsStore"></label></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Comisiones</div>
                <div class="col-xs-8 text-right"><label id="commissionStore"></label></div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">

            <table id="tbl_store" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-search">

                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Monto Total
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Comisiones
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
<br />

@*Tiempo aire*@
<div id="divCellPhoneTime">
    <div class="row">
        <div class="col-lg-12">
            <label>Tiempo aire</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <select class="form-control" id="periodCellPhone" name="periodCellPhone"></select>
                </div>
                <div class="col-lg-4">
                    <button class="btn-enpadi" onclick="searchPeriodCellphone();">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Transacciones</div>
                <div class="col-xs-8 text-right"><label id="transactionsCellPhone"></label></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Comisiones</div>
                <div class="col-xs-8 text-right"><label id="commissionCellPhone"></label></div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">

            <table id="tbl_cellphone" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-search">

                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Monto Total
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Comisiones
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>
<br />
@*Servicios*@

<div id="divServices">
    <div class="row">
        <div class="col-lg-12">
            <label>Servicios</label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-8">
                    <select class="form-control" id="periodService" name="periodService"></select>
                </div>
                <div class="col-lg-4">
                    <button class="btn-enpadi" onclick="searchPeriodService();">Generar</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="row">
                <div class="col-xs-4 text-left"><strong>ESTADO DE CUENTA</strong></div>
                <div class="col-xs-8 text-right"><strong><label id="date"></label></strong></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Transacciones</div>
                <div class="col-xs-8 text-right"><label id="transactionsService"></label></div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-left">Comisiones</div>
                <div class="col-xs-8 text-right"><label id="commissionService"></label></div>
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-lg-12">

            <table id="tbl_service" class="table table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-search">

                        </th>
                        <th>
                            Id
                        </th>
                        <th>
                            Socio
                        </th>
                        <th>
                            Monto Total
                        </th>
                        <th>
                            Balance
                        </th>
                        <th>
                            Comisiones
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>
</div>

<script type="text/javascript">

    //#region on load

    $(document).ready(function () {
        loadDropdownMonth();

        //deposit
        loadTableDeposit();

        //cellphonetime
        loadTableCellphoneTime();

        //service
        loadTableService();

        //bank
        loadTableBank();

        //store
        loadTableStore();
    });

   function loadDropdownMonth() {
          $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: 0
            },
            success: function (result) {

                $.each(result.rmeses, function (key, value) {
                    //deposits
                    $('#periodDeposit')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));

                    //celphonetime
                    $('#periodCellPhone')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));

                    //celphonetime
                    $('#periodService')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));

                    //celphonetime
                    $('#periodBank')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));

                    //celphonetime
                    $('#periodStore')
                        .append($("<option></option>")
                            .attr("value", key)
                            .text(value.mes));

                });

                //load tables after period dropdown has been set

            },
            error: function (result) {
                console.log("Error: " +result);
            }
        });
    }

    //#endregion on load

    //#region for all tables

    function formatFee(table_id) {
        // `d` is the original data object for the row
        return '<table id="' + table_id + '" class="display" border="0" style="padding-left:50px; width:100%;">' +
            '<thead>' +
            '<th>Fee</th>' +
            '<th>Fix Amount</th>' +
            '<th>Variable Amount</th>' +
            '<th>Tax Fee</th>' +
            '<th>Charged By Partner Amount</th>' +
            '</thead>' +
            '</table>';
    }

    function createFeeSecondaryTable(subtable_id , result) {
        var subtable = $('table#' + subtable_id).DataTable({
            data: result,
            columns: [
                {
                    data: "FeeName"
                },
                {
                    data: "FixAmount",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "VariableAmount",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "TaxFeeAmount",
                    render: function (data, type, row) {
                        return coffeetools.formatMoney(data, 2, '.', ',');
                    }
                }, {
                    data: "ChargedByPartnerAmount",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                }
            ]
        });
    }

    function createPrimaryTableCharge(tableName, result) {
        //config variables
        var firstColumn = 0;
        var lastColumn = 7;
        //console.log(result);

        //configure search boxes
        var table_search = $('#' + tableName + ' thead th').each(function (key, value) {
            if (key != firstColumn && key != lastColumn) {
                var title = $(this).text();
                $(this).html(title + '<input style="width: 85px;" type="text" placeholder="' + title.trim() + '" />');
            }
        });

        //create table
        var table = $('#' + tableName).DataTable({
            oLanguage: {
                "sUrl": "/lang/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [{
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL', exportOptions: {
                    columns: [1, 2, 3, 4, 5, 7, 9, 11, 14, 16, 17, 18]
                },
                customize: function (doc) {
                    doc.styles['td:nth-child(2)'] = {
                        width: '100px',
                        'max-width': '100px'
                    }
                }
            },
            {
                extend: 'copy',
                text: 'Copiar',
            },
            {
                extend: 'csv',
                text: 'CSV'
            },
            {
                extend: 'excel',
                text: 'Excel'
            },
            {
                extend: 'print',
                text: 'Imprimir'
            },
            ],
            language: {
                buttons: {
                    copyTitle: 'Tabla copiada',
                    copySuccess: {
                        _: '%d lineas copiadas',
                        1: '1 linea copiada'
                    }
                }
            },
            "processing": true,
            data: result,

            columns: [
                {
                    className: 'details-control',
                    orderable: false,
                    data: null,
                    defaultContent: '',
                    render: function () {
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width: "15px"
                },
                {
                    data: "Id",
                    visible: false,
                },
                {
                    data: "Partner"
                },
                {
                    data: "cargoTotal",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "monto",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "Comissions"
                },
                {
                    data: "fechaRegistro",
                    render: function (data, type, row) {
                        return coffeetools.ToJavaScriptDate(data);
                    }
                }, {
                    data: "UserEmail"
                }
            ]
        });

        // Add event listener for opening and closing details
        $('#' + tableName + ' tbody').off('click', 'td.details-control');
        $('#' + tableName + ' tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            }
            else {
                // Open this row
                var virtual_task_id = (row.data())["Id"];
                var subtable_id = "subtable-" + virtual_task_id;

                row.child(formatFee(subtable_id)).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
                sub_DataTableFee(virtual_task_id, subtable_id);
            }
        });

        table.on("user-select", function (e, dt, type, cell, originalEvent) {
            if ($(cell.node()).hasClass("details-control")) {
                e.preventDefault();
            }
        });

        // Apply the search
        table.columns().every(function (key, value) {

            if (key != firstColumn && key != lastColumn) {
                //console.log("key " + key + " value " + value);
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            }
        });

        var sum = table.column(1).data().eq(0).reduce(function (a, b) {
            return a + b;
        }, 0);
    }

    function createPrimaryTableDeposit(tableName, result ) {
        //config variables
        var firstColumn = 0;
        var lastColumn = 7;
        //console.log(result);

        //configure search boxes
        var table_search = $('#' + tableName + ' thead th').each(function (key, value) {
            if (key != firstColumn && key != lastColumn) {
                var title = $(this).text();
                $(this).html(title + '<input style="width: 85px;" type="text" placeholder="' + title.trim() + '" />');
            }
        });

        //create table
        var table = $('#' + tableName).DataTable({
            oLanguage: {
                "sUrl": "/lang/Spanish.json"
            },
            dom: 'Bfrtip',
            buttons: [{
                extend: 'pdfHtml5',
                orientation: 'landscape',
                pageSize: 'LEGAL', exportOptions: {
                    columns: [1, 2, 3, 4, 5, 7, 9, 11, 14, 16, 17, 18]
                },
                customize: function (doc) {
                    doc.styles['td:nth-child(2)'] = {
                        width: '100px',
                        'max-width': '100px'
                    }
                }
            },
            {
                extend: 'copy',
                text: 'Copiar',
            },
            {
                extend: 'csv',
                text: 'CSV'
            },
            {
                extend: 'excel',
                text: 'Excel'
            },
            {
                extend: 'print',
                text: 'Imprimir'
            },
            ],
            language: {
                buttons: {
                    copyTitle: 'Tabla copiada',
                    copySuccess: {
                        _: '%d lineas copiadas',
                        1: '1 linea copiada'
                    }
                }
            },
            "processing": true,
            data: result,

            columns: [
                {
                    className: 'details-control',
                    orderable: false,
                    data: null,
                    defaultContent: '',
                    render: function () {
                        return '<i class="fa fa-plus-square" aria-hidden="true"></i>';
                    },
                    width: "15px"
                },
                {
                    data: "Id",
                    visible: false,
                },
                {
                    data: "Partner"
                },
                {
                    data: "abonoTotal",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "monto",
                    render: function (data, type, row) {
                        return "$" + coffeetools.formatMoney(data, 2, '.', ',');
                    }
                },
                {
                    data: "Comissions"
                },
                {
                    data: "fechaRegistro",
                    render: function (data, type, row) {
                        return coffeetools.ToJavaScriptDate(data);
                    }
                }, {
                    data: "UserEmail"
                }
            ]
        });

        // Add event listener for opening and closing details
        $('#' + tableName + ' tbody').off('click', 'td.details-control');
        $('#' + tableName + ' tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var tdi = tr.find("i.fa");
            var row = table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                tdi.first().removeClass('fa-minus-square');
                tdi.first().addClass('fa-plus-square');
            }
            else {
                // Open this row
                var virtual_task_id = (row.data())["Id"];
                var subtable_id = "subtable-" + virtual_task_id;

                row.child(formatFee(subtable_id)).show();
                tr.addClass('shown');
                tdi.first().removeClass('fa-plus-square');
                tdi.first().addClass('fa-minus-square');
                sub_DataTableFee(virtual_task_id, subtable_id);
            }
        });

        table.on("user-select", function (e, dt, type, cell, originalEvent) {
            if ($(cell.node()).hasClass("details-control")) {
                e.preventDefault();
            }
        });

        // Apply the search
        table.columns().every(function (key, value) {

            if (key != firstColumn && key != lastColumn) {
                //console.log("key " + key + " value " + value);
                var that = this;
                $('input', this.header()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            }
        });

        var sum = table.column(1).data().eq(0).reduce(function (a, b) {
            return a + b;
        }, 0);
    }

    function sub_DataTableFee(transactionId, subtable_id) {

            $.ajax({
            url: '@Url.Action("LoadTransactionFees", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                transactionId: transactionId
            },
            success: function (result) {
                createFeeSecondaryTable(subtable_id , result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
            });

    }

    //#endregion for all tables

    //#region deposits table

    function loadTableDeposit() {
        var periodo = $('#periodDeposit').val();

       if (periodo == undefined) {
           periodo = 0;
       }

       //Load balance
       $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {
                $('#dateDeposits').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });


        //load table deposits
        $.ajax({
            url: '@Url.Action("LoadDeposits", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].abonoTotal;
                    totalComissionAmount += result[index].Comissions;

                }

                $('#transactionsDeposit').text(totalTransactionAmount).formatCurrency();
                $('#commissionDeposit').text(totalComissionAmount).formatCurrency();

                createPrimaryTableDeposit("tbl_deposit", result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

    function searchPeriodDeposit() {
        var table = $('#tbl_deposit').DataTable();
        table.destroy();
        loadTableDeposit();
    }

    //#endregion deposits time table

    //#region cellphone

    function loadTableCellphoneTime() {
        var periodo = $('#periodCellPhone').val();

        if (periodo == undefined) {
            periodo = 0;
        }

       //Load balance
       $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {
                $('#dateCellphone').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });


        //load table cellphone
        $.ajax({
            url: '@Url.Action("LoadCellphone", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].abonoTotal;
                    totalComissionAmount += result[index].Comissions;

                }

                $('#transactionsCellPhone').text(totalTransactionAmount).formatCurrency();
                $('#commissionCellPhone').text(totalComissionAmount).formatCurrency();

                createPrimaryTableCharge("tbl_cellphone", result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

    function searchPeriodCellphone() {
        var table = $('#tbl_cellphone').DataTable();
        table.destroy();
        loadTableCellphoneTime();
    }

    //#endregion cellphone time table

   //#region services table

    function loadTableService() {
        var periodo = $('#periodService').val();

       if (periodo == undefined) {
           periodo = 0;
       }

       //Load balance
       $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {
                $('#dateService').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });


        //load table service
        $.ajax({
            url: '@Url.Action("LoadServiceReport", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].abonoTotal;
                    totalComissionAmount += result[index].Comissions;

                }

                $('#transactionsService').text(totalTransactionAmount).formatCurrency();
                $('#commissionService').text(totalComissionAmount).formatCurrency();

                createPrimaryTableCharge("tbl_service", result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

    function searchPeriodService() {
        var table = $('#tbl_service').DataTable();
        table.destroy();
        loadTableService();
    }

    //#endregion services table

   //#region store table

    function loadTableStore() {
        var periodo = $('#periodStore').val();

       if (periodo == undefined) {
           periodo = 0;
       }

       //Load balance
       $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {
                $('#dateStore').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });


        //load table service
        $.ajax({
            url: '@Url.Action("LoadStoreReport", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].abonoTotal;
                    totalComissionAmount += result[index].Comissions;

                }

                $('#transactionsStore').text(totalTransactionAmount).formatCurrency();
                $('#commissionStore').text(totalComissionAmount).formatCurrency();

                createPrimaryTableDeposit("tbl_store", result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

    function searchPeriodStore() {
        var table = $('#tbl_store').DataTable();
        table.destroy();
        loadTableStore();
    }

    //#endregion store table


   //#region bank table

    function loadTableBank() {
        var periodo = $('#periodBank').val();

       if (periodo == undefined) {
           periodo = 0;
       }

       //Load balance
       $.ajax({
            url: '@Url.Action("LoadBalance", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo
            },
            success: function (result) {
                $('#dateBank').text(result.periodo_descripcion);
            },
            error: function (result) {
                console.log(result);
            }
        });


        //load table bank
        $.ajax({
            url: '@Url.Action("LoadBankReport", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: {
                periodo: periodo.toString()
            },
            success: function (result) {

                var totalTransactionAmount = 0;
                var totalComissionAmount = 0;

                for (index = result.length - 1; index >= 0; --index) {
                    totalTransactionAmount += result[index].abonoTotal;
                    totalComissionAmount += result[index].Comissions;

                }

                $('#transactionsBank').text(totalTransactionAmount).formatCurrency();
                $('#commissionBank').text(totalComissionAmount).formatCurrency();

                createPrimaryTableDeposit("tbl_bank", result);
            },
            error: function (result) {
                console.log("Error: " + result);
            }
        });

    }

    function searchPeriodBank() {
        var table = $('#tbl_bank').DataTable();
        table.destroy();
        loadTableBank();
    }

    //#endregion services table
</script>