﻿
@{
    ViewBag.Title = "UserSettings";
    Layout = "~/Views/Shared/_LayoutEnpadiAdmin.cshtml";
}

@section Styles {
    <!-- Section for main scripts render -->

    @Styles.Render("~/Content/website_userindex")
    @Styles.Render("~/Content/datatables")
}
@section Scripts {
    <!-- Section for main scripts render -->
    <!-- Section for main scripts render -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/jquery/currency")
    @Scripts.Render("~/bundles/datatableButtons")
    @Scripts.Render("~/bundles/chartjs/js")
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="row">
    <div class="col-lg-12">
        <h1>Cambio de contraseña</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <small>
            Seleccione a un usuario para cambiar la contraseña e ingrese la nueva contraseña, no se requiere la
            contraseña pasada para realizar el cambio, este es un proceso administrativo de cambio de contraseña.
        </small>
    </div>
</div>
<hr />



<form id="passwordForm">
    <div class="row form-group">
        <div class="col-lg-4">Seleccione a un usuario</div>
        <div class="col-lg-8">

            <select id="user_email" class="selectpicker form-control" data-live-search="true" onchange="verifyPassword();"></select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">Nueva contraseña</div>
        <div class="col-lg-8">
            <input type="password" class="form-control" id="password" name="password" onkeyup="verifyPassword();" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-4">Confirmar contraseña</div>
        <div class="col-lg-8">
            <input type="password" class="form-control" id="password_confirm" name="password_confirm" onkeyup="verifyPassword();" />
        </div>
    </div>
    <a id="btnSubmit" class="btn btn-primary" onclick="changeUserPassword();" style="display:none">Cambiar contraseña</a>
</form>



<script type="text/javascript">

    $(document).ready(function () {
        loadUsers();
        configureJqueryValidation();
    });

    function verifyPassword() {

        var password = $("#password").val();
        var password_confirm = $("#password_confirm").val();
        var email = $("#user_email").val();

        if(email != ""){
            if (password.length >= 8) {

                if (password === password_confirm) {
                    $('#btnSubmit').show();
                } else {
                    $('#btnSubmit').hide();
                }
            } else {
                $('#btnSubmit').hide();
            }
        } else {
            $('#btnSubmit').hide();
        }

    }

    function configureJqueryValidation() {

        objMessages = {
            password: {
                required: "Requerido",
                minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres."),
                equalTo: "Contraseñas no coinciden."
            },
            password_confirm: {
                required: "Requerido",
                minlength: jQuery.format("La contraseña debe de ser de por lo menos {0} caracteres."),
                equalTo: "Contraseñas no coinciden."
            }
        };

        jQuery('#passwordForm').validate({
            lang: "mx",
            rules: {
                password: {
                    minlength: 8
                },
                password_confirm: {
                    minlength: 8,
                    equalTo: "#password"
                }
            },
            messages: objMessages
        });
    }

    function loadUsers() {
        var options = $("#user_email");

        $.ajax({
            url: '@Url.Action("GetAllUsers", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                options.append($("<option />").val("").text("Seleccione a un usuario"));

                $.each(result, function () {
                    options.append($("<option data-tokens=" + this.Email + " />").val(this.Email).text(this.Email));
                });

            },
            error: function (result) {
                console.log(result);
            }
        });
    }

    function changeUserPassword() {

        console.log("change user password method");

        var email = $("#user_email").val();
        var password = $("#password").val();

        $.ajax({
            url: '@Url.Action("Changepassword", "EnpadiAdmin")',
            contentType: "application/json; charset=utf-8",
            data: {
                email: email,
                password: password
            },
            dataType: "json",
            success: function (result) {

              

            },
            error: function (result) {
                console.log(result);
            }
        });

    }
</script>