﻿@{ ViewBag.Title = "Services"; }

@{
    Layout = null;
    ViewBag.Title = "Webhook Process";
}

@Styles.Render("~/Content/bootstrap")

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery/js")
@Scripts.Render("~/bundles/bootstrap/js")
<dic class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Ventas</h1>
            @using (Html.BeginForm("imsspayment", "WebHook", FormMethod.Post))
            {
                <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspayment </small>
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Ventas del día</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymenttoday </small>
            @using (Html.BeginForm("imsspaymenttoday", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Ventas por id</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymentbyid </small>
            @using (Html.BeginForm("imsspaymentbyid", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label for="saleId">Id de venta</label>
                    <input type="text" class="form-control" id="saleId" name="saleId" aria-describedby="emailHelp" placeholder="P00284221">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Por rango de fechas</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymentdates </small>
            @using (Html.BeginForm("imsspaymentdates", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <label for="dateStart">Fecha Inicio</label>
                    <input type="text" class="form-control" id="dateStart" name="dateStart" aria-describedby="emailHelp" placeholder="MM/DD/YYYY">
                </div>
                <div class="form-group">
                    <label for="dateEnd">Fecha Fin</label>
                    <input type="text" class="form-control" id="dateEnd" name="dateEnd" aria-describedby="emailHelp" placeholder="MM/DD/YYYY">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Bajar archivo (guardar como .txt)</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymentstring </small>
            @using (Html.BeginForm("imsspaymentstring", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Bajar archivo (guardar como .txt)</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymentstringnew </small>
            @using (Html.BeginForm("imsspaymentstringnew", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h1>Bajar archivo (guardar como .txt)</h1>
            <small id="emailHelp" class="form-text text-muted">Llamar a ~/webhook/imsspaymentstringrenewal </small>
            @using (Html.BeginForm("imsspaymentstringrenewal", "WebHook", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="InputEmail">Usuario (Email)</label>
                    <input type="email" class="form-control" id="InputEmail" name="InputEmail" aria-describedby="emailHelp" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Contraseña</label>
                    <input type="password" class="form-control" id="InputPassword" name="InputPassword" aria-describedby="emailHelp" placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-primary">Llamar metodo</button>
            }
        </div>
    </div>

</dic>