﻿@model Enpadi_WebUI.Models.ViewModelPredial

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCifzLiP-Dycu6KEH5yHGPLxjJN-7EnbFk&sensor=false"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Detalle</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Predial
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <h4>Información del Predio</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.predial.expedienteNo)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.expedienteNo)</dd>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.calle)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.calle)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numExterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numExterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numInterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numInterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.referencia)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.referencia)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.colonia)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.colonia)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.ciudad.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.ciudad.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.estado.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.estado.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.pais.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.pais.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.cp)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.cp)</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h4>Datos de Contacto</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.predial.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.aPaterno)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.aPaterno)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.aMaterno)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.aMaterno)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.direccion)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.direccion)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.telefono)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.telefono)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.celular)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.celular)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.email)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.email)</dd>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.fechaActual)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.fechaActual)</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <h4>&nbsp;</h4>
                            <hr />
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().predialConcepto.descripcion)</th>
                                            <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().referencia)</th>
                                            <th class="text-right">Cargos</th>
                                            <th class="text-right">Abonos</th>
                                            <th class="text-right">Saldo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.movimientos)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.predialConcepto.descripcion)</td>
                                                <td>@Html.DisplayFor(modelItem => item.referencia)</td>
                                                <td class="text-right">@String.Format("{0:C}", item.cargoTotal)</td>
                                                <td class="text-right">@Html.DisplayFor(modelItem => item.abonoTotal)</td>
                                                <td class="text-right"><strong>@String.Format("{0:C2}", item.cargoTotal - item.abonoTotal)</strong></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div style="padding-top:25px;">
                                <h4 class="col-sm-4 col-sm-offset-4 text-right"><strong>Adeudo Actual</strong></h4>
                                <div class="col-sm-4 text-right">
                                    <h4>@String.Format("{0:C2}", Model.saldoTotal)</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Ubicacion Geografica</h4>
                            <hr />
                            <div>
                                <div id="map_canvas" style="height:500px;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <p>
                            @Html.ActionLink("Modificar", "Edit", new { id = Model.predial.predialID }) |
                            @Html.ActionLink("Volver al Listado", "Index")
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {

    <section class="scripts">
        <script type="text/javascript">

            $(document).ready(function () {
                Initialize();
            });

            function Initialize() {

                google.maps.visualRefresh = true;

                //Inicializa el Mapa con los Valores de la Base de Datos
                var mapLatitud = @Model.predial.latitud;
                var mapLongitud = @Model.predial.longitud;
                var mapZoom = @Model.predial.zoom;

                var Santiago = new google.maps.LatLng(mapLatitud, mapLongitud);

                var mapOptions = {
                    zoom: mapZoom,
                    center: Santiago,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };

                var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


                // Coloca un Marcador en la Ubicacion del Predio
                var data = [ 
                    { "Id": 1, "PlaceName": "Ubicacion del Predio", "GeoLat": mapLatitud, "GeoLong": mapLongitud }
                ]; 
 
                $.each(data, function (i, item) { 
                    var marker = new google.maps.Marker({ 
                        'position': new google.maps.LatLng(item.GeoLat, item.GeoLong), 
                        'map': map, 
                        'title': item.PlaceName 
                    }); 
 
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png') 
 
                    var infowindow = new google.maps.InfoWindow({ 
                        content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>" 
                    }); 
 
                    google.maps.event.addListener(marker, 'click', function () { 
                        infowindow.open(map, marker); 
                    }); 
                });

                google.maps.event.addDomListener(window, 'load', Initialize);

            }

        </script>
    </section>
}