﻿@model Enpadi_WebUI.Models.predial

@{
    ViewBag.Title = "Edit";
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCifzLiP-Dycu6KEH5yHGPLxjJN-7EnbFk&sensor=false"></script>

<style>
    #map_canvas img {
        max-width: none;
    }
</style>

<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Actualizar</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Predial
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.predialID)
                            @Html.HiddenFor(model => model.socioID)
                            @Html.HiddenFor(model => model.latitud)
                            @Html.HiddenFor(model => model.longitud)
                            @Html.HiddenFor(model => model.zoom)
                            @Html.HiddenFor(model => model.fechaActual)
                            @Html.HiddenFor(model => model.fechaAlta)


                            <div>
                                <h4>Información del Predio</h4>
                                <hr />
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.expedienteNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.expedienteNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.expedienteNo, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.calle, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.calle, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.calle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.numExterior, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.numExterior, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.numExterior, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.numInterior, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.numInterior, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.numInterior, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.referencia, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.referencia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.referencia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.colonia, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.colonia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.colonia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.cdID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("cdID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.cdID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.edoID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("edoID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.edoID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.paisID, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("paisID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.paisID, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.cp, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.cp, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.cp, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div style="padding-top:25px;">
                                <h4>Datos de Contacto</h4>
                                <hr />
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.aPaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.aPaterno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.aPaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.aMaterno, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.aMaterno, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.aMaterno, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.celular, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.celular, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div style="padding-top:25px;">
                                <h4>Ubicación Geografica</h4>
                                <hr />
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <div id="map_canvas" style="height:500px;"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Actualizar Datos" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    }
                    <div>
                        @Html.ActionLink("Volver al Listado", "Index")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <section class="scripts">
        <script type="text/javascript">

    $(document).ready(function () {
        Initialize();
    });

    function Initialize() {
        
        google.maps.visualRefresh = true;

        //Inicializa el Mapa con los Valores de la Base de Datos
        var mapLatitud = @Model.latitud;
        var mapLongitud = @Model.longitud;
        var mapZoom = @Model.zoom;

        var Santiago = new google.maps.LatLng(mapLatitud, mapLongitud);

        var mapOptions = {
            zoom: mapZoom,
            center: Santiago,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);


        // Coloca un Marcador en la Ubicacion del Predio
        var data = [ 
            { "Id": 1, "PlaceName": "Ubicacion del Predio", "GeoLat": mapLatitud, "GeoLong": mapLongitud }
        ]; 
 
        $.each(data, function (i, item) { 
            var marker = new google.maps.Marker({ 
                'position': new google.maps.LatLng(item.GeoLat, item.GeoLong), 
                'map': map, 
                'title': item.PlaceName 
            }); 
 
            marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png') 
 
            var infowindow = new google.maps.InfoWindow({ 
                content: "<div class='infoDiv'><h2>" + item.PlaceName + "</div></div>" 
            }); 
 
            google.maps.event.addListener(marker, 'click', function () { 
                infowindow.open(map, marker); 
            }); 
        });


        //Captura la Nueva Posicion y coloca un Marcador
        google.maps.event.addListener(map, "click", function(event) {
            document.getElementById("latitud").value = event.latLng.lat();
            document.getElementById("longitud").value = event.latLng.lng();
            document.getElementById("zoom").value = map.getZoom();
            marker = new google.maps.Marker({
                position: event.latLng,
                map: map
            });
            google.maps.event.addListener(marker, "click", function() {
                infowindow.open(map, marker);
            });
        });

        google.maps.event.addDomListener(window, 'load', Initialize);

    }

        </script>
    </section>
}