﻿@model PagedList.IPagedList<Enpadi_WebUI.Models.predial>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Predial
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                    <div class="row" style="margin-bottom:25px;">
                        <div class="form-group">
                            <label class="control-label col-md-2">Busqueda Avanzada</label>
                            <div class="col-md-4">
                                @Html.TextBox("searchString", null, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-primary" value="Buscar" />
                            </div>
                        </div>
                    </div>
                    }

                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.ActionLink("Expediente", "Index", new { sortOrder = ViewBag.ExpedienteSort })</th>
                                    <th>@Html.ActionLink("Calle", "Index", new { sortOrder = ViewBag.CalleSort })</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().numExterior)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().numInterior)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().colonia)</th>
                                    <th>@Html.ActionLink("Nombre", "Index", new { sortOrder = ViewBag.NombreSort })</th>
                                    <th>@Html.ActionLink("A Paterno", "Index", new { sortOrder = ViewBag.PaternoSort })</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().aMaterno)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.expedienteNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.calle)</td>
                                        <td>@Html.DisplayFor(modelItem => item.numExterior)</td>
                                        <td>@Html.DisplayFor(modelItem => item.numInterior)</td>
                                        <td>@Html.DisplayFor(modelItem => item.colonia)</td>
                                        <td>@Html.DisplayFor(modelItem => item.nombre)</td>
                                        <td>@Html.DisplayFor(modelItem => item.aPaterno)</td>
                                        <td>@Html.DisplayFor(modelItem => item.aMaterno)</td>
                                        <td>
                                            @Html.ActionLink("Ver", "Details", new { id = item.predialID }) |
                                            @Html.ActionLink("Actualizar", "Edit", new { id = item.predialID }) |
                                            @Html.ActionLink("Pagar", "Movimientos", new { id = item.predialID })
                                            @*@Html.ActionLink("Delete", "Delete", new { id = item.predialID })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>
</div>
