﻿@model Enpadi_WebUI.Models.ViewModelPredial

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Movimientos</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Predial
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @Html.ActionLink("Agregar Movimiento", "Create")
                </div>

                <div class="panel-body">
                    
                    @using(Html.BeginForm("Movimientos", "Predial", FormMethod.Post))
                    {
                        
                     <input type="hidden" id="predialID" name="predialID" value="@Model.predial.predialID" />
                        
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Información del Predio</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.predial.expedienteNo)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.expedienteNo)</dd>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.calle)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.calle)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numExterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numExterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numInterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numInterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.referencia)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.referencia)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.colonia)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.colonia)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.ciudad.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.ciudad.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.estado.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.estado.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.pais.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.pais.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.cp)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.cp)</dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <h4>Datos de Contacto</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.predial.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.aPaterno)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.aPaterno)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.aMaterno)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.aMaterno)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.direccion)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.direccion)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.telefono)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.telefono)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.celular)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.celular)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.email)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.email)</dd>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.fechaActual)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.fechaActual)</dd>
                            </dl>
                        </div>
                    </div>
                        
                    <input type="hidden" id="total" name="total" value="@Model.saldoTotal" />

                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().predialConcepto.descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().transaccion)</th>
                                    <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().descripcion)</th>
                                    <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().referencia)</th>
                                    <th class="text-right">Cargos</th>
                                    <th class="text-right">Abonos</th>
                                    <th class="text-right">Saldo</th>
                                    <th>A Pagar</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.movimientos)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.predialConcepto.descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.transaccion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                                        <td>@Html.DisplayFor(modelItem => item.referencia)</td>
                                        <td class="text-right">@String.Format("{0:C}", item.cargoTotal)</td>
                                        <td class="text-right">@Html.DisplayFor(modelItem => item.abonoTotal)</td>
                                        <td class="text-right">@String.Format("{0:C2}", item.cargoTotal - item.abonoTotal)</td>
                                        <td class="text-center">
                                            @if (item.cargoTotal - item.abonoTotal > 0)
                                            {
                                                <input name="conceptos" class="chkSum" type="checkbox" value="@Html.DisplayFor(modelItem => item.cargoTotal)" checked="checked" />
                                            }
                                            else
                                            {
                                                <input name="conceptos" class="chkSum" type="checkbox" value="@Html.DisplayFor(modelItem => item.cargoTotal)" disabled="disabled" />
                                            }
                                        </td>
                                        <td>
                                            @*@Html.ActionLink("Editar", "Edit", "predialMovimientos", new { id = item.movID }, null) |
                                            @Html.ActionLink("Detalle", "Details", "predialMovimientos", new { id = item.movID }, null) |
                                            @Html.ActionLink("Eliminar", "Delete", "predialMovimientos", new { id = item.movID }, null)*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                        
                    

                    <div class="form-group" style="padding-bottom:50px;">
                        <h2 class="col-sm-2 col-sm-offset-8"><strong>Monto a Pagar</strong></h2>
                        <div class="col-sm-2">
                            @Html.EditorFor(model => model.saldoTotal, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group text-right" style="padding-top:25px;">
                        <a href="@Url.Action("Index", "Predial")" class="btn btn-default" style="margin-right:15px;">Cancelar</a>
                        <a href="@Url.Action("Bancos", "PanelConcentradora", new { expediente = Model.predial.expedienteNo, direccion = Model.predial.calle, saldoPredial= Model.saldoTotal, referencia = Model.predial.expedienteNo })" target="_blank" class="btn btn-success"><i class="fa  fa-print"></i> Ficha Bancos</a>
                        <a href="@Url.Action("Tiendas", "PanelConcentradora", new { monto = Model.saldoTotal, expediente = Model.predial.expedienteNo })" target="_blank" class="btn btn-success" style="margin-right:15px;"><i class="fa fa-print"></i> Ficha Tiendas</a>
                        <a href="@Url.Action("Tarjeta", "PanelConcentradora", new { amount = Model.saldoTotal })" class="btn btn-info"><i class="fa fa-cc-visa"></i> Tarjeta Credito/Debito</a>
                        <input type="submit" class="btn btn-info" value="Pago con Cheque" onclick="return confirm('Confirma la Recepción del Documento que ampara la aprobación del presente Pago?')" formmethod="post" />
                        <input type="submit" class="btn btn-primary" value="Pago en Efectivo" onclick="return confirm('Confirma la Recepcion de este Pago?')" formmethod="post" />
                    </div>
                    }

                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
<section class="scripts">
    <script type="text/javascript">
        $(document).ready(function () {
            $('input:checkbox').change(function () {
                var total = 0;
                $('input:checkbox:checked').each(function () { // iterate through each checked element.
                    total += parseFloat($(this).val()) ? parseFloat($(this).val()) : 0;
                });
                document.getElementById('saldoTotal').value = total;
            });
        });
    </script>
</section>
}