﻿@model Enpadi_WebUI.Models.ViewModelPredial

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial</span></li>
                    <li class="active"><span>Movimientos</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Registro Predial
            </h2>
            <small>Municipio de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>

                <div class="panel-body">
                    <div class="row text-center">
                        <div class="col-sm-2 text-right">
                            <img src="~/Images/Santiago.png" height="180" />
                        </div>
                        <div class="col-sm-8" style="padding-bottom:35px;">
                            <h1>MUNICIPIO DE SANTIAGO, NL.</h1>
                            <h3>SECRETARIA DE FINANZAS Y TESORERIA</h3>
                            <h4>RECIBO DE INGRESO PROVISIONAL</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <dl class="dl-horizontal">
                                <dt>@Html.DisplayNameFor(model => model.predial.expedienteNo)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.expedienteNo)</dd>
                                <dt>&nbsp;</dt>
                                <dd>&nbsp;</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.calle)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.calle)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numExterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numExterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.numInterior)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.numInterior)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.colonia)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.colonia)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.ciudad.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.ciudad.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.estado.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.estado.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.pais.nombre)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.pais.nombre)</dd>
                                <dt>@Html.DisplayNameFor(model => model.predial.cp)</dt>
                                <dd>@Html.DisplayFor(model => model.predial.cp)</dd>
                            </dl>
                        </div>
                        <div class="col-md-4">
                            <dl class="dl-horizontal">
                                <dt>Folio</dt>
                                <dd>@Html.DisplayFor(model => model.folioRecibo)</dd>
                                <dt>Fecha</dt>
                                <dd>@Html.DisplayFor(model => model.fecha)</dd>
                                <dt>Codigo</dt>
                                <dd></dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table cellpadding="1" cellspacing="1" class="table">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().predialConcepto.descripcion)</th>
                                            <th>@Html.DisplayNameFor(model => model.movimientos.FirstOrDefault().predialConcepto.claveContable)</th>
                                            <th>Importe</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.movimientos)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.predialConcepto.descripcion)</td>
                                                <td>@Html.DisplayFor(modelItem => item.predialConcepto.claveContable)</td>
                                                <td>@Html.DisplayFor(modelItem => item.cargoTotal)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="padding-top:50px;">
                                <h2 class="col-sm-4 col-sm-offset-4"><strong>Importe Pagado</strong></h2>
                                <div class="col-sm-4">
                                    <h2><strong>@String.Format("{0:C2}", Model.saldoTotal)</strong></h2>
                                </div>
                            </div>
                            <div class="row" style="padding-top:25px;">
                                <h3>FOLIO NO @Html.DisplayFor(model => model.folioRifa)</h3>
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <img src="~/Images/Boletos_Predial2-01.jpg" width="500" />
                        </div>
                    </div>

                    <div class="form-group text-right" style="padding-top:25px;">
                        <a href="@Url.Action("Index", "Predial")" class="btn btn-default" style="margin-right:15px;">Volver al Listado</a>
                        @*<a href="@Url.Action("Impresion", "Predial", new { id = Model.predial.predialID } )" class="btn btn-primary" target="_blank"><i class="fa fa-print"></i> Imprimir</a>*@
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
