﻿@model Enpadi_WebUI.Models.santiagoPredialTarjetas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>santiagoPredialTarjetas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.expediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacionPredio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacionPredio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.saldo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.saldo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expiracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMov }) |
    @Html.ActionLink("Back to List", "Index")
</p>
