﻿@model IEnumerable<Enpadi_WebUI.Models.santiagoPredialTarjetas>

@{
    ViewBag.Title = "Index";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                    <li><span>Predial Santiago, NL.</span></li>
                    <li class="active"><span>Index</span></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Predial Santiago, NL.
            </h2>
            <small>Intento de Cargo TC | Gobierno de Santiago, NL.</small>
        </div>
    </div>
</div>

<div class="content animated-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    @*@Html.ActionLink("Agregar Registro Predial", "Create")*@
                </div>

                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.expediente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ubicacionPredio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.saldo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.titular)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.tarjeta)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.expiracion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.fechaAlta)
                            </th>
                            @*<th></th>*@
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expediente)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ubicacionPredio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.saldo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.titular)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.tarjeta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.expiracion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechaAlta)
                                </td>
                                @*<td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.idMov }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.idMov }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.idMov })
                                </td>*@
                            </tr>
                        }

                    </table>
                    @*Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))*@
                </div>
            </div>
        </div>

    </div>
</div>

