﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Confirm Email";
}

<div class="row text-center">
    <div class="col-md-12">

        <div class="hpanel">
            <div class="panel-body text-center">

                <div class="col-lg-12">
                    @{
                        if (ViewBag.skinApp.loginImage != null)
                        {
                            <img src="~/Images/@ViewBag.skinApp.loginImage" width="250" style="padding-top:15px;" />
                        }
                    }
                </div>
                <h3>Verificación de Correo Electronico</h3>
                <div>
                    <p>Gracias por confirmar tu dirección de correo electronico.</p>
                    <p>Tu cuenta ha sido Verificada y Aprobada en Enpadi para el pago de tus servicios<br />
                     Este es solo un metodo de seguridad para nuestros usuarios y sus transacciones</p>
                    <p><strong>¡Ahora ya puedes comenzar a efectuar pagos de forma segura!</strong></p>
                    <p>Presiona <b>@Html.ActionLink("AQUI", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b> para iniciar tu sesión.</p>
                    <p>Cualquier duda o comentario que tengas, podras comunicarte al (812) 089-6071<br />
                     o enviar un correo a <a href='mailto:atencion@enpadi.com'>atencion@enpadi.com</a></p>
                </div>
            </div>
        </div>

    </div>

</div>
