﻿@model Enpadi_WebUI.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Inicio de Sesión";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                @{
                    if (ViewBag.skinApp.loginImage != null) {
                        <img src="~/Images/@ViewBag.skinApp.loginImage" width="250" style="padding-top:15px;" /> 
                    }
                }
                <h3>@ViewBag.skinApp.loginMessage</h3>
                <small>Proporcione sus datos de acceso.<br/>Si aún no se ha registrado en la aplicación,<br/>acceda a Mi Cuenta y proceda a Registrarse.</small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <section id="loginForm">
                        <form action="#" method="post">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl, cty = HttpContext.Current.Request.QueryString["cty"] }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                @*<div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "i-checks"})
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>*@
                                <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block" style="background-color:#@ViewBag.skinApp.colorNavBtn" />
                                @Html.ActionLink("Registrarse", "Register", null, new { @class = "btn btn-default btn-block" })
                                
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                <p>
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                </p>*@
                            }
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
