﻿@model Enpadi_WebUI.Models.ViewModel.ViewModelPleaseConfirm


@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Favor de confirmar Correo Electr&oacute;nico";
}

<div class="row text-center">
    <div class="col-md-12">

        <div class="hpanel">
            <div class="panel-body text-center">

                <div class="col-lg-12">
                    @{
                        if (ViewBag.skinApp.loginImage != null)
                        {
                            <img src="~/Images/@ViewBag.skinApp.loginImage" width="250" style="padding-top:15px;" />
                        }
                    }
                </div>
                <h3>Favor de verificar el correo electr&oacute;nico </h3>
                <div>
                    <p>Favor de confirmar tu dirección de correo electr&oacute;nico
                    
                    @if (@Model != null)
                    {
                        <b>@Model.UserEmail</b>
                    }. 
                    </p>
                    <p>
                        Tu cuenta esta <b>pendiente de verificar</b> en Enpadi para el pago de tus servicios<br />
                        Este es solo un metodo de seguridad para nuestros usuarios y sus transacciones
                    </p>
                    <p>Presiona <b>@Html.ActionLink("AQUI", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</b> desp&uacute;es de confirmar tu coreo electr&Oacute;nico para iniciar sesión.</p>
                    <p>
                        Cualquier duda o comentario que tengas, podras comunicarte al (812) 089-6071<br />
                        o enviar un correo a <a href='mailto:atencion@enpadi.com'>atencion@enpadi.com</a>
                    </p>
                    <p>
                        Para volver a enviar el correo favor de dar clic
                        <b>
                            <a href="#" onclick="confirmEmail();">Aqu&iacute;</a>
                        </b>
                    </p>
                    <div id="result"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    function confirmEmail(){

        $.ajax({
            url: '@Url.Action("ResentConfirmEmail", "Account")',
            type: 'POST',
            success: function(data) {
                $("#result").html(data);
            }
        });
    }
</script>
