﻿@model Enpadi_WebUI.Models.SendCodeViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Send";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            @{
                if (ViewBag.skinApp.loginImage != null)
                {
                    <img src="~/Images/@ViewBag.skinApp.loginImage" width="250" style="padding-top:15px;" />
                }
            }
            <div class="text-center m-b-md">
                @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    @Html.Hidden("UserId", @Model.UserId)
                    <h4>Verificación de Cuenta</h4>
                    <hr />
                    <div class="row" style="margin-bottom:15px;">
                        Antes de iniciar, requerimos verificar tu Cuenta.<br />
                        El Código se enviara al correo o celular que ingresaste
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:15px;">
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Enviar Codigo" class="btn btn-primary btn-block" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>


                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
