﻿@model Enpadi_WebUI.Models.VerifyCodeViewModel
@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Verify";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            @{
                if (ViewBag.skinApp.loginImage != null)
                {
                    <img src="~/Images/@ViewBag.skinApp.loginImage" width="250" style="padding-top:15px;" />
                }
            }
            <div class="text-center m-b-md">
                @using (Html.BeginForm("VerifyCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("provider", @Model.Provider)
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    @Html.Hidden("UserId", @Model.UserId)
                    @Html.Hidden("RememberBrowser", "false")
                    <h4>Verificación de Cuenta</h4>
                    <hr />
                    <div class="row" style="margin-bottom:15px;">
                        Te hemos enviado un Codigo de 6 Dígitos<br />
                        Ingresalo y comienza a utilizar tu Cuenta.
                    </div>
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Code, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-primary btn-block" value="Validar Codigo" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}